﻿@using Delete.Foundation.DeleteFoundationCore.Extensions

@inherits GlassView<Delete.Feature.News.Models.NewsItem>
<section class="rc-bg-colour--brand3 rc-padding--sm rc-padding-x--none--mobile">
    <div class="rc-max-width--md rc-wysiwyg rc-padding-x--md--mobile">
        <strong>@Editable(Model, x => x.Summary)</strong>
        @Editable(Model, x => x.Content)
        @Html.Sitecore().Placeholder("rc-news-item-body")
    </div>
</section>
