﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@model Delete.Feature.News.Models.SearchViewModel

<section class="rc-bg-colour--brand3 rc-padding--sm rc-margin-bottom--xs"
         data-component="filter-and-listing"
         data-endpoint="@Url.ApiAction("Filter", "News")"
         data-request-filter="@Model.FilterConfiguration"
         data-track-category="News search">
    <div class="rc-max-width--xl">
        @Html.Partial("~/Views/Feature/News/_NewsSearchAndFilter.cshtml", Model.FilterModel)
        @Html.Partial("~/Views/Feature/News/_NewsSearchResults.cshtml", Model.SearchResultsModel)
    </div>
</section>
