@import '~styleSettings';

.rc-wechat-tooltip {
    text-align: center;
    max-width: 150px;  

    &-image {
        display: block;
        margin: 5px auto 0;
        border: 10px solid #ffffff;
        max-width: 115px;
        max-height: 115px;        
    }
}


.rc-wechat-footer {

    margin-top: -2rem;
    margin-bottom: 1rem;

   &-container {
       float: left;
       margin-right: 100px;

       @media (max-width: 769px) {
           float: none;
           margin-right: 0;           
       }

   }
    &-img {        
        border: 10px solid #ffffff;
        margin-left: 1rem;
        @media (max-width: 769px) {
            display: none !important;  
        }
    }

    .rc-wechat-footer-spacer {content: ' '; display: block;}


}