@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.StringExtensions
@model Delete.Feature.Forms.Models.CheckBoxListViewModel

@{
    int i = 0;
}
<div class="rc-column" @Html.Raw(Model.WrapperCustomAttributes)>
<div class="form-item-title @Model.LabelCssClass">@Html.DisplayTextFor(t => Model.Title)</div>
<input type="hidden" name="@Html.NameFor(m => Model.Value)" />
@foreach (var item in Model.Items)
{
    <div class="rc-input rc-input--inline">
        <input class="rc-input__checkbox"
               id="@(Html.IdFor(t => Model.Items[i].Value))"
               type="checkbox"
               name="@Html.NameFor(m => Model.Value)"
               @if (item.Selected) { <text> checked</text>}
               value="@(item.Value ?? string.Empty)"
               data-sc-tracking="@Model.IsTrackingEnabled"
               data-sc-field-name="@Model.Name"
               @Html.Raw(Model.InputCustomAttributes)
               @Html.GenerateUnobtrusiveValidationAttributes(m => Model.Value) />
        <label class="rc-input__label--inline" for="@(Html.IdFor(t => Model.Items[i].Value))">@item.Text</label>
    </div>

    i++;
}
@if (!Model.CodeError.IsNullOrEmpty())
{
    string data_for = $"fxb.{Model.FieldTypeItemId}.Fields[{Model.ItemId}].Value";
    <span class="field-validation-error rc-text-colour--error" data-valmsg-for=@data_for data-valmsg-replace="true">@Model.CodeError</span>
}
@Html.ValidationMessageFor(m => Model.Value)
    <div class="rc-margin-bottom--md rc-md-down"></div>
    <div class="rc-margin-bottom--xs rc-md-up"></div> 
</div>