@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@model Delete.Feature.Forms.Models.CheckBoxViewModel

<div class="rc-column" @Html.Raw(Model.WrapperCustomAttributes)>
        <div class="rc-input rc-input--inline" data-form-control>
                <input type="hidden" name="@Html.NameFor(m => Model.Value)" value="false"/>
                <input
                        class="rc-input__checkbox @Model.CssClass"
                        type="checkbox"
                        id="@Html.IdFor(m => Model.Value)"
                        name="@Html.NameFor(m => Model.Value)"                                
                        @if (Model.Value) {<text> checked="checked"</text>}
                        value="true"
                        data-sc-tracking="@Model.IsTrackingEnabled"
                        data-sc-field-name="@Model.Name"
                        @Html.Raw(Model.InputCustomAttributes)
                        @Html.GenerateUnobtrusiveValidationAttributes(m => Model.Value)/>
                <label class="rc-input__label--inline @Model.LabelCssClass" for="@Html.IdFor(m => Model.Value)">@Html.DisplayTextFor(t => Model.Title)</label>    
                @if (!Model.CodeError.IsNullOrEmpty())
                {
                    string data_for = $"fxb.{Model.FieldTypeItemId}.Fields[{Model.ItemId}].Value";
                    <span class="field-validation-error rc-text-colour--error" data-valmsg-for=@data_for data-valmsg-replace="true">@Model.CodeError</span>
                }
                @Html.ValidationMessageFor(m => Model.Value)
        </div>
    <div class="rc-margin-bottom--md rc-md-down"></div>
    <div class="rc-margin-bottom--xs rc-md-up"></div>
</div>