@using Delete.Feature.Forms.Extensions
@model Delete.Feature.Forms.Models.DateViewModel

<div class="rc-column" @Html.Raw(Model.WrapperCustomAttributes)>
  <div class="rc-input rc-clearfix">
      <input  class="rc-input__date @Model.CssClass" 
              data-js-dateformat="@Model.DateFormat" 
              type="date" 
              id="@Html.IdFor(m => Model.Value)"
              @if (Model.Value.HasValue) {<text> value="@Model.Value.Value.ToString(Model.DateFormat)"</text>} 
              name="@Html.NameFor(m => Model.Value)" 
              data-sc-tracking="@Model.IsTrackingEnabled" 
              data-sc-field-name="@Model.Name" 
              @Html.Raw(Model.InputCustomAttributes)
              @Html.GenerateParsleyServerErrors(m => m.Value)
              @(Html.GenerateParsleyValidationAttributes(m => m.Value, Model.ClientValidationRules))
              />
      <label class="rc-input__label @Model.LabelCssClass" for="@Html.IdFor(m => Model.Value)"><span class="rc-input__label-text">@Html.DisplayTextFor(t => Model.Title)</span></label>
  </div>
    <div class="rc-margin-bottom--md rc-md-down"></div>
    <div class="rc-margin-bottom--xs rc-md-up"></div>
</div>