@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.StringExtensions
@model Delete.Feature.Forms.Models.DropDownListViewModel

<div class="rc-column" @Html.Raw(Model.WrapperCustomAttributes)>
    <div class="rc-select rc-input--full-width @(!Model.CodeError.IsNullOrEmpty() ? "select-with-error-message" : string.Empty)" data-form-control>

        <select data-js-select
                id="@Html.IdFor(m => Model.Value)"
                name="@Html.NameFor(m => Model.Value)"
                class="@Model.CssClass"
                data-sc-tracking="@Model.IsTrackingEnabled"
                data-sc-field-name="@Model.Name"
                @Html.Raw(Model.InputCustomAttributes)
                @Html.GenerateUnobtrusiveValidationAttributes(m => m.Value)>
            <option selected disabled value="" placeholder>@Html.DisplayTextFor(t => Model.Title)</option>
            @if (Model.ShowEmptyItem)
            {
                <option label=" "></option>
            }@foreach (var item in Model.Items)
             {
                 <option value="@item.Value" selected="@item.Selected">@item.Text</option>
             }
        </select>        
    </div>
    @if (!Model.CodeError.IsNullOrEmpty())
    {
        string data_for = $"fxb.{Model.FieldTypeItemId}.Fields[{Model.ItemId}].Value";
        <span class="field-validation-error rc-text-colour--error" data-valmsg-for=@data_for data-valmsg-replace="true">@Model.CodeError</span>
    }
    @Html.ValidationMessageFor(m => Model.Value)
    <div class="rc-margin-bottom--md rc-md-down"></div>
    <div class="rc-margin-bottom--xs rc-md-up"></div> 
</div>