@using Delete.Feature.Forms.Extensions
@using Delete.Foundation.DeleteFoundationCore.Extensions
@model Delete.Feature.Forms.Models.StringInputViewModel

<div class="rc-column" @Html.Raw(Model.WrapperCustomAttributes) data-component="field-server-error">
    <span 
        class="rc-input @(!Model.CodeError.IsNullOrEmpty() ? "input-with-error-message" : string.Empty)" 
        data-form-control
        data-ref="field-server-error-input-wrapper"
     >
        <input id="@Html.IdFor(m => Model.Value)"
               name="@Html.NameFor(m => Model.Value)"
               class="rc-input__control @Model.CssClass"
               type="email"
               value="@(Model.Value ?? string.Empty)"
               data-sc-tracking="@Model.IsTrackingEnabled"
               data-sc-field-name="@Model.Name"
               data-ref="field-server-error-input"
               @Html.Raw(Model.InputCustomAttributes)
               @Html.GenerateParsleyServerErrors(m => m.Value)
               @(Html.GenerateParsleyValidationAttributes(m => m.Value, Model.ClientValidationRules)) />
        <label for="@Html.IdFor(m => Model.Value)" class="rc-input__label @Model.LabelCssClass">
            <span class="rc-input__label-text">@Model.PlaceholderText</span>
        </label>
    </span>
    
    @if (!Model.CodeError.IsNullOrEmpty())
        {
            string data_for = $"fxb.{Model.FieldTypeItemId}.Fields[{Model.ItemId}].Value";
            <span 
                class="field-validation-error rc-text-colour--error" 
                data-valmsg-for=@data_for 
                data-valmsg-replace="true"
                data-ref="field-server-error-message"
                >@Model.CodeError</span>
        }
   
    <div class="rc-margin-bottom--md rc-md-down"></div>
    <div class="rc-margin-bottom--xs rc-md-up"></div>
</div>
