@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.StringExtensions
@model Delete.Feature.Forms.Models.ListBoxViewModel

@{
    if (Model.Value != null)
    {
        foreach (var el in Model.Items)
        {
            el.Selected = el.Value.Trim() == Model.Value.FirstOrDefault().Trim();
        }
    }

}

<div class="rc-column" @Html.Raw(Model.WrapperCustomAttributes)>
    <input type="hidden" name="@Html.NameFor(m => Model.Value)" />
    <div class="rc-select" data-form-control>
        <select id="@Html.IdFor(m => Model.Value)"
                name="@Html.NameFor(m => Model.Value)"
                @if (Model.MultipleSelection) { <text> multiple</text>}
                data-js-select
                data-js-select-placeholder="Please select..."
                data-sc-tracking="@Model.IsTrackingEnabled"
                data-sc-field-name="@Model.Name"
                @Html.GenerateUnobtrusiveValidationAttributes(m => m.Value)
                @Html.Raw(Model.InputCustomAttributes)>
            @foreach (var item in Model.Items)
            {
                <option value="@item.Value" selected="@item.Selected">@item.Text</option>
            }
        </select>
        @if (!Model.CodeError.IsNullOrEmpty())
        {
            string data_for = $"fxb.{Model.FieldTypeItemId}.Fields[{Model.ItemId}].Value";
            <span class="field-validation-error rc-text-colour--error" data-valmsg-for=@data_for data-valmsg-replace="true">@Model.CodeError</span>
        }
        @Html.ValidationMessageFor(m => Model.Value)
    </div>
</div>