@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.StringExtensions
@model Delete.Feature.Forms.Models.MultipleLineTextViewModel

<div class="rc-column" @Html.Raw(Model.WrapperCustomAttributes)>
<span class="rc-input rc-input--full-width" data-form-control>
    <textarea class="rc-input__textarea @Model.CssClass"
              id="@Html.IdFor(m => Model.Value)"
              name="@Html.NameFor(m => Model.Value)"
              rows="@Model.Rows"
              @if (Model.MaxLength > 0) { <text> maxlength="@Model.MaxLength" </text> }
              placeholder="@Model.PlaceholderText"
              data-sc-tracking="@Model.IsTrackingEnabled"
              data-sc-field-name="@Model.Name"
              @Html.Raw(Model.InputCustomAttributes)
              @Html.GenerateUnobtrusiveValidationAttributes(m => m.Value)>@(Model.Value ?? string.Empty)</textarea>
    <label for="@Html.IdFor(m => Model.Value)" class="rc-input__label @Model.LabelCssClass">
        <span class="rc-input__label-text">@Html.DisplayTextFor(t => Model.Title)</span>
    </label>
    @if (!Model.CodeError.IsNullOrEmpty())
    {
        string data_for = $"fxb.{Model.FieldTypeItemId}.Fields[{Model.ItemId}].Value";
        <span class="field-validation-error rc-text-colour--error" data-valmsg-for=@data_for data-valmsg-replace="true">@Model.CodeError</span>
    }
    @Html.ValidationMessageFor(m => Model.Value)
</span>
    <div class="rc-margin-bottom--md rc-md-down"></div>
    <div class="rc-margin-bottom--xs rc-md-up"></div>
</div>