@using Delete.Feature.Forms.Extensions
@using Sitecore.ExperienceForms.Mvc.Extensions
@using Sitecore.ExperienceForms.Mvc.Models.Fields
@model Delete.Feature.Forms.Models.NumberViewModel

<div class="rc-column" @Html.Raw(Model.WrapperCustomAttributes)>
<span class="rc-input" data-form-control>
    <input
            class="rc-input__control @Model.CssClass"
            id="@Html.IdFor(m => Model.Value)"
            name="@Html.NameFor(m => Model.Value)"
            type="number"
            value="@Model.Value.ToInvariantString()"
            step="@Model.Step.ToInvariantString()"
            data-sc-tracking="@Model.IsTrackingEnabled"
            data-sc-field-name="@Model.Name"
            @Html.Raw(Model.InputCustomAttributes)
            @Html.GenerateParsleyServerErrors(m => m.Value)
            @(Html.GenerateParsleyValidationAttributes(m => m.Value, Model.ClientValidationRules))
            />
    <label class="rc-input__label @Model.LabelCssClass" for="@Html.IdFor(m => Model.Value)">
        <span class="rc-input__label-text">@Html.DisplayTextFor(t => Model.Title)</span>
    </label>
</span>
    <div class="rc-margin-bottom--md rc-md-down"></div>
    <div class="rc-margin-bottom--xs rc-md-up"></div>
</div>