@using Sitecore.ExperienceForms.Mvc.Html
@model Sitecore.ExperienceForms.Mvc.Models.Fields.PasswordConfirmationViewModel

<div class="rc-column">
<span class="rc-input" data-form-control>
    <input id="@Html.IdFor(m => Model.Value)"
           name="@Html.NameFor(m => Model.Value)"
           required
           class="rc-input__password @Model.CssClass"
           type="password" 
           value="@(Model.Value ?? string.Empty)"
           placeholder="@Model.PlaceholderText"
           data-sc-tracking="@Model.IsTrackingEnabled"
           data-sc-field-name="@Model.Name"
           @Html.GenerateUnobtrusiveValidationAttributes(m => Model.Value)/>
    <label for="@Html.IdFor(m => Model.Value)" class="rc-input__label @Model.LabelCssClass">
        <span class="rc-input__label-text">@Model.Title</span>
    </label>
    @Html.ValidationMessageFor(m => Model.Value)
</span>
</div>

<div class="rc-column">
<span class="rc-input" data-form-control>
    <input id="@Html.IdFor(m => Model.ConfirmPassword)"
           name="@Html.NameFor(m => Model.ConfirmPassword)"
           class="rc-input__password @Model.CssClass"
           type="password"
           placeholder="@Model.ConfirmPasswordPlaceholder"
           data-sc-tracking="@Model.IsTrackingEnabled"
           data-sc-field-name="@Model.Name"
           data-parsley-validate-if-empty
           data-parsley-equalto="#@Html.IdFor(m => Model.Value)"
           data-parsley-equalto-message="Passwords don't match"
           @Html.GenerateUnobtrusiveValidationAttributes(m => Model.ConfirmPassword)/>
    <label for="@Html.IdFor(m => Model.ConfirmPassword)" class="rc-input__label @Model.LabelCssClass">
        <span class="rc-input__label-text">@Model.ConfirmPasswordLabel</span>
    </label>
    @Html.ValidationMessageFor(m => Model.ConfirmPassword)
</span>
    <div class="rc-margin-bottom--md rc-md-down"></div>
    <div class="rc-margin-bottom--xs rc-md-up"></div>
</div>