﻿@using System.Web.Mvc.Html
@using Delete.Feature.Forms.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@using HtmlHelperExtensions = Delete.Feature.Forms.Extensions.HtmlHelperExtensions
@model Delete.Feature.Forms.Fields.ReCaptcha.ReCaptchaModel
@{
    var secretCookieResp = Request.Cookies["secretCookie"];
    var secretCookie = Sitecore.Configuration.Settings.GetSetting("secretCookie");
    bool secretCookieFlag = secretCookie != "";
    var fieldId = Html.IdFor(m => Model.CaptchaValue);
    var cookieSet = true;

}

@if (secretCookieFlag && secretCookieResp?.Value == secretCookie)
{
    cookieSet = false;
} 

@if (cookieSet)
{
    <div class="rc-column">
        <div class="rc-input"
             data-form-control
             data-component="recaptcha"
             data-sitekey="@Model.CaptchaPublicKey"
             data-lang="@Model.CaptchaLanguage">
            <div data-ref="container"></div>
            <input type="text"
                   name="@Html.NameFor(m => Model.CaptchaValue)"
                   class="visually-hidden"
                   data-parsley-recaptcha
                   data-parsley-recaptcha-message="Please confirm that you are not a robot"
                   data-parsley-validate-if-empty
                   data-ref="input">
        </div>
        <div class="rc-margin-bottom--md rc-md-down"></div>
        <div class="rc-margin-bottom--xs rc-md-up"></div>
    </div>
}

