@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@model Delete.Feature.Forms.Models.StringInputViewModel

<div class="rc-column" @Html.Raw(Model.WrapperCustomAttributes)>
    <span class="rc-input" data-form-control>
        <input id="@Html.IdFor(m => Model.Value)"
               name="@Html.NameFor(m => Model.Value)"
               class="rc-input__control @Model.CssClass"
               type="tel"
               value="@(Model.Value ?? string.Empty)"
               @if (Model.MaxLength > 0) { <text> maxlength="@Model.MaxLength" </text> }
               data-sc-tracking="@Model.IsTrackingEnabled"
               data-sc-field-name="@Model.Name"
               @Html.Raw(Model.InputCustomAttributes)
               @Html.GenerateUnobtrusiveValidationAttributes(m => m.Value) />
        <label for="@Html.IdFor(m => Model.Value)" class="rc-input__label @Model.LabelCssClass">
            <span class="rc-input__label-text">@Model.PlaceholderText</span>
        </label>
        @if (!Model.CodeError.IsNullOrEmpty())
        {
            string data_for = $"fxb.{Model.FieldTypeItemId}.Fields[{Model.ItemId}].Value";
            <span class="field-validation-error rc-text-colour--error" data-valmsg-for=@data_for data-valmsg-replace="true">@Model.CodeError</span>
        }
        @Html.ValidationMessageFor(m => Model.Value)
    </span>
    <div class="rc-margin-bottom--md rc-md-down"></div>
    <div class="rc-margin-bottom--xs rc-md-up"></div>
</div>