.rc-card {
    $this: &;

    width: 100%;
    position: relative;
    background-color: $color-brand3;
    border-bottom: solid 1px $color-interface;
    border-radius: borderRadius(element);
    align-self: flex-start;

    &__link {
        text-decoration: none;

        & p {
            color: $color-text;
        }
    }

    &__action {
        display: none;
    }

    &__body {
        padding: 1rem;
        text-align: left;
    }

    &__meta {
        font-size: 0.85rem;
        margin: 0;
    }

    &__title {
        margin: 0.5rem 0;
        font-size: 1rem;
        font-weight: 500;
        color: $color-brand1;
    }

    &--a {
        display: flex;

        #{$this}__image {
            height: 56.25%;
            width: 35%;
            min-width: 35%;
            margin: 1rem 0;
            position: relative;
            overflow: hidden;

            img,
            .amp-img {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            &::before {
                content: '';
                display: block;
                width: 100%;
                padding-top: 56.25%;
            }
        }
    }

    &--b {
        display: block;
        border: solid 1px $color-interface;
        margin-bottom: 16px;

        #{$this}__image {
            height: 75%;
            position: relative;
            overflow: hidden;

            img,
            .amp-img {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            &::before {
                content: '';
                display: block;
                width: 100%;
                padding-top: 75%;
            }
        }

        #{$this}__body {
            text-align: center;
        }
    }
}
