.rc-content-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    margin-bottom: 8px;

    & > .rc-single-column {
        display: flex;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        background-color: $color-brand3;

        > .rc-layout-container {
            width: 100%;
            overflow: hidden;
            padding: 1rem;
        }
    }
}
