.rc-header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 50;
    box-shadow: 0 2px 4px #F1F1F1;

    &__nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        z-index: 50;
        background: $color-brand3;

        &--primary {
            height: 4.167rem;
        }
    }

    &__brand {
        display: flex;
        align-items: center;
        flex: 0;
        padding: 0.5rem;
        width: 100%;
        height: 100%;
    }

    &__logo {
        width: 100px;
        pointer-events: none;
        fill: $color-brand1;
        /* stylelint-disable */
        amp-img {
            width: 100px;
            height: 46px;
        }
        /* stylelint-enable */
        & > img {
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
