.image-gallery {
    .slide {
        /* stylelint-disable */
        amp-img {
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        /* stylelint-enable */
    }

    .amp-carousel-button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $color-brand1;
    }
}
