$color_1: #FFFFFF;
$color_2: #333333;
$color_3: rgba(34, 34, 34, 0.75);
$color_4: #AAAAAA;
$color_5: #DDDDDD;
$color_6: #EE0000;
$color_7: #CCCCCC;
$color_bg: #EEEEEE;
$color_border: #FFFFFF;
$font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
$font-family_icon: 'simple_icon_font3';

.simplegallery_theme_default {
    font-family: $font-family;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;
    padding: 0;
    margin: 0 auto;
    display: none;
    box-sizing: content-box;
    overflow: hidden;
    visibility: visible;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    border: 1px solid $color_7;
    color: #131313;

    &.fullpage {
        display: flex;
        z-index: 10000;
        flex-direction: column;
        overflow: auto;
        margin: 0;
        padding: 0;
        background-color: $color_bg;
        position: fixed;
        top: 40px;
        bottom: 40px;
        left: 20%;
        right: 0;
        clear: both;
        transform: translateX(-15%);
    }

    .ngChekbox {
        position: absolute;
        z-index: 999;
        right: 15px;
        top: 19px;
    }

    .simpleGalleryNavigationbarContainer {
        padding: 10px 0;
        display: block;
        background-color: #555555;
    }

    .simpleGalleryNavigationbar {
        padding: 0;
        text-align: left;
        display: table;
        width: 100%;
        color: #FFFFFF;
    }

    .simpleGalleryTags {
        margin: 10px 0 1px 1px;
        padding: 4px;
        display: table-cell;
        cursor: pointer;
        vertical-align: middle;

        &::after {
            content: '\e824';
            margin-left: 2em;
            margin-right: 3em;
            font-family: $font-family_icon;
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            text-align: center;
            font-variant: normal;
            text-transform: none;
        }
    }

    .setFullPageButton {
        margin: 10px 0 1px 1px;
        padding: 4px;
        display: table-cell;
        cursor: pointer;
        vertical-align: middle;

        &::after {
            content: '\e827';
            margin-left: 2em;
            margin-right: 3em;
            font-family: $font-family_icon;
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            text-align: center;
            font-variant: normal;
            text-transform: none;
        }
    }

    .removeFullPageButton {
        margin: 10px 0 1px 1px;
        padding: 4px;
        display: table-cell;
        cursor: pointer;
        vertical-align: middle;

        &::after {
            content: '\e828';
            margin-left: 2em;
            margin-right: 3em;
            font-family: $font-family_icon;
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            text-align: center;
            font-variant: normal;
            text-transform: none;
        }
    }

    .simpleGalleryBreadcrumb {
        margin: 1px;
        padding: 4px;
        text-align: left;
        box-sizing: content-box;
        display: table-cell;
        width: 100%;
        overflow: hidden;

        .folder {
            margin: 0 5px;
            white-space: nowrap;
            cursor: pointer;
            vertical-align: middle;
            display: inline-block;
        }

        .folderHome {
            margin: 0 5px;
            white-space: nowrap;
            cursor: pointer;
            vertical-align: middle;
            display: inline-block;

            &::before {
                content: '\e80c';
                margin-left: 2em;
                margin-right: 3em;
                font-family: $font-family_icon;
                font-style: normal;
                font-weight: normal;
                speak: none;
                display: inline-block;
                text-decoration: inherit;
                width: 1em;
                text-align: center;
                font-variant: normal;
                text-transform: none;
            }
        }

        .separator {
            margin: 0 5px;
            cursor: pointer;
            vertical-align: middle;
            display: inline-block;

            &::before {
                content: '\e81c';
                margin-left: 2em;
                margin-right: 3em;
                font-family: $font-family_icon;
                font-style: normal;
                font-weight: normal;
                speak: none;
                display: inline-block;
                text-decoration: inherit;
                width: 1em;
                text-align: center;
                font-variant: normal;
                text-transform: none;
            }
        }

        .separatorRTL {
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px;
            cursor: pointer;

            &::before {
                content: '\e81f';
                margin-left: 2em;
                margin-right: 3em;
                font-family: $font-family_icon;
                font-style: normal;
                font-weight: normal;
                speak: none;
                display: inline-block;
                text-decoration: inherit;
                width: 1em;
                text-align: center;
                font-variant: normal;
                text-transform: none;
            }
        }

        .loading {
            display: inline-block;

            &::after {
                content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
                background: url('loading.gif') no-repeat center;
            }
        }
    }

    .simpleGalleryContainerParent {
        position: relative;
        text-align: center;
        box-sizing: border-box;

        .simpleGalleryPagination {
            margin: 10px auto 5px auto;
            padding: 4px;
            text-align: center;
            position: relative;
            box-sizing: content-box;
            overflow: hidden;
            white-space: nowrap;

            .paginationItem {
                margin: 0 5px;
                white-space: nowrap;
                cursor: pointer;
                vertical-align: middle;
                display: inline-block;
            }

            .currentPage {
                text-decoration: underline;
            }

            .paginationPrev {
                margin: 0 5px;
                white-space: nowrap;
                cursor: pointer;
                vertical-align: middle;
                display: inline-block;
            }

            .paginationNext {
                margin: 0 5px;
                white-space: nowrap;
                cursor: pointer;
                vertical-align: middle;
                display: inline-block;
            }
        }

        .simpleGalleryPaginationDot {
            margin: 10px auto 5px auto;
            padding: 4px;
            text-align: center;
            position: relative;
            box-sizing: content-box;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            -o-box-sizing: content-box;
            overflow: hidden;
            white-space: nowrap;

            .paginationItem {
                width: 8px;
                height: 8px;
                border: 2px solid #FFFFFF;
                background: #444444;
                border-radius: 50%;
                margin: 0 5px;
                white-space: nowrap;
                cursor: pointer;
                vertical-align: middle;
                display: inline-block;
                opacity: 0.5;
            }

            .currentPage {
                background: #FFFFFF;
                opacity: 1;
            }
        }
    }

    .simpleGalleryContainer {
        text-align: left;
        position: relative;
        width: auto;
        display: inline-block;
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        -o-box-sizing: content-box;
        overflow: hidden;

        .simpleGalleryThumbnailContainer {
            cursor: pointer;
            padding: 0;
            display: inline-block;
            position: absolute;
            box-sizing: content-box;
            overflow: hidden;

            &:hover {
                .labelImage .labelImageTitle {
                    opacity: 1;
                }

                .selectionBG,
                .selectionImage {
                    opacity: 1;
                }
            }

            .subcontainer {
                box-sizing: content-box;
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                -o-box-sizing: content-box;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }

            .imgContainer {
                position: relative;
                padding: 5px;
                display: flex;
                align-items: strech;
                justify-content: stretch;
                width: 100%;
                height: 100%;
                overflow: hidden;
                box-sizing: border-box;
            }

            img {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: contain;
                z-index: auto;
            }

            .labelImage {
                opacity: 1;
                left: 0;
                position: absolute;
                min-height: 0;
                overflow: hidden;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                pointer-events: none;
                padding: 5px;
            }

            .selectionBG {
                pointer-events: none;
                position: absolute;
                top: 5px;
                left: 5px;
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                opacity: 0;
                background: rgba(0, 0, 0, 0.5);
            }

            .selectionImage {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                opacity: 0;

                label {
                    width: 100%;
                    text-align: center;
                    white-space: nowrap;

                    &::after {
                        content: 'Select Media';
                        color: #FFFFFF;
                        margin: 0 auto;
                        overflow: hidden;
                        vertical-align: middle;
                        box-sizing: border-box;
                        cursor: pointer;
                        border-radius: 7px;
                        padding: 20px;
                        background-color: #888888;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }
            }

            input[type='checkbox'] {
                display: none;

                & ~ .tick {
                    display: none;
                }
            }

            input[type='checkbox']:checked {
                & ~ .selectionImage label::after {
                    content: 'Deselect media';
                }

                & ~ .tick {
                    display: block;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    width: 20px;
                    height: 20px;
                    background-color: #439ED5;

                    &::after {
                        content: '\2713';
                        color: $color_1;
                        width: 10px;
                        height: 16px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                    }
                }
            }

            .labelImageTitle {
                color: #FFFFFF;
                margin: 0;
                left: 0;
                overflow: hidden;
                vertical-align: middle;
                box-sizing: border-box;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 10px;
                align-self: flex-end;
            }

            .labelTitle {
                overflow: hidden;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .labelFolderTitle {
                color: $color_2;
                margin-right: 4px;
                margin-left: 4px;
                left: 0;
                overflow: hidden;
                vertical-align: middle;
                display: inline-block;
                box-sizing: border-box;

                > span {
                    color: $color_3;
                    background-color: #EEEEEE;
                    border: 0 solid #EEEEEE;
                    border-radius: 2px;
                    padding: 0 4px;
                    text-shadow: none;
                    vertical-align: middle;
                    display: inline;
                    box-sizing: border-box;
                }
            }

            .labelDescription {
                &:empty {
                    display: none;
                }

                > span {
                    color: $color_3;
                    background-color: #EEEEEE;
                    border: 0 solid #EEEEEE;
                    border-radius: 2px;
                    padding: 0 4px;
                    text-shadow: none;
                    vertical-align: middle;
                    display: inline;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -o-box-sizing: border-box;
                }

                clear: both;
                color: $color_4;
                left: 0;
                font-size: 0.8em;
                margin: 1px 2px;
                // text-shadow: #000000 1px 0 0, #000000 1px 1px 0,
                //     #000000 1px -1px 0, #000000 -1px 1px 0,
                //     #000000 -1px 0 0, #000000 -1px -1px 0,
                //     #000000 0 1px 0, #000000 0 -1px 0;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }
        }
    }

    #simpleGalleryViewer {
        display: block;
        background-color: rgba(1, 1, 1, 0.75);
        text-align: center;
        position: fixed;
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        -o-box-sizing: content-box;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        clear: both;

        .closeButtonFloating {
            cursor: pointer;
            right: 0;
            top: 0;
            padding: 5px 5px 25px 25px;
            position: absolute;
            opacity: 1;
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;

            &::after {
                color: $color_5;
                background: rgba(0, 0, 0, 0.2);
                padding: 5px;
                content: '\2716';
                font-size: 1.5em;
                font-family: $font-family;
                font-style: normal;
                font-weight: normal;
                speak: none;
                display: inline-block;
                text-decoration: inherit;
                text-align: center;
                font-variant: normal;
                text-transform: none;
            }

            &:hover {
                opacity: 0.3;
            }
        }

        .content {
            position: absolute;
            clear: both;
            padding: 5px;
            cursor: zoom-out;
            box-sizing: content-box;

            img {
                background: url('loading.gif') no-repeat center;
                border: 4px solid #F8F8F8;
                padding: 0;
                min-width: 30px;
                min-height: 30px;
                box-shadow: #888888 0 0 20px;
                border-radius: 4px;
                box-sizing: content-box;
            }

            .imgCurrent {
                cursor: pointer;
            }

            .contentAreaPrevious {
                color: $color_5;
                display: block;
                position: absolute;
                top: 50%;
                padding: 50px 25px 50px 0;
                margin-top: -65px;
                left: 0;
                text-align: left;
                cursor: pointer;
                opacity: 1;
                transition: all 0.2s ease;
                box-sizing: content-box;

                &::after {
                    content: '\2190';
                    background: rgba(0, 0, 0, 0.2);
                    padding: 5px 0;
                    font-size: 1.5em;
                    margin-left: 2em;
                    margin-right: 2em;
                    font-family: $font-family_icon;
                    font-style: normal;
                    font-weight: normal;
                    speak: none;
                    display: inline-block;
                    text-decoration: inherit;
                    width: 1em;
                    text-align: center;
                    font-variant: normal;
                    text-transform: none;
                    opacity: 1;
                    transition: all 0.2s ease;
                    -webkit-transition: all 0.2s ease;
                    -moz-transition: all 0.2s ease;
                    -o-transition: all 0.2s ease;
                }

                &:hover {
                    opacity: 0.3;
                }
            }

            .contentAreaNext {
                color: $color_5;
                display: block;
                position: absolute;
                top: 50%;
                padding: 50px 0 50px 25px;
                margin-top: -65px;
                right: 0;
                text-align: right;
                cursor: pointer;
                opacity: 1;
                transition: all 0.2s ease;
                box-sizing: content-box;

                &::after {
                    content: '\2192';
                    background: rgba(0, 0, 0, 0.2);
                    padding: 5px 0;
                    font-size: 1.5em;
                    margin-left: 2em;
                    margin-right: 2em;
                    font-family: $font-family_icon;
                    font-style: normal;
                    font-weight: normal;
                    speak: none;
                    display: inline-block;
                    text-decoration: inherit;
                    width: 1em;
                    text-align: center;
                    font-variant: normal;
                    text-transform: none;
                    opacity: 1;
                    transition: all 0.2s ease;
                    -webkit-transition: all 0.2s ease;
                    -moz-transition: all 0.2s ease;
                    -o-transition: all 0.2s ease;
                }

                &:hover {
                    opacity: 0.3;
                }
            }
        }

        .toolbarContainer {
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            display: inline-block;
            position: absolute;
            margin-bottom: 13px;
        }

        .toolbar {
            display: inline-block;
            vertical-align: middle;
            overflow: hidden;
            background: rgba(4, 4, 4, 0.7);
            color: $color_2;
            margin: 1px;
            box-sizing: content-box;

            .ngbt {
                display: table-cell;
                cursor: pointer;
                padding: 5px;
                vertical-align: middle;
                box-sizing: content-box;

                &::after {
                    font-size: 1.5em;
                    margin-left: 2em;
                    margin-right: 2em;
                    font-family: $font-family_icon;
                    font-style: normal;
                    font-weight: normal;
                    speak: none;
                    display: inline-block;
                    text-decoration: inherit;
                    width: 1em;
                    text-align: center;
                    font-variant: normal;
                    text-transform: none;
                    opacity: 1;
                    transition: all 0.2s ease;
                }

                &:hover {
                    &::after {
                        opacity: 0.3;
                    }
                }
            }

            .previousButton {
                &::after {
                    content: '\2190';
                }
            }

            .nextButton {
                &::after {
                    content: '\2192';
                }
            }

            .selectButton {
                &::after {
                    content: '\2714';
                }
            }

            .closeButton {
                &::after {
                    content: '\2716';
                }
            }

            .playButton {
                &::after {
                    content: '\25B6';
                }
            }

            .pauseButton {
                &::after {
                    content: '\23F8';
                }
            }

            .setFullscreenButton {
                &::after {
                    content: '\e827';
                }
            }

            .removeFullscreenButton {
                &::after {
                    content: '\e828';
                }
            }

            .infoButton {
                &::after {
                    content: '\e82c';
                }
            }

            .linkOriginalButton {
                &::after {
                    content: '\e80d';
                }
            }

            .viewToolbarButton {
                &::after {
                    content: '\e817';
                }
            }

            .hideToolbarButton {
                &::after {
                    content: '\e81e';
                }
            }

            .pageCounter {
                display: table-cell;
                font-size: 1em;
                margin: auto;
                vertical-align: middle;
                overflow: hidden;
                box-sizing: content-box;
            }

            .label {
                padding: 3px 10px 3px 10px;
                border-left: 0 solid #000000;
                overflow: hidden;
                display: table-cell;
                vertical-align: middle;
                font-size: 1em;
                box-sizing: content-box;
                background-color: initial;
                width: 250px;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: center;

                .title {
                    font-size: 1em;
                    font-weight: normal;
                    text-transform: none;
                    margin: auto;
                    vertical-align: middle;
                    overflow: hidden;
                    box-sizing: content-box;
                }

                .description {
                    font-size: 0 8em;
                    display: table-row;
                    vertical-align: middle;
                    overflow: hidden;
                    color: $color_4;
                    box-sizing: content-box;
                }
            }
        }
    }

    .simpleGalleryConsoleParent {
        visibility: hidden;
        height: 0;
        background: #111111;
        color: $color_6;
        padding: 0;
        margin: 0;

        p {
            color: $color_6;
            padding: 1px;
            margin: 0;
        }
    }

    .simpleGalleryLBarOff {
        position: relative;
        width: 100%;
        visibility: hidden;
        height: 2px;
        margin: 0 0 1px 0;
        background-color: #555555;
    }

    .simpleGalleryLBar {
        position: relative;
        width: 100%;
        visibility: visible;
        height: 2px;
        margin: 0 0 1px 0;
        background-color: #555555;

        > div {
            position: absolute;
            width: 50px;
            height: 2px;
            top: 0;
            opacity: 0 7;

            &:nth-child(1) {
                -webkit-animation: simpleGalleryLBarAnim 2s -0.2s infinite cubic-bezier(0, 0.6, 0.9, 0);
                -moz-animation: simpleGalleryLBarAnim 2s -0.2s infinite cubic-bezier(0, 0.6, 0.9, 0);
                -ms-animation: simpleGalleryLBarAnim 2s -0.2s infinite cubic-bezier(0, 0.6, 0.9, 0);
                -o-animation: simpleGalleryLBarAnim 2s -0.2s infinite cubic-bezier(0, 0.6, 0.9, 0);
                animation: simpleGalleryLBarAnim 2s -0.2s infinite cubic-bezier(0, 0.6, 0.9, 0);
                background: #111111;
            }

            &:nth-child(2) {
                -webkit-animation: simpleGalleryLBarAnim 2s -0.4s infinite cubic-bezier(0, 0.6, 0.9, 0);
                -moz-animation: simpleGalleryLBarAnim 2s -0.4s infinite cubic-bezier(0, 0.6, 0.9, 0);
                -ms-animation: simpleGalleryLBarAnim 2s -0.4s infinite cubic-bezier(0, 0.6, 0.9, 0);
                -o-animation: simpleGalleryLBarAnim 2s -0.4s infinite cubic-bezier(0, 0.6, 0.9, 0);
                animation: simpleGalleryLBarAnim 2s -0.4s infinite cubic-bezier(0, 0.6, 0.9, 0);
                background: #333333;
            }

            &:nth-child(3) {
                -webkit-animation: simpleGalleryLBarAnim 2s -0.6s infinite cubic-bezier(0, 0.6, 0.9, 0);
                -moz-animation: simpleGalleryLBarAnim 2s -0.6s infinite cubic-bezier(0, 0.6, 0.9, 0);
                -ms-animation: simpleGalleryLBarAnim 2s -0.6s infinite cubic-bezier(0, 0.6, 0.9, 0);
                -o-animation: simpleGalleryLBarAnim 2s -0.6s infinite cubic-bezier(0, 0.6, 0.9, 0);
                animation: simpleGalleryLBarAnim 2s -0.6s infinite cubic-bezier(0, 0.6, 0.9, 0);
                background: #666666;
            }

            &:nth-child(4) {
                -webkit-animation: simpleGalleryLBarAnim 2s -0.8s infinite cubic-bezier(0, 0.6, 0.9, 0);
                -moz-animation: simpleGalleryLBarAnim 2s -0.8s infinite cubic-bezier(0, 0.6, 0.9, 0);
                -ms-animation: simpleGalleryLBarAnim 2s -0.8s infinite cubic-bezier(0, 0.6, 0.9, 0);
                -o-animation: simpleGalleryLBarAnim 2s -0.8s infinite cubic-bezier(0, 0.6, 0.9, 0);
                animation: simpleGalleryLBarAnim 2s -0.8s infinite cubic-bezier(0, 0.6, 0.9, 0);
                background: #777777;
            }

            &:nth-child(5) {
                -webkit-animation: simpleGalleryLBarAnim 2s -1s infinite cubic-bezier(0, 0.6, 0.9, 0);
                -moz-animation: simpleGalleryLBarAnim 2s -1s infinite cubic-bezier(0, 0.6, 0.9, 0);
                -ms-animation: simpleGalleryLBarAnim 2s -1s infinite cubic-bezier(0, 0.6, 0.9, 0);
                -o-animation: simpleGalleryLBarAnim 2s -1s infinite cubic-bezier(0, 0.6, 0.9, 0);
                animation: simpleGalleryLBarAnim 2s -1s infinite cubic-bezier(0, 0.6, 0.9, 0);
                background: #DDDDDD;
            }
        }
    }
}

.simplegallery_theme_default.unselectable {
    user-select: none;
}

.imgContainer .labelFolderTitle {
    text-align: left;
}

.imgContainer .labelImageTitle {
    text-align: center;
}

.simpleGalleryContainerParent {
    flex-grow: 1;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 5px;
    margin-right: 5px;
}

.simpleGalleryContainer {
    width: 100%;
}

.simpleGalleryCustomTitle {
    font-size: 18px;
    margin-bottom: 30px;

    .rc-baseline & {
        font-weight: 500;
    }
}

.g-header {
    overflow: hidden;
    min-height: 40px;
    flex-basis: 40px;
}

.g-footer {
    padding: 20px;
    background-color: #FCFCFC;
    box-shadow: 0 -1px 25px 0 rgba(0, 0, 0, 0.2);

    .button-block,
    .button-block form {
        margin: 0;
        display: flex;
        align-items: center;

        & + .button-block {
            margin-top: 20px;
        }

        input[type='button'],
        button {
            font-family: $font-family;
            font-weight: 600;
            font-size: 12px;
            line-height: 1em;
            padding: 10px 20px;
            border-radius: 10px;
            border: 1px solid #D2D2D2;
            background-color: #FFFFFF;
            color: #666666;
            text-transform: uppercase;
            cursor: pointer;

            &.btn-ok {
                margin-left: auto;
                color: #FFFFFF;
                border: none;
                background-color: #439ED5;
            }

            &[disabled],
            &:disabled {
                opacity: 0.5;
            }
        }

        .file-name {
            display: block;
            font-family: $font-family;
            font-weight: 500;
            font-size: 12px;
            line-height: 1em;
            color: #666666;
            margin-left: 20px;
            max-width: 250px;
            white-space: nowrap;
            text-overflow: ellipsis;

            &:empty {
                display: none;

                & + button {
                    display: none;
                }
            }
        }

        input[type='file'] {
            display: none;

            + label {
                cursor: pointer;
                font-family: $font-family;
                font-weight: 500;
                font-size: 12px;
                line-height: 1em;
                padding: 10px 20px;
                border-radius: 10px;
                border: 1px solid #D2D2D2;
                background-color: #FFFFFF;
                color: #666666;
                text-transform: uppercase;
            }

            & ~ button {
                color: #FFFFFF;
                border: none;
                background-color: #439ED5;
                margin-left: 20px;
            }
        }

        input[type='text'] {
            box-sizing: border-box;
            display: block;
            width: 100%;
            min-height: 34px;
            padding: 8px 12px;
            font-size: 12px;
            line-height: 1.42857143;
            color: #474747;
            background-color: $color_1;
            background-image: none;
            border: 1px solid $color_7;
            border-radius: 2px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }
    }

    &.top {
        box-shadow: none;

        input[type='button'] {
            margin-left: 20px;
        }
    }
}

.is-overlaid {
    position: relative;

    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
}

.simpleGalleryViewerContainer {
    display: block !important;
}
