﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@using Sitecore.Sites
@model Delete.Feature.Events.Models.SearchResultsViewModel
<div data-control="filter-listing">
    <div data-ref="data-container">
        @if (!Model.Results.Any())
        {
            <div class="rc-padding-y--md">
                <div class="rc-layout-container">
                    <div class="rc-column">
                        <p class="rc-full-width">
                            <b>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.events.searchnoresults")</b>
                        </p>
                    </div>
                </div>
            </div>
        }
        else
        {

            <div class="rc-layout-container rc-event-card rc-match-heights">
                @foreach (var item in Model.Results)
                {
                    <div class="rc-column">
                        <a class="rc-card__link rc-full-width" href="@item.Url">
                            <article class="rc-card rc-card--a">
                                <picture class="rc-card__image">
                                    <img class="lazyload"
                                         src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E")"
                                         data-srcset="@Html.GetResizedSrcSet(item.ThumbnailImage?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                                         data-sizes="auto"
                                         alt="@(item.ThumbnailImage?.Alt ?? item.Heading)">
                                    @if (!IsAjax)
                                    {
                                        @Html.RenderJson(item.ThumbnailImage.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                                    }
                                </picture>
                                <div class="rc-card__body">
                                    <header>
                                        @if (!item.Type.IsNullOrEmpty())
                                        {
                                            <p class="rc-card__meta">@item.Type</p>
                                        }
                                        <h1 class="rc-card__title">@item.Heading</h1>
                                        <p class="rc-card__meta">@item.Date.ToString(Model.DateFormat.IsNullOrEmpty() ? "d MMMM yyyy" : Model.DateFormat, SiteContext.Current.ContentLanguage.CultureInfo)</p>
                                    </header>
                                </div>
                                @if (!IsAjax)
                                {
                                    @Html.RenderJson(item.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                                }
                            </article>
                        </a>
                    </div>
                }
            </div>

            if (Model.TotalPages > 1)
            {
                @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Pagination.cshtml", Model)
            }
        }
    </div>
    @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)
</div>