﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@inherits GlassView<Delete.Feature.Events.Models.Event>

<section class="rc-bg-colour--brand3 rc-padding--sm rc-padding-x--none--mobile">
    <div class="rc-max-width--md rc-wysiwyg rc-padding-x--md--mobile">
        <b>@Editable(Model, x => x.Summary)</b>
        @Editable(Model, x => x.Content)
        @Html.Sitecore().Placeholder("rc-event-body")
    </div>
</section>
