﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers

@inherits GlassView<Delete.Feature.Events.Models.Event>

<section class="rc-bg-colour--brand3 rc-padding--sm">
    <div class="rc-layout-container rc-one-column rc-max-width--md">
        <div class="rc-column">
            <div class="rc-text--center">
                <div class="rc-padding--md rc-md-down"></div>
                <ul class="rc-list rc-list--blank rc-list--align rc-list--inline rc-margin-bottom--xs rc-content-v-middle">
                    <!-- Event category → Event Type  → Species -->
                    @if (Model.EventCategory?.Text.NotEmpty() == true)
                    {
                        <li class="rc-list__item">@(Model.EventCategory?.Text)</li>
                    }
                    @foreach (var type in Model.EventTypes)
                    {
                        <li class="rc-list__item">@(type?.Text)</li>
                    }
                    @foreach (var species in Model.Species)
                    {
                        <li class="rc-list__item">@(species?.Text)</li>
                    }

                </ul>
                <h1 class="rc-alpha rc-text--center">@Editable(Model, x => x.Heading)</h1>
            </div>
        </div>
    </div>
</section>

@if (Context.IsAmpRequest())
{
    <amp-img srcset="@Html.GetResizedSrcSet(Model.HeroImage)"
             width="@(Model.HeroImage?.Width ?? 0)" height="@(Model.HeroImage?.Height ?? 0)"
             layout="responsive"
             alt="@(Model.HeroImage?.Alt ?? Model.Heading)">
    </amp-img>
}
else
{
    <div class="rc-bg-colour--brand3">
        <div class="rc-max-width--xl">
            @if (IsInEditingMode)
            {
                @RenderImage(Model, m => m.HeroImage, new { @class = "rc-full-width" }, true)
            }
            else
            {
                <picture class="rc-full-width">
                    <img class="lazyload"
                         src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 9'%3E%3C/svg%3E")"
                         data-srcset="@Html.GetResizedSrcSet(Model.HeroImage?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                         data-sizes="auto"
                         alt="@(Model.HeroImage?.Alt ?? Model.Heading)">
                </picture>
            }
        </div>
    </div>
}
@Html.RenderJson(Model.HeroImage.GetMicrodata(new DefaultOrganizationAuthorResolver()))
