﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@model Delete.Feature.Events.Models.SearchViewModel

<section class="rc-bg-colour--brand3 rc-padding--sm rc-margin-bottom--xs"
         data-component="filter-and-listing"
         data-endpoint="@Url.ApiAction("Filter", "Events")"
         data-request-filter="@Model.FilterConfiguration"
         data-track-category="Events search">
    <div class="rc-max-width--xl">
        @Html.Partial("~/Views/Feature/Events/_EventsSearchAndFilter.cshtml", Model.FilterModel)
        @Html.Partial("~/Views/Feature/Events/_EventsSearchResults.cshtml", Model.SearchResultsModel)
    </div>
</section>