.experience-editor {
    .scEmptyPlaceholder {
        width: 100%;
    }

    .rc-header {
        position: relative;
    }

    .rc-content--fixed-header {
        padding-top: 0;
    }

    .rc-btn > a {
        text-decoration: none;
    }

    .rc-btn--one > a {
        color: $color-brand3;
    }

    .rc-layout-container,
    .rc-carousel,
    .rc-content-block {
        border: 1px dashed $color-interface-dark;
        padding: 20px;
    }

    .rc-hero {
        border: 1px dashed $color-brand1;
    }

    .rc-content-block .rc-layout-container {
        border: none;
    }

    .rc-image-gallery__gallery img {
        margin: 0 auto;
    }

    .timeline__age-title-sitecor {
        display: block;
    }

    .rc-tab--centered {
        justify-content: center;
    }

    .rc-list__accordion-item {
        .rc-list__header {
            cursor: default;
        }
    }

    .rc-modal__footer {
        display: none;
    }
}
