﻿@using Delete.Foundation.DeleteFoundationCore.Helpers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.Navigation.Models.SectionalNavigationModel>

@if (Model != null && Model.Navigation != null)
{
    bool hasCurrent = (bool) Model.Navigation.MenuItems?.Any(x => (bool) Model.CurrentPage?.Url.StartsWith(x.LinkProperty?.Url));

    <nav class="rc-section-navigation" aria-labelledby="sectional-navigation">
        <h2 id="sectional-navigation" class="rc-hidden"></h2>
        <div class="collapse-control rc-icon rc-down--xs rc-iconography"></div>
        <ul class="rc-link-list">
            @if (!hasCurrent)
            {
                <li class="rc-link-list__item rc-hidden-desktop ">
                    <p class="rc-link-list__anchor-link rc-link-list__item--active">
                        <span>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.navigation.selectanoption")</span>
                    </p>
                </li>
            }
            @foreach (var item in Model.Navigation.MenuItems)
            {
                string fallbackText = !string.IsNullOrEmpty(item.DisplayName) ? item.DisplayName : item.Name;
                string current = (bool) Model?.CurrentPage?.Url.StartsWith(item.LinkProperty?.Url) ? "rc-link-list__item--active" : "";
                string iconCSS = (bool) Model?.CurrentPage?.Url.StartsWith(item.LinkProperty?.Url) ? "rc-brand1" : "rc-iconography";
                <li class="rc-link-list__item">
                    @using (BeginRenderLink(item, x => x.LinkProperty, new {@class = $"rc-link-list__anchor-link {current}", role = "menuitem", data_ref = "nav-link", title = LinkHelper.RenderLinkTitle(item.LinkProperty, fallbackText), aria_label = item.Icon.Value}, true))
                    {
                        <span class="rc-link__icon rc-icon rc-@(item.Icon?.Value) @iconCSS"></span>
                        <span class="rc-link__text">@(!string.IsNullOrEmpty(item.LinkProperty?.Title) ? item.LinkProperty?.Title : fallbackText)</span>
                    }
                </li>
            }
        </ul>
    </nav>
}
else if (IsInEditingMode)
{
    <nav class="rc-section-navigation" aria-labelledby="sectional-navigation">
        <p>Could not render Section Navigation rendering.</p>
        <p>Please specify MenuFolder item name in the rendering parameters as "sectionName" parameter</p>
    </nav>
}