﻿@using Delete.Foundation.DeleteFoundationCore.Helpers
@model Delete.Feature.Products.Models.SearchResultsViewModel
<div data-ref="data-container">
    <script type="application/json" data-ref="filter-facets-json">
        @Html.Raw(Json.Encode(Model.SearchResults.Facets))
    </script>
    @if (!Model.SearchResults.Results.Any())
    {
  
        <div class="rc-layout-container">
            <div class="rc-column rc-padding-y--xs rc-padding-x--none--mobile">
                <p class="rc-full-width"><b>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.searchnoresults")</b></p>
            </div>
        </div>

    }
    else
    {
        var items = Model.SearchResults.Results.Skip(Model.GetSkippedItemsCountToCurrentPage()).Take(Model.PageSize).ToList();
        <div class="rc-text--right">
            <small>
                @Html.Raw(TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.displayingresults", $"<strong>{items.Count}</strong>", $"<strong>{Model.TotalResults}</strong>"))
            </small>
        </div>
        <div class="rc-layout-container rc-event-card--sidebar-present rc-match-heights">
            @{
                var position = Model.GetSkippedItemsCountToCurrentPage();
            }
            @foreach (var item in items)
            {
                Html.RenderPartial("~/Views/Feature/Products/_ProductCard.cshtml", item, new ViewDataDictionary {{"productPosition", position++}});
            }
        </div>

        @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Pagination.cshtml", Model)
    }
</div>
@Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)