@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.MultiSite.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.Collections
@using Sitecore.Web
@inherits GlassView<Delete.Feature.Products.Models.LocalProduct>

@{
    var marketingSettings = SitecoreContext.GetLocalMarketSettings();
    var priceSpiderEnabled = marketingSettings?.UsePriceSpider ?? true;
    var whereToBuyUrl = marketingSettings?.WhereToBuyPage?.BuildUrl(new SafeDictionary<string>());
    var typeAndSpeciesSubtitle = string.Join(", ",
        new List<string>
        {
Model?.ProductType?.Text,
Model?.GlobalProduct?.Specie?.Text
                }.Where(x => !string.IsNullOrEmpty(x)));
    var vetProductsBuyNowLink = marketingSettings?.VetProductsBuyNowLink;
    var isVetProduct = Model.Parent.Name == "Vet Products";
}

<h1 class="rc-alpha" data-component="amp-redirect-buy-widget">
    @if (IsInEditingMode)
    {
        @Editable(x => x.ProductNameOverride)
    }
    else
    {
        @Model.ExtendedProductName
    }
</h1>

<div class="rc-padding-bottom--sm">
    <span class="rc-meta">@typeAndSpeciesSubtitle</span>
</div>


@if (!@Context.IsAmpRequest())
{
    @Html.Sitecore().Placeholder("rc-product-hero-panel-rating")
}

@if (IsInEditingMode)
{
    <p>
        @Editable(x => x.MainDescriptionOverride)
    </p>
}
else
{
    <p>
        @Model.ExtendedMainDescription
    </p>
}

@if (IsInEditingMode)
{
    <div class="rc-text--center-md rc-padding--sm--mobile">
        <span class="@LinkHelper.GetLinkClass(Model.BuyOnlineLink, "rc-btn rc-btn--two")">@Editable(Model, x => x.BuyOnlineLink)</span>
    </div>
}
else
{
    if (!priceSpiderEnabled)
    {
        if (Model.BuyOnlineLink != null || Model.BuyOnlineAlternativeLink != null)
        {

            <div class="rc-text--center-md rc-padding--sm--mobile rc-btn-wrapper">
                @{
                    var itemTitle = "";
                    if (Model.BuyOnlineLink != null)
                    {
                        itemTitle = LinkHelper.RenderLinkTitle(Model.BuyOnlineLink, Model.Name);
                        if (string.IsNullOrWhiteSpace(Model.BuyOnlineLink.Text))
                        {
                            Model.BuyOnlineLink.Text = TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.buyonline");
                        }
                        if (isVetProduct && !vetProductsBuyNowLink.IsNullOrEmpty())
                        {
                            <a class="rc-btn rc-btn--two rc-full-width-mobile" href="@vetProductsBuyNowLink">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.buynow")</a>
                        }
                        else
                        {
                            @RenderLink(Model, x => x.BuyOnlineLink, new { @class = LinkHelper.GetLinkClass(Model.BuyOnlineLink, "rc-btn rc-btn--two rc-full-width-mobile"), title = itemTitle, aria_label = itemTitle, role = "text", rel = "noopener",
                           data_component="cta-event-tracker",
                           data_track_custom= "true",
                           data_track_custom_event= "productPageBuyNow",
                           data_track_custom_category= "Buy Now",
                           data_track_custom_action= "Click",
                           data_track_custom_label= Model.BuyOnlineLink.Url,
                       }, isEditable: true)
                        }
                    }
                    if (Model.BuyOnlineAlternativeLink != null)
                    {
                        itemTitle = LinkHelper.RenderLinkTitle(Model.BuyOnlineAlternativeLink, Model.Name);
                        if (string.IsNullOrWhiteSpace(Model.BuyOnlineAlternativeLink.Text))
                        {
                            Model.BuyOnlineAlternativeLink.Text = TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.buyonlinealternative");
                        }
                        if (isVetProduct && !vetProductsBuyNowLink.IsNullOrEmpty())
                        {
                            <a class="rc-btn rc-btn--two rc-full-width-mobile" href="@vetProductsBuyNowLink">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.buynow")</a>
                        }
                        else
                        {
                            @RenderLink(Model, x => x.BuyOnlineAlternativeLink, new { @class = LinkHelper.GetLinkClass(Model.BuyOnlineAlternativeLink, "rc-btn rc-btn--two rc-full-width-mobile"), title = itemTitle, aria_label = itemTitle, role = "text", rel = "noopener" }, isEditable: true)
                        }
                    }
                    if (!whereToBuyUrl.IsNullOrEmpty())
                    {
                        <br class="rc-md-down">@:&nbsp; @TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.or") &nbsp;
                        <a href="@whereToBuyUrl" class="rc-styled-link">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.findalocalretailer")</a>
                    }
                }


            </div>
        }
        else
        {
            <div class="rc-text--center-md rc-padding--sm--mobile rc-btn-wrapper">
                @{
                    if (isVetProduct && !vetProductsBuyNowLink.IsNullOrEmpty())
                    {
                        <a class="rc-btn rc-btn--two rc-full-width-mobile" href="@vetProductsBuyNowLink">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.buynow")</a>
                    }
                    else
                    {
                        <a href="@whereToBuyUrl" class="rc-btn rc-btn--one">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.findalocalretailer")</a>
                    }
                }
            </div>
        }
    }
    else
    {
        <div class="rc-text--center-md rc-padding--sm--mobile rc-btn-wrapper">

            @if (Model.SKU.NotEmpty() && !Context.IsAmpRequest())
            {
                if (isVetProduct && !vetProductsBuyNowLink.IsNullOrEmpty())
                {
                    <a class="rc-btn rc-btn--two rc-full-width-mobile" href="@vetProductsBuyNowLink">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.buynow")</a>
                }
                else
                {
                    <script>PriceSpider.insertWidget({ "sku": "@(Model.SKU)" })</script>
                }
            }
            else
            {
                <a href="@Model.Url?findLocations=true" class="rc-btn rc-btn--two rc-full-width-mobile">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.buyonline")</a>
            }
            <span>&nbsp; @TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.or") &nbsp;</span>
            <a href="@whereToBuyUrl" class="rc-styled-link">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.findalocalretailer")</a>
        </div>
    }
}


@if (Model.GlobalProduct?.MedicalStatements?.Any() == true)
{
    <p>@(Model.MedicalStatement)</p>
}

@if (!Context.IsAmpRequest() && Sitecore.Context.PageMode.IsNormal)
{
    var marketSettings = Html.Glass().SitecoreContext.GetLocalMarketSettings();

    <script>
        (function() {
            var product = @(Html.RenderJson(Model.GetGTMData().ToJson(), false));
            var dataLayer = window.dataLayer = window.dataLayer || [];
            var siteId = '@(marketSettings?.WebsiteId)';
            dataLayer.push({
                'event': siteId + 'eComProductView',
                'ecommerce': {
                    'detail': {
                        'products': [
                            product
                        ]
                    }
                }
            });
        })();
    </script>
}
