﻿@using Delete.Feature.Products.Resolvers
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@model Delete.Feature.Products.Models.LocalProduct
@{
    var position = ViewData["productPosition"] as int? ?? -1;
}
<div class="rc-column">
    <a class="rc-card__link rc-full-width" 
    href="@Model.Url"
    data-component="product-track"
    data-product-details='@(Html.RenderJson(Model.GetGTMData("Catalogue", position).ToJson(), false))'>
        <article class="rc-card rc-card--a rc-padding--sm rc-full-width">
            <picture class="rc-card__image rc-padding-bottom--sm">
                <img class="rc-card__bagshot lazyload"
                     src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 257 200'%3E%3C/svg%3E")"
                     data-srcset="@Html.GetResizedSrcSet(Model.ExtendedImage1_BAG?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                     data-sizes="auto"
                     alt="@Model.ExtendedProductName">
                @if (!IsAjax)
                {
                    @Html.RenderJson(Model.ExtendedImage1_BAG.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                }
            </picture>
            <div class="rc-card__body rc-padding--none">
                <div class="rc-text--center">
                    <header>
                        <h2 class="rc-card__title rc-delta">@Model.ExtendedProductName</h2>
                        @{ Html.RenderAction("ProductRating", "Review", new {MainItemId = Model.GlobalProduct?.MainItemID, IsClickable = false}); }
                        <p>@Model.ExtendedTextSpare1</p>
                    </header>
                </div>
            </div>
            <div class="rc-card__footer rc-padding--none">
                <div class="rc-text--center">
                    <span class="rc-btn rc-btn--one rc-btn--sm">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.viewproduct")
                    </span>
                </div>
            </div>
            @if (!IsAjax)
            {
                @Html.RenderJson(Model.GetMicrodata(new DefaultOrganizationAuthorResolver(), new DefaultBrandBrandResolver(), new BazaarvoiceProductReviewResolver()))
            }
        </article>
    </a>
</div>