﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Sitecore.Sites
@model Delete.Feature.Products.Models.ProductReviewsViewModel

@if (Context.IsAmpRequest())
{
<div data-ref="data-container">
    @foreach (var review in Model.Reviews.Skip((Model.Pagination.Page - 1) * Model.Pagination.PageSize).Take(Model.Pagination.PageSize))
    {
        
            <div class="rc-layout-container rc-five-column">
                <div class="rc-column">
                    <h5 class="rc-espilon">@review.UserNickname</h5>
                    @((review.SubmissionTime?.Date ?? new DateTime()).ToString("dd MMM yyyy", SiteContext.Current.ContentLanguage.CultureInfo))
                </div>                
                <div class="rc-column rc-quad-width">
                    <h3>@review.Title</h3>
                    <div>
                        @review.ReviewText
                    </div>

                    @if (review.ClientResponses != null && review.ClientResponses.Any())
                    {
                        foreach (var clientResponse in review.ClientResponses)
                        {
                            <div class="rc-margin-left--xs rc-margin-top--xs">
                                <h5 class="rc-espilon">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.reviews.royalcaninresponse")</h5>
                                <div>
                                    @clientResponse.Response
                                </div>
                            </div>                                
                        }
                    }
                </div>
            </div>
        
    }
</div>
}
else
{
    <div data-ref="data-container">

        <div class="rc-layout-container rc-single-column">
            <div class="rc-column">
                <form action="">
                    <span class="rc-select">
                        <label class="rc-select__label" for="id-single-select">Sort by</label>
                        <select data-js-select 
                            id="id-single-select"
                            data-sc-tracking="True"
                            data-sc-field-name="Dropdown rc-list"
                            data-ref="filter-select"
                        >
                        <option selected disabled value="" placeholder>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.reviews.sortby")</option>
                        @foreach (var orderRule in Model.OrderByRules)
                        {
                            <option value="@orderRule.Key" @(orderRule.Key == Model.Pagination.SortBy ? "selected=\"selected\"" : String.Empty)>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.reviews.sortby." + orderRule.Key.ToString().ToLower())</option>
                        }
                        </select>
                    </span>
                </form>
            </div>
        </div>

        @foreach (var review in Model.Reviews.Skip((Model.Pagination.Page - 1) * Model.Pagination.PageSize).Take(Model.Pagination.PageSize))
        {            
                <div class="rc-layout-container rc-five-column rc-padding-bottom--xs rc-border-bottom rc-border-colour--interface">
                    <div class="rc-column">
                        <h5 class="rc-espilon">@review.UserNickname</h5>
                        @((review.SubmissionTime?.Date ?? new DateTime()).ToString("dd MMM yyyy", SiteContext.Current.ContentLanguage.CultureInfo))
                    </div>
                    <div class="rc-column rc-quad-width">
                        <span>
                            @{
                                var score = review.Rating != 0 ? (int)((review.Rating * 5/ review.RatingRange) + 0.5) : 0;
                            }
                            @for (var i = 1; i <= 5; i++)
                            {
                                <span class="rc-icon rc-rate-fill--xs @(i <= score ? "rc-brand1" : "rc-iconography" )"></span>
                            }

                        </span>
                        <h3>@review.Title</h3>
                        <div>
                            @review.ReviewText
                        </div>

                        @if (review.ClientResponses != null && review.ClientResponses.Any())
                        {
                            foreach (var clientResponse in review.ClientResponses)
                            {
                                <div class="rc-margin-left--xs rc-margin-top--xs">
                                    <h5 class="rc-espilon">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.reviews.royalcaninresponse")</h5>
                                    <div>
                                        @clientResponse.Response
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            
        }

        @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Pagination.cshtml", Model.Pagination)
    </div>
}
