﻿@using System.Globalization
@using Delete.Foundation.DataTemplates.Models.Taxonomy
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.RoyalCaninCore
@model Delete.Feature.Products.Models.SearchFilterViewModel

@{
    var itemName = Html.GetItemName();

    var species = Model.Specie != null ? SpecieConstants.SpeciesByGuid(Model.Specie.Id) : null;
    var speciesString = species.HasValue ? species.Value.ToString() : "";
    var speciesId = species.HasValue ? ((int) species.Value).ToString() : "";

    var pillarString = PillarConstants.SeoPillarStringByGuid(Model.PillarId);
}

<h3 class="rc-md-up rc-padding-top--md">
    @TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.searchproducts")
</h3>
<span class="rc-input rc-input--full-width rc-input--search rc-margin-bottom--sm" data-control="filter-search" data-endpoint="@Url.ApiAction("FindByKeyword", "Products", new RouteValueDictionary(new {species = Model.Specie.Id, pillarId = Model.PillarId}))">
    <button class="rc-input__submit rc-input__submit--search" type="button" data-ref="filter-search-button">
        <span class="rc-screen-reader-text">
            @TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.submit")
        </span>
    </button>
    <input class="rc-input__control" 
        id="id-submit" 
        type="text" 
        name="search" 
        data-ref="input" 
        value="@Model.Filters.SearchQuery"
        data-track-event="@(speciesString) @(pillarString) Product Filter Text Search"
        data-track-category="@(speciesString) Product Filter"                    
        data-track-label="Text Search"
        data-track-breed-id=""
        data-track-specie-id="@(speciesId)"
        data-track-age=""
         />
    <label class="rc-input__label" for="id-submit">
        <span class="rc-input__label-text">
            @TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.starttyping")
        </span>
    </label>
</span>
<button class="rc-md-down rc-btn rc-btn--icon-label rc-icon rc-filter--xs rc-iconography" data-filter-trigger="product-filter-aside">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.filters")</button>
<header class="rc-filters__header rc-filters__header--border-none rc-padding--none">
    <h1 class="rc-filters__heading rc-padding-bottom--xs rc-padding-left--xs rc-header-with-icon rc-header-with-icon--alpha rc-md-up">
        <span class="rc-md-up rc-icon rc-filter--xs rc-iconography"></span>
        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.filters")
    </h1>
    <ul class="rc-list rc-list--inline rc-list--blank rc-list--reset-margin rc-list--align tags-container" data-control="filter-tags"></ul>
</header>
<aside class="rc-filters" data-filter-target="product-filter-aside">
    <div class="rc-filters__form">
        <header class="rc-filters__header rc-md-down">
            <button class="rc-stick-left rc-btn rc-btn--icon rc-icon rc-close--xs rc-iconography" data-filter-trigger="product-filter-aside" type="button"></button>
            <h1 class="rc-filters__heading rc-padding-bottom--xs rc-header-with-icon rc-header-with-icon--alpha">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.filters")</h1>
        </header>
        <main class="rc-filters__main">
            @{
                var i = 0;
            }
            @foreach (var filterFolder in Model.FilterGroups)
            {
                var items = filterFolder.GetItems(Model.Specie.Id).Where(x => Model.DefaultFacets.Keys.Contains(x.Id.ToString("N"), StringComparer.OrdinalIgnoreCase));
                var filterValue = Model.Filters.FiltersDictionary.ContainsKey(filterFolder.RequestParameterName) ? Model.Filters.FiltersDictionary[filterFolder.RequestParameterName] : string.Empty;
                if (!items.Any())
                {
                    continue;
                }
                <div class="rc-list__accordion-item">
                    <fieldset class="rc-fieldset"
                              data-toggle-group
                              data-toggle-effect="rc-expand--vertical"
                              data-ref="filter-category"
                              data-filter-category="@filterFolder.RequestParameterName"
                              role="presentation">
                        <legend class="rc-list__header rc-border--none rc-padding-left--none" id="header-id-@i" data-toggle="category-id-@i">
                            <strong>@filterFolder.FilterGroupLabel</strong>
                            <a class="rc-styled-link rc-list__header-link rc-hidden" href="#/" data-ref="clear-category-filters-btn">
                                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.clear")
                            </a>
                        </legend>

                        @if (filterFolder.FilterControlType != null && filterFolder.FilterControlType.Id == Constants.SitecoreIds.FilterControlTypes.SliderId.Guid)
                        {
                            var values = items.Select(x => new { value = Convert.ToDecimal(x.Value, new NumberFormatInfo { NumberDecimalSeparator = "." }), title = x.Text, age = x.Age });
                            <div class="rc-list__content" aria-labelledby="header-id-@i" id="category-id-@i">
                                <div class="rc-slider" data-ref="filter-range" id="range-id-@i">
                                    <input type="hidden" 
                                        name="range-id-@i" 
                                        value="@(Model.Filters.FeedingPeriod > 0 ? Model.Filters.FeedingPeriod.ToString() : string.Empty)" 
                                        data-ref="filter-input-range"
                                        data-track-event="@(speciesString) @(pillarString) Product Filter Update Age"
                                        data-track-category="@(speciesString) Product Filter"
                                        data-track-action="{Selected value}"
                                        data-track-label="Update Age"
                                        data-track-breed-id=""
                                        data-track-specie-id="@(speciesId)"
                                        data-track-age="{Age}"
                                        >
                                    <script type="application/json" data-ref="filter-range-options-json">
                                        @Html.Raw(Json.Encode(values))
                                    </script>
                                </div>
                            </div>
                        }
                        else
                        {
                            <ul class="rc-list rc-list__content rc-list--blank rc-list--align" id="category-id-@i" aria-labelledby="header-id-@i" role="menu">
                                @{
                                    var j = 0;
                                }
                                @foreach (var filterItem in items)
                                {
                                    var filterItemId = filterItem.Id.ToString("N");
                                    var filterChecked = filterValue?.Contains(filterItemId) ?? false;
                                    var productCount = Model.CurrentFacets.ContainsKey(filterItemId) ? Model.CurrentFacets[filterItemId] : 0;

                                    <li class="rc-list__item">
                                        <div class="rc-input rc-input--stacked @(productCount == 0 ? "is-disabled" : string.Empty)" data-ref="filter-checkbox-parent">                                          
                                            <input class="rc-input__checkbox"
                                                   id="checkbox-id-@i-@j"
                                                   type="checkbox"
                                                   name="checkbox-id-@i-@j"
                                                   value="@filterItemId"
                                                   data-label="@filterItem.FilterLabel.OrDefault(filterItem.Text)"                                                   
                                                   data-track-event="@(speciesString) @(pillarString) Product Filter Update @(filterFolder.FilterGroupLabel)"
                                                   data-track-category="@(speciesString) Product Filter"
                                                   data-track-action="@filterItem.FilterLabel.OrDefault(filterItem.Text)"
                                                   data-track-label="Update @(filterFolder.FilterGroupLabel)"
                                                   data-track-breed-id="@(filterItem.BreedId)"
                                                   data-track-specie-id="@(speciesId)"
                                                   data-track-age="@(filterItem.Age)"
                                                   data-ref="filter-checkbox"
                                                   @Html.Raw(filterChecked ? "checked='checked'" : string.Empty)
                                                   @(productCount == 0 ? "disabled" : string.Empty) />
                                            <label class="rc-input__label--inline" for="checkbox-id-@i-@j">@filterItem.Text (<span data-ref="filter-facet" data-facet-id="@filterItemId">@(productCount)</span>)</label>
                                        </div>
                                    </li>

                                    j++;
                                }
                            </ul>
                        }
                    </fieldset>
                </div>

                i++;
            }
            <a class="rc-styled-link rc-margin-top--sm rc-md-up rc-hidden" href="#" data-ref="clear-all-filters-link">
                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.clearallfilters")
            </a>
        </main>
        <footer class="rc-filters__footer rc-md-down">
            <button class="rc-btn rc-btn--two rc-full-width rc-margin-bottom--md" data-filter-trigger="product-filter-aside" data-ref="clear-all-filters-btn">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.clearallfilters")</button>
            <button class="rc-btn rc-btn--one rc-full-width" data-filter-trigger="product-filter-aside" data-ref="apply-filters">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.applyfilters")</button>
            <div class="rc-padding-bottom--lg"></div>
        </footer>
    </div>
</aside>
