﻿@using Delete.Feature.Products.Resolvers
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@model Delete.Feature.Products.Models.LocalProduct
@{
    var hideOnMobile = ViewData["hideOnMobile"] as bool? ?? false;
    var position = ViewData["productPosition"] as int? ?? -1;
}
<div class="rc-column @(hideOnMobile?" rc-md-up":"")">
    <a class="rc-card__link rc-full-width" 
        href="@Model.Url"
        data-component="product-track"
        data-product-details='@(Html.RenderJson(Model.GetGTMData("Search Results", position).ToJson(), false))'>
        <article class="rc-card rc-card--product rc-padding--sm rc-full-width">
            <picture class="rc-card__image ">
                <img class="rc-card__bagshot rc-padding-bottom--sm lazyload"
                     src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 3'%3E%3C/svg%3E")"
                     data-srcset="@Html.GetResizedSrcSet(Model.ExtendedImage1_BAG?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                     data-sizes="auto"
                     alt="@Model.ExtendedProductName">
                @if (!IsAjax)
                {
                    @Html.RenderJson(Model.ExtendedImage1_BAG.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                }
            </picture>
            <div class="rc-text--center">
                <header>
                    <h1 class="rc-card__title">@Model.ExtendedProductName</h1>
                </header>
            </div>
            @if (!IsAjax)
            {
                @Html.RenderJson(Model.GetMicrodata(new DefaultOrganizationAuthorResolver(), new DefaultBrandBrandResolver(), new BazaarvoiceProductReviewResolver()))
            }
        </article>
    </a>
</div>