@using Delete.Feature.Products.Models
@using Delete.Foundation.MultiSite.Extensions
@using Delete.Feature.Products.Resolvers
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@inherits GlassView<LocalProduct>

@helper RenderBenefitIfNotEmpty(string text, string title = null)
{
    var hasText = !string.IsNullOrEmpty(text);
    var hasTitle = !string.IsNullOrEmpty(title);
    if (hasText || hasTitle)
    {   <div class="rc-template__benefit-item rc-margin-x--none rc-padding-bottom--md--desktop rc-padding-bottom--md--mobile rc-padding-x--sm--desktop  ">
                <div class="rc-padding-x--none--mobile ">
                    @if (hasTitle)
                        {
                            <h3 class="rc-delta rc-margin-y--none rc-padding-bottom--sm--mobile rc-padding-bottom--xs--desktop">@title</h3>
                        }

                    <p class="rc-margin-y--none">@text
                    </p>
                </div>
        </div>
    }
}

@{
	var showBenefits = Model.HasBenefitsText || (Sitecore.Context.Site.IsUsSite() && !string.IsNullOrEmpty(Model.ExtendedTextSpare2));
}

@if (Context.IsAmpRequest() && showBenefits)
{ 
	<button class="rc-tab rc-btn tabButton" selected option="a" role="tab">
		@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.thebenefits")</button>
	<div class="rc-padding-y--sm rc-tab-content" role="tabpanel">
		<div class="rc-layout-container rc-max-width--md">
			<div class="rc-column">	
				@RenderBenefitIfNotEmpty(Model.ExtendedMainBenefit, Model.ExtendedBenefitTitle1)
				@RenderBenefitIfNotEmpty(Model.ExtendedSecondaryBenefit, Model.ExtendedBenefitTitle2)
				@RenderBenefitIfNotEmpty(Model.ExtendedBenefitText, Model.ExtendedBenefitTitle3)
				@RenderBenefitIfNotEmpty(Model.ExtendedBenefitText4, Model.ExtendedBenefitTitle4)
				@RenderBenefitIfNotEmpty(Model.ExtendedBenefitText5, Model.ExtendedBenefitTitle5)
				@RenderBenefitIfNotEmpty(Model.ExtendedBenefitText6, Model.ExtendedBenefitTitle6)
				@if (Sitecore.Context.Site.IsUsSite())
				{
				@RenderBenefitIfNotEmpty(Model.ExtendedTextSpare2)
				}
			</div>
		</div>
	</div>	
} else {
if (showBenefits)
{
	<div class="rc-list__accordion-item">
		<dt>
			<button class="rc-list__header" id="rc-benefits-heading" data-toggle="rc-benefits-content" data-js-open='true'>@TranslateHelper.TextByDomainCached("Translations",
				"translations.feature.products.thebenefits")</button>
		</dt>
		<dd class="rc-list__content" id="rc-benefits-content" aria-labelledby="rc-benefits-heading" data-content-class='rc-max-width--md rc-padding-x--lg'>
			<span class="rc-large-intro"></span>
			<div class="rc-layout-container ">
				<div class="rc-column rc-padding-left--none--desktop rc-padding--none--mobile rc-padding-top--none--desktop">
					@RenderBenefitIfNotEmpty(Model.ExtendedMainBenefit, Model.ExtendedBenefitTitle1)
					@RenderBenefitIfNotEmpty(Model.ExtendedSecondaryBenefit, Model.ExtendedBenefitTitle2)
					@RenderBenefitIfNotEmpty(Model.ExtendedBenefitText, Model.ExtendedBenefitTitle3)
					@RenderBenefitIfNotEmpty(Model.ExtendedBenefitText4, Model.ExtendedBenefitTitle4)
					@RenderBenefitIfNotEmpty(Model.ExtendedBenefitText5, Model.ExtendedBenefitTitle5)
					@RenderBenefitIfNotEmpty(Model.ExtendedBenefitText6, Model.ExtendedBenefitTitle6)
					@if (Sitecore.Context.Site.IsUsSite())
					{
					@RenderBenefitIfNotEmpty(Model.ExtendedTextSpare2)
					}
				</div>
			</div>
		</dd>
	</div>
}
}

