@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@inherits GlassView<Delete.Feature.Products.Models.LocalProduct>

@if (Model.Images != null && Model.Images.Count > 0)
{
    if (Context.IsAmpRequest())
    {
        <amp-carousel class="image-gallery image-gallery--product"
                      layout="responsive"
                      height="500"
                      width="500"
                      type="slides"
                      controls>
        @foreach (var image in Model.Images)
        {
            <div class="slide">
                <amp-img srcset="@Html.GetResizedSrcSet(image)"
                         layout="responsive"
                         width="500"
                         height="500"
                         alt="@(!string.IsNullOrEmpty(image.Alt) ? image.Alt : Model.ExtendedProductName)">
                </amp-img>
            </div>
        }
        </amp-carousel>
    }
    else
    {
        <div data-js-carousel data-image-gallery="true" data-move-carousel-up='md' data-move-carousel-to='#new-carousel-container'>
            <div class="rc-carousel rc-carousel--lazyload rc-carousel__gallery-image" data-zoom-container="product-description-carousel"
                 data-zoom-factor="3">
                @foreach (var image in Model.Images)
                {
                    <div>
                        <div>
                            <picture>
                                <source srcset="@Html.GetResizedMediaUrl(image, 500)" media="(min-width: 1500px)" />
                                <source srcset="@Html.GetResizedMediaUrl(image, 250)" media="(min-width: 770px)" />
                                <source srcset="@Html.GetResizedMediaUrl(image, 740)" media="(min-width: 600px)" />
                                <source srcset="@Html.GetResizedMediaUrl(image, 570)" media="(min-width: 450px)" />
                                <img src="@Html.GetResizedMediaUrl(image, 420)" alt="@(!string.IsNullOrEmpty(image.Alt) ? image.Alt : Model.ExtendedProductName)" />
                                @Html.RenderJson(image.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                            </picture>
                        </div>
                    </div>
                }
            </div>

            <div class="rc-carousel__gallery-thumbnails-wrapper">
                <div class="rc-carousel rc-carousel__gallery-thumbnails">
                    @foreach (var image in Model.Images)
                    {
                        <div class="rc-carousel__gallery-thumbnail">
                            <!-- w64 -->
                            <figure class="rc-img--square" style="background-image: url('@Html.GetResizedMediaUrl(image, 64)')">
                                <figcaption class="rc-screen-reader-text">@(!string.IsNullOrEmpty(image.Alt) ? image.Alt : Model.ExtendedProductName)</figcaption>
                            </figure>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}



  