@using System.Activities.Statements
@using System.Text.RegularExpressions
@using Delete.Feature.Products.Models
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Feature.Products.Models
@using Delete.Foundation.MultiSite.Extensions
@using Delete.Feature.Products.Resolvers
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@inherits GlassView<LocalProduct>
        
@if (Model.HasDescriptionText)
{

    if (Context.IsAmpRequest()) 
    {
        <button class="rc-tab rc-btn tabButton" selected option="a" role="tab">
                @TranslateHelper.TextByDomainCached("Translations",
                "translations.feature.products.productdescription")</button>
        <div class="rc-padding-y--sm rc-tab-content" role="tabpanel">
            <div class="rc-layout-container rc-max-width--md">
                <div class="rc-column">
                    @if (IsInEditingMode)
                    {
                    @Editable(x => x.ProductDescriptionOverride)
                    }
                    else
                    {
                    @Html.Raw(Model.ExtendedProductDescription)
                    }
                </div>
            </div>
        </div>
    } else {

    <div class="rc-list__accordion-item">
        <dt>
            <button class="rc-list__header" id="rc-decription-heading" data-toggle="rc-decription-content" data-js-open="@(!Model.HasBenefitsText ? "true" : "")">
                @TranslateHelper.TextByDomainCached("Translations",
                "translations.feature.products.productdescription")</button>
        </dt>
        <dd class="rc-list__content" id="rc-decription-content" aria-labelledby="rc-decription-heading">
            <div>
                <div class="rc-margin-y--none--desktop">
                    @if (IsInEditingMode)
                    {
                    @Editable(x => x.ProductDescriptionOverride)
                    }
                    else
                    {
                    @Html.Raw(Model.ExtendedProductDescription)
                    }
                </div>
            </div>
        </dd>
    </div>
    }
}
