@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@using Sitecore.Collections
@inherits GlassView<Delete.Feature.Products.Models.LocalProduct>

@{
    var localMarketSettings = SitecoreContext.GetLocalMarketSettings();
    var contactUsUrl = localMarketSettings?.ContactUsUrl?.BuildUrl(new SafeDictionary<string>()) ?? String.Empty;
}

<section>
    <div class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3">
        <!-- Mobile spacer -->
        <div class="rc-padding-y--md rc-md-down"></div>
        <div class="rc-layout-container rc-two-column rc-max-width--md rc-padding-md rc-content-h-middle rc-reverse-layout-mobile">
            <div class="rc-column">
                @if (Context.IsAmpRequest())
                {
                <amp-img srcset="@Html.GetResizedSrcSet(Model.ExtendedImage1_BAG)"
                         width="@(Model.ExtendedImage1_BAG?.Width)" height="@(Model.ExtendedImage1_BAG?.Height)"
                         layout="responsive"
                         alt="@(Model.ExtendedImage1_BAG?.Alt ?? Model.ExtendedProductName)">
                </amp-img>
                }
                else
                {
                    <picture class="rc-full-width rc-padding-top--md">
                        <img class="lazyload"
                             src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {Model.ExtendedImage1_BAG?.Width} {Model.ExtendedImage1_BAG?.Height}'%3E%3C/svg%3E")"
                             data-srcset="@Html.GetResizedSrcSet(Model.ExtendedImage1_BAG?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                             data-sizes="auto"
                             alt="@(Model.ExtendedImage1_BAG?.Alt ?? Model.ExtendedProductName)">
                    </picture>
                }
                @Html.RenderJson(Model.ExtendedImage1_BAG.GetMicrodata(new DefaultOrganizationAuthorResolver()))
            </div>
            <div class="rc-column">
                <div class="rc-padding-top--md">
                    <h2 class="rc-beta">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.askaquestiontitle")</h2>
                    <p>
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.askaquestiontext")
                    </p>
                    @if (contactUsUrl.NotEmpty())
                    {
                        <a class="rc-btn rc-btn--two" rel="nofollow" href="@Url.UrlWithParameters(contactUsUrl, new Dictionary<string, string>{{"productName", Model.ExtendedProductName}})">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.askaquestionbutton")</a>
                    }
                </div>
            </div>
        </div>
        <!-- Mobile spacer -->
        <div class="rc-padding-y--md rc-md-down"></div>      
    </div>
</section>