@using Delete.Feature.Products.Models
@using Delete.Feature.Products.Resolvers
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.MultiSite.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@inherits GlassView<Delete.Foundation.DeleteFoundationCore.Models.GlassBase>

@{
    var product = GetContextItem<LocalProduct>();
    var showAccordion = product.HasBenefitsText || product.HasDescriptionText;
}

@if (showAccordion)
{
    <div class="rc-layout-container rc-padding-y--sm rc-padding-top--none--desktop rc-bg-colour--brand3">

        <div class="rc-column rc-full-width">

        @if (Context.IsAmpRequest())
        { 
            <amp-selector role="tablist"
                              layout="container"
                              class="ampTabContainer">                    
                @Html.Partial("~/Views/Feature/Products/_ProductBenefits.cshtml", product)
                @Html.Partial("~/Views/Feature/Products/_ProductDescription.cshtml", product)
            </amp-selector>

        } else {
            
            <dl data-toggle-group data-toggle-effect="rc-expand--vertical" data-toggle-tabs='' data-rc-toggle-all-open=''
                class="" role="presentation">
                @Html.Partial("~/Views/Feature/Products/_ProductBenefits.cshtml", product)
                @Html.Partial("~/Views/Feature/Products/_ProductDescription.cshtml", product)
            </dl>
        }   

        </div>
    </div>
}

<div class="rc-padding-bottom--xs rc-bg-colour--brand4 "></div>
@Html.RenderJson(product.GetMicrodata(new DefaultOrganizationAuthorResolver(), new DefaultBrandBrandResolver(), new BazaarvoiceProductReviewResolver(), true))