@using Delete.Feature.Products.Models
@using Sitecore.Layouts
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc.Helpers
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.RoyalCaninCore.Helpers
@using Delete.Foundation.RoyalCaninCore
@inherits GlassView<Delete.Foundation.DeleteFoundationCore.Models.GlassBase>


@functions
{
    protected const string PlaceholderName = "rc-tab-panel";
    protected const int KibbleSeed = 10, /*IngredientsSeed = 20,*/ FeedingGuideSeed = 30;
}

@{
    var product = GetContextItem<LocalProduct>();
    var displayKibbleTab = product?.GlobalProduct?.Kibble != null;
    var hasIngredients = !string.IsNullOrWhiteSpace(product?.ExtendedIngredients?.StripHtml());
    var hasAdditives = !string.IsNullOrWhiteSpace(product?.ExtendedAdditives?.StripHtml());
    var displayIngredients = IsInEditingMode || hasIngredients || hasAdditives;
    var displayGuaranteedAnalysis = IsInEditingMode || !string.IsNullOrWhiteSpace(product?.ExtendedGuaranteedAnalysis?.StripHtml());
    var hasFeedingGuideText = SitecoreContext.IsDynamicPlaceholderNotEmpty(PlaceholderName, FeedingGuideSeed) || !string.IsNullOrWhiteSpace(product?.ExtendedFeedingGuide?.StripHtml());
    var displayfeedingGuide = IsInEditingMode || hasFeedingGuideText || product?.ExtendedFeedingGuideImage != null;
    var displayAnything = displayKibbleTab || displayIngredients || displayGuaranteedAnalysis || displayfeedingGuide;
    var firstNotSelected = true;
    var kibbleTabId = "tab-panel-kibble";
    var ingredientsTabId = "tab-panel-ingredients";
    var analysisTabId = "tab-panel-analysis";
    var guideTabId = "tab-panel-guide";
}

@if (displayAnything)
{
<div class="rc-layout-container rc-padding-y--sm rc-bg-colour--brand3">   
  
    <div class="rc-column rc-full-width" >
            @if (Context.IsAmpRequest())
            {
                <amp-selector role="tablist"
                              layout="container"
                              class="ampTabContainer">
                    @if (displayKibbleTab)
                    {
                        <button class="rc-tab rc-btn tabButton" selected option="a" role="tab">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.thekibble")</button>
                        <div class="rc-padding-y--sm rc-tab-content" role="tabpanel">
                            <div class="rc-layout-container rc-max-width--md">
                                <div class="rc-column">
                                    @{ Html.RenderPartial("~/Views/Feature/GenericComponents/Kibble.cshtml", product?.GlobalProduct?.Kibble); }
                                </div>
                            </div>
                        </div>
                        firstNotSelected = false;
                    }
                    @if (displayIngredients)
                    {
                        <button class="rc-tab rc-btn tabButton" @(firstNotSelected ? "selected" : "") option="b" role="tab">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.ingredients")</button>
                        <div class="rc-padding-y--sm rc-tab-content" role="tabpanel">
                            <div class="rc-layout-container rc-max-width--md">
                                <div class="rc-column">
                                    @if (IsInEditingMode)
                                    {
                                        @Editable(product, p => p.IngredientsOverride)
                                        @Editable(product, p => p.AdditivesOverride)
                                    }
                                    else
                                    {
                                        if (hasIngredients)
                                         {
                                             <div class="rc-full-width">
                                                 @Html.Raw(product.ExtendedIngredients)
                                             </div>
                                         }
                                        if (hasAdditives)
                                         {
                                             <div class="rc-full-width">
                                                 @Html.Raw(product.ExtendedAdditives)
                                             </div>
                                         }
                                    }
                                </div>
                            </div>
                        </div>
                        firstNotSelected = false;
                    }
                    @if (displayGuaranteedAnalysis)
                    {
                        <button class="rc-tab rc-btn tabButton" @(firstNotSelected ? "selected" : "") option="c" role="tab">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.guaranteedanalysis")</button>
                        <div class="rc-padding-y--sm rc-tab-content" role="tabpanel">
                            <div class="rc-layout-container rc-max-width--md">
                                <div class="rc-column">
                                    @if (IsInEditingMode)
                                    {
                                        @Editable(product, p => p.GuaranteedAnalysisOverride)
                                    }
                                    else
                                    {
                                        <div class="rc-full-width">
                                            @Html.Raw(product.ExtendedGuaranteedAnalysis)
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        firstNotSelected = false;
                    }
                    @if (displayfeedingGuide)
                    {
                        <button class="rc-tab rc-btn tabButton" @(firstNotSelected ? "selected" : "") option="d" role="tab">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.feedingguide")</button>
                        <div class="rc-padding-y--sm rc-tab-content" role="tabpanel">
                            <div class="rc-layout-container rc-max-width--md">
                                <div class="rc-column">
                                    @if (IsInEditingMode)
                                    {
                                        @Editable(product, p => p.FeedingGuideOverride)
                                        @Html.Sitecore().DynamicPlaceholder(PlaceholderName, seed: FeedingGuideSeed)
                                        @Editable(product, p => p.FeedingGuideImageOverride)
                                    }
                                    else if (hasFeedingGuideText)
                                    {
                                        <div class="rc-full-width">
                                            <div class="rc-wysiwyg">
                                                @Html.Raw(product.ExtendedFeedingGuide)
                                            </div>
                                        </div>
                                        @Html.Sitecore().DynamicPlaceholder(PlaceholderName, seed: FeedingGuideSeed)
                                    }
                                    else if (product?.ExtendedFeedingGuideImage != null)
                                    {
                                        var image = product.ExtendedFeedingGuideImage;
                                        int width = image.Width;
                                        int height = image.Height;
                                        <amp-img srcset="@Html.GetResizedSrcSet(image, ref width, ref height)"
                                                 width="@(width)" height="@(height)"
                                                 layout="responsive"
                                                 alt="@(image.Alt)">
                                        </amp-img>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </amp-selector>
            }
            else
            {
                bool expanded = false;
                <dl data-toggle-group data-toggle-effect="rc-expand--vertical" data-toggle-tabs='' data-rc-toggle-all-open=''  class="" role="presentation">
         
                            @if (displayKibbleTab)
                            {
                                expanded = true;
                                <div class="rc-list__accordion-item">
                                    <dt>
                                        <button class="rc-list__header" id="heading-@(kibbleTabId)" data-js-open='true' data-toggle="content-@(kibbleTabId)">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.thekibble")</button>
                                    </dt>
                                    <dd class="rc-list__content" id="content-@(kibbleTabId)" aria-labelledby="heading-@(kibbleTabId)">
                                        @{ Html.RenderPartial("~/Views/Feature/GenericComponents/Kibble.cshtml", product?.GlobalProduct?.Kibble); }
                                    </dd>
                                </div>
                            }
                            @if (displayIngredients)
                            {
                                <div class="rc-list__accordion-item">
                                    <dt>
                                        <button class="rc-list__header" id="heading-@(ingredientsTabId)" data-toggle="content-@(ingredientsTabId)" data-js-open=@(!expanded ? "true" : "")>
                                            @TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.ingredients")
                                        </button>
                                    </dt>
                                    <dd class="rc-list__content" id="content-@(ingredientsTabId)" aria-labelledby="heading-@(ingredientsTabId)">
                                            @if (IsInEditingMode)
                                            {
                                                @Editable(product, p => p.IngredientsOverride)
                                                @Editable(product, p => p.AdditivesOverride)
                                            }
                                            else
                                            {
                                                if (hasIngredients)
                                                 {
                                                     <div class="rc-full-width">
                                                         @Html.Raw(product.ExtendedIngredients)
                                                     </div>
                                                 }
                                                if (hasAdditives)
                                                 {
                                                     <div class="rc-full-width">
                                                         @Html.Raw(product.ExtendedAdditives)
                                                     </div>
                                                 }
                                            }
                                    </dd>
                                </div>
                                expanded = true;
                            }
                            @if (displayGuaranteedAnalysis)
                            {
                                <div class="rc-list__accordion-item">
                                    <dt>
                                        <button class="rc-list__header" id="heading-@(analysisTabId)" data-toggle="content-@(analysisTabId)" data-js-open=@(!expanded ? "true" : "")>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.guaranteedanalysis")</button>
                                    </dt>
                                    <dd class="rc-list__content" id="content-@(analysisTabId)" aria-labelledby="heading-@(analysisTabId)">
                                            @if (IsInEditingMode)
                                            {
                                                @Editable(product, p => p.GuaranteedAnalysisOverride)
                                            }
                                            else
                                            {
                                                <div class="rc-full-width">
                                                    @Html.Raw(product.ExtendedGuaranteedAnalysis)
                                                </div>
                                            }
                                    </dd>
                                </div>
                                expanded = true;
                            }
                            @if (displayfeedingGuide)
                            {
                                <div class="rc-list__accordion-item">
                                    <dt>
                                        <button class="rc-list__header" id="heading-@(guideTabId)" data-toggle="content-@(guideTabId)" data-js-open=@(!expanded ? "true" : "")>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.feedingguide")</button>
                                    </dt>
                                    <dd class="rc-list__content" id="content-@(guideTabId)" aria-labelledby="heading-@(guideTabId)">
                                        @if (IsInEditingMode)
                                        {
                                            @Editable(product, p => p.FeedingGuideOverride)
                                            @Html.Sitecore().DynamicPlaceholder(PlaceholderName, seed: FeedingGuideSeed)
                                            @Editable(product, p => p.FeedingGuideImageOverride)
                                        }
                                        else if (hasFeedingGuideText)
                                        {
                                            <div class="rc-full-width">
                                                <div class="rc-wysiwyg">
                                                    @Html.Raw(product.ExtendedFeedingGuide)
                                                </div>
                                            </div>
                                            @Html.Sitecore().DynamicPlaceholder(PlaceholderName, seed: FeedingGuideSeed)
                                        }
                                        else if (product?.ExtendedFeedingGuideImage != null)
                                        {
                                            var image = product.ExtendedFeedingGuideImage;
                                            <img class="lazyload" src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {image.Width} {image.Height}'%3E%3C/svg%3E")" data-srcset="@Html.GetResizedSrcSet(image?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))" data-sizes="auto" alt="@(!string.IsNullOrEmpty(image.Alt) ? image.Alt : product.Name)" />
                                        }
                                    </dd>
                                </div>
                            }
                </dl>
            }

    </div>
</div>

<div class="rc-padding-bottom--xs rc-bg-colour--brand4 "></div>
}
