@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Sitecore.Collections
@model Delete.Feature.Products.Models.ProductStockistsViewModel
@if (Model?.Stockists != null && Model.Stockists.Any())
{
    <div class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3">
        <!-- Mobile spacer -->
        <div class="rc-padding-y--md rc-md-down"></div>

        <div class="rc-layout-container rc-max-width--xl">
            <div class="rc-column">
                <div class="rc-beta">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.buyonline")</div>
            </div>
        </div>

        <div class="rc-layout-container rc-content-card rc-match-heights rc-max-width--xl">
            @foreach (var item in Model.Stockists)
            {
                <div class="rc-column">
                    <article class="rc-card rc-card--b">
                        @if (Context.IsAmpRequest())
                        {
                            if (item.Logo != null)
                            {
                            <amp-img srcset="@Html.GetResizedSrcSet(item.Logo)"
                                        width="@(item.Logo?.Width)" height="@(item.Logo?.Height)"
                                        layout="responsive"
                                        alt="@item.CompanyName">
                            </amp-img>
                            }
                        }
                        else
                        {                    
                        <picture class="rc-card__image">
                            @if (item.Logo != null)
                            {
                                <img class="lazyload"
                                     data-srcset="@Html.GetResizedSrcSet(item.Logo)"
                                     data-sizes="auto"
                                     alt="@item.CompanyName">
                            }
                            else
                            {
                                <div class="rc-bg-colour--brand4 rc-padding--md rc-text--center">
                                    <span class="rc-icon rc-bag rc-iconography"></span>
                                </div>
                            }
                        </picture>
                        }

                        <div class="rc-card__body">
                            <header>
                                @if (item.ProfileType != null)
                                {
                                    if (item.ProfileType.Name == "Trusted Partner")
                                    {
                                        <p class="rc-card__meta">Trusted Partner</p>
                                    }

                                }
                                <h3 class="rc-card__title">@item.CompanyName</h3>
                            </header>
                            @if (!item.Description.IsNullOrEmpty())
                            {
                                <p>@item.Description</p>
                            }

                            <a class="rc-styled-link--external"
                               target="_blank"
                               data-component="cta-event-tracker"
                               data-track-category="Find a Retailer / Outbound Link"
                               data-track-label=""
                               href="@(item.WebsiteURL?.Url)" rel="nofollow" title="@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.pleasevisitroyalcaninrangeat") @item.CompanyName">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.visitwebsite")</a>
                        </div>
                    </article>                    
                </div>

            }
        </div>        
        @if (Model.WhereToBuyLink != null)
            {
                <div class="rc-max-width--xl rc-padding-y--sm">
                    <div class="rc-text--center"><a class="rc-btn rc-btn--two" href="@Model.WhereToBuyLink.BuildUrl(new SafeDictionary<string>())">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.viewallretailers")</a></div>
                </div>
            }
    </div>
}