﻿@model Delete.Feature.Products.Models.Bazaarvoice.ReviewStatistics

<div class="rc-margin-y--none rc-padding-bottom--sm rc-padding--none--mobile rc-layout-container">
    <div class="rc-column rc-padding-y--none rc-padding-x--none--mobile">
        <div @Html.Raw(ViewBag.IsClickable ? "class=\"rc-content-v-left\" data-component=\"product-rating-link\"" : String.Empty)>  
            @{
                var rating = Model.AverageOverallRating;
                var ratingRange = Model.OverallRatingRange;
                var score = rating != 0 ? (int)((rating * 5/ ratingRange) + 0.5M) : 0;
            }
            @for (var i = 1; i <= 5; i++)
            {
                <span class="rc-icon rc-badge--icon-label rc-padding-x--xs--desktop rc-padding-x--xs--mobile  rc-margin-right--xs rc-rate-fill--xs @(i <= score ? "rc-brand1--xs" : "rc-iconography" )"></span>
            }               

            @if (ViewBag.IsClickable)
                {
                    <span class="rc-margin--none rc-text-colour--text">(@(Model.TotalReviewCount))</span>        
                }            
        </div>
    </div>
</div>

        

