@inherits GlassView<Delete.Feature.Products.Models.LocalProduct>

<div class="rc-padding-bottom--xl rc-bg-colour--brand3">
    <div class="rc-layout-container rc-layout-container rc-max-width--xl rc-padding-bottom--none">


        <div class="rc-column rc-md-up" id='new-carousel-container'>
        </div>

        <div class="rc-column rc-padding-y--none--desktop" id='product-description-carousel'>

            <div class="rc-product--header rc-padding-top--none">
                @Html.Partial("~/Views/Feature/Products/_ProductHeroPanelInfo.cshtml")
            </div>          
            <div class="rc-product--image-carousel">
                @Html.Partial("~/Views/Feature/Products/_ProductImageGallery.cshtml")
            </div>
        </div>
    </div>
</div>