@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@inherits GlassView<Delete.Feature.Products.Models.ProductCarousel>
@if (Model.Products != null && Model.Products.Any() || IsInEditingMode)
{
    <section class="rc-bg-colour--brand3 rc-padding--md rc-margin-bottom--xs">
        <div class="rc-padding-y--sm rc-md-down"></div>
        <div class="rc-max-width--xl" data-component="product-list-track">
            <div class="rc-carousel__header">
                <div class="rc-carousel__header-title">
                    <h4 class="rc-gamma">@Editable(x => x.Title)</h4>
                    @Editable(x => x.Subtitle)
                </div>
                @if (Model.Products != null && Model.ViewAllLinkUrl.NotEmpty())
                {
                    <a class="rc-carousel__header-link rc-styled-link--cta rc-md-up" href="@Model.ViewAllLinkUrl">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.viewall") @Model.Products.Count
                    </a>
                }
            </div>
            <div class="rc-carousel rc-carousel--lazyload rc-carousel--cards rc-match-heights" data-carousel--card-count="4" data-js-carousel data-rc-cards="true">
                <div class="rc-carousel__card-gal">
                    @if (Model.Products != null && Model.Products.Any())
                    {
                        var position = 0;
                        
                        foreach (var product in Model.Products)
                        {
                            <a class="rc-card__link rc-card__link--lazyload rc-full-width" 
                                href="@product.Url"
                                data-component="product-track"
                                data-product-details='@(Html.RenderJson(product.GetGTMData("Related Items", position++).ToJson(), false))'>
                                <article class="rc-card rc-card--product rc-padding--sm rc-full-width">
                                    <picture class="rc-card__image ">
                                        <img class="rc-card__bagshot rc-card__bagshot--lazyload rc-padding-bottom--sm lazyload--delay"
                                             src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 200'%3E%3C/svg%3E")"
                                             data-srcset="@Html.GetResizedSrcSet(product.ExtendedImage1_BAG?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                                             data-sizes="auto"                                             
                                             alt="@product.ExtendedProductName">
                                        @Html.RenderJson(product.ExtendedImage1_BAG.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                                    </picture>
                                    <div class="rc-text--center">
                                        <header>
                                            <h2 class="rc-card__title">@product.ExtendedProductName</h2>
                                            <span class="rc-btn rc-btn--two rc-btn--sm">
                                                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.viewproduct")
                                            </span>
                                        </header>
                                    </div>
                                </article>
                            </a>
                        }
                    }
                    else if (IsInEditingMode)
                    {
                        <p>There are no matching products.</p>
                    }
                </div>
            </div>
            @if (Model.Products != null && Model.ViewAllLinkUrl.NotEmpty())
            {
                <div class="rc-text--center">
                    <a class="rc-carousel__header-link rc-styled-link--cta rc-md-down rc-inline" href="@Model.ViewAllLinkUrl">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.viewall") @Model.Products.Count
                    </a>
                </div>
            }
        </div>
        <div class="rc-padding-y--sm rc-md-down"></div>
    </section>
}