﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Sitecore.Collections

@inherits GlassView<Delete.Feature.Products.Models.ProductPromotion>

@if (Model?.DateStart <= DateTime.Now && Model?.DateEnd >= DateTime.Now || IsInEditingMode)
{
<section>
    <div class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3">
        <!-- Mobile spacer -->
        <div class="rc-padding-y--md rc-md-down"></div>
        <div class="rc-layout-container rc-two-column rc-max-width--xl rc-padding-y--sm">
            <div class="rc-column">
                <div>
                    <h1 class="rc-alpha">@(Model?.Header)</h1>
                    <p>@(Model?.IntroText)</p>
                    <a href="@(Model?.ProductLink?.Url ?? Model?.CTALink?.BuildUrl(new SafeDictionary<string>()))" class="rc-btn rc-btn--one">@(Model?.CTAText)</a>
                </div>
            </div>
            <div class="rc-column">
                <picture>
                    @this.RenderLazyImage(x => x.Image, Html.GetResizedSrcSet(Model?.Image))
                </picture>
            </div>
        </div>
        <!-- Mobile spacer -->
        <div class="rc-padding-y--md rc-md-down"></div>      
    </div>
</section>
}