@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Feature.Products.Models
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@inherits GlassView<LocalProduct>

@{
    var product = GetContextItem<LocalProduct>();
}

@if (Model.BuyOnlineHeader.NotEmpty() || Model.BuyOnlineText.StripHtml().NotEmpty() || (Model.BuyOnlineLink?.Url).NotEmpty() || IsInEditingMode)
{
<section>
    <div class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3">
        <!-- Mobile spacer -->
        <div class="rc-padding-y--md rc-md-down"></div>
        <div class="rc-layout-container rc-two-column rc-max-width--xl rc-padding-y--sm">
            <div class="rc-column">
                    <div>
                        <div>
                            <h2 class="rc-beta">@Editable(x => x.BuyOnlineHeader)</h2>
                            @Editable(x => x.BuyOnlineText)

                            @if (product.BuyOnlineLink != null && string.IsNullOrWhiteSpace(product.BuyOnlineLink.Text))
                            {
                                product.BuyOnlineLink.Text = TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.buyonline");
                            }

                            @if (IsInEditingMode)
                            {
                                <br/>
                                <span class="@LinkHelper.GetLinkClass(Model.BuyOnlineLink, "rc-btn rc-btn--two")">@Editable(Model, x => x.BuyOnlineLink)</span>
                            }
                            else
                            {
                                var itemTitle = LinkHelper.RenderLinkTitle(Model.BuyOnlineLink, Model.Name);
                                @RenderLink(product, x => x.BuyOnlineLink, new { @class = LinkHelper.GetLinkClass(product.BuyOnlineLink, "rc-btn rc-btn--two"), title = itemTitle, aria_label = itemTitle, role = "text", rel = "noopener" }, isEditable: true)
                            }

                        </div>
                    </div>
                </div>
                <div class="rc-column rc-double-width">
                    <div class="rc-full-width">
                        @if (IsInEditingMode)
                        {
                            @Editable(Model, e => e.BuyOnlineImage)
                        }
                        else if (!string.IsNullOrEmpty(Model?.BuyOnlineImage?.Src))
                        {
                            if (Context.IsAmpRequest())
                            {
                                <amp-img srcset="@Html.GetResizedSrcSet(Model.BuyOnlineImage)"
                                         width="@(Model.BuyOnlineImage?.Width)" height="@(Model.BuyOnlineImage?.Height)"
                                         layout="responsive"
                                         alt="@(Model.BuyOnlineImage?.Alt)">
                                </amp-img>
                            }
                            else
                            {
                                <img class="lazyload" src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {Model.BuyOnlineImage.Width} {Model.BuyOnlineImage.Height}'%3E%3C/svg%3E")" data-srcset="@Html.GetResizedSrcSet(Model.BuyOnlineImage?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))" data-sizes="auto" alt="@(Model.BuyOnlineImage?.Alt)"/>
                            }

                            @Html.RenderJson(Model.BuyOnlineImage.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                        }
                    </div>
                </div>
        </div>
        <!-- Mobile spacer -->
        <div class="rc-padding-y--md rc-md-down"></div>      
    </div>
</section>
}