﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@model Delete.Feature.Products.Models.ProductReviewsViewModel

<section>        
    <div class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3">
            @if (Context.IsAmpRequest())
            {
                <div class="rc-layout-container">
                    <div class="rc-column">
                        <!-- Rating header -->
                        <div data-review-header>
                            <h3 class="rc-alpha">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.reviews.customerreviews")</h3>
                        </div>
                        <!-- / Rating header -->
                        @Html.Partial("~/Views/Feature/Products/_ProductReviewsList.cshtml", Model)
                    </div>
                </div>
                
            }
            else
            {
                <!-- Mobile spacer -->
                <div class="rc-padding-y--md rc-md-down"></div>
                <div class="rc-layout-container rc-two-column rc-max-width--xl rc-padding-top--sm">
                    <div class="rc-column">                
                        <h2 class="rc-beta" data-review-header>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.reviews.customerreviews")</h2>
                    </div>    
                    <div class="rc-column rc-text--right">
                        <span class="rc-margin-right--xs">
                            @{
                                var rating = Model.ReviewStatistics.AverageOverallRating;
                                var ratingRange = Model.ReviewStatistics.OverallRatingRange;
                                var score = rating != 0 ? (int)((rating * 5 / ratingRange) + 0.5M) : 0;
                            }
                            @for (var i = 1; i <= 5; i++)
                            {
                                <span class="rc-icon rc-rate-fill--xs @(i <= score ? "rc-brand1" : "rc-iconography" )"></span>
                            }
                        </span>
                        <a class="rc-btn rc-btn--two"
                            data-component="write-review"
                            data-js-source="@Model.JavaScriptUrl"
                            data-product-id="@Model.MainItemId"
                            href="#/">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.reviews.writeareview")</a>
                    </div>
                </div>
                <div class="rc-layout-container rc-two-column rc-max-width--xl rc-padding-bottom--sm">
                    <div class="rc-column">                    
                        <div data-component="listing-with-pagination"
                            data-endpoint="@Url.ApiAction("ProductReviews", "Review", new RouteValueDictionary(new {MainItemId = Model.MainItemId}))"
                            data-request-filter=""
                            data-request-category="">

                            @Html.Partial("~/Views/Feature/Products/_ProductReviewsList.cshtml", Model)

                            @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)
                        </div>
                    </div>
                </div>
            }        
    </div>
</section>