@using Delete.Feature.Products.Controllers
@using Delete.Feature.Products.Resolvers
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@model IEnumerable<Delete.Feature.Products.Models.LocalProduct>

@if (!Context.IsAmpRequest() && (Sitecore.Context.PageMode.IsExperienceEditorEditing || Model.Count() >= 2))
{

    <div class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3">
        <div class="rc-padding-y--md rc-md-down"></div>
        <div class="rc-layout-container rc-max-width--xl">
            <div class="rc-column">
                <h3 class="rc-beta">
                    @TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.recentlyviewedproducts")
                </h3>
            </div>
        </div>





        @if (Model.Any())
        {
            <div class="rc-layout-container rc-max-width--xl rc-event-card rc-match-heights rc-padding-bottom--sm"
                 data-component="product-list-track">
                @{

                    var position = 0;
                }
                @foreach (var product in Model.Reverse().Take(ProductsController.RecentlyViewedProductsNumber))
                {
                    <div class="rc-column">



                        <a class="rc-card__link rc-full-width"
                           href="@product.Url"
                           data-component="product-track"
                           data-product-details='@(Html.RenderJson(product.GetGTMData("Recently Viewed", position++).ToJson(), false))'>
                            <article class="rc-card rc-card--product rc-padding--sm rc-full-width">
                                <picture class="rc-card__image rc-padding-bottom--sm">
                                    <img class="rc-card__bagshot lazyload"
                                         src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 3'%3E%3C/svg%3E")"
                                         data-srcset="@Html.GetResizedSrcSet(product.ExtendedImage1_BAG?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                                         data-sizes="auto"
                                         alt="@product.ExtendedProductName">
                                    @Html.RenderJson(product.ExtendedImage1_BAG.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                                </picture>

                                <div class="rc-text--center">
                                    <header>

                                        <h1 class="rc-card__title">@product.ExtendedProductName</h1>
                                        @{ Html.RenderAction("ProductRating", "Review", new { MainItemId = product.GlobalProduct?.MainItemID, IsClickable = false }); }
                                    </header>
                                </div>


                                @Html.RenderJson(product.GetMicrodata(new DefaultOrganizationAuthorResolver(), new DefaultBrandBrandResolver(), new BazaarvoiceProductReviewResolver()))
                            </article>
                        </a>
                    </div>





                }
            </div>
        }


        <div class="rc-padding-y--md rc-md-down"></div>
    </div>

}
