@using Delete.Feature.Products.Resolvers
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers

@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<Delete.Feature.Products.Models.LocalProduct>>

@if (Model.Any())
{
    <section>
        <div class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3">
            <!-- Mobile spacer -->
            <div class="rc-padding-y--md rc-md-down"></div>
            <div class="rc-layout-container rc-max-width--xl">
                <div class="rc-column">
                    <div class="rc-beta">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.relatedproducts")</div>
                </div>

            </div>
            <div class="rc-layout-container rc-max-width--xl rc-event-card rc-match-heights rc-padding-bottom--sm"
                 data-component="product-list-track">
                @{
                    var position = 0;
                }
                @foreach (var product in Model)
                {
                    <div class="rc-column">
                        <a class="rc-card__link rc-full-width"
                           href="@product.Url"
                           data-component="product-track"
                           data-product-details='@(Html.RenderJson(product.GetGTMData("Related Items", position++).ToJson(), false))'>
                            <article class="rc-card rc-card--product rc-padding--sm rc-full-width">
                                @if (Context.IsAmpRequest())
                                {
                                    <div class="rc-card__image rc-padding-bottom--sm">
                                        <amp-img class="amp-img"
                                                 srcset="@Html.GetResizedSrcSet(product.ExtendedImage1_BAG?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                                                 width="@(product.ExtendedImage1_BAG?.Width)" height="@(product.ExtendedImage1_BAG?.Height)"
                                                 layout="responsive"
                                                 alt="@(product.ExtendedImage1_BAG?.Alt ?? product.ExtendedProductName)">
                                        </amp-img>
                                    </div>
                                }
                                else
                                {
                                    <picture class="rc-card__image  rc-padding-bottom--sm">
                                        <img class="rc-card__bagshot lazyload"
                                             data-srcset="@Html.GetResizedSrcSet(product.ExtendedImage1_BAG)"
                                             data-sizes="auto"
                                             alt="@product.ExtendedProductName">
                                    </picture>
                                }
                                @Html.RenderJson(product.ExtendedImage1_BAG.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                                <div class="rc-text--center">
                                    <header>
                                        <h3 class="rc-card__title">@product.ExtendedProductName</h3>
                                        @{ Html.RenderAction("ProductRating", "Review", new { MainItemId = product.GlobalProduct?.MainItemID, IsClickable = false }); }
                                    </header>
                                </div>
                                @Html.RenderJson(product.GetMicrodata(new DefaultOrganizationAuthorResolver(), new DefaultBrandBrandResolver(), new BazaarvoiceProductReviewResolver()))
                            </article>
                        </a>
                    </div>
                }
            </div>
            <!-- Mobile spacer -->
            <div class="rc-padding-y--md rc-md-down"></div>
        </div>
    </section>
}
else if (IsInEditingMode)
{
    <div class="rc-bg-colour--brand3">
        <div class="rc-max-width--xl rc-padding--lg">
            <h3 class="rc-alpha">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.relatedproducts") - No matching products to display</h3>
            <div class="rc-card-grid rc-card-grid--fixed rc-match-heights">
                <div class="rc-grid">
                    <article class="rc-card rc-card--b">
                        <picture class="rc-card__image">
                            <img src="/-/media/images/royalcaninranges.ashx" alt="Kitten and puppy playing with ball">
                        </picture>
                        <div class="rc-card__body">
                            <header>
                                <h1 class="rc-card__title">Headline</h1>
                            </header>
                            <p>Proin sem quam, ornare ac tortor sit amet, blandit aliquam turpis vel nibh...</p>
                        </div>
                    </article>
                </div>
                <div class="rc-grid">
                    <article class="rc-card rc-card--b">
                        <picture class="rc-card__image">
                            <img src="/-/media/images/royalcaninranges.ashx" alt="Kitten and puppy playing with ball">
                        </picture>
                        <div class="rc-card__body">
                            <header>
                                <h1 class="rc-card__title">Headline</h1>
                            </header>
                            <p>Proin sem quam, ornare ac tortor sit amet, blandit aliquam turpis.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
}
