﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@model Delete.Feature.Products.Models.SearchViewModel

<section class="rc-bg-colour--brand3 rc-padding--sm rc-margin-bottom--xs"
         data-component="filter-and-listing"
         data-endpoint="@Url.ApiAction("SearchProducts", "Products")"
         data-request-filter="@Model.FilterConfiguration"
         data-track-category="Products search">
    <div class="rc-max-width--xl">
        <div class="rc-layout-container rc-four-column">
            <div class="rc-column" data-control="filter-panel">
                @Html.Partial("~/Views/Feature/Products/_ProductsSearchAndFilter.cshtml", Model.FilterModel)
            </div>
            <div class="rc-column rc-triple-width">
                <div  data-control="filter-listing" data-component="product-list-track">
                    @Html.Partial("~/Views/Feature/Products/_ProductsSearchResults.cshtml", Model.SearchResultsModel)
                </div>
            </div>
        </div>
    </div>
</section>