@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DesignLanguage.Extensions
@using Sitecore.Globalization
@inherits GlassView<Delete.Feature.Products.Models.ViewProductConfiguration>

@if (Model.Product != null)
{
    <div class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3">
        <div class="rc-padding-y--md rc-md-down"></div>
        <div class="rc-layout-container rc-two-column rc-max-width--xl">
            <div class="rc-column">
                <div class="rc-full-width rc-padding-x--sm">
                    <h3 class="rc-beta">@Editable(Model, x => x.Title)</h3>
                    @Editable(Model, x => x.Content)
                    @if (Model.Content.Empty() && IsInEditingMode)
                    {
                        <br />
                    }
                    @if (IsInEditingMode)
                    {
                        <span class="rc-btn rc-btn--two">@Editable(Model, e => e.Link)</span>
                    }
                    else if (Model.Link != null)
                    {
                        <text>@Html.Button(Model.Link)</text>
                    }
                    else if (Model.Product != null)
                    {
                        <a class="rc-btn rc-btn--two"
                           href="@Model.Product.Url"
                           data-component="product-track"
                           data-product-details='@(Html.RenderJson(Model.Product.GetGTMData("Related Items").ToJson(), false))'>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.products.viewproduct")</a>
                    }
                </div>
            </div>
            <div class="rc-column">
                <picture class="rc-full-width rc-padding-x--sm">
                    @if (Model.Image != null || IsInEditingMode)
                    {
                        <text>
                            @this.RenderLazyImage(x => x.Image, Html.GetResizedSrcSet(Model.Image))
                        </text>
                    }
                    else if (Model.Product?.ExtendedImage1_BAG != null)
                    {
                        <text>
                            @this.RenderLazyImage(Model.Product, x => x.ExtendedImage1_BAG, Html.GetResizedSrcSet(Model.Product.ExtendedImage1_BAG))
                        </text>
                    }
                </picture>
            </div>
        </div>
        <div class="rc-padding-y--md rc-md-down"></div>
    </div>
}


