@import '~styleSettings';

div[data-component="tencent-video"],
.rc-max-width--md {
    position: relative;
}
.rc-tencent-video-btn.rc-btn {
    position: absolute;
    top: 0;
    bottom: 0;    
    left: 0;
    right: 0;
    max-width: 44px;
    margin: auto;
    display: block; 
    &.rc-hidden{
        display: none;
    }
    &:hover {
        transform: scale(1.11);
    }

    .ie11 & {
        left: 48%;
    }
}
.rc-video-poster {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: $color-brand3;
    overflow: hidden;
    z-index: 20;   
}