@import '~styleSettings';

.author-panel {
    width: 100%;
    display: flex;
    align-items: center;

    &__image {
        padding: 0 24px 0 0;
    }

    &__published {
        display: block;
        font-size: 0.9rem;
    }

    &__name {
        display: block;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;

        @media (--medium) {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }
    }
}
