﻿@using Delete.Feature.LanguagePicker.Extensions
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@model IEnumerable<Delete.Feature.LanguagePicker.Models.Region>
<aside role="modal" class="rc-modal rc-modal--full rc-hidden" data-modal-target="country-lang-selector">
    <div class="rc-modal__container">
        <header class="rc-modal__header">
            <button class="rc-modal__close rc-btn rc-btn--icon-label rc-icon rc-close--xs rc-iconography" data-modal-trigger="country-lang-selector">
                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.languagepicker.close")
            </button>
        </header>
        <section class="rc-modal__content rc-max-width--xl">
            <div data-component="languagepicker">
                <div class="rc-alpha rc-modal__title rc-text--center">
                    @TranslateHelper.TextByDomainCached("Translations", "translations.feature.languagepicker.selectyourlocation")
                </div>

                <div class="rc-fade--x margin-y--md">
                    <nav class="rc-tabs__controller  rc-fade--x" data-toggle-group="">
                        <ul class="rc-scroll--x rc-list rc-list--inline rc-list--align rc-list--blank" role="tablist">
                            @foreach (var region in Model)
                            {
                                var regionName = region.DisplayName.OrDefault(region.Name);
                                <li>
                                    <button class="rc-tab rc-tab--img rc-btn" 
                                        data-toggle="tab-@region.CssClassName" 
                                        role="tab"
                                        data-ref="language-continent"                                    
                                        data-track-category="Country Selector / Menu"
                                        data-track-label="@regionName"
                                        @if (region.IsCurrent) { <text>data-active-continent="true"</text> }>
                                        <figure class="rc-tab__img rc-img--round rc-img--round--lg rc-img--@region.CssClassName">
                                            <figcaption class="rc-screen-reader-text">@regionName</figcaption>
                                        </figure>
                                        <span class="rc-tab__label">@regionName</span>
                                    </button>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>

                <div class="rc-max-height--med rc-scroll--y">
                    @foreach (var region in Model)
                    {
                        <div id="tab-@region.CssClassName" role="tabpanel">
                            <ul class="rc-list rc-list--align rc-list--blank rc-list--five-column">
                                @foreach (var country in region.Countries)
                                {
                                    <li class="rc-list__item">
                                        <a 
                                        class="rc-btn rc-btn--icon-label" 
                                        data-component="cta-event-tracker"
                                        data-track-category="Country Selector / Menu"
                                        data-track-label="@country.CountryNativeName"
                                        data-ref="language-country"  
                                        data-country-code="@country.GetWebSiteURL()"
                                        href="@country.GetWebSiteURL()">@country.CountryNativeName</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
</aside>