@import '~styleSettings';

/* critical:start */

/* Autocomplete Google Places Maps JavaScript API */
.pac-container {
    z-index: 10;
    font-family: 'RC TYPE', Roboto, Avenir, Helvetica, Arial, sans-serif !important;
    font-weight: 300;
    border: 1px solid $color-interface;
    box-shadow: none;
}

.pac-item {
    padding: 10px;
    font-size: 0.875rem;
    cursor: pointer;
    border: none;

    &-selected {
        background-color: $color-interface;
    }

    &:hover {
        background-color: $color-brand4;
    }
}

.pac-item-query {
    font-size: 0.875rem;
}

.pac-matched {
    font-weight: 500;
}
/* critical:end */
