﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.Carousel>

@if (Model.Slides != null && Model.Slides.Any())
{
    <div class="rc-carousel__section">
        <div class="rc-carousel__slides">
            @foreach (var slide in Model.Slides)
            {
                <div class="rc-carousel__slide">

                    @if (slide.Subtitle.NotEmpty() || slide.Article != null || IsInEditingMode)
                    {
                        <div class="rc-carousel__slide-anim-wrap">
                            <span class="rc-carousel__slide-meta">
                                @if (slide.Article != null && slide.Subtitle.Empty())
                                {
                                    @slide.Article.Date.ToString("dd MMM yy")
                                }
                                else
                                {
                                    @Editable(slide, x => x.Subtitle)
                                }
                            </span>
                        </div>
                    }

                    @if (slide.Title.OrDefault(slide.Article?.Heading).NotEmpty() || IsInEditingMode)
                    {
                        <div class="rc-carousel__slide-anim-wrap">
                            <h2 class="rc-carousel__slide-title rc-beta">
                                @if (slide.Article != null && slide.Title.Empty())
                                {
                                    @slide.Article.Heading
                                }
                                else
                                {
                                    @Editable(slide, x => x.Title)
                                }
                            </h2>
                        </div>
                    }

                    @if (slide.Intro.OrDefault(slide.Article?.Summary).NotEmpty() || IsInEditingMode)
                    {
                        <div class="rc-carousel__slide-anim-wrap">

                            <div class="rc-carousel__slide-desc">
                                @if (slide.Article != null && slide.Intro.Empty())
                                {
                                    <p>@(slide.Article?.Summary)</p>
                                }
                                else
                                {
                                    @Editable(slide, x => x.Intro)
                                }
                            </div>
                        </div>
                    }

                    @if (slide.Link.NotEmpty() && slide.LinkText.NotEmpty() || IsInEditingMode)
                    {
                        <div class="rc-carousel__slide-anim-wrap">
                            @if (slide.CTAText.NotEmpty())
                            {
                                <a href="@(slide.Link)" class="rc-carousel__slide-btn rc-btn rc-btn--one">@Editable(slide, x => x.CTAText)</a>
                            }
                            else
                            {
                                @RenderLink(slide, x => x.CTALink, new { @class = "rc-carousel__slide-btn rc-btn rc-btn--one", title = LinkHelper.RenderLinkTitle(slide.CTALink, slide.Name) })
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>

    <div class="rc-carousel__section">
        <div data-js-carousel="" data-has-slides="true">
            @foreach (var slide in Model.Slides)
            {
                <div>
                    @using (BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature/GenericComponents/Carousel Slide", slide.Id.ToString()))
                    {
                        if (slide.IsVideo)
                        {
                            <div class="rc-video-wrapper rc-video-wrapper--full-width">
                                @if (slide.YoutubeVideoId.NotEmpty())
                                {

                                    <iframe src="https://www.youtube.com/embed/@(slide.YoutubeVideoId)?autoplay=1" frameborder="0" allowfullscreen=""></iframe>
                                }
                                else
                                {
                                    <video muted autoplay loop controls>
                                        <source src="@(slide.Video?.Src)"
                                                type="video/mp4">
                                    </video>
                                }
                            </div>
                        }
                        else if (slide.ExtendedImage != null)
                        {
                            if ((slide.Image?.Src).NotEmpty() && IsInEditingMode)
                            {
                                @Editable(slide, e => e.Image)
                            }
                            else
                            {
                                <img class="lazyload"
                                     src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 3'%3E%3C/svg%3E")"
                                     data-srcset="@Html.GetResizedSrcSet(slide.ExtendedImage?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                                     data-sizes="auto"
                                     alt="@(!string.IsNullOrEmpty(slide.ExtendedImage.Alt) ? slide.ExtendedImage.Alt : Model.Name)">
                            }
                        }
                        else if (IsInEditingMode)
                        {
                            <p>Please select an article, image or video</p>
                        }
                    }
                </div>
            }
        </div>
    </div>
}
else if (IsInEditingMode)
{
    <p>Please add a slide to the carousel.</p>
}