@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@inherits GlassView<Delete.Feature.GenericComponents.Models.TabbedLifestagesNavigationModel>

@if (Model?.ListingItemSettings != null && Model?.Items != null && Model.Items.Any())
{
    <div class="rc-padding--xs rc-bg-colour--brand3 
    @(Model.ListingItemSettings.ChildPage && !IsInEditingMode ? "tabbed-nav" : "")"  
    data-component="@(Model.ListingItemSettings.ChildPage && !IsInEditingMode ? "article-tabbed-nav" : "")" >
        <div class="rc-max-width--xl rc-spacer-sides-small">
            <div class="rc-fade--x tabbed-nav__wrapper" data-ref="list-wrapper">
                <ul class="rc-scroll--x rc-list rc-list--inline rc-list--align rc-list--blank tabbed-nav__list rc-tab--centered" role="tablist" data-ref="list">
                    @{
                        var tab = 0;
                    }
                    @foreach (var navigationItem in Model.Items)
                    {
                        <li>     
							@using (BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature/GenericComponents/Image Tab", navigationItem.Id.ToString()))
							{
							    <a class="rc-tab rc-tab--img rc-btn" href="@navigationItem.Url" data-toggle="image__panel-@tab" role="tab"
							       @if (navigationItem.Fullpath.Equals(Sitecore.Context.Item.Paths.FullPath))
							       {
							           <text>aria-selected="true"</text>
							       }>
							        <figure class="lazyload rc-tab__img rc-img--round rc-img--round--@(Model.ListingItemSettings.ChildPage ? "md" : "lg")
                                    @(navigationItem.TabImage == null ? "img--quote-no-image" : "")" data-bgset="@Html.GetResizedSrcSet(navigationItem.TabImage?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))" data-altset="test">
                                        <figcaption class="rc-screen-reader-text">@navigationItem.TabTitle</figcaption>
							        </figure>
							        @if (navigationItem.TabSubtitle.NotEmpty())
							        {
							            <span class="rc-tab__label">@navigationItem.TabSubtitle</span>
							        }
							        @if (navigationItem.TabTitle.NotEmpty())
							        {
							            <span class="rc-tab__label">@navigationItem.TabTitle</span>
							        }
							    </a>
							}
                        </li>
                        tab++;
                    }
                </ul>
            </div>
        </div>
    </div>    
}
else if (IsInEditingMode)
{
    <p>Please check the option "Show In Tabs" on child pages to add them to tabs.</p>
}


