﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Sitecore.Shell

@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.YouTubeVideo>

@if (IsInEditingMode)
{
    <div>
        https://www.youtube.com/embed/
        @Editable(Model, x => x.VideoID)
    </div>
    <div>
        SEO Video Name
        @Editable(Model, x => x.SEOVideoName)
    </div>
    <div>
        SEO Video Description
        @Editable(Model, x => x.SEOVideoDescription)
    </div>
    <iframe title="@Model.SEOVideoName" src="https://www.youtube.com/embed/@(Model.VideoID)?rel=0&showinfo=0@(Model.Autoplay ? "&autoplay=1" : "")" style='top: 25%;height: 70%;width: 70%;' frameborder="0" allowfullscreen=""></iframe>

}
else if (Context.IsAmpRequest())
{
    <amp-youtube width="1024"
                 height="768"
                 layout="responsive"
                 data-videoid="@Model.VideoID"
                 @(Model.Autoplay ? "autoplay" : "")>
    </amp-youtube>
}
else
{
    <iframe title="@Model.SEOVideoName" src="https://www.youtube.com/embed/@(Model.VideoID)?rel=0&showinfo=0@(Model.Autoplay ? "&autoplay=1" : "")" frameborder="0" allowfullscreen=""></iframe>
}

@if (!Model.SEOVideoName.IsNullOrEmpty() && !Model.SEOVideoDescription.IsNullOrEmpty())
{
    @Html.RenderJson(Model.GetMicrodata(new DefaultOrganizationAuthorResolver()))
}
