@inherits GlassView<Delete.Feature.GenericComponents.Models.Accordion>

@if (Model != null)
{
    if (Model.AccordionItems != null && Model.AccordionItems.Any())
    {
<div class="rc-padding--sm @(Model.Spacers?.Value) rc-bg-colour--brand3">
    <div class="rc-padding-y--md rc-md-down"></div>
        <div class="rc-layout-container rc-one-colum @(Model.Width?.Value)">
            <div class="rc-column">

                <dl data-toggle-group data-toggle-effect="rc-expand--vertical" role="presentation">

                    @foreach (var accordionItem in Model.AccordionItems)
                    {
                        <div class="rc-list__accordion-item">
                            @using (BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature/GenericComponents/List Item", accordionItem.Id.ToString()))
                            {
                                <dt role="heading">

                                    @if (IsInEditingMode)
                                    {
                                        <strong class="rc-list__header" id="accordion-header-@accordionItem.Id" data-toggle="">@Editable(accordionItem, x => x.Title)</strong>
                                    }
                                    else
                                    {
                                        <button class="rc-list__header" id="accordion-header-@accordionItem.Id" data-toggle="accordion-content-@accordionItem.Id" type="button">@Editable(accordionItem, x => x.Title)</button>
                                    }
                                </dt>
                                <dd class="rc-list__content" id="accordion-content-@accordionItem.Id" aria-labelledby="accordion-header-@accordionItem.Id" role="region">
                                    @Editable(accordionItem, x => x.Content)
                                </dd>
                            }
                        </div>
                    }
                </dl>
            </div>
        </div>
    <div class="rc-padding-y--md rc-md-down"></div>
</div>
    }
    else
    {
        <p>Please insert a new item to accordion.</p>
    }
}