@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.AuthorPanel>
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers

@if (Model?.AuthorName.NotEmpty() == true && Model?.AuthorImage?.Src.NotEmpty() == true || IsInEditingMode)
{
<div class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3">
    <div class="rc-padding-y--md rc-md-down"></div>
    <div class="rc-layout-container rc-one-column rc-max-width--xl">
        <div class="rc-column">

            <div class="author-panel">

                <div class="author-panel__image">
                    @if (IsInEditingMode)
                    {
                        @Editable(Model, x => x.AuthorImage, new { @class = "rc-img--round rc-img--round--md" })
                    }
                    else if (Context.IsAmpRequest())
                    {
                        <figure class="rc-img--round rc-img--round--md" style="background-image: url('@Html.GetResizedMediaUrl(Model?.AuthorImage, 96)')">
                            <figcaption class="rc-screen-reader-text">Author</figcaption>
                        </figure>
                    }
                    else
                    {
                    <figure class="rc-img--round rc-img--round--md lazyload" data-bgset="@Html.GetResizedSrcSet(Model?.AuthorImage, 96)">
                        <figcaption class="rc-screen-reader-text">Author</figcaption>
                    </figure>
                    }
                    @Html.RenderJson(Model?.AuthorImage.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                </div>
                <div class="author-panel__details">
                    <span class="author-panel__published">
                            @Editable(Model, x => x.AuthorSubtitle)
                    </span>
                    <span class="author-panel__name">
                        @Editable(Model, x => x.AuthorName)
                    </span>
                    <span class="author-panel__title">
                        @Editable(Model, x => x.AuthorTitle)
                    </span>
                </div>
                
            </div>

        </div>
    </div>
    <div class="rc-padding-y--md rc-md-down"></div>
</div>

}
