﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.Carousel>

<div class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3 @(Model.EliminateTopSpacing ? "rc-eliminate-padding-top" : "")">
    <div class="rc-padding-y--md rc-md-down"></div>
    <div class="rc-layout-container rc-one-column">
        <div class="rc-column">
            <div class="rc-carousel rc-carousel--a rc-carousel--lazyload rc-carousel--left @(Model.PagerPosition?.Value) @(Model.Width?.Value) rc-full-width">
                @{ Html.RenderPartial("~/Views/Feature/GenericComponents/_CarouselSlides.cshtml", Model); }
            </div>
        </div>
    </div>
    <div class="rc-padding-y--md rc-md-down"></div>
</div>