﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.Carousel>

<section class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3 @(Model.EliminateTopSpacing ? "rc-eliminate-padding-top" : "")">
    <div class="rc-padding-y--md rc-md-down"></div>
    <div class="rc-carousel rc-carousel--lazyload rc-carousel--a @(Model.PagerPosition?.Value) @(Model.Width?.Value)" >
        @{ Html.RenderPartial("~/Views/Feature/GenericComponents/_CarouselSlides.cshtml", Model); }
    </div>
    <div class="rc-padding-y--md rc-md-down"></div>
</section>

