﻿@using Delete.Feature.GenericComponents.Extensions
@using Delete.Foundation.DesignLanguage.Extensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.ContentBlock>

@{
    var wrapperClass = $"{((Model.NoPaddingUnderColumn1 || Model.NoPaddingUnderColumn2) ? "rc-padding-x--sm" : "rc-padding--sm")} {Model.Spacers?.Value} {Model.BackgroundColour?.Value}";

    var containerClass = $"rc-layout-container {Html.GetContentBlockLayoutConteinerColumnCssClass(Model.Columns)} {Model.Width?.Value} rc-content-h-middle{(Model.ReverseLayoutOnMobile ? " rc-reverse-layout-mobile" : "")}";

    var column1Class = $"rc-column {(Model.NoPaddingUnderColumn1 ? "rc-padding-bottom--none" : "")} {Html.GetColumnWidth(Model.Columns, "w7030")} {(Model.FirstColumnAlignment?.Value)}";
    var column2Class = $"rc-column {(Model.NoPaddingUnderColumn2 ? "rc-padding-bottom--none" : "")} {Html.GetColumnWidth(Model.Columns, "w3070")} {(Model.SecondColumnAlignment?.Value)}";
    var mobileBottomSpacerClass = $"{((Model.NoPaddingUnderColumn1 || Model.NoPaddingUnderColumn2 || Model.ReverseLayoutOnMobile) ? "rc-hidden" : "rc-padding-y--md rc-md-down")}";
    var columnPadding = Html.IsInLayoutContainer() ? string.Empty : "rc-padding-x--sm";
}

<div class="rc-content-block @wrapperClass rc-full-width" data-component="content-animation">
    <div class="rc-padding-y--md rc-md-down"></div>
        <div class="@(containerClass)">
            @Html.Background(Model?.BackgroundType, Model?.BackgroundImage, Model?.BackgroundVideo)
            <div class="@(column1Class)">
                <div class="rc-full-width @(columnPadding)">
                    @Html.Sitecore().DynamicPlaceholder("rc-content-block-column", seed: 10)
                </div>
            </div>
            @if (Html.ShouldRenderSecondColumn(Model.Columns))
            {
                <div class="@(column2Class)">
                    <div class="rc-full-width @(columnPadding)">
                        @Html.Sitecore().DynamicPlaceholder("rc-content-block-column", seed: 20)
                    </div>
                </div>
            }
        </div>
    <div class="@(mobileBottomSpacerClass)"></div>
</div>
