﻿@using Delete.Feature.GenericComponents.Extensions
@inherits GlassView<Delete.Feature.GenericComponents.Models.ContentBlockWithTextAndImage>

@{
    var columnPadding = Html.IsInLayoutContainer() ? string.Empty : "rc-padding-x--sm";
}

<div class="rc-padding--sm @(Model.Spacers?.Value) @(Model.BackgroundColour?.Value)" data-component="content-animation">
    <div class="rc-padding-y--md rc-md-down"></div>

    <div class="rc-layout-container rc-one-column @(Model.Width?.Value)">
        <div class="rc-column">
            <div class="rc-full-width rc-text--center @columnPadding">
                @{ Html.RenderPartial("~/Views/Feature/GenericComponents/TextContentWithLink.cshtml", Model); }
            </div>
        </div>
    </div>

    <div class="rc-layout-container rc-one-column rc-max-width--xl">
        <div class="rc-column">
            <div class="rc-full-width @columnPadding">
                @{ Html.RenderPartial("~/Views/Feature/GenericComponents/InlineImage.cshtml", Model); }
            </div>
        </div>
    </div>

    <div class="rc-padding-y--md rc-md-down"></div>
</div>