@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Glass.Mapper.Sc.Fields
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Foundation.MultiSite.Models.ILocalMarketSettings>
@{
    decimal lat = 0, lon = 0, zoom = 0;
    if (Model.BusinessAddressLatitude != 0 || Model.BusinessAddressLongitude != 0)
    {
        lat = Model.BusinessAddressLatitude;
        lon = Model.BusinessAddressLongitude;
        zoom = Model.BusinessAddressMapZoom;
    }
    else
    if (Model.DefaultMapLatitude != 0 || Model.DefaultMapLongitude != 0)
    {
        lat = Model.DefaultMapLatitude;
        lon = Model.DefaultMapLongitude;
        zoom = Model.DefaultMapZoom;
    }
    var directionsUrl = $"https://www.google.com/maps?saddr=My+Location&daddr={lat},{lon}";
    var directionsValue = TranslateHelper.TextByDomainCached("Translations", "translations.feature.genericcomponents.getdirections");
    var directionsTitle = LinkHelper.RenderLinkTitle(new Link() {Target = "_blank"}, directionsValue);
}
<article class="rc-card">
    <div class="rc-card__image rc-card__image--map">
        <div class="map map--contacts"
             data-component="map"
             data-latitude="@lat"
             data-longitude="@lon"
             data-zoom="@(zoom > 0 ? zoom : 12)"></div>
    </div>
    <div class="rc-card__body rc-bg-colour--brand4">
        <div class="rc-text-with-icon rc-icon rc-pin--xs rc-iconography">
            @if (IsInEditingMode)
            {
                @Editable(x => x.BusinessAddressFullText)
            }
            else
            {
                @Html.Raw(Model.BusinessAddressFullText)
            }
            <a class="rc-styled-link" target="_blank" title ="@directionsTitle" href="@directionsUrl">@directionsValue</a>
        </div>
        <p>
            <a href="tel:@Model.ContactPhone" class="rc-btn rc-btn--icon-label rc-icon rc-mobile--xs rc-iconography">@Model.ContactPhone</a>
        </p>
    </div>

    @if (!Html.IsHomePage())
    {
        Html.RenderAction("OrganizationSchema", "GenericComponents");

        Html.RenderAction("LocalBusinessSchema", "GenericComponents");
    }

</article>
