﻿@using Delete.Feature.GenericComponents.Extensions
@using Delete.Feature.GenericComponents.Models
@inherits GlassView<Delete.Feature.GenericComponents.Models.ContentBlockWithTextAndVideo>

@{
    var columnPadding = Html.IsInLayoutContainer() ? string.Empty : "rc-padding-x--sm";
}

<div class="rc-padding--sm @(Model.Spacers?.Value) @(Model.BackgroundColour?.Value)" data-component="content-animation">
    <div class="rc-padding-y--md rc-md-down"></div>

    <div class="rc-layout-container rc-one-column @(Model.Width?.Value) rc-content-h-middle rc-reverse-layout">
        <div class="rc-column">
            <div class="rc-full-width rc-text--left @columnPadding">
                @{ Html.RenderPartial("~/Views/Feature/GenericComponents/TextContentWithLink.cshtml", Model); }
            </div>
        </div>
        <div class="rc-column">
            <div class="rc-full-width @columnPadding">
                <div class="rc-video-wrapper rc-margin-y--lg">
                    @{ Html.RenderPartial("~/Views/Feature/GenericComponents/_YouTubeVideo.cshtml", GetDataSourceItem<YouTubeVideo>()); }
                </div>
            </div>
        </div>
    </div>

    <div class="rc-padding-y--md rc-md-down"></div>
</div>