﻿@using Delete.Feature.GenericComponents.Extensions
@inherits GlassView<Delete.Feature.GenericComponents.Models.ContentBlockWithTextAndImage>

@{
    var columnPadding = Html.IsInLayoutContainer() ? string.Empty : "rc-padding-x--sm";
}

<div class="@(Model.NoPaddingUnderImage ? "rc-padding-x--sm" : "rc-padding--sm") @(Model.Spacers?.Value) @(Model.BackgroundColour?.Value) rc-full-width" data-component="content-animation">
    <div class="rc-padding-y--md rc-md-down"></div>

    <div class="rc-layout-container rc-one-column @(Model.Width?.Value) rc-content-h-middle rc-reverse-layout">
        <div class="rc-column">
            <div class="rc-full-width rc-text--left @columnPadding">
                @{ Html.RenderPartial("~/Views/Feature/GenericComponents/TextContentWithLink.cshtml", Model); }
            </div>
        </div>
        <div class="rc-column @(Model.NoPaddingUnderImage? "rc-padding-bottom--none" : "")">
            <div class="rc-full-width @columnPadding">
                @{ Html.RenderPartial("~/Views/Feature/GenericComponents/InlineImage.cshtml", Model); }
            </div>
        </div>
    </div>

    <div class="@(Model.NoPaddingUnderImage ? "rc-hidden" : "rc-padding-y--md") rc-md-down"></div>
</div>