﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DesignLanguage.Extensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.HeroPanel>

@{
    var wrapperClass = $"{((Model.NoPaddingUnderColumn1 || Model.NoPaddingUnderColumn2) ? "rc-padding-x--sm" : "rc-padding--sm")} {Model.Spacers?.Value} {Model.BackgroundColour?.Value}";


    var column1Class = $"rc-column {(Model.NoPaddingUnderColumn1 ? "rc-padding-bottom--none" : "")} {Html.GetColumnWidth(Model.Columns, "w7030")} {(Model.FirstColumnAlignment?.Value)}";
    var column2Class = $"rc-column {(Model.NoPaddingUnderColumn2 ? "rc-padding-bottom--none" : "")} {Html.GetColumnWidth(Model.Columns, "w3070")} {(Model.SecondColumnAlignment?.Value)}";
    var mobileBottomSpacerClass = $"{((Model.NoPaddingUnderColumn1 || Model.NoPaddingUnderColumn2) ? "rc-hidden" : "rc-padding-y--md rc-md-down")}";
    var leftColumnContainsImage = SitecoreContext.DoesPlaceholderContainRenderingByName(new List<string> {"Inline Image", "Parallax Image"}, "rc-hero-panel-column", 10);

    var containerClass = $"rc-layout-container {Html.GetContentBlockLayoutConteinerColumnCssClass(Model.Columns)} {Model.Width?.Value} rc-content-h-middle{(leftColumnContainsImage ? " rc-reverse-layout-mobile": "")} ";
}

<div class="@(wrapperClass)" data-component="content-animation">
    <div class="rc-padding-y--md rc-md-down"></div>
    <div class="@(containerClass)">
        @Html.Background(Model?.BackgroundType, Model?.BackgroundImage, Model?.BackgroundVideo)
        <div class="@(column1Class)">
            <div class="rc-full-width">
                @Html.Sitecore().DynamicPlaceholder("rc-hero-panel-column", seed: 10)
            </div>
        </div>
        @if (Html.ShouldRenderSecondColumn(Model.Columns))
        {
            <div class="@(column2Class)">
                <div class="rc-full-width">
                    @Html.Sitecore().DynamicPlaceholder("rc-hero-panel-column", seed: 20)
                </div>
            </div>
        }
    </div>
    <div class="@(mobileBottomSpacerClass)"></div>
</div>