﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<object>


@if (Context.IsAmpRequest())
{
    <amp-carousel class="image-gallery"
                  layout="responsive"
                  height="450"
                  width="500"
                  type="slides"
                  controls>
        @Html.Sitecore().DynamicPlaceholder("rc-image-gallery", seed: 10)
    </amp-carousel>
}
else
{
    <div class="@(Sitecore.Context.PageMode.IsExperienceEditor ? "rc-max-width--xl rc-padding--md" : "rc-carousel--gallery")">
        @Html.Sitecore().DynamicPlaceholder("rc-image-gallery", seed: 10)
    </div>
}