﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.ImageGalleryItem>
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers

@if (Context.IsAmpRequest())
{
<div class="slide">
    <amp-img srcset="@Html.GetResizedSrcSet(Model.Image)"
             layout="responsive"
             width="@(Model.Image?.Width)"
             height="@(Model.Image?.Height)"
             alt="@(Model.Image?.Alt)">
    </amp-img>

    @Html.RenderJson(Model.Image.GetMicrodata(new DefaultOrganizationAuthorResolver()))
</div>
}
else
{
    <div class="rc-image-gallery">
        <figure class="rc-image-gallery__gallery rc-padding--md">
            @if (Sitecore.Context.PageMode.IsExperienceEditor)
            {
                <text>@Editable(Model, x => x.Image)</text>
            }
            else
            {
                <img class="lazyload"
                     data-srcset="@Html.GetResizedSrcSet(Model.Image?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                     data-sizes="auto"
                     alt="@(Model.Image?.Alt)">

                @Html.RenderJson(Model.Image.GetMicrodata(new DefaultOrganizationAuthorResolver()))
            }
        </figure>
    </div>
}
