﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.IInlineImage>
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers

@if (IsInEditingMode)
{
    <div>@Editable(Model, e => e.Image)</div>
}
else if (!string.IsNullOrEmpty(Model?.Image?.Src))
{
    if (Context.IsAmpRequest())
    {
        int width = Model.Image.Width;
        int height = Model.Image.Height;
        <amp-img srcset="@Html.GetResizedSrcSet(Model.Image, ref width, ref height)"
                 width="@(width)" height="@(height)"
                 layout="responsive"
                 alt="@(Model.Image.Alt)">
        </amp-img>
    }
    else
    {
        <img class="lazyload" src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {Model.Image.Width} {Model.Image.Height}'%3E%3C/svg%3E")" data-srcset="@Html.GetResizedSrcSet(Model.Image?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))" data-sizes="auto" alt="@(!string.IsNullOrEmpty(Model.Image.Alt) ? Model.Image.Alt : Model.Name)" />
    }

    @Html.RenderJson(Model.Image.GetMicrodata(new DefaultOrganizationAuthorResolver()))
}


