﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Foundation.DataTemplates.Models.Kibble>

@if (Context.IsAmpRequest())
{
    <amp-img srcset="@Html.GetResizedSrcSet(Model.Image)"
             width="@(Model.Image?.Width)" height="@(Model.Image?.Height)"
             layout="responsive"
             alt="@(Model.Image?.Alt)">
    </amp-img>
}
else
{
    <figure class="rc-bg-image rc-fixed-ratio rc-fixed-ratio--16-9" style="background-image: url('@Html.GetResizedMediaUrl(Model.Image, 1920)' )">
        <div class="rc-interactive-image">
            @foreach (var note in Model.Notes)
            {
                <div id="@(note.Icon?.Value)-tooltip" class="rc-tooltip">
                    @(note.Text)
                </div>
                <button class="rc-btn rc-btn--action rc-icon @(note.Icon?.Value)--xs rc-brand3 rc-interactive-button rc-interactive-image__button" aria-label="@(note.Icon?.Text)" data-tooltip="@(note.Icon?.Value)-tooltip" data-tooltip-placement="left" data-js-icon-button="" data-js-top="@note.TopPosition%" data-js-right="" data-js-bottom="" data-js-left="@note.LeftPosition%">
                    <span class="rc-screen-reader-text">Click interaction</span>
                </button>
            }
        </div>
        <figcaption class="rc-screen-reader-text">@Model.Caption</figcaption>
    </figure>
}
