﻿@using Delete.Feature.GenericComponents.Extensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.LayoutContainer>
@{
    var noPaddingInChildren = SitecoreContext.DoesPlaceholderContainNoPaddingFlags("rc-layout-container", 100);
}
<div class="@(noPaddingInChildren ? "rc-padding-x--sm" : "rc-padding--sm") @(Model.Spacers?.Value) @(Model.BackgroundColour?.Value)" data-component="content-animation">
    <div class="rc-padding-y--md rc-md-down"></div>
    <div class="rc-layout-container @(Model?.Columns?.Value) @(Model?.AlignContent?.Value) @(Model?.Width?.Value) @(Model.ReverseLayoutOnMobile ? " rc-reverse-layout-mobile" : "")">
        @Html.Sitecore().DynamicPlaceholder("rc-layout-container", seed: 100)
    </div>
    <div class="rc-padding-y--md rc-md-down@(Model.ReverseLayoutOnMobile || noPaddingInChildren ? " rc-hidden" : "")"></div>    
</div>
    
