@using Delete.Foundation.DeleteFoundationCore.Extensions
@model Delete.Foundation.MultiSite.Models.ILocalMarketSettings

<style>
    .rc-content--fixed-header {
        padding-top: 0;
    }

    .rc-bg-colour--brand4 {
        background-color: #ffffff;
    }

    .evidon-consent-button {
        display: none !important;
    }

    .rc-fixed-center {
        z-index: 9999;
    }
</style>
<div data-component="live-chat-popup">

    @Html.Partial("~/Views/Feature/GenericComponents/LiveChatForm.cshtml", Model)
    @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)
</div>
