@using Delete.Feature.GenericComponents.Extensions
@using Delete.Foundation.DeleteFoundationCore.Extensions
@model IEnumerable<Delete.Feature.GenericComponents.Models.BreadcrumbLink>

@if (Model != null && Model.Any())
{
    <div class="rc-bg-colour--brand3">
        <div class="rc-max-width--xl">
            <div class="rc-padding--sm rc-padding--md--mobile">

                <nav class="rc-progress rc-progress--breadcrumbs-stepped">
                    <ul>
                        @foreach (var link in Model)
                        {
                            <li>
                                <a href="@(link.Url)" class="rc-progress__breadcrumb rc-styled-link @(link.IsCurrent ? " rc-progress__breadcrumb--current " : "")">@(link.Title)</a>
                            </li>
                        }
                    </ul>
                    @Html.RenderJson(Model.GetMicrodata())
                </nav>

            </div>
        </div>
    </div>
}