@using Delete.Foundation.DeleteFoundationCore.Extensions
@model Delete.Feature.GenericComponents.Models.BreadcrumbLink

@if (Model != null)
{
    <div class="rc-bg-colour--brand3">
        <div class="rc-max-width--xl">
            <div class="rc-padding--sm rc-padding--md--mobile">
                <div class="rc-progress rc-progress--breadcrumbs-single">
                    <a href="@(Model.Url)" class="rc-progress__breadcrumb rc-styled-link">@(Model.Title)</a>
                    @Html.RenderJson(Model.GetMicrodata())
                </div>
            </div>
        </div>
    </div>
}