@using System.Collections.Specialized
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Sitecore.Shell
@inherits GlassView<Delete.Feature.GenericComponents.Models.OptInPrivacyStatement>

@if (Model != null)
{
    var redirectUrl = Model?.RedirectLink?.Url;
    var redirectTarget = Model?.RedirectLink?.Target;
    var redirectTitle = Model?.RedirectLink?.Title;
    var redirectText = Model?.RedirectLink?.Text;
    var queryParams = new NameValueCollection();

    if (!string.IsNullOrEmpty(redirectUrl) && Uri.IsWellFormedUriString(redirectUrl, UriKind.Absolute))
    {
        var uri = new Uri(redirectUrl);
        if (!string.IsNullOrEmpty(uri.Query))
        {
            queryParams = HttpUtility.ParseQueryString(new Uri(redirectUrl).Query);
        }
    }


    <div class="rc-full-width rc-text--left rc-padding-x--sm">

        <form action="@redirectUrl" method="get" target="@redirectTarget">
            @foreach (var queryParam in queryParams.AllKeys.SelectMany(queryParams.GetValues, (k, v) => new { key = k, value = v }))
            {
                <input type="hidden" id="@queryParam.key" name="@queryParam.key" value="@queryParam.value" />
            }

            <h2 class="rc-beta">@Editable(e => e.Title)</h2>

            @Editable(e => e.Description)

            <div class="rc-padding-top--md rc-padding-bottom--md">
                <div class="rc-input">
                    <input id="optin-privacy-agreement"
                           class="rc-input__checkbox"
                           data-component="button-switch"
                           button-switch="privacy-statement-button"
                           type="checkbox" />

                    <label class="rc-input__label--inline"
                           for="optin-privacy-agreement">
                        @Editable(e => e.IAgree)
                    </label>
                </div>
            </div>

            @if (IsInEditingMode)
            {
                @RenderLink(Model, e => e.RedirectLink, new { @class = "rc-btn rc-btn--two" }, true)
            }
            else
            {
                if (!string.IsNullOrEmpty(redirectUrl))
                {
                    <button id="privacy-statement-button"
                            class="rc-btn rc-btn--two"
                            data_ref="optin-privacy-link"
                            text="@LinkHelper.RenderLinkTitle(Model.RedirectLink, Model.Name)"
                            title="@redirectTitle"
                            disabled="">
                        @redirectText
                    </button>
                }
            }
        </form>
    </div>
}
