﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.ParallaxImage>
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers

@if (IsInEditingMode)
{
    <div>@Editable(Model, e => e.Image)</div>
}
else if (Context.IsAmpRequest())
{
    <div class="rc-parallax-wrapper">
        <amp-img srcset="@Html.GetResizedSrcSet(Model.Image)"
                 width="@(Model.Image?.Width)"
                 height="@(Model.Image?.Height)"
                 layout="responsive"
                 alt="@(Model.Image?.Alt)">
        </amp-img>
    </div>
}
else
{
    <div class="rc-parallax-wrapper rc-full-width">
        <img class="lazyload"
             data-srcset="@Html.GetResizedSrcSet(Model.Image?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
             data-sizes="auto"
             data-rellax-percentage="0.5"
             data-rellax-speed="-2"
             alt="@(Model.Image?.Alt)">
    </div>
}
@Html.RenderJson(Model.Image.GetMicrodata(new DefaultOrganizationAuthorResolver()))
