﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.QuotePanel>
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers

<div class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3">
    <div class="rc-padding-y--md rc-md-down"></div>
    <div class="rc-layout-container rc-one-column rc-max-width--xl">
        <div class="rc-column">

            <div class="blockquote">

                <div class="blockquote__text">
                    @if (!IsInEditingMode)
                    {
                        <span class="blockquote__quote">&ldquo;</span>
                    }
                    @Editable(Model, e => e.Quote)
                    @if (!IsInEditingMode)
                    {
                        <span class="blockquote__quote">&rdquo;</span>
                    }
                </div>
                <div class="blockquote__image">
                    <div class="blockquote__image-border">

                        @if (IsInEditingMode)
                        {
                            @Editable(Model, x => x.AuthorImage, new { @class = "rc-img--round rc-img--round--md" })
                        }
                        else if (Context.IsAmpRequest())
                        {
                            <figure class="rc-img--round rc-img--round--md @(Model.AuthorImage == null ? "rc-img--quote-no-image" : "")" style="background-image: url('@Html.GetResizedMediaUrl(Model.AuthorImage, 300)')">
                                <figcaption class="rc-screen-reader-text">Author</figcaption>
                            </figure>
                        }
                        else
                        {
                            <figure class="lazyload rc-img--round rc-img--round--md @(Model.AuthorImage == null ? "img--quote-no-image" : "")" data-bgset="@Html.GetResizedSrcSet(Model.AuthorImage)">
                                <figcaption class="rc-screen-reader-text">Author</figcaption>
                            </figure>
                        }
                        @Html.RenderJson(Model.AuthorImage.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                    </div>
                </div>
                <div class="blockquote__author">
                    &mdash; @Editable(Model, e => e.Author)
                </div>
                @Html.RenderJson(Model.GetMicrodata())
            </div>

        </div>
    </div>    
    <div class="rc-padding-y--md rc-md-down"></div>
</div>
