﻿@using Delete.Feature.GenericComponents.Models;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.IRichText>

<div class="richtext-editor rc-wysiwyg rc-bg-colour--brand3">
    @Editable(x => x.Content)
</div>
