﻿@using Delete.Feature.GenericComponents.Extensions
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.TencentVideo>

<div class="rc-bg-colour--brand3 rc-margin-bottom--xs" data-component="tencent-video">
	<div class="rc-max-width--md">
		<div class="rc-video-wrapper">
			<iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=@Model.VideoID" allowFullScreen="true"
			 data-ref="video"></iframe>
		</div>
		<div class="rc-video-poster" data-ref="poster">
			<picture class="rc-full-width">
				<img class="lazyload" src="@($" data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 9'%3E%3C/svg%3E")" data-srcset="@Html.GetResizedSrcSet(Model.SplashScreenImage)" data-sizes="auto" alt="@Model.SEOVideoName">
			</picture>
			<button class="rc-tencent-video-btn rc-btn rc-btn--action rc-icon rc-play rc-brand3" data-ref="video-play-button"
			 aria-label="Play" data-ref="video-play-button"><span class="rc-screen-reader-text">Play</span></button>
		</div>
	</div>
</div>

