﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.TextContent>

<div>
    @if (IsInEditingMode || !Model.Subtitle.IsNullOrEmpty())
    {
        <h4>
            @Editable(Model, e => e.Subtitle)
        </h4>
    }
    @if (@Html.IsHomePage())
    {
        <h2 class="rc-alpha @(Model.HeadingExtension == null ? string.Empty : Model.HeadingExtension.Value)">@Editable(Model, e => e.Title)</h2>
    }
    else
    {
        var headerClassAttribute = Model?.HeaderStyle != null ? Model.HeaderStyle.Value : "rc-alpha";
        string headingExtension = Model.HeadingExtension == null ? string.Empty : Model.HeadingExtension.Value;

        string headerClassValue = string.Format("class='{0} {1}'", headerClassAttribute, headingExtension);

        using (Html.UseTag("h1", "h2", headerClassValue))
        {
            @Editable(Model, e => e.Title)
        }
    }

    @Editable(Model, e => e.Content)
</div>
