﻿@inherits GlassView<Delete.Feature.GenericComponents.Models.TextTabs>

@{
    var seed = 1;
}

<section class="rc-bg-colour--brand3 @(Model?.Spacers?.Value) rc-padding-y--sm">
    <div class="rc-padding-y--md rc-md-down"></div>
    <div class="@(Model?.Width?.Value)">
    <div>
        <nav class="rc-tabs__controller  rc-fade--x" data-toggle-group="">
        @if (Model.Tabs.Any())
        {
            <ul class="rc-tab--centered rc-scroll--x rc-list rc-list--inline rc-list--align rc-list--blank" role="tablist">
                @foreach (var tab in Model.Tabs)
                {
                    using (BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature/GenericComponents/List Item", tab.Id.ToString()))
                    {
                        <li>
                            <button class="rc-tab rc-btn rc-btn--sm" data-toggle="tab-panel-@tab.Id" role="tab">@Editable(tab, x => x.Title)</button>
                        </li>
                    }
                }
            </ul>
        }
        else if (IsInEditingMode)
        {
            <p>Please insert a tab.</p>
        }
        </nav>
    </div>


    @foreach (var tab in Model.Tabs)
    {
        <div class="rc-padding-y--sm" id="tab-panel-@tab.Id">
            @Html.Sitecore().DynamicPlaceholder("rc-text-tab", seed: seed)
        </div>
        seed++;
    }
    </div>
     <div class="rc-padding-y--md rc-md-down"></div>
</section>