﻿@using Delete.Feature.GenericComponents.Extensions
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DesignLanguage.Extensions
@using Glass.Mapper.Sc.Fields
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.TextContentWithLink>

@{
    var links = (new[]
    {
        new {Link = Model.Link1, Style = Model.Link1Style},
        new {Link = Model.Link2, Style = Model.Link2Style},
    })
    .Where(x => x.Link != null)
    .ToList();

    /*
    1) if two buttons and first one is 'rc-btn--one' and second one is 'rc-styled-link' than wrap them with '<div class="rc-button-link-group"></div>'

    2) if two buttons and first one is 'rc-btn--two' and second one is 'rc-styled-link' than wrap them with '<p></p>'

    3) the default wrapper is '<div class="rc-btn-group"></div>' 
    */

    const string rcBtnOne = "rc-btn--one";
    const string rcBtnTwo = "rc-btn--two";
    const string rcStyledLink = "rc-styled-link";

    var groupClass = "rc-btn-group";
    var groupTag = "div";
    var headerClass = Model?.HeaderStyle != null ? Model.HeaderStyle.Value : "rc-beta";

    if (Model.Link2Style?.Value?.Contains(rcStyledLink) == true)
    {
        if (Model.Link1Style?.Value?.Contains(rcBtnOne) == true)
        {
            groupClass = "rc-button-link-group";
        }
        else if (Model.Link1Style?.Value?.Contains(rcBtnTwo) == true)
        {
            groupClass = string.Empty;
            groupTag = "p";
        }
    }

    var pageTitle = Html.GetPageTitle();
    var itemName = Html.GetItemName();
}

<div>
    @if (IsInEditingMode || !Model.Subtitle.IsNullOrEmpty())
    {
        <h4>
            @Editable(Model, e => e.Subtitle)
        </h4>
    }

    <h2 class="@headerClass">@Editable(Model, e => e.Title)</h2>

    @Editable(Model, e => e.Content)
    @if (Model.Content.Empty() && IsInEditingMode)
    {
        <br />
    }
    @if (IsInEditingMode)
    {
        <span class="@(Model?.Link1Style?.Value ?? "rc-btn rc-btn--one")">@Editable(Model, e => e.Link1)</span>
        if (Model.DisplayORBetweenButtons)
        {
            <text>&nbsp;@TranslateHelper.TextByDomainCached("Translations", "translations.feature.genericcomponents.or")&nbsp;</text>
        }
        <span class="@(Model?.Link2Style?.Value ?? "rc-btn rc-btn--one")">@Editable(Model, e => e.Link2)</span>
    }
    else
    {
        using (links.Count > 1 ? Html.WrapToTagWithClasses(groupTag, groupClass) : null)
        {
            string[] events = Model.DataTrackEnable ? Model.DataTrackEvent?.Split('|') : null;
            string[] actions = Model.DataTrackEnable ? Model.DataTrackAction?.Split('|') : null;
            string[] labels = Model.DataTrackEnable ? Model.DataTrackLabel?.Split('|') : null;
            string[] categories = Model.DataTrackEnable ? Model.DataTrackCategory?.Split('|') : null;

            if (links.Count > 0)
            {
                <text>@Html.Button(links[0].Link, new { data_component = "cta-event-tracker",
                        data_track_label = $"{links[0].Link.Text} / {Model.Title} / {pageTitle}",
                        data_track_category = $"{itemName} / Button", @class = links[0].Style?.Value,
                     data_track_custom= Model.DataTrackEnable ? "true" : "false",
                     data_track_custom_event= events != null && events.Length > 0 ? events[0] : string.Empty,
                     data_track_custom_action = actions != null && actions.Length > 0 ? actions[0] : string.Empty,
                     data_track_custom_label = labels != null && labels.Length > 0 ? labels[0] : string.Empty,
                     data_track_custom_category = categories != null && categories.Length > 0 ? categories[0] : string.Empty,
                 })</text>
            }
            if (links.Count > 1)
            {
                if (Model.DisplayORBetweenButtons)
                {
                    <text>&nbsp;@TranslateHelper.TextByDomainCached("Translations", "translations.feature.genericcomponents.or")&nbsp;</text>
                }
                @Html.Button(links[1].Link, new { data_component = "cta-event-tracker",
               data_track_label = $"{links[1].Link.Text} / {Model.Title} / {pageTitle}",
               data_track_category = $"{itemName} / Button", @class = links[1].Style?.Value,
                    data_track_custom= Model.DataTrackEnable ? "true" : "false",
                    data_track_custom_event= events != null && events.Length > 1 ? events[1] : string.Empty,
                    data_track_custom_action = actions != null && actions.Length > 1 ? actions[1] : string.Empty,
                    data_track_custom_label = labels != null && labels.Length > 1 ? labels[1] : string.Empty,
                    data_track_custom_category = categories != null && categories.Length > 1 ? categories[1] : string.Empty,

           })
            }
        }
    }
</div>
