﻿@using Delete.Feature.GenericComponents.Extensions
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DesignLanguage.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Sitecore.Extensions
@using StringExtensions = Delete.Foundation.DeleteFoundationCore.Extensions.StringExtensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.VideoHeroPanel>

@{
    var pageTitle = Html.GetPageTitle();
    var itemName = Html.GetItemName();

    var url = Model.Mp4VideoUrl.OrDefault((Model.Video?.Src).ToGeneralUrl());
}

<section class="@(Model?.BackgroundColour?.Value)" data-component="content-animation">
    <div class="rc-padding--sm @(Model?.Spacers?.Value)">
        <div class="rc-padding-y--md rc-md-down"></div>
        <div class="rc-layout-container rc-one-column @(Model?.Width?.Value)">
            <div class="rc-column">
                <div class="rc-text--center">
                        @if (@Html.IsHomePage())
                        {
                            using (Html.UseTag("h2", "h3", "class='rc-alpha'"))
                            {
                                @Editable(Model, e => e.Title)
                            }
                        }
                        else
                        {
                            using (Html.UseTag("h1", "h2", "class='rc-alpha'"))
                            {
                                @Editable(Model, e => e.Title)
                            }
                        }
    
                        <p>@Editable(Model, x => x.Content)</p>
    
                        @using (IsInEditingMode || (Model.Link1 != null && Model.Link2 != null) ? Html.WrapToDivWithClasses("rc-btn-group") : null)
                        {
                            if (IsInEditingMode)
                            {
                                <span class="rc-btn rc-btn--one">@Editable(Model, e => e.Link1)</span>
                                <span class="rc-btn rc-btn--one">@Editable(Model, e => e.Link2)</span>
                            }
                            else
                            {
                                <text>@Html.Button(Model.Link1, new { data_component = "cta-event-tracker", data_track_label = $"{Model.Link1?.Text} / {Model.Title} / {pageTitle}", data_track_category = $"{itemName} / Button" })</text>
                                <text>@Html.Button(Model.Link2, new { data_component = "cta-event-tracker", data_track_label = $"{Model.Link2?.Text} / {Model.Title} / {pageTitle}", data_track_category = $"{itemName} / Button" })</text>
                            }
                        }
                    </div>        
            </div>
        </div>
        <div class="rc-layout-container rc-one-column @(Model?.Width?.Value)">
            <div class="rc-column">
                
                        @if (Context.IsAmpRequest())
                        {
                            <amp-video width="1024"
                                        height="768"
                                        src="@(url)"
                                        layout="responsive"
                                        @if (Model.SplashScreenImage != null && Model.SplashScreenImage.Src.NotEmpty()) { <text> poster="@Model.SplashScreenImage.Src" </text>  } else { <text> poster="" </text>  }
                                        @if (Model.Autoplay) { <text> autoplay</text>
                                        }>
                                <div fallback>
                                    <p>Your browser doesn't support HTML5 video.</p>
                                </div>
                                <source type="video/mp4" src="@StringExtensions.ToGeneralUrl(Model.Video?.Src)">
                            </amp-video>
                        }
                        else
                        {
                            <video poster="" class="rc-full-width"
                                    @if (Model != null) { if (Model.SplashScreenImage != null && Model.SplashScreenImage.Src.NotEmpty()) { <text> poster="@Model.SplashScreenImage.Src" </text>  } else { <text> poster="" </text>  } if (Model.Muted) { <text> muted</text>
                                        }
                                        if (Model.Autoplay)
                                        {
                                            <text>autoplay</text>
                                        }
                                        <text>playsinline</text>
                                    }>
                                <source src="@(url)"
                                        type="video/mp4">
                            </video>
                        }
                        @Html.RenderJson(Model.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                               
            </div>
        </div>
        <div class="rc-padding-y--md rc-md-down"></div>
    </div>
</section>