﻿@using Delete.Feature.GenericComponents.Extensions
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using StringExtensions = Delete.Foundation.DeleteFoundationCore.Extensions.StringExtensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.VideoPanel>

@using (Html.WrapToContentBlockFixedWidth(Model?.FixedWidth ?? false))
{
<div class="rc-video-wrapper rc-video-wrapper--full-width" data-component="video-panel">
    @if (Context.IsAmpRequest())
    {
        <amp-video width="1024"
                   height="768"
                   src="@StringExtensions.ToGeneralUrl(Model.Video?.Src)"
                   layout="responsive"
                   @if (Model != null) { if (Model.SplashScreenImage != null && Model.SplashScreenImage.Src.NotEmpty()) { <text> poster="@Model.SplashScreenImage.Src" </text>  } if (Model.Autoplay) { <text> autoplay</text>
                           }
                           if (Model.Controls)
                           {
                               <text>controls</text>
                           }
                       }>
            <div fallback>
                <p>Your browser doesn't support HTML5 video.</p>
            </div>
            <source type="video/mp4" src="@StringExtensions.ToGeneralUrl(Model.Video?.Src)">
        </amp-video>
    }
    else
    {
        <video data-ref="video" @if (Model != null) { if (Model.SplashScreenImage != null && Model.SplashScreenImage.Src.NotEmpty()) { <text> poster="@Model.SplashScreenImage.Src" </text>  } if (Model.Muted) { <text> muted</text>
                    }
                    if (Model.Autoplay)
                    {
                        <text>autoplay</text>
                    }
                    if (Model.Loop)
                    {
                        <text>loop</text>
                    }
                    if (Model.Controls)
                    {
                        <text>controls</text>
                    }
                    <text>playsinline</text>
                }>
            <source src="@(Model.Video?.Src)"
                    type="video/mp4">
        </video>
        <button class="rc-video-wrapper__play-btn rc-btn rc-btn--action rc-icon rc-play rc-brand3" data-ref="video-play-button" aria-label="Play"><span class="rc-screen-reader-text">Play</span></button>
    }
    @Html.RenderJson(Model.GetMicrodata(new DefaultOrganizationAuthorResolver()))
</div>
}