﻿@using Delete.Feature.GenericComponents.Extensions

@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.YouTubeVideo>

@using (Html.WrapToContentBlockFixedWidth(Model?.FixedWidth ?? false))
{
    <div class="rc-bg-colour--brand3">
        <div class="rc-max-width--md">
            <div class="rc-video-wrapper">
                @{ Html.RenderPartial("~/Views/Feature/GenericComponents/_YouTubeVideo.cshtml", Model);}
            </div>
        </div>
    </div>
}