.lazyload,
.lazyload--delay,
.lazyloading {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
}

img[data-sizes='auto'] {
    width: 100% !important;
    display: block;
    &.rc-card__bagshot.lazyloaded {
        width: auto !important;
    }
}

.rc-card--a .rc-card__image img.lazyload,
.rc-card--a .rc-card__image img.lazyloaded {
    width: 100% !important;
}

.rc-card--a .rc-card__image img.rc-card__bagshot.lazyload,
.rc-card--a .rc-card__image img.rc-card__bagshot.lazyloaded {
    width: auto !important;
}

.rc-carousel.rc-carousel--lazyload:not(.rc-carousel--loaded) {
    width: 100%!important;
}

.rc-card__bagshot--lazyload {
    width: 100% !important;    
}

.rc-card__bagshot--lazyload[sizes] {
    width: auto !important;
    max-width: none;
    min-width: 0;
}

#tns1.rc-carousel.rc-carousel--lazyload:not(.rc-carousel--loaded) {
    width: 100%!important;    
}

.rc-card__link--lazyload.tns-item{
    width: 100%!important;        
}

.rc-card__link--lazyload.tns-item[aria-hidden="true"],
.rc-card__link--lazyload:not(.tns-slide-active) {
    visibility: hidden;
}




