﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore.Helpers
@using Glass.Mapper
@using Constants = Delete.Foundation.RoyalCaninCore.Constants
@model Delete.Feature.Stockists.Models.StockistsSearchResultViewModel

<div class="rc-padding-x--sm"
     data-component="listing-with-pagination"
     data-endpoint="@Url.ApiAction("FindOnline", "Stockists")"
     data-request-filter="@Model.Filter">
    <div data-ref="data-container">
        @if (!Model.SearchResults.Any())
        {
            <div class="rc-padding-y--md">
                <div class="rc-layout-container">
                    <div class="rc-column">
                        <p class="rc-full-width"><b>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.nostockistsfound")</b></p>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="rc-layout-container rc-content-card rc-match-heights rc-max-width--xl">
                @foreach (var item in Model.SearchResults)
                {
                    <div class="rc-column">
                        <div class="rc-full-width">
                            <article class="rc-card rc-card--b">
                                <picture class="rc-card__image">
                                    @if (item.Logo != null)
                                    {
                                        <img class="lazyload"
                                             data-srcset="@Html.GetResizedSrcSet(item.Logo?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                                             data-sizes="auto"
                                             alt="@(item.Logo?.Alt)">
                                        if (!IsAjax)
                                        {
                                            @Html.RenderJson(item.Logo?.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                                        }
                                    }
                                    else
                                    {
                                        <div class="rc-bg-colour--brand4 rc-padding--md rc-text--center">
                                            <span class="rc-icon rc-bag rc-iconography"></span>
                                        </div>
                                    }
                                </picture>
                                <div class="rc-card__body">
                                    <header>
                                        @if (item.ProfileType.HasValue())
                                        {
                                            <p class="rc-card__meta">@item.ProfileType</p>
                                        }
                                        <h3 class="rc-card__title">@item.CompanyName</h3>
                                    </header>
                                    <p>@item.Description</p>
                                    <a class="rc-styled-link--external"
                                       target="_blank"
                                       data-component="cta-event-tracker"
                                       data-track-category="Find a Retailer / Outbound Link"
                                       data-track-label="@(item.WebsiteUrl)"

                                       data-track-custom="true"
                                       data-track-custom-event="dealerFinderEretailerClick"
                                       data-track-custom-category=""
                                       data-track-custom-action=""
                                       data-track-custom-label="@item.CompanyName"

                                       href="@(item.WebsiteUrl)" rel="nofollow" title="@TranslateHelper.TextByDomainCached("Translations", "opens.in.new.window")">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.visitwebsite")</a>
                                </div>
                            </article>
                        </div>
                    </div>
                }
            </div>

            @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Pagination.cshtml", Model)
        }
    </div>
    @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)
</div>