﻿@using Delete.Foundation.RoyalCaninCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@model Delete.Feature.Stockists.Models.MapSearchViewModel


<div class="rc-layout-container rc-one-column rc-md-down">
    <div class="rc-column">
        <span class="rc-input rc-input--label rc-input--search rc-input--with-button rc-input--full-width rc-full-width rc-margin-bottom--sm" data-control="filter-places-search" data-search-current-culture="@Model.CurrentCountryCode">
            <button class="rc-input__submit rc-input__submit--search" data-ref="filter-search-btn" type="button">
                <span class="rc-screen-reader-text">
                    @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.searchlocation")
                </span>
            </button>
            <input class="rc-input__control" placeholder="" id="id-submit" type="text" name="search" data-ref="filter-input"/>
            <label class="rc-input__label" for="id-submit">
                <span class="rc-input__label-text">
                    @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.searchlocation")
                </span>
            </label>
            <button class="rc-btn rc-btn--icon rc-icon rc-location2--xs rc-iconography rc-stick-right rc-stick-top" data-ref="locate-to-me-btn" type="button" aria-label="Settings">
                <span class="rc-screen-reader-text">
                    @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.getlocation")
                </span>
            </button>
        </span>
    </div>
</div>

<div class="filter-map-custom" 
    data-control="filter-map"
     @if (Model.UserLocationCoordinate != null)
     {
         <text>data-coords="@Model.UserLocationCoordinate.ToString()"</text>
     }
     else if (Model.MapDefaultCoordinate != null)
     {
         <text>data-coords="@Model.MapDefaultCoordinate.ToString()"</text>
     }
     else
     {
         <text>data-coords="0,0"</text>
     }
     @if (Model.MapDefaultZoom != default(decimal))
     {
         <text>data-zoom="@Model.MapDefaultZoom"</text>
     }
     else
     {
         <text>data-zoom="10"</text>
     }>
    <script type="application/json" data-ref="json-map-data">
        @Html.Raw(new
        {
            Stockists = Model.SearchResultModel.SearchResults,
            Translations = new
            {
                GetDirections = @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.getdirections"),
                VisitWebsite = @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.visitwebsite")
            }
        }.ToLowerCaseJson())
    </script>
</div>