﻿@using System.Globalization
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@model Delete.Feature.Stockists.Models.MapSearchViewModel
<div data-control="filter-panel">
    <div data-toggle-group data-toggle-effect="rc-expand--vertical">
        <span class="rc-input rc-input--search rc-input--with-button rc-input--full-width rc-margin-bottom--sm rc-md-up" data-control="filter-places-search" data-search-current-culture="@Model.CurrentCountryCode">
            <button class="rc-input__submit rc-input__submit--search" data-ref="filter-search-btn" type="button">
                <span class="rc-screen-reader-text">
                    @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.searchlocation")
                </span>
            </button>
            <input class="rc-input__control" 
                placeholder="" 
                id="location-search" 
                type="text" 
                name="search" 
                data-ref="filter-input"
                data-track-event="dealerFinderUpdateTextSearch"
                data-track-category="Dealer Finder"
                data-track-label="Update Free Text"
                data-track-breed-id=""
                data-track-specie-id=""
                data-track-age=""
                />
            <label class="rc-input__label" for="location-search">
                <span class="rc-input__label-text">
                    @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.searchlocation")
                </span>
            </label>
            <button class="rc-btn rc-btn--icon rc-icon rc-location2--xs rc-iconography rc-stick-right rc-stick-top" data-ref="locate-to-me-btn" type="button" aria-label="Settings">
                <span class="rc-screen-reader-text">
                    @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.getlocation")
                </span>
            </button>
        </span>
        <button class="rc-btn rc-btn--icon-label rc-icon rc-filter--xs rc-iconography rc-md-up"
                data-rc-switch-icon="['rc-filter--xs', 'rc-close--xs']"
                data-rc-switch-text="@TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.closefilters")"
                id="filter-header"
                data-toggle="filters"
                data-ref="filter-button"
                type="button">
            @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.filterresults")
        </button>
        <button class="rc-btn rc-btn--icon-label rc-icon rc-filter--xs rc-iconography rc-md-down"
                type="button"
                data-ref="filter-button"
                data-filter-trigger="filters">
            @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.filterresults")
        </button>
    </div>
    <ul class="rc-list rc-list--inline rc-list--blank rc-list--reset-margin rc-list--align tags-container" data-control="filter-tags"></ul>
    <div data-ref="filter-panel" id="filters" aria-labelledby="filter-header" role="region">
        <div class="rc-filters" data-filter-target="filters">
            <div class="rc-filters__form">
                <header class="rc-filters__header rc-md-down rc-margin-bottom--sm">
                    <button class="rc-md-down rc-stick-left rc-btn rc-btn--icon rc-icon rc-close--xs rc-iconography" data-filter-trigger="filters"
                            type="button">
                        <span class="rc-screen-reader-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.closefilters")</span>
                    </button>
                    <h1 class="rc-filters__heading rc-padding-bottom--xs rc-header-with-icon rc-header-with-icon--alpha">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.filterresults")
                    </h1>
                </header>
                <main class="rc-filters__main">
                    <ul class="rc-list rc-list--blank rc-list--align">

                        @foreach (var filterFolder in Model.FilterModel.FilterGroups)
                        {
                            var groupId = filterFolder.Id.ToDigitsString();
                            var items = filterFolder.GetItems(Guid.Empty).Where(x => !Model.FilterModel.OnlineRetailerIds.Contains(x.Id));
                            if (!items.Any() || items.Count() == 1)
                            {
                                continue;
                            }
                            var filterValue = Model.FilterModel.FilterValue.FiltersDictionary.ContainsKey(filterFolder.RequestParameterName) ? Model.FilterModel.FilterValue.FiltersDictionary[filterFolder.RequestParameterName] : string.Empty;

                            <li class="rc-list__item rc-list__item--border-none rc-list__item--group"
                                data-ref="filter-category"
                                data-filter-category="@filterFolder.RequestParameterName">
                                <div class="rc-margin-bottom--xs rc-padding-left--none rc-border--none" data-toggle="category-id-@groupId">
                                    <strong>@filterFolder.FilterGroupLabel</strong>
                                    @*<a class="rc-styled-link rc-list__header-link rc-md-down rc-hidden" href="#/" data-ref="clear-category-filters-btn">
                                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.clear")
                                    </a>*@
                                </div>
                                <ul class="rc-list rc-list--blank rc-list--align" id="category-id-@groupId">
                                    @foreach (var item in items)
                                    {
                                        var itemId = item.Id.ToDigitsString();
                                        var filterChecked = filterValue?.Contains(item.Id.ToString()) ?? false;

                                        <li class="rc-list__item">
                                            <div class="rc-input rc-input--stacked">
                                                <input class="rc-input__checkbox"
                                                       id="checkbox-id-@groupId-@itemId"
                                                       type="checkbox"
                                                       name="checkbox"
                                                       value="@item.Id"
                                                       data-label="@item.FilterLabel"
                                                       data-ref="filter-checkbox"                                                     
                                                       @Html.Raw(filterChecked ? "checked='checked'" : string.Empty)
                                                       data-track-event="dealerFinderUpdate@(item.FilterLabel)"
                                                       data-track-category="Dealer Finder"
                                                       data-track-action="@item.FilterLabel"
                                                       data-track-label="Update @(filterFolder.FilterGroupLabel)"
                                                       data-track-breed-id=""
                                                       data-track-specie-id=""
                                                       data-track-age=""
                                                       >
                                                <label class="rc-input__label--inline" for="checkbox-id-@groupId-@itemId">
                                                    @item.FilterLabel
                                                </label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                    <button class="rc-styled-link rc-md-up rc-margin-y--xs rc-hidden" data-ref="clear-all-filters-link">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.resetfilters")
                    </button>
                </main>
                <footer class="rc-filters__footer rc-md-down">
                    <button class="rc-btn rc-btn--two rc-full-width rc-margin-bottom--md" data-filter-trigger="filters" data-ref="clear-all-filters-btn">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.clearallfilters")</button>
                    <button class="rc-btn rc-btn--one rc-full-width" data-filter-trigger="filters" data-ref="apply-filters">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.applyfilters")</button>
                    <div class="rc-padding-bottom--lg"></div>
                </footer>
            </div>
        </div>
    </div>
    @foreach (var filterFolder in Model.FilterModel.FilterGroups)
    {
        var groupId = filterFolder.Id.ToDigitsString();
        var items = filterFolder.GetItems(Guid.Empty);
        if (!items.Any() || items.Count() > 1)
        {
            continue;
        }

        <div class="rc-margin-y--sm"  data-ref="filter-category" data-filter-category="@filterFolder.RequestParameterName">
            @foreach (var item in items)
            {
                var itemId = item.Id.ToDigitsString();

                <div class="rc-input">
                    <input class="rc-input__checkbox"
                           id="checkbox-id-@groupId-@itemId"
                           type="checkbox"
                           name="checkbox"
                           value="@item.Id"
                           data-label="@item.FilterLabel"
                           data-exclude-filter="true"
                           data-ref="filter-checkbox"
                           data-track-event="dealerFinderUpdate @item.FilterLabel"
                           data-track-category="Dealer Finder"
                           data-track-action="@item.FilterLabel"
                           data-track-label="Update @item.FilterLabel"
                           data-track-breed-id=""
                           data-track-specie-id=""
                           data-track-age=""
                           >
                    <label class="rc-input__label--inline" for="checkbox-id-@groupId-@itemId">
                        @item.FilterLabel
                    </label>
                </div>

            }
        </div>
    }
    <span class="rc-select rc-input--full-width rc-margin-bottom--sm--mobile" data-ref="filter-category" data-filter-category="SortResultsBy">
        <select data-js-select id="id-single-select" data-ref="filter-select" data-exclude-filter="true">
            <option selected disabled value="" placeholder>
                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.sortresults")
            </option>
            <option value="1">
                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.sortresultsbydistance")
            </option>
            <option value="2">
                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.sortresultsbystarrating")
            </option>
        </select>
    </span>
    <div data-ref="data-container">
        @if (!Model.SearchResultModel.SearchResults.Any())
        {
            <div class="rc-padding-y--md">
                <div class="rc-layout-container">
                    <div class="rc-column">
                        <p class="rc-full-width"><b>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.searchnoresults")</b></p>
                    </div>
                </div>
            </div>
        }
        else
        {
            <ul class="rc-list rc-list--blank rc-list--align rc-list--stores" data-ref="filter-listing-items">
                @foreach (var item in Model.SearchResultModel.SearchResults)
                {
                    <li class="rc-padding-y--sm rc-border-bottom rc-border-colour--interface rc-full-width" 
                        data-ref="filter-listing-item" 
                        data-id="@item.Id"
                        data-track-category="Dealer Finder"
                        data-track-event="dealerFinderClickList"
                        data-track-action="Click"
                        data-track-label="List"
                        data-track-customer-type="@(string.Join("/", item.ContactTypes))"
                        data-track-customer-name="@item.CompanyName"                
                        >
                        @if (item.Tags.Any())
                        {
                            <ul class="rc-list rc-list--blank rc-list--align rc-list--inline">
                                @foreach (var tag in item.Tags)
                                {
                                    <li class="rc-list__item">@tag</li>
                                }
                            </ul>
                        }

                        <h3 class="rc-gamma rc-padding-top--xs">@item.CompanyName</h3>
                        @if (item.Phone.NotEmpty())
                        {
                            <a class="rc-styled-link rc-margin-bottom--xs" href="tel:@item.Phone">
                                @item.Phone
                            </a>
                        }

                        @if (item.Distance.NotEmpty() || item.City.NotEmpty() || item.Country.NotEmpty())
                        {
                            <ul class="rc-list rc-list--blank rc-list--align rc-list--inline">
                                @if (item.Distance.NotEmpty())
                                {
                                    <li class="rc-list__item">@item.Distance</li>
                                }
                                @if (item.City.NotEmpty() || item.Country.NotEmpty())
                                {
                                    <li class="rc-list__item">@(item.City.NotEmpty() 
                                                                    ? $"{item.City}{(item.Country.NotEmpty() ? ", " : string.Empty)}" 
                                                                    : string.Empty)@(item.Country.NotEmpty() 
                                                                                         ? item.Country 
                                                                                         : string.Empty)</li>
                                }
                            </ul>
                        }

                                @Html.RenderJson(item.GetMicrodata())

                        @*
                            <p>
                                <a class="rc-btn rc-btn--two" target="_blank" href="https://www.google.com/maps?saddr=My+Location&daddr=52.136436,52.136436">
                                    Get Directions
                                </a>
                                <a class="rc-styled-link rc-styled-link--external" href="#">Visit website</a>
                            </p>
                        *@
                    </li>
                }
            </ul>

            @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Pagination.cshtml", Model.SearchResultModel)
        }
    </div>
</div>