﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@model Delete.Feature.Stockists.Models.MapSearchViewModel
<section class="rc-bg-colour--brand3"
         data-component="filter-and-listing"
         data-endpoint="@Url.ApiAction("Filter", "Stockists")"
         data-request-filter="@Model.FilterConfiguration"
         data-track-category="Dealer Finder">
    <div class="rc-layout-container rc-three-column rc-reverse-layout rc-flex-start rc-max-width--xxl" data-control="filter-listing">
        <div class="rc-column rc-double-width rc-flex-start rc-padding-x--none">
            <div class="rc-full-width">
                @Html.Partial("~/Views/Feature/Stockists/_MapView.cshtml", Model)
            </div>
        </div>
        <div class="rc-column">
            <div class="rc-full-width rc-padding-x--sm">
                @Html.Partial("~/Views/Feature/Stockists/_MapSearchAndFilter.cshtml", Model)
            </div>
        </div>
        @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)
    </div>
</section>