﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@model Delete.Feature.Stockists.Models.SearchViewModel

@{
    var title = Model.Title.OrDefault(TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.wheretobuy"));
}

<section class="rc-bg-colour--brand3 rc-padding-y--lg">
    <div class="rc-full-width">
        <h1 class="rc-alpha rc-text--center">
            @title
        </h1>
        <div class="rc-fade--x rc-margin-bottom--sm">
            <nav class="rc-tabs__controller  rc-fade--x" data-toggle-group="">
            <ul class="rc-scroll--x rc-list rc-list--inline rc-list--align rc-list--blank rc-tab--centered" role="tablist">
                <li>
                    <button class="rc-tab rc-btn"
                            data-toggle="tab-unique-id-1"
                            data-component="cta-event-tracker"
                            data-track-category="Find a Retailer / Button"
                            data-track-label="Local to Me"
                            role="tab">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.localtome")
                    </button>
                </li>
                @if (Model.ListingSearchModel.TotalResults > 0)
                {
                    <li>
                        <button class="rc-tab rc-btn"
                                data-toggle="tab-unique-id-2"
                                role="tab"
                                data-component="cta-event-tracker"
                                data-track-category="Find a Retailer / Button"
                                data-track-label="Online Retailers">
                            @TranslateHelper.TextByDomainCached("Translations", "translations.feature.stockists.onlineretailers")
                        </button>
                    </li>
                }
            </ul>
            </nav>
        </div>
        <div id="tab-unique-id-1"
             data-total-number="@(Model.MapSearchModel.SearchResultModel.TotalResults)">
            @Html.Partial("~/Views/Feature/Stockists/_Map.cshtml", Model.MapSearchModel)
        </div>
        @if (Model.ListingSearchModel.TotalResults > 0)
        {
            <div id="tab-unique-id-2" class="rc-showhide" aria-expanded="false" aria-hidden="true" 
                 data-total-number="@(Model.ListingSearchModel.TotalResults)">
                @Html.Partial("~/Views/Feature/Stockists/_Listing.cshtml", Model.ListingSearchModel)
            </div>
        }
    </div>
</section>