<li class="rc-tag" data-ref="filter-tag" data-id="{{id}}">
    {{text}}
    <button class="rc-tag__close rc-btn rc-btn--icon rc-icon rc-close--xs rc-iconography rc-interactive" data-ref="remove-tag-btn"
        aria-label="Close" type="button">
        <span class="rc-screen-reader-text">Close tag</span>
    </button>
</li>
