<div class="info-window rc--font">
    <div class="info-window__header">
        <ul class="info-window__list rc-list rc-list--dotted">
            {{#each tags}}
            <li class="rc-list__item">{{this}}</li>
            {{/each}}
        </ul>
        <h4 class="info-window__title rc-delta">
            {{companyName}}
        </h4>
    </div>
    <div class="info-window__body">
        <div class="info-window__info">
            <span class="info-window__info-item">
                {{address}}
            </span>
            {{#if distance}}
            <ul class="info-window__info-item rc-list rc-list--dotted">
                <li class="rc-list__item"> {{distance}} mi</li>
            </ul>
            {{/if}} {{#if openingTimes }}
            <ul class="info-window__info-item rc-list rc-list--dotted">
                {{#each openingTimes}}
                <li class="rc-list__item">{{ this }}</li>
                {{/each}}
            </ul>
            {{/if}}
        </div>

        <div class="info-window__phone-wrap">
            <a class="info-window__phone rc-styled-link" href="tel:{{phone}}">
                <span>{{phone}}</span>
            </a>
        </div>

        <p class="info-window__links">
            <span class="info-window__link-wrapper">
                <a class="rc-btn rc-btn--two" target="_blank"
                    href="https://www.google.com/maps?saddr=My+Location&daddr={{location.lat}},{{location.lng}}"
                    data-component="get-directions-track">
                    {{getDirections}}
                </a>
            </span>
            {{#if websiteUrl}}
            <a class="rc-styled-link rc-styled-link--external" target="_blank"
                href="{{websiteUrl}}">{{visitWebsite}}</a>
            {{/if}}
        </p>
    </div>
</div>