@import '~styleSettings';

.rc-list {
    $this: &;

    &--dotted {
        display: flex;
        align-items: center;
        padding: 0;
        font-size: (14/16) + rem;

        #{$this}__item {
            padding: 0 7px;
            line-height: 1;
            list-style-type: none;

            &:first-child {
                padding-left: 0;
            }

            + #{$this}__item {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    left: 0;
                    margin-left: -2px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: $color-text;
                }
            }
        }
    }

    &--medium {
        font-size: (18/16) + rem;
    }

    &--stores {
        > li {
            &.is-hidden {
                opacity: 0.5;
            }
        }
    }
}
