﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@model Glass.Mapper.Sc.Fields.File


@if (Context.IsAmpRequest())
{
    <div class="rc-bg-video__wrapper">
        <amp-video width="1024"
                   height="768"
                   src="@(Model.Src.ToGeneralUrl())"
                   layout="responsive"
                   autoplay>
            <div fallback>
                <p>Your browser doesn't support HTML5 video.</p>
            </div>
            <source type="video/mp4" src="@(Model.Src.ToGeneralUrl())">
        </amp-video>
    </div>
}
else
{
    <div class="rc-bg-video__wrapper">
        <video playsinline="" autoplay="" muted="" loop="" class="rc-center-align">
            <source src="@(Model.Src.ToGeneralUrl())">
        </video>
    </div>
}
