﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@model Delete.Foundation.DeleteFoundationCore.Models.ExtendedImage

<div class="rc-bg-responsive-image__wrapper">
    @if (Context.IsAmpRequest())
    {
        <amp-img srcset="@Html.GetResizedSrcSet(Model)"
                 width="@(Model.Width)" height="@(Model.Height)"
                 layout="responsive"
                 alt="@(Model.Alt)">
        </amp-img>
    }
    else
    {
        <picture class="rc-full-width rc-bg-responsive-image@(ViewData["modifier"])" role="presentation">
            <img class="lazyload"
                 data-srcset="@Html.GetResizedSrcSet(Model?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                 data-sizes="auto"
                 alt="@Model.Alt">
        </picture>
    }
    @Html.RenderJson(Model.GetMicrodata(new DefaultOrganizationAuthorResolver()))
</div>