﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@model Delete.Foundation.DeleteFoundationCore.Models.ExtendedImage

<figure class="rc-bg-image lazyload"
        data-bgset="@Html.GetResizedSrcSet(Model)">
    <figcaption class="rc-screen-reader-text">@Model.Alt</figcaption>
    @Html.RenderJson(Model.GetMicrodata(new DefaultOrganizationAuthorResolver()))
</figure>