﻿@using System.Web.Mvc
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Glass.Mapper.Sc.Fields
@using Sitecore.Collections
@model Glass.Mapper.Sc.Fields.Link

@functions
{
    MvcHtmlString RenderHtmlAttributes(dynamic attributes)
    {
        var tagBuilder = new TagBuilder("a");
        tagBuilder.Attributes.Add("href", Model.BuildUrl(new SafeDictionary<string>()));
        if (Model.Type == LinkType.External)
        {
            tagBuilder.Attributes.Add("target", "_blank");
        }

        var hasCustomClass = false;
        if (attributes is IDictionary<string, object> htmlAttributes)
        {
            tagBuilder.MergeAttributes(htmlAttributes);

            if (htmlAttributes.TryGetValue("class", out object customClass) && customClass?.ToString().NotEmpty() == true)
            {
                hasCustomClass = true;
            }
        }

        if (!hasCustomClass)
        {
            tagBuilder.AddCssClass("rc-btn rc-btn--one");
        }
        return tagBuilder.RenderTagAttributes();
    }
}
<a @RenderHtmlAttributes(ViewBag.HtmlAttributes)>
    @if (!string.IsNullOrEmpty(Model.Title))
    {
        <text>@Model.Title</text>
    }
    else
    {
        <text>@Model.Text</text>
    }
</a>
