@import '~styleSettings';

.rc-text--center-md {    
    @media (--only-mobile) {
        text-align: center;
    }
}

.rc-btn-wrapper {
    display: flex;
    align-items: center;
    @media (--only-mobile) {
        display: block;
        .ps-widget,
        .rc-btn {
            margin-bottom: 10px;
        }
    }

}