@import '~styleSettings';

.rc-video-wrapper {
    $this: &;

    &__play-btn {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 2.36rem;
        margin: auto;

        @media (--medium) {
            width: 3rem;
        }

        &.is-visible {
            display: block;
        }
    }

    &--full-width {
        width: 100%;
        max-width: none;

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
