@import '~styleSettings';
// RC-973
.rc-card--a.rc-card--featured {
    .rc-card__image {
        width: 100%;
    }
}

// RC-962
.rc-card--b {
    .rc-card__image {
        width: 100%;
    }
}

// RC-962
.rc-card--b {
    .rc-card__image {
        width: 100%;
    }
}

// RC-974
.rc-feedback-padding {
    padding-bottom: 50px;
}

// RC-3974
.rc-carousel--left.rc-carousel--nav-center .tns-nav {
    right: 50%;
}

@media (min-width: 769px) {
    .rc-carousel--left.rc-carousel--nav-center .tns-nav {
        right: 0;
    }
    .ie .rc-btn--icon-label.rc-md-down,
    .ie .rc-btn--icon-tab.rc-md-down {
        display: none !important
    }
    .rc-two-column>.rc-column,
    .two-column>.rc-column {
        width: 50%
    }
}


/* Quick fix for unclickable select dropwodn on mobile devices */

[data-type="select-one"] .choices__inner {
    pointer-events: none;
}

// RC-1017
@media (max-width: 769px) {
    .rc-list__link {
        padding: 0.8rem 1rem;
    }
}

.rc-wysiwyg .rc-table {
    border: 0 !important;
}

//RC-1171 fix for consent width zoom on iPhone
.evidon-consent-button[style*="2"] #_evh-link {
    zoom: 0.5 !important;
}

// RC-1170
.rc-card--product {
    .rc-card__image {
        width: 100%;
    }
}

.rc-wysiwyg .rc-table {
    border: 0 !important;
}

// RC-1467 price spider logo fix
img.ps-header-logo {
    height: 46px!important;
    // RC-1566 price spider logo fix
    @media (max-width: 1024px) {
        display: none !important;
    }
}

// RC-1309 EzPublish landing pages
.rc-content--fixed-header-sm {
    padding-top: 5rem;
    @media (max-width: 769px) {
        padding-top: 4.167rem;
    }
}

.rc-header__nav--lp {
    box-shadow: 0 2px 4px #f1f1f1;
}

//RC-1468 // IE11 header fix
.edge15 .rc-header__logo,
.edge16 .rc-header__logo,
.ie11 .header__logo,
.ie11 .rc-header__logo {
    height: 70px;
}

// RC-1541 Mobile / Filter buttons are not full-width
.rc-btn.rc-full-width {
    width: 100% !important;
}

// RC-1561
button.rc-flag[data-modal-trigger="country-lang-selector"] {
    @media (min-width: 768px) {
        top: -20px;
    }
}

//RC-1585 "View all" link styles fix
.rc-carousel__header-link.rc-styled-link--cta {
    text-decoration: none;
    border-bottom: 1px solid rgba(226, 0, 26, 0.15);
    color: #E2001A;
    margin: 1rem 0;
}

.rc-carousel__header-link.rc-styled-link--cta:visited {
    color: #E2001A;
}

//RC-1556 // PriceSpider button has limited width
html[lang~="fr-CA"] .ps-widget.ps-disabled small {
    font-size: 14px;
    line-height: 42px;
}

//RC-1616 Country selector scroll fix
[data-modal-target="country-lang-selector"] .rc-modal__container {
    overflow-y: auto;
}

//RC-1691 DL upgrade to 8.7.9
.rc-btn--two::after,
.rc-btn--two::before,
.rc-btn--one::after,
.rc-btn--one::before {
    display: inline-block!important;
}

.rc-btn.rc-full-width-mobile {
    @media (max-width: 769px) {
        width: 100%;
    }
}

//RC-1757  add scrolling for mobile tables
.rc-list__accordion-item .rc-wysiwyg {
    overflow-x: auto;
}

//RC-1751 // Submit button is overlapped by the bottom line
.rc-input__submit--micro.rc-input__submit--micro--mobile-small {
    @media (max-width: 769px) {
        min-width: 3rem;
        height: 3rem;
    }
}

//RC-1778 mega menu on tablet fix
.rc-modal__tablet-fix {
    display: block;
    height: 1px;
    width: 100%;
    max-width: 100%;
}

//RC-2014 
.rc-btn.rc-icon.external--xs::after, 
.rc-btn.rc-icon.rc-external--xs::after {
    @media (max-width: 769px) {
        position: absolute;
    }
}

//RC-1967  interactive image
.rc-hanging-indent {
    position: absolute;
    left: -1.5rem;
}

.rc-hanging-indent.rc-icon {
    top: 0.25rem;
    left: -2rem;
}

.rc-interactive-image--toggle-content__content {
    position: relative;
}

@media (max-width: 769px) {
    .rc-hanging-indent.rc-icon {
        top: 0.05rem;
        left: -1.8rem;
    }
    .rc-interactive-image--toggle-content .rc-bg-image.rc-fixed-ratio--16-9 {
        height: auto;
    }
    .rc-interactive-image--toggle-content .rc-btn {
        min-width: 2rem;
        height: 2rem;
    }
    .rc-interactive-image--toggle-content .rc-interactive-button::before {
        height: 1.5rem;
        width: 1.5rem;
    }
}

.rc-section-navigation {
    p.rc-link-list__anchor-link.rc-link-list__item--active {
        padding: 0 22px !important;
        margin: -2px 0 0 0 !important;
        span {
            color: $color-brand2 !important;
        }
    }
    .rc-hidden-desktop {
        @media (min-width: 960px) {
            display: none;
        }
    }
}

// RC-2011
.rc-eliminate-padding-top {
    margin-top: -0.8rem;
    .rc-column {
        padding-top: 0;
    }
    .rc-carousel--a {
        padding-top: 0;
    }
    &.rc-padding--sm {
        padding-top: 0;
    }    
}

// RC-2010
.rc-match-heights .rc-column .rc-quick-tip {
    height: 100%;
}

//RC-1981 hide second close icon in the search bar
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none !important;
}
input[type="search"]::-ms-clear {  display: none!important; width : 0; height: 0; }
input[type="search"]::-ms-reveal {  display: none!important; width : 0; height: 0; }