@import '~styleSettings';

/* critical:start */
.definition-list {
    $this: &;

    display: flex;
    flex-wrap: wrap;
    margin: 0;

    dt,
    dd {
        width: 50%;
        margin: 0 0 10px 0;
    }
}
/* critical:end */
