﻿@using Delete.Foundation.DeleteFoundationCore.Helpers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.RegionPicker.Models.SortedRegions>


<aside role="modal" class="rc-modal rc-hidden" data-modal-target="modal-region-picker">
    <div class="rc-modal__container rc-modal__container--restricted-height"
         data-component="manual-region">
        <header class="rc-modal__header rc-modal__header--nobg">
            <button class="rc-btn rc-icon rc-btn--icon-label rc-modal__close rc-close--xs rc-iconography" data-modal-trigger="modal-region-picker" data-ref="mrp-static-name">
                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.regionpicker.close")
            </button>
        </header>
        <section class="rc-modal__content rc-modal__content--location rc-scroll--y">
            <div>
                <h2 class="rc-gamma">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.regionpicker.chooseyourlocation")</h2>

                <span class="rc-input rc-input--search rc-margin-bottom--sm" data-ref="search-wrapper">
                    <button class="rc-input__submit rc-input__submit--search" type="button" data-ref="search-button">
                        <span class="rc-screen-reader-text">
                            @TranslateHelper.TextByDomainCached("Translations", "translations.feature.regionpicker.submit")
                        </span>
                    </button>
                    <input class="rc-input__control"
                           id="id-submit"
                           type="text"
                           name="search"
                           data-ref="input" />
                    <label class="rc-input__label" for="id-submit">
                        <span class="rc-input__label-text">
                            @TranslateHelper.TextByDomainCached("Translations", "translations.feature.regionpicker.starttypingtofindaregion")
                        </span>
                    </label>
                </span>
                <div class="rc-padding-y--md rc-border-line">
                    <h3 class="rc-delta">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.regionpicker.popularlocation")</h3>
                    <ul class="rc-list rc-list--blank rc-padding--none rc-list--split-desktop3">
                        @if (Model.MostPopular != null)
                        {
                            foreach (var region in Model.MostPopular)
                            {
                                <li class="rc-list__item"><a href="#" data-ref="city" class="rc-text-colour--text">@region.RegionNameYandex</a></li>
                            }
                        }
                        @if (Model.Popular != null)
                        {
                            foreach (var region in Model.Popular)
                            {
                                <li class="rc-list__item"><a href="#" data-ref="city" class="rc-text-colour--text">@region.RegionNameYandex</a></li>
                            }
                        }

                    </ul>
                    </div>
                
                <div class="rc-padding-top--md rc-border-line">
                    <h3 class="rc-delta">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.regionpicker.otherlocation")</h3>
                    <ul class="rc-list rc-list--blank rc-padding--none rc-list--split-desktop3">
                        @if (Model.Other != null)
                        {
                            foreach (var region in Model?.Other)
                            {
                                <li class="rc-list__item"><a href="#" data-ref="city" class="rc-text-colour--text">@region.RegionNameYandex</a></li>
                            }
                        }
                        
                    </ul>
                </div>

            </div>
        </section>
    </div>
</aside>