﻿@using Delete.Feature.Breeds.Models
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@model SearchResultViewModel

<div class="rc-max-width--xl" data-ref="filter-listing">
    <div data-ref="data-container">
        @if (!Model.SearchResults.Any())
        {
            <div class="rc-padding-y--md">
                <div class="rc-layout-container">
                    <div class="rc-column">
                        <p class="rc-full-width">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.searchnoresults")</p>
                    </div>
                </div>
            </div>
        }
        else
        {
            foreach (var groupedBreedsBySize in Model.SearchResults)
            {
                if (groupedBreedsBySize?.Key == null)
                {
                    continue;
                }

                <div class="rc-padding-y--sm">
                    <div class="rc-carousel__header">
                        @Html.Partial("~/Views/Feature/Breeds/_BreedSearchResultsFilterGroupHeader.cshtml", groupedBreedsBySize.Key)
                    </div>
                    <div class="rc-layout-container rc-content-card rc-match-heights">

                        @foreach (var breed in groupedBreedsBySize.Items)
                        {
                            <div class="rc-column">
                                <a class="rc-card__link rc-full-width" href="@breed.Url">
                                    <article class="rc-card rc-card--b">
                                        <picture class="rc-card__image">
                                            <img class="lazyload"
                                                 src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 3'%3E%3C/svg%3E")"
                                                 data-srcset="@Html.GetResizedSrcSet(breed.GlobalBreed?.Thumbnail?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                                                 data-sizes="auto"
                                                 alt="@(breed.GlobalBreed?.Thumbnail?.Alt ?? breed?.LocalBreedName.OrDefault(breed?.GlobalBreed?.BreedName))">
                                            @if (!IsAjax)
                                            {
                                                @Html.RenderJson(breed.GlobalBreed?.Thumbnail.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                                            }
                                        </picture>
                                        <div class="rc-card__body">
                                            <header class="rc-text--center">
                                                <h1 class="rc-card__title">@(breed?.LocalBreedName.OrDefault(breed?.GlobalBreed?.BreedName))</h1>
                                                <p class="rc-card__meta">@(breed.GlobalBreed?.BreedStatement)</p>
                                            </header>
                                        </div>
                                        @if (!IsAjax)
                                        {
                                            @Html.RenderJson(breed.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                                        }
                                    </article>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }
        }

    </div>
    @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)
</div>