﻿@using Delete.Feature.Breeds.Models
@using Delete.Foundation.DataTemplates.Models.Taxonomy
@using Glass.Mapper
@model Delete.Foundation.DataTemplates.Models.Filter.FilterItem

<div class="rc-carousel__header-title">
    <h2 class="rc-gamma">@(Model?.Text)</h2>
    @if (Model != null && Model.TemplateId == SizeConstants.TemplateId)
    {
        var sizeGroup = Model as Size;
        if (sizeGroup != null && sizeGroup.Description.HasValue())
        {
            <span> - @sizeGroup.Description</span>
        }
    }
</div>