﻿@using Delete.Feature.Breeds.Models
@using Delete.Foundation.DataTemplates.Extensions
@using Delete.Foundation.DataTemplates.Models.Taxonomy
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@model SearchFilterViewModel

@{
    var itemName = Html.GetItemName();

    var species = Model.Specie != null ? SpecieConstants.SpeciesByGuid(Model.Specie.Id) : null;
    var speciesString = species.HasValue ? species.Value.ToString() : "";
    var speciesId = species.HasValue ? ((int) species.Value).ToString() : "";
}

<div data-control="filter-panel">
    <div data-toggle-group data-toggle-effect="rc-expand--vertical" role="presentation">
        <button class="rc-btn rc-btn--icon-label rc-icon rc-filter--xs rc-iconography rc-md-up"
                data-rc-switch-icon="['rc-filter--xs', 'rc-close--xs']"
                data-rc-switch-text="@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.closebreeds")"
                id="filter-header"
                data-toggle="filters"
                data-ref="filter-button"
                type="button">
            @TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.filterbreeds")
        </button>
        <div class="rc-inline">
            <span class="rc-input rc-input--search rc-margin-bottom--sm" data-control="filter-search" data-endpoint="@Url.ApiAction("FindByKeyword", "Breeds", new RouteValueDictionary(new {species = Model.Specie.Id}))">
                <button class="rc-input__submit rc-input__submit--search" type="button" data-ref="filter-search-button">
                    <span class="rc-screen-reader-text">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.submit")
                    </span>
                </button>
                <input class="rc-input__control" 
                    id="breed-search" 
                    type="text" 
                    name="search"                    
                    data-ref="input"                    
                    data-track-event="@(speciesString) Breed Filter Text Search"
                    data-track-category="@(speciesString) Breed Filter"                    
                    data-track-label="Update Free Text"
                    data-track-breed-id=""
                    data-track-specie-id="@(speciesId)"
                    data-track-age=""
                    />
                <label class="rc-input__label" for="breed-search">
                    <span class="rc-input__label-text">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.starttyping")
                    </span>
                </label>
            </span>
        </div>
        <button class="rc-btn rc-btn--icon-label rc-icon rc-filter--xs rc-iconography rc-md-down"
                data-ref="filter-button"
                data-filter-trigger="filters"
                type="button">
            @TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.filterbreeds")
        </button>
    </div>
    <div id="filters" aria-labelledby="filter-header" role="region">
        <div class="rc-filters" data-filter-target="filters">
            <div class="rc-filters__form">
                <header class="rc-filters__header rc-md-down rc-margin-bottom--sm">
                    <button class="rc-md-down rc-stick-left rc-btn rc-btn--icon rc-icon rc-close--xs rc-iconography" data-filter-trigger="filters"
                            type="button">
                        <span class="rc-screen-reader-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.closebreeds")</span>
                    </button>
                    <h1 class="rc-filters__heading rc-padding-bottom--xs rc-header-with-icon rc-header-with-icon--alpha">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.filterbreeds")
                    </h1>
                </header>
                <main class="rc-filters__main">
                    <ul class="rc-list rc-list--five-column rc-list--blank rc-list--align">
                        @{
                            var i = 0;
                        }
                        @foreach (var filterGroup in Model.FilterGroups)
                        {
                            var items = filterGroup.GetItems(Model.Specie.Id).OnlyExistingInSearchResults(Model.FilterRelatedSearchResults);
                            if (!items.Any())
                            {
                                continue;
                            }

                            var j = 0;
                            <li class="rc-list__item rc-list__item--border-none rc-list__item--group"
                                data-ref="filter-category"
                                data-filter-category="@filterGroup.RequestParameterName">
                                <div class="rc-margin-bottom--xs rc-padding-left--none rc-border--none" data-toggle="category-id-@i">
                                    <strong>@filterGroup.FilterGroupLabel</strong>
                                    @*<a class="rc-styled-link rc-list__header-link rc-hidden" href="#/" data-ref="clear-category-filters-btn">
                                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.clear")
                                    </a>*@
                                </div>
                                <ul class="rc-list rc-list--blank rc-list--align" id="category-id-@i">
                                    @foreach (var filterItem in items)
                                    {
                                        <li class="rc-list__item">
                                            <div class="rc-input rc-input--stacked">
                                                <input class="rc-input__checkbox"
                                                       id="checkbox-id-@i-@j"
                                                       type="checkbox"
                                                       name="checkbox"
                                                       value="@filterItem.Id"
                                                       data-label="@filterItem.FilterLabel.OrDefault(filterItem.Text)"
                                                       data-track-event="@(speciesString) Breed Filter @(filterGroup.FilterGroupLabel)"
                                                       data-track-category="@(speciesString) Breed Filter"
                                                       data-track-action="@filterItem.FilterLabel.OrDefault(filterItem.Text)"
                                                       data-track-label="Update @(filterGroup.FilterGroupLabel)"
                                                       data-track-breed-id=""
                                                       data-track-specie-id="@(speciesId)"
                                                       data-track-age=""
                                                       data-ref="filter-checkbox" />
                                                <label class="rc-input__label--inline" for="checkbox-id-@i-@j">
                                                    @filterItem.Text
                                                </label>
                                            </div>
                                        </li>
                                        j++;
                                    }
                                </ul>
                            </li>
                            i++;
                        }
                    </ul>
                    <button class="rc-styled-link rc-margin-top--xs rc-margin-bottom--sm rc-md-up rc-hidden" data-ref="clear-all-filters-link">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.clearall")
                    </button>
                </main>
                <footer class="rc-filters__footer rc-md-down">
                    <button class="rc-btn rc-btn--two rc-full-width rc-margin-bottom--md" data-filter-trigger="filters" data-ref="clear-all-filters-btn">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.clearall")</button>
                    <button class="rc-btn rc-btn--one rc-full-width" data-filter-trigger="filters" data-ref="apply-filters">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.applyfilters")</button>
                    <div class="rc-padding-bottom--lg"></div>
                </footer>
            </div>
        </div>
    </div>
    <ul class="rc-list rc-list--inline rc-list--blank rc-list--reset-margin rc-list--align tags-container" data-control="filter-tags"></ul>
</div>

