﻿@using Delete.Feature.Breeds.Models
@using Delete.Foundation.DataTemplates.Models.Filter
@using Delete.Foundation.DataTemplates.Models.Taxonomy
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@model SearchResultViewModel

<div data-control="filter-listing">
    <div data-ref="data-container">
        @if (!Model.SearchResults.Any())
        {
            <div class="rc-padding-y--md">
                <div class="rc-layout-container">
                    <div class="rc-column">
                        <p class="rc-full-width"><b>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.searchnoresults")</b></p>
                    </div>
                </div>
            </div>
        }
        else
        {
            foreach (var groupedBreedsBySize in Model.SearchResults)
            {
                if (groupedBreedsBySize?.Key == null)
                {
                    continue;
                }

                <section class="rc-padding-y--sm">
                    <div class="rc-carousel__header">
                        @Html.Partial("~/Views/Feature/Breeds/_BreedSearchResultsFilterGroupHeader.cshtml", groupedBreedsBySize.Key)
                        @if (groupedBreedsBySize.ItemsMaxCount > Model.PageSize)
                        {
                            <a class="rc-carousel__header-link rc-md-up rc-styled-link--cta" href="#"
                               data-control="filter-view-all-btn"
                               data-filter-category="@(Model.MainFilterGroup?.RequestParameterName)"
                               data-filter-value="@(groupedBreedsBySize.Key?.Id)">
                                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.viewall")
                                @groupedBreedsBySize.ItemsMaxCount
                            </a>
                        }
                    </div>

                    <div class="rc-carousel rc-carousel--cards rc-match-heights rc-carousel--full-height" 
                        data-carousel--card-count="4"
                        data-component="carousel-event-tracker" data-js-carousel data-track-category="Breed search" data-rc-cards="true">
                        <div class="rc-carousel__card-gal">
                            @foreach (var breed in groupedBreedsBySize.Items)
                            {
                    
                                <a class="rc-card__link" href="@breed.Url">
                                    <article class="rc-card rc-card--b">
                                        <picture class="rc-card__image">
                                            <img class="lazyload"
                                                 src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 3'%3E%3C/svg%3E")"
                                                 data-srcset="@Html.GetResizedSrcSet(breed.GlobalBreed?.Thumbnail.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                                                 data-sizes="auto"
                                                 alt="@(!string.IsNullOrEmpty(breed.GlobalBreed?.Thumbnail?.Alt) ? breed.GlobalBreed.Thumbnail.Alt : breed?.LocalBreedName.OrDefault(breed?.GlobalBreed?.BreedName))">
                                            @if (!IsAjax)
                                            {
                                                @Html.RenderJson(breed.GlobalBreed?.Thumbnail?.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                                            }
                                        </picture>
                                        <div class="rc-card__body">
                                            <header class="rc-text--center">
                                                <h3 class="rc-card__title">@(breed?.LocalBreedName.OrDefault(breed?.GlobalBreed?.BreedName))</h3>
                                                <p class="rc-card__meta">@(breed.GlobalBreed?.BreedStatement)</p>
                                            </header>
                                        </div>
                                        @if (!IsAjax)
                                        {
                                            @Html.RenderJson(breed.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                                        }
                                    </article>
                                </a>
                            }
                        </div>
                    </div>
                    @if (groupedBreedsBySize.ItemsMaxCount > Model.PageSize)
                    {
                        <div class="rc-text--center">
                            <a class="rc-carousel__header-link rc-md-down rc-styled-link--cta rc-inline" href="#"
                               data-control="filter-view-all-btn"
                               data-filter-category="@(Model.MainFilterGroup?.RequestParameterName)"
                               data-filter-value="@(groupedBreedsBySize.Key?.Id)">
                                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.viewall")
                                @groupedBreedsBySize.ItemsMaxCount
                            </a>
                        </div>
                    }
                </section>
            }
        }

    </div>
    @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)
</div>