﻿@using Delete.Feature.Breeds.Models
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Sitecore.Globalization
@inherits GlassView<GlobalBreed>

@{
    var aboutBreedStatement = TranslateHelper.TextByDomainCached("Translations", Model.TemplateId == GlobalDogBreedConstants.TemplateId 
                                                                         ? "translations.feature.breeds.aboutbreedstatement.dog" 
                                                                         : "translations.feature.breeds.aboutbreedstatement.cat");
}
<div class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3">
    <div class="rc-padding-y--md rc-md-down"></div>
    <div class="rc-layout-container rc-three-column rc-max-width--xl">
        <div class="rc-column">
            @if (Model.AboutBreedHeader.NotEmpty() || IsInEditingMode)
            {
                <h2 class="rc-beta">@Editable(x => x.AboutBreedHeader)</h2>
            }
            @Editable(x => x.AboutBreedText)
            @if (aboutBreedStatement.NotEmpty())
            {
                <p>@aboutBreedStatement</p>
            }
        </div>
        <div class="rc-column">
            <h2 class="rc-beta">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.breedspecifics")</h2>
            <dl class="definition-list">
                @if ((Model.Country?.Text).NotEmpty())
                {
                    <dt>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.country")</dt>
                    <dd>@Model.Country.Text</dd>
                }

                @if (Model.TemplateId == GlobalDogBreedConstants.TemplateId)
                {
                    var globalDogBreed = SitecoreContext.GetItem<GlobalDogBreed>(Model.Id);
                        if (globalDogBreed?.Groups != null && globalDogBreed.Groups.Any())
                    {
                        <dt>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.group")</dt>
                            <dd>@(string.Join(", ", globalDogBreed.Groups.Select(x => x.Text)))</dd>
                    }
                }

                @if (Model.TemplateId == GlobalCatBreedConstants.TemplateId)
                {
                    var globalCatBreed = SitecoreContext.GetItem<GlobalCatBreed>(Model.Id);
                    if (globalCatBreed?.Habitat != null)
                    {
                        <dt>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.habitat")</dt>
                        <dd>@globalCatBreed.Habitat.Text</dd>
                    }
                    if (globalCatBreed?.Coat?.Text != null)
                    {
                        <dt>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.coat")</dt>
                        <dd>@globalCatBreed.Coat.Text</dd>
                    }
                }

                @if ((Model.Size?.Text).NotEmpty())
                {
                    <dt>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.sizecategory")</dt>
                    <dd>@Model.Size.Text</dd>
                }

                @if (Model.AverageLifeExpectancyFrom != default(Int32))
                {
                    <dt>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.averagelifeexpectancy")</dt>
                    <dd>@(Model.AverageLifeExpectancyTo != default(Int32) ? $"{Model.AverageLifeExpectancyFrom}–{Model.AverageLifeExpectancyTo}" : Model.AverageLifeExpectancyFrom.ToString()) @TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.years")</dd>
                }
            </dl>
            @if (Model.CharacteristicsLine.NotEmpty())
            {
                <p>@Model.CharacteristicsLine</p>
            }
        </div>
        @if (Model.KeyFacts.Any())
        {
            <div class="rc-column">
                <h2 class="rc-beta">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.keyfacts")</h2>
                <ul class="rc-list rc-list--blank rc-list--large-icon">
                    @foreach (var keyFact in Model.KeyFacts)
                    {
                        <li class="rc-list__item rc-icon rc-iconography @(keyFact?.Icon?.Value)">
                            @(keyFact?.FilterLabel)
                        </li>
                    }

                </ul>
            </div>
        }
    </div>
    <div class="rc-padding-y--md rc-md-down"></div>
</div>

