﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@inherits GlassView<Delete.Feature.Breeds.Models.GlobalBreed>

@if (Model.HideAdditionalContent)
{
    if (IsInEditingMode)
    {
        <p>Breed Origin Panel is hidden. Please untick 'Hide Additional Content' setting to display it.</p>
    }
}
else if (Model.BreedOriginHeader.NotEmpty() && ( Model.BreedOriginText.NotEmpty() || Model.BreedOriginImage != null ) || IsInEditingMode)
{
<div class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3 rc-padding-y--none">
    <div class="rc-padding-y--md rc-md-down"></div>
    <div class="rc-layout-container rc-two-column rc-reverse-layout-mobile rc-content-h-middle rc-max-width--xl">
        @if ((Model.BreedOriginImage != null) || IsInEditingMode) {
        <div class="rc-column rc-padding-bottom--none">
            @this.RenderLazyImage(x => x.BreedOriginImage, Html.GetResizedSrcSet(Model?.BreedOriginImage))
            @Html.RenderJson(Model.BreedOriginImage.GetMicrodata(new DefaultOrganizationAuthorResolver()))
        </div>
        }          
        <div class="rc-column">
            <div>
                @if (Model.BreedOriginHeader.NotEmpty() || IsInEditingMode)
                {
                    <h3 class="rc-beta">
                        @Editable(x => x.BreedOriginHeader)
                    </h3>
                }
                @Editable(x => x.BreedOriginText)
            </div>
        </div>
    </div>
    <div class="rc-padding-y--md rc-md-down"></div>        
</div>
}