﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@inherits GlassView<Delete.Feature.Breeds.Models.BreedHeroModel>

@{
    var globalBreed = Model.GlobalBreed;
    var hasImage = globalBreed?.DesktopBreedHeroImage != null;

}
<div class="rc-bg-colour--brand3 rc-padding--sm  @(hasImage ? "rc-padding-y--none" : "") rc-margin-bottom--xs rc-margin-bottom--sm--mobile">
    <div class="rc-padding-y--md rc-md-down"></div>
    <div class="rc-layout-container @(hasImage ? "rc-two-column" : "rc-one-column") rc-reverse-layout-mobile rc-content-h-middle rc-max-width--xl">
        @if (hasImage)
        {
            var mobileAndFallbackImage = globalBreed.MobileBreedHeroImage != null ? globalBreed.MobileBreedHeroImage : globalBreed.DesktopBreedHeroImage;

            <div class="rc-column rc-padding-bottom--none">
                <picture class="rc-full-width">
                    <source data-srcset="@Html.GetResizedSrcSet(globalBreed.DesktopBreedHeroImage?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                            media="(min-width: 768px)">
                    <img class="lazyload"
                         src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {mobileAndFallbackImage.Width} {mobileAndFallbackImage.Height}'%3E%3C/svg%3E")"
                         data-srcset="@Html.GetResizedSrcSet(mobileAndFallbackImage?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                         data-sizes="auto"
                         alt="@(mobileAndFallbackImage.Alt)">

                    @Html.RenderJson(globalBreed.DesktopBreedHeroImage.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                </picture>
            </div>
        }
        <div class="rc-column">
            <div>
                <h1 class="rc-alpha">
                    @if (Model.LocalBreed == null || Model.LocalBreed.LocalBreedName.IsNullOrEmpty())
                    {
                        @Editable(globalBreed, x => x.BreedName)
                    }
                    else
                    {
                        @Editable(Model.LocalBreed, x => x.LocalBreedName)
                    }
                </h1>
                <p>@Editable(globalBreed, x => x.BreedDescription)</p>
            </div>
        </div>
    </div>
</div>