﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@inherits GlassView<Delete.Feature.Breeds.Models.TimelineViewModel>

@{
    var seed = 1;
}

@if (Model.Breed.HideAdditionalContent)
{
    if (IsInEditingMode)
    {
        <p>Breed Timeline is hidden. Please untick 'Hide Additional Content' setting to display it.</p>
    }
}
else
{
    <div data-component="timeline" class="timeline">

        @if (Model.Breed.BreedTimelineText.NotEmpty() || Model.Breed.BreedTimelineHeader.NotEmpty())
        {
            <div class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3">
                <div class="rc-padding-y--md rc-md-down"></div>

                <div class="rc-layout-container rc-one-column rc-text--center rc-max-width--xl">
                    <div class="rc-column">
                        <div class="rc-full-width rc-padding-x--sm">
                            @if (Model.Breed.BreedTimelineHeader.NotEmpty() || IsInEditingMode)
                            {
                                <h3 class="rc-beta">@Editable(Model.Breed, x => x.BreedTimelineHeader)</h3>
                            }
                            @Editable(Model.Breed, x => x.BreedTimelineText)
                        </div>
                    </div>
                    <div class="rc-padding-y--md rc-md-down"></div>
                </div>

            </div>

        }
        

        @if (Model.Ages != null && Model.Ages.Count > 0)
        {
            <div class="timeline__nav" data-ref="timeline-nav">
                @foreach (var age in Model.Ages)
                {
                    <a class="timeline__nav-link" data-ref="timeline-link" data-id="@age.Value" role="tab" href="#@age.Value">
                        <span class="timeline__rect-wrap">
                            <span class="timeline__rect"></span>
                        </span>
                        <span class="timeline__link-text">@age.Text</span>
                    </a>
                }
            </div>

            <div class="timeline__content" data-ref="timeline-content">
                @foreach (var age in Model.Ages)
                {
                    <div class="timeline__section" data-ref="timeline-section" id="@age.Value">
                        @if (IsInEditingMode)
                        {
                            <div class="timeline__age-title-sitecor">@age.Text</div>
                        }
                        @Html.Sitecore().DynamicPlaceholder("rc-breed-timeline", seed: seed)
                    </div>
                    seed++;
                }
            </div>
        }
    </div>
}