﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.Breeds.Models.ContentSearchPanel>

<div>
    <h3 class="rc-beta">@Editable(x => x.Header)</h3>
    @if (!Context.IsAmpRequest())
    {
        <p>@Editable(x => x.IntroText)</p>
        <span class="rc-input rc-input--search"
              data-component="autocomplete"
              data-auto-first="true"
              data-endpoint="@Url.ApiAction("FindByKeyword", "Breeds", new RouteValueDictionary(new { species = Model?.Species?.Id }))">
            <button class="rc-input__submit rc-input__submit--search" type="button" data-ref="search-button">
                <span class="rc-screen-reader-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.search")</span>
            </button>
            <input class="rc-input__control" id="content-search" type="text" name="search" data-ref="input" />
            <label class="rc-input__label" for="content-search">
                <span class="rc-input__label-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.search")</span>
            </label>
        </span>
    }
    <p>@Editable(x => x.CTAText)</p>
    @RenderLink(x => x.CTALink, new { @class = "rc-btn rc-btn--two", title = LinkHelper.RenderLinkTitle(Model.CTALink, Model.Name) }, isEditable: true)
</div>