﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.Breeds.Models.MixedBreedBlock>

<section class="rc-bg-colour--brand3 rc-padding--sm rc-padding-bottom--none rc-margin-bottom--xs rc-margin-bottom--sm--mobile">
    <div class="rc-padding-y--md rc-md-down"></div>
    <div class="rc-layout-container rc-two-column rc-padding-y--none rc-max-width--lg rc-content-h-middle rc-reverse-layout rc-reverse-layout-mobile">
        <div class="rc-column rc-padding-bottom--none rc-padding-top--md--mobile">
            <div class="rc-full-width">
                <picture>
                    @this.RenderLazyImage(x => x.Image, Html.GetResizedSrcSet(Model?.Image))
                    @Html.RenderJson(Model?.Image.GetMicrodata(new DefaultOrganizationAuthorResolver()))
                </picture>
            </div>

        </div>
        <div class="rc-column">
            <div>
                <h3 class="rc-alpha">@Editable(x => x.Header)</h3>
                @Editable(x => x.IntroText)
                <span class="rc-input rc-input--search"
                      data-component="autocomplete"
                      data-auto-first="true"
                      data-endpoint="@Url.ApiAction("FindByKeyword", "Breeds", new RouteValueDictionary(new {species = Model?.Species?.Id}))">
                    <button class="rc-input__submit rc-input__submit--search" type="button" data-ref="search-button">
                        <span class="rc-screen-reader-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.submit")</span>
                    </button>
                    <input class="rc-input__control" id="id-submit" type="text" name="search" data-ref="input" />

                    <label class="rc-input__label" for="id-submit">
                        <span class="rc-input__label-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.search")</span>
                    </label>
                </span>
            </div>
        </div>

    </div>
</section>