﻿@using Delete.Feature.Breeds.Models
@using Delete.Foundation.DeleteFoundationCore.Extensions
@model SearchViewModel

<section class="rc-padding--md rc-bg-colour--brand3" data-component="filter-and-listing"
         data-endpoint="@Url.ApiAction("SearchBreeds", "Breeds")"
         data-request-filter="@Model.FilterConfiguration"
         data-track-category="Breed search">
    <div class="rc-max-width--xl">
        <div class="rc-full-width">
            @Html.Partial("~/Views/Feature/Breeds/_BreedSearchAndFilter.cshtml", Model.FilterModel)
            @Html.Partial("~/Views/Feature/Breeds/_BreedSearchResults.cshtml", Model.SearchResultModel)
        </div>
    </div>
</section>