﻿@using Delete.Feature.Breeds.Models
@using Delete.Foundation.MultiSite.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.MultiSite.Models
@using Sitecore.Globalization
@inherits GlassView<GlobalBreed>

@helper RenderWeightTable(MeasurementUnit weightUnitForPets, decimal weightMin, decimal weightMax)
{
    if (weightMin > 0 || weightMax > 0)
    {
        <div class="size-table__column">
            <span class="size-table__espilon">
                @if (weightMin > 0)
                {
                    @weightMin.ConvertRange(weightMax, Model.WeightMeasurementUnit, weightUnitForPets, false)
                }
                else
                {
                    @:@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.upto") @weightMax.ConvertToUnits(Model.WeightMeasurementUnit, weightUnitForPets, showZeros:false)
                }
            </span>
            <span>
                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.weight")
            </span>
        </div>
    }
}

@{
    var marketSettings = SitecoreContext.GetLocalMarketSettings();
    var heightUnitForPets = marketSettings?.HeightUnitForPets ?? Model.HeightMeasurementUnit;
    var weightUnitForPets = marketSettings?.WeightUnitForPets ?? Model.WeightMeasurementUnit;
}


@if (Model.HeightMaleMin > 0 || Model.HeightMaleMax > 0 || Model.WeightMaleMin > 0 || Model.WeightMaleMax > 0)
{
    <div class="size-table rc-margin-y--sm">
        <div class="size-table__header rc-border-colour--interface">
            <span class="rc-icon rc-iconography rc-weight"></span>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.male")
        </div>

        <div class="size-table__row">
            @if (Model.HeightMaleMin > 0 || Model.HeightMaleMax > 0)
            {
                <div class="size-table__column">
                    <span class="size-table__espilon">
                        @Model.HeightMaleMin.ConvertRange(Model.HeightMaleMax, Model.HeightMeasurementUnit, heightUnitForPets, false)
                    </span>
                    <span>
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.height")
                    </span>
                </div>
            }

            @RenderWeightTable(weightUnitForPets, Model.WeightMaleMin, Model.WeightMaleMax)
        </div>
    </div>
}

@if (Model.HeightFemaleMin > 0 || Model.HeightFemaleMax > 0 || Model.WeightFemaleMin > 0 || Model.WeightFemaleMax > 0)
{
    <div class="size-table rc-margin-y--sm">
        <div class="size-table__header rc-border-colour--interface">
            <span class="rc-icon rc-iconography rc-weight"></span>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.female")
        </div>

        <div class="size-table__row">
            @if (Model.HeightFemaleMin > 0 || Model.HeightFemaleMax > 0)
            {
                <div class="size-table__column">
                    <span class="size-table__espilon">
                        @Model.HeightFemaleMin.ConvertRange(Model.HeightFemaleMax, Model.HeightMeasurementUnit, heightUnitForPets, false)
                    </span>
                    <span>
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.breeds.height")
                    </span>
                </div>
            }

            @RenderWeightTable(weightUnitForPets, Model.WeightFemaleMin, Model.WeightFemaleMax)
        </div>
    </div>
}