.article-details {
    padding: 30px 0;

    &__container {
        padding: 0 20px;

        b {
            font-weight: 500;
        }

        a {
            color: $color-text;
            font-weight: 500;
        }
    }
}
