.author-panel {
    display: flex;
    align-items: center;
    width: 100%;

    &__image {
        padding: 0 24px 0 0;

        .rc-img--round {
            display: inline-block;
            margin: 0;
            width: 96px;
            height: 96px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 999px;
            overflow: hidden;
        }
    }

    &__published {
        display: block;
        font-size: 0.9rem;
    }

    &__name {
        display: block;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
    }
}
