@import '~styleSettings';

.blockquote {
    $this: &;

    display: flex;
    flex-wrap: wrap;

    &__image {
        width: 57px;
        order: 1;

        .rc-img--round--md {
            display: inline-block;
            width: 35px;
            height: 35px;
            position: relative;
            margin: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 999px;
            overflow: hidden;

            &.img--quote-no-image {
                &::after {
                    content: '\201c';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 2.5rem;
                    line-height: 1em;
                    width: 18px;
                    height: 18px;
                    color: $color-brand3;
                    font-family: georgia, sans-serif;
                }
            }
        }

        &-border {
            border: 3px solid $color-interface;
            background-color: $color-interface;
            border-radius: 50%;
            width: 41px;
            height: 41px;
        }
    }

    &__text {
        width: 100%;
        padding-bottom: 16px;
    }

    &__author {
        order: 3;
        display: flex;
        align-items: center;
        font-size: 0.85rem;
        max-width: calc(100% - 80px);
    }

    &__quote {
        display: none;
    }
}
