.rc-btn {
    $this: &;

    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    border: solid 2px transparent;
    border-radius: 999px;
    background-color: transparent;
    cursor: pointer;

    &--one {
        background-color: $color-brand1;
        color: $color-brand3;
        border-color: $color-brand1;

        + #{$this}--one {
            margin-top: 10px;
        }
    }

    &--two {
        background-color: transparent;
        color: $color-brand1;
        border-color: $color-brand1;
    }

    &--icon,
    &--icon-label {
        min-width: 2.36rem;
        height: 2.36rem;
        border-radius: 0;
        padding: 0;

        &::after {
            content: '';
            display: inline-block;
            background-repeat: no-repeat;
            width: 24px;
            height: 32px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            background-image: url(https://d3moonnr9fkxfg.cloudfront.net/royal-canin.sprite--iconography.svg?v=8-5-11);
        }
    }

    &--icon-label {
        border-radius: 0;
        overflow: visible;
        text-align: left;
        padding: 0.4rem 1.5rem 0.4rem 2.5rem;

        &::after {
            background-image: url(https://d3moonnr9fkxfg.cloudfront.net/royal-canin.sprite--brand3.svg?v=8-5-11);
            left: 1.5rem;
        }
    }

    &--inverse {
        background-color: transparent;
        color: $color-brand4;
        border-color: transparent;
    }
}
