.rc-list {
    $this: &;

    font-size: 1em;
    margin: 0;
    list-style-position: inside;

    &__item {
        line-height: 1.5;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        &.rc-icon::after {
            position: absolute;
            left: -2rem;
            top: 50%;
            margin-top: -16px;
        }
    }

    &__header {
        display: block;
        position: relative;
        width: 100%;
        padding: 1rem;
        border-radius: 0;
        text-align: left;
        color: inherit;
        font-weight: normal;
        background-color: $color-brand3;
        border-bottom: solid 1px $color-interface;
        text-decoration: none;

        &[aria-haspopup='true'] {
            &::after {
                content: '';
                position: absolute;
                width: 24px;
                height: 32px;
                right: 1.5rem;
                top: 50%;
                margin-top: -16px;
                background-image: url(https://d3moonnr9fkxfg.cloudfront.net/royal-canin.sprite--brand3--xs.svg?v=8-5-11);
                background-position: 50% 14.29%;
            }
        }
    }

    &__link {
        display: block;
        padding: 0.8rem 1rem;
        width: 100%;
        text-align: left;
        font-weight: 300;
        border-bottom: solid 1px $color-interface;
        background-color: transparent;
        text-decoration: none;
        color: inherit;

        [data-toggle-group='desktop'] &,
        [data-toggle-group=''] & {
            padding: 1rem 1.5rem;
            border-bottom: solid 1px colour('secondary', 'interface');
        }

        &.rc-flag,
        &.rc-icon {
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 2.5rem;

            &::after {
                content: '';
                display: inline-block;
                background-repeat: no-repeat;
                width: 24px;
                height: 32px;
                transform-origin: 50% 50%;
                position: absolute;
                left: 0.5rem;
                top: 50%;
                margin-top: -16px;
                background-image: url(https://d3moonnr9fkxfg.cloudfront.net/royal-canin.sprite--iconography.svg?v=8-5-11);
            }
        }
    }

    &--blank {
        list-style-type: none;
    }

    &--align {
        padding: 0;
        margin-left: 0;
        list-style-position: inside;
    }

    &--inline {
        &[role='tablist'],
        &[role='menubar'] {
            display: flex;
            flex: 1;
        }
    }

    &--inverse {
        #{$this}__header {
            background-color: transparent;
            color: $color-brand3;
            border-bottom: solid 1px $color-iconograaphy;
            border-width: 0 0 1px 0;
        }

        #{$this}__link {
            background-color: transparent;
            color: $color-brand4;
            border-bottom: solid 1px $color-iconograaphy;
        }

        #{$this} {
            background-color: rgba($color-brand3, 0.03);
        }
    }
}
