.rc-bg-video__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    /* stylelint-disable */
    & > video,
    & > amp-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    /* stylelint-enable */
}

.rc-bg-placeholder-16-9::after {
    content: '';
    display: block;
    padding-top: 56.25%;
}
