.ampTabContainer {
    display: flex;
    flex-wrap: wrap;
}

.rc-tab {
    background: 0 0;
    border: none;
    border-radius: 0;
    border-bottom: 4px solid transparent;
    -webkit-animation: .6s forwards fadeInRight;
    animation: .6s forwards fadeInRight;
    -webkit-transition: .2s;
    transition: .2s;
    color: #444;
    width: 32%; }
  
li:only-child .rc-tab {
    cursor: default
}

.rc-tab[aria-selected=true] {
    color: #e2001a;
    border-bottom-color: #e2001a
}

.rc-tab-content {
    display: none;
    width: 100%;
    order: 1; /* must be greater than the order of the tab buttons to flex to the next line */
}

.rc-tab[selected] + .rc-tab-content {
    display: block;
}

amp-selector [option][selected] {
    cursor: auto;
    outline: none;
}

.show {
        display: block;
    }

.hide {
        display: none;
    }
	
.rc-styled-link,.rc-styled-link--cta,.rc-styled-link--external,.rc-wysiwyg a {
    display: inline-block;
    vertical-align: middle;
    z-index: 2;
    overflow: hidden;
    border-bottom: 1px solid #d7d7d7;
    margin-top: 1px;
    padding-bottom: 4px;
    line-height: .9em;
    font-weight: 500
}

.read-more__button {
    margin: 16px 0
}
