.rc-video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    /* stylelint-disable */
    & > iframe,
    & > embed,
    & > amp-youtube,
    & > amp-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    /* stylelint-enable */
}
