﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Glass.Mapper
@using Constants = Delete.Foundation.DeleteFoundationCore.Constants.Constants
@model RoyalCanin.Project.Metadata.Models.IMetadata
@if (Model != null)
{
    <title>@Model.Title.TrimForMetadata(Constants.Sitecore.MetadataMaxLength.Title)</title>
    if (Model.NoIndex || Request.QueryString["filter"] != null)
    {
        <meta name="robots" content="noindex,follow" />
    }
    if (Model.Description.HasValue())
    {
        <meta name="description" content="@Model.Description" />
    }
    if (Model.Keywords.HasValue())
    {
        <meta name="keywords" content="@Model.Keywords" />
    }
}
