﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Glass.Mapper
@model RoyalCanin.Project.Metadata.Models.IMetadata
@if (Model != null)
{
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Model.Url" />
    <meta name="twitter:title" content="@Model.Title" />
    <meta name="twitter:description" content="@Model.Description" />
    if (Model.Image.HasValue())
    {
        <!--TODO add resize for image to 600px because it's Twitter restriction -->
        <meta name="twitter:image" content="@Url.AbsoluteUrl(Model.Image)" />
    }
}
