﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Glass.Mapper
@model RoyalCanin.Project.Metadata.Models.IMetadata
@if (Model != null)
{
    <meta property="og:url" content="@Model.Url" />
    <meta property="og:type" content="@Model.ContentType" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Description" />
    if (Model.Image.HasValue())
    {
        <!--TODO add resize for image to 600px because it's Facebook restriction -->
        <meta property="og:image" content="@Url.AbsoluteUrl(Model.Image)" />
    }
}
