@import '~styleSettings';

.tips {
    & .rc-filters__main {
        @media (max-width: 769px) {
            padding: 0 !important;
        }
    }
    
    & .rc-alpha {
        text-align: center;

            @media (max-width: 769px) {
                padding-bottom: 30px;
            }
    }

    & .rc-padding-y--sm {
        padding-bottom: 0;  
        padding-top: 0;
    }

    & .rc-list {
        padding-left: 0;

        & .rc-styled-link {
            display: block;
            position: relative;
            padding-bottom: 15px;
            padding-top: 15px;
            border-bottom-color: #d7d7d7;

            &::after {
                position: absolute;
                top: 15%;
                right: 0;
            }
        }
    }
}
