/* STYLES FOR SITECORE EDITOR*/

.rc-alpha {
    color: #E2001A;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 2.75rem;

    /*RTE hack below*/
    overflow-y: hidden;
}

.rc-beta {
    color: #E2001A;
    font-size: 1.875rem;
    font-weight: 300;
    line-height: 1.875rem;

    /*RTE hack below*/
    overflow-y: hidden;
}

.rc-gamma {
    color: #E2001A;
    font-size: 1.625rem;
    font-weight: 300;
    line-height: 1rem;

    /*RTE hack below*/
    overflow-y: hidden;
    height: 100%;
}

.rc-delta {
    color: #E2001A;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5rem;

    /*RTE hack below*/
    overflow-y: hidden;
}

.rc-espilon {
    color: #E2001A;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.625rem;

    /*RTE hack below*/
    overflow-y: hidden;
}

.rc-zeta {
    color: #E2001A;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.rc-intro {
    color: #E2001A;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.625rem;
}

.rc-body {
    color: #E2001A;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.rc-iframe-wrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.helpButton {
}
