@import '~styleSettings';

.richtext-editor {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    table,
    iframe {
        font-style: normal;
        padding: 0;
        margin: 1rem 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        word-break: break-word;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .table-wrapper,
    .iframe-wrapper {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    iframe {
        width: 100%;
    }

    table {
        display: table;
        width: 100% !important;
        height: auto !important;
        border: 1px solid $color-interface;
    }
}
