﻿@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Feature.Articles.Models
@model SearchResultsViewModel

<div class="rc-max-width--xl" data-ref="filter-listing">
    <div data-ref="data-container">
        @if (!Model.SearchResults.Any())
        {
            <div class="rc-padding-y--md">
                <div class="rc-layout-container">
                    <div class="rc-column">
                        <p class="rc-full-width">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.articles.search.noresults")</p>
                    </div>
                </div>
            </div>
        }
        else
        {
            foreach (var groupedArticlesByType in Model.SearchResults)
            {
                if (groupedArticlesByType?.Key == null)
                {
                    continue;
                }

                <div class="rc-padding-y--sm">
                    <div class="rc-carousel__header">
                        @Html.Partial("~/Views/Feature/Articles/_ArticlesSearchResultsFilterGroupHeader.cshtml", groupedArticlesByType.Key)
                    </div>
                    <div class="rc-layout-container rc-content-card rc-match-heights">
                        @foreach (var article in groupedArticlesByType.Items)
                        {
                            <div class="rc-column">
                                @Html.Partial("~/Views/Feature/Articles/_ArticleCard.cshtml", article)
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
    @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)
</div>