@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@model Delete.Feature.Articles.Models.Article

@if (Model != null)
{
    <a class="rc-card__link rc-full-width" href="@(Model.Url)">
        <article class="rc-card rc-card--a">
            @if (Context.IsAmpRequest())
            {
                <div class="rc-card__image">
                    <amp-img class="amp-img" srcset="@Html.GetCroppedByRatioSrcSet(Model.ThumbnailImage, 16, 9)"
                             width="@(Model.ThumbnailImage?.Width)" height="@(Model.ThumbnailImage?.Height)"
                             layout="responsive"
                             alt="@(Model.ThumbnailImage?.Alt ?? Model.Heading)">
                    </amp-img>
                </div>
            }
            else
            {
                <picture class="rc-card__image">
                    <img class="lazyload"
                         src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E")"
                         data-srcset="@Html.GetCroppedByRatioSrcSet(Model.ThumbnailImage?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare), 16, 9)"
                         data-sizes="auto"
                         alt="@(Model.ThumbnailImage?.Alt ?? Model.Heading)">
                </picture>
            }
            @if (!IsAjax)
            {
                @Html.RenderJson(Model.ThumbnailImage.GetMicrodata(new DefaultOrganizationAuthorResolver()))
            }
            <div class="rc-card__body">
                <header>                    
                    <h3 class="rc-card__title">@(Model.Heading)</h3>
                </header>
            </div>
            @if (!IsAjax)
            {
                @Html.RenderJson(Model.GetMicrodata(new DefaultOrganizationAuthorResolver()))
            }
        </article>
    </a>
}
