﻿@using Delete.Foundation.DataTemplates.Extensions
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@model Delete.Feature.Articles.Models.SearchFilterViewModel

@{
    var itemName = Html.GetItemName();
}

<div data-control="filter-panel">
    <div data-toggle-group data-toggle-effect="rc-expand--vertical" role="presentation">

        <button class="rc-btn rc-btn--icon-label rc-icon rc-filter--xs rc-iconography rc-md-up"
                data-rc-switch-icon="['rc-filter--xs', 'rc-close--xs']"
                data-rc-switch-text="@TranslateHelper.TextByDomainCached("Translations", "translations.feature.articles.search.closefilters")"
                id="filter-header"
                data-toggle="filters"
                data-ref="filter-button"
                type="button">
            @TranslateHelper.TextByDomainCached("Translations", "translations.feature.articles.search.filterarticles")
        </button>
        <div class="rc-inline">
            <span class="rc-input rc-input--search rc-margin-bottom--sm" data-control="filter-search" data-endpoint="@Url.ApiAction("FindByKeyword", "Articles", new RouteValueDictionary(new {filter = Model.FilterId}))">
                <button class="rc-input__submit rc-input__submit--search" type="button" data-ref="filter-search-button">
                    <span class="rc-screen-reader-text">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.articles.search.submit")
                    </span>
                </button>
                <input class="rc-input__control" id="id-submit" type="text" name="search" data-ref="input" />
                <label class="rc-input__label" for="id-submit">
                    <span class="rc-input__label-text">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.articles.search.search")
                    </span>
                </label>
            </span>
        </div>
        <button class="rc-btn rc-btn--icon-label rc-icon rc-filter--xs rc-iconography rc-md-down"
                data-ref="filter-button"
                data-filter-trigger="filters"
                type="button">
            @TranslateHelper.TextByDomainCached("Translations", "translations.feature.articles.search.filterarticles")
        </button>
    </div>
    <div id="filters" aria-labelledby="filter-header" role="region">
        <div class="rc-filters" data-filter-target="filters">
            <div class="rc-filters__form">
                <header class="rc-filters__header rc-md-down rc-margin-bottom--sm">
                    <button class="rc-md-down rc-stick-left rc-btn rc-btn--icon rc-icon rc-close--xs rc-iconography" data-filter-trigger="filters"
                            type="button">
                        <span class="rc-screen-reader-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.articles.search.closefilters")</span>
                    </button>
                    <h1 class="rc-filters__heading rc-padding-bottom--xs rc-header-with-icon rc-header-with-icon--alpha">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.articles.search.filterarticles")
                    </h1>
                </header>
                <main class="rc-filters__main">
                    <ul class="rc-list rc-list--five-column rc-list--blank rc-list--align">
                        @{
                            var i = 0;
                        }
                        @foreach (var filterGroup in Model.FilterGroups)
                        {
                            var items = filterGroup.GetItems(Model.Specie.Id).OnlyExistingInSearchResults(Model.FilterRelatedSearchResults);
                            if (!items.Any())
                            {
                                continue;
                            }

                            if (Model.PreFiltering.ContainsKey(filterGroup.Id) && Model.PreFiltering[filterGroup.Id].Any())
                            {
                                items = items.Where(x => Model.PreFiltering[filterGroup.Id].Contains(x.Id));
                            }

                            var j = 0;
                            <li class="rc-list__item rc-list__item--border-none rc-list__item--group"
                                data-ref="filter-category"
                                data-filter-category="@filterGroup.RequestParameterName"
                                role="presentation">
                                <div class="rc-margin-bottom--xs rc-padding-left--none rc-border--none" data-toggle="category-id-@i">
                                    <strong>@filterGroup.FilterGroupLabel</strong>
                                    @*<a class="rc-styled-link rc-list__header-link rc-hidden" href="#/" data-ref="clear-category-filters-btn">
                                            @TranslateHelper.TextByDomainCached("Translations", "translations.feature.articles.search.clear")
                                        </a>*@
                                </div>
                                <ul class="rc-list rc-list--blank rc-list--align" id="category-id-@i">
                                    @foreach (var filterItem in items)
                                    {
                                        <li class="rc-list__item">
                                            <div class="rc-input rc-input--stacked">
                                                <input class="rc-input__checkbox"
                                                       id="checkbox-id-@i-@j"
                                                       type="checkbox"
                                                       name="checkbox"
                                                       value="@filterItem.Id"
                                                       data-label="@filterItem.FilterLabel.OrDefault(filterItem.Text)"
                                                       data-track-label="@filterItem.FilterLabel.OrDefault(filterItem.Text)"
                                                       data-track-category="@(itemName) / Filter"
                                                       data-ref="filter-checkbox" />
                                                <label class="rc-input__label--inline" for="checkbox-id-@i-@j">
                                                    @filterItem.Text
                                                </label>
                                            </div>
                                        </li>
                                        j++;
                                    }
                                </ul>
                            </li>
                            i++;
                        }
                    </ul>
                    <button class="rc-styled-link rc-margin-top--xs rc-margin-bottom--sm rc-md-up rc-hidden" data-ref="clear-all-filters-link">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.articles.search.clearall")
                    </button>
                </main>
                <footer class="rc-filters__footer rc-md-down">
                    <button class="rc-btn rc-btn--two rc-full-width rc-margin-bottom--md" data-filter-trigger="filters" data-ref="clear-all-filters-btn">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.articles.search.clearall")</button>
                    <button class="rc-btn rc-btn--one rc-full-width" data-filter-trigger="filters" data-ref="apply-filters">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.articles.search.apply")</button>
                    <div class="rc-padding-bottom--lg"></div>
                </footer>
            </div>
        </div>

    </div>
    <ul class="rc-list rc-list--inline rc-list--blank rc-list--reset-margin rc-list--align tags-container" data-control="filter-tags"></ul>
</div>

