﻿@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Feature.Articles.Models
@model SearchResultsViewModel

<div data-control="filter-listing">
    <div data-ref="data-container">
        @if (!Model.SearchResults.Any())
        {
            <div class="rc-padding-y--md">
                <div class="rc-layout-container">
                    <div class="rc-column">
                            <p class="rc-full-width"><b>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.articles.search.noresults")</b></p>
                    </div>
                </div>
            </div>
        }
        else
        {
            foreach (var articlesByCategory in Model.SearchResults)
            {
                if (articlesByCategory?.Key == null || articlesByCategory.Items == null)
                {
                    continue;
                }

                <section class="rc-padding-y--sm">
                    <div class="rc-carousel__header">
                        @Html.Partial("~/Views/Feature/Articles/_ArticlesSearchResultsFilterGroupHeader.cshtml", articlesByCategory.Key)
                        @if (articlesByCategory.ItemsMaxCount > Model.PageSize)
                        {
                        <a class="rc-carousel__header-link rc-styled-link--cta rc-md-up" href="#"
                           data-control="filter-view-all-btn"
                           data-filter-category="@(Model.MainFilterGroup?.RequestParameterName)"
                           data-filter-value="@(articlesByCategory.Key?.Id)">
                            @TranslateHelper.TextByDomainCached("Translations", "translations.feature.articles.search.viewall")
                            @(articlesByCategory.ItemsMaxCount)
                        </a>
                        }
                    </div>

                    <div class="rc-carousel rc-carousel--cards rc-carousel--full-height rc-match-heights" data-carousel--card-count="4" data-js-carousel data-rc-cards="true">
                        <div class="rc-carousel__card-gal">
                            @foreach (var article in articlesByCategory.Items)
                            {
                                Html.RenderPartial("~/Views/Feature/Articles/_ArticleCard.cshtml", article);
                            }
                        </div>
                    </div>
                    @if (articlesByCategory.ItemsMaxCount > Model.PageSize)
                    {
                        <div class="rc-text--center">
                            <a class="rc-carousel__header-link rc-styled-link--cta rc-md-down rc-inline" href="#"
                               data-control="filter-view-all-btn"
                               data-filter-category="@(Model.MainFilterGroup?.RequestParameterName)"
                               data-filter-value="@(articlesByCategory.Key?.Id)">
                                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.articles.search.viewall")
                                @(articlesByCategory.ItemsMaxCount)
                            </a>
                        </div>
                    }
            </section>
            }
        }

    </div>
    @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)
</div>