@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.Articles.Models.Article>

<section class="rc-bg-colour--brand3 rc-padding--sm rc-padding-x--none--mobile">
    @Html.RenderJson(Model.GetMicrodata(new DefaultOrganizationAuthorResolver()))

    <div class="rc-max-width--md rc-wysiwyg rc-padding-x--md--mobile">
        <strong class="bolder">@Editable(Model, x => x.Summary)</strong>
        @Editable(Model, x => x.Content)
    </div>

    @Html.Sitecore().Placeholder("rc-article-body")
</section>
