@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Sitecore.Globalization
@inherits GlassView<Delete.Feature.Articles.Models.ArticleCardPanelViewModel>

@if (Model != null && Model.Articles.Any() ||  IsInEditingMode)
{
    var spacer = Model?.Spacers != null ? Model.Spacers.Value : "rc-margin-bottom--xs";
    var width = Model?.Width != null ? Model.Width.Value : "rc-max-width--xl";

    <section class="rc-padding--sm @spacer rc-bg-colour--brand3">
        <div class="@width rc-padding--lg">
            @if (Model.Header.NotEmpty())
            {
                <div class="rc-beta">@(Model.Header)</div>
            }
            <div class="rc-card-grid rc-match-heights">

                @foreach (var card in Model.Articles)
                {
                    <div class="rc-grid">
                        @Html.Partial("~/Views/Feature/Articles/_ArticleCard.cshtml", card)
                    </div>
                }
                
                @if (IsInEditingMode && !Model.Articles.Any())
                {
                    <p>No corresponding articles found, please change Card Panel options</p>
                }

            </div>

        </div>
    </section>
}