@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Sitecore.Globalization
@inherits GlassView<IEnumerable<Delete.Feature.Articles.Models.Article>>

@if (Model != null && Model.Any() || IsInEditingMode)
{
    <section class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3">
        <div class="rc-padding-y--md rc-md-down"></div>
        
        <div class="rc-layout-container rc-max-width--xl">
                <div class="rc-column">
                    <div class="rc-beta">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.articles.relatedarticles")</div>
                </div>

            <div class="rc-layout-container rc-max-width--xl rc-event-card rc-match-heights rc-padding-bottom--sm">

                @foreach (var card in Model)
                {
                    <div class="rc-column">
                        @Html.Partial("~/Views/Feature/Articles/_ArticleCard.cshtml", card)
                    </div>
                }

            </div>

        </div>
    </section>
}