﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@model Delete.Feature.Articles.Models.SearchViewModel

<section class="rc-bg-colour--brand3 rc-padding--md"
     data-component="filter-and-listing"
     data-endpoint="@Url.ApiAction("SearchArticles", "Articles")"
     data-request-filter="@Model.FilterModel.FilterId"
     data-track-category="Articles search"
>
    <div class="rc-max-width--xl">
        <div class="rc-full-width">
            @Html.Partial("~/Views/Feature/Articles/_ArticlesSearchAndFilter.cshtml", Model.FilterModel)
            @Html.Partial("~/Views/Feature/Articles/_ArticlesSearchResults.cshtml", Model.SearchResultsModel)
        </div>
    </div>
</section>