$color-brand1: #E2001A;
$color-brand2: #808285;
$color-brand3: #FFFFFF;
$color-brand4: #F6F6F6;

$color-text: #666666;
$color-iconograaphy: #767676;
$color-hyperlink: #444444;
$color-interface: #D7D7D7;
$color-interface-dark: #333333;

$color-functio: #5CA9AD;
$color-success: #47B800;
$color-warning: #EE8B00;
$color-error: #C03344;
$color-inactive: #EAEAEA;
