@mixin reset-list() {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin cf() {
    & {
        *zoom: 1;
    }

    &::before,
    &::after {
        content: '';
        display: table;
    }

    &::after {
        clear: both;
    }
}

@mixin reset-button() {
    border: none;
    background-color: transparent;
}
