@import '~styleSettings';

/* critical:start */
.form-row {
    &--two-items {
        @media (--medium) {
            display: flex;
            align-content: stretch;
            align-items: center;
        }

        .form-item {
            @media (--medium) {
                display: inline-block;
                flex-grow: 1;
                padding-right: 32px;
            }

            &:last-child {
                @media (--medium) {
                    padding-right: 0;
                }
            }
        }
    }

    &--full-width-item {
        .rc-input,
        .rc-select {
            max-width: none;
        }
    }
}

.form-item-title {
    display: block;
    padding: 0.95rem 0 0;
    text-indent: 1px;
    font-weight: 500;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    color: $color-interface;

    ~ .rc-input {
        margin-top: 1rem;
    }
}

.form-middle-comment {
    display: inline-block;
    padding: 0 24px 0 0;
}

.form-item {
    .rc-select {
        margin-top: 2.5rem;
    }
}

.form-item-margin-b {
    margin-bottom: 1rem;
}

.validation-summary-errors {
    color: $color-brand1;
    font-weight: 600;
}

/* critical:end */

.validation-summary-errors ul li { 
    color: $color-brand1;
    font-weight: 500;
    text-transform: uppercase;
}

.rc-select .choices::after {
    z-index: 1 !important;
}

[data-full-width] .rc-select:not(.rc-input--full-width) {
    max-width: 100%;
}

.input-with-error-message {
    margin-bottom: 0!important;

    & .rc-input__control {
        color: #c03344!important;
        border-color: #c03344!important;
    }

    & .rc-input__label::after {
        background-color: #c03344!important;
    }

    & .rc-input__label-text {
        color: #c03344!important;
    }
}

.select-with-error-message {
    & .choices {
        border-color: #c03344!important;
    }

    & .choices__inner {
        color: #c03344;
    }
}