@import '~styleSettings';

.timeline {
    $this: &;

    &__nav {
        position: absolute;
        opacity: 0;
    }

    &__rect-wrap {
        width: 40px;
        margin-right: 5px;
        left: 0;
        bottom: 4px;
        display: inline-block;
        position: relative;
    }

    &__rect {
        height: 3px;
        width: 0;
        background-color: $color-iconograaphy;
        transition: all 0.5s ease-in;
        display: inline-block;
    }

    &__link-text {
        font-weight: 500;
        opacity: 0;
        color: $color-interface-dark;
        transition: all 0.5s ease-in;
    }

    .nav-active {
        position: fixed;
        opacity: 1;
        top: 50%;
        bottom: auto;
        z-index: 10;

        #{$this}__rect {
            width: 40px;
        }

        #{$this}__link-text {
            opacity: 1;
            transition: all 0.5s ease-in;
        }
    }

    .sections-active {
        #{$this}__rect {
            width: 20px;
            background-color: $color-iconograaphy;
            transition-duration: 0.2s;
        }

        #{$this}__link-text {
            opacity: 0;
            transition-duration: 0.2s;
        }

        &:nth-child(2) {
            #{$this}__rect {
                transition-delay: 0s;
            }

            #{$this}__link-text {
                transition-delay: 0s;
            }
        }

        &:nth-child(3) {
            #{$this}__rect {
                transition-delay: 0s;
            }

            #{$this}__link-text {
                transition-delay: 0s;
            }
        }

        &:nth-child(4) {
            #{$this}__rect {
                transition-delay: 0s;
            }

            #{$this}__link-text {
                transition-delay: 0s;
            }
        }

        #{$this}__nav-link {
            &:hover {
                #{$this}__link-text {
                    opacity: 1;
                }

                #{$this}__rect {
                    width: 40px;
                }
            }
        }
    }

    &__nav-link {
        display: block;
        text-decoration: none;
        font-size: 13px;
        text-transform: uppercase;
        padding: 10px 0;
        transition: all 0.5s ease-in;

        &:nth-child(2) {
            #{$this}__rect {
                transition-delay: 0.5s;
            }

            #{$this}__link-text {
                transition-delay: 0.5s;
            }
        }

        &:nth-child(3) {
            #{$this}__rect {
                transition-delay: 1s;
            }

            #{$this}__link-text {
                transition-delay: 1s;
            }
        }

        &:nth-child(4) {
            #{$this}__rect {
                transition-delay: 1.5s;
            }

            #{$this}__link-text {
                transition-delay: 1.5s;
            }
        }

        &:hover {
            transition-duration: 0.2s;

            #{$this}__rect {
                transition-delay: 0s;
                background-color: $color-brand1;
            }

            #{$this}__link-text {
                transition-delay: 0s;
                color: $color-brand1;
            }
        }

        &.section-active {
            #{$this}__rect {
                width: 40px;
                background-color: $color-brand1;
            }

            #{$this}__link-text {
                color: $color-brand1;
                display: inline-block;
                opacity: 1;
            }
        }
    }

    &__age-title-sitecor {
        display: none;
    }
}
