﻿@model Delete.Foundation.RoyalCaninCore.Models.PaginatedResults
@if (Model.TotalResults <= Model.PageSize)
{
    return;
}

<nav class="rc-pagination rc-padding-y--md" data-control="filter-pagination" data-pagination="" data-pages="@Model.TotalPages">
    <div class="rc-pagination__form">
        <button class="rc-pagination__direction rc-pagination__direction--prev rc-icon rc-left--xs rc-iconography @(Model.Page == 1 ? "rc-pagination__direction--disabled" : "")"
                data-page="@(Model.Page - 1)"
                data-ref="filter-pagination-btn"
                data-prev
                type="button"
                rel="prev"
                aria-label="Previous step"
                @(Model.Page == 1 ? "disabled" : "")></button>
        <div class="rc-pagination__steps">
            <input type="text" class="rc-pagination__step rc-pagination__step--current" data-ref="filter-pagination-input" value="@Model.Page" aria-label="Current step">
            <span class="rc-pagination__step rc-pagination__steps--of">of <span total-steps-label>@Model.TotalPages</span></span>
        </div>
        <button class="rc-pagination__direction rc-icon rc-right--xs rc-iconography @(Model.Page == Model.TotalPages ? "rc-pagination__direction--disabled" : "")"
                data-page="@(Model.Page + 1)"
                data-ref="filter-pagination-btn"
                data-next
                type="button"
                rel="next"
                aria-label="Next step"
                @(Model.Page == Model.TotalPages ? "disabled" : "")></button>
    </div>
</nav>