﻿@model string
<div class="rc-fixed-center rc-shade--white rc-hidden" data-ref="@(string.IsNullOrEmpty(Model) ? "preloader" : Model)">
<div class="rc-loader-infinite" data-js-progress="">
  <object id="" class="rc-loader__logo logo-svg logo--crown" data="https://d1a19ys8w1wkc1.cloudfront.net/logo--crown.svg?v=8-8-1" type="image/svg+xml">
    <img src="https://d1a19ys8w1wkc1.cloudfront.net/1x1.gif?v=8-8-1" style="background-image: url(https://d1a19ys8w1wkc1.cloudfront.net/logo--crown.png?v=8-8-1)" width="150" height="100" alt="Royal Caninn logo" />
  </object>
  <div class="rc-loader__spinner"></div>
  <div class="rc-loader__background"></div>
</div>
</div>