﻿@using Delete.Feature.GenericComponents.Models.PuppiesKittens
@using Sitecore.Common
@using Sitecore.Controls
@using Sitecore.Data
@using Sitecore.Mvc.Extensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.PuppiesKittens.ContentBlockList>

@if (Model != null)
{
    if (Model.Children != null && Model.Children.Any())
    {
        var elements = Model.Children.Where(x => x is ContentBlockListElement)?.Take(Model.MaxElementsCount).ToList();

        string ulClass = "rc-icon-list" + Model.IconSize.Value;

        <ul class="rc-margin-bottom--lg--mobile rc-list rc-icon-list @ulClass rc-list--blank rc-margin-top--xs rc-margin-bottom--sm">
            @foreach (ContentBlockListElement el in elements)
            {
                string iconClass = el.Icon.Value + Model.IconSize.Value;

                if (!IsInEditingMode)
                {
                    <li class="rc-list__item rc-icon @(iconClass) rc-iconography"> @el.Label </li>
                }
                else
                {
                    using (BeginEditFrame(el, null, x => x.Icon, x => x.Label))
                    {
                        <li style="margin-left: 35px;" class="rc-list__item rc-icon @(iconClass) rc-iconography"> @el.Label </li>
                    }
                }

            }
        </ul>
    }
    else if (IsInEditingMode)
    {
        <form class="rc-checklist rc-padding--lg">
            <h2 class="rc-beta rc-margin-bottom--xl">Please add content to the list</h2>
        </form>
    }
}
else if (IsInEditingMode)
{
    <form class="rc-checklist rc-padding--lg">
        <h2 class="rc-beta rc-margin-bottom--xl">Please select datasource for the component</h2>
    </form>
}