﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.PuppiesKittens.ContentBlockVideo>

@if (Model != null)
{
    <div class="rc-video-wrapper">
        @if (IsInEditingMode)
        {
            <iframe style="padding: 20px" title="@Model.Title" src="@Model.Source" allowfullscreen="" frameborder="0"></iframe>
        }
        else
        {
            <iframe title="@Model.Title" src="@Model.Source" allowfullscreen="" frameborder="0"></iframe>
        }
    </div>
}
else if (IsInEditingMode)
{
    <div class="rc-bg-colour--brand3 rc-shadow rc-shadow-black--soft rc-padding--sm rc-padding--md--mobile rc-text--center">
        <p>Please select datasource for the component.</p>
    </div>
}