﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.PuppiesKittens.ContentBlockButton>

@if (Model != null)
{
    using (BeginEditFrame(Model, null, x => x.ButtonLink, x => x.Label, x => x.ButtonType))
    {
        <a href="@(Model.ButtonLink?.Url)" 
           target="@(Model.ButtonLink?.Target)"
           class="rc-margin-bottom--xl--mobile rc-margin-bottom--md @(Model.ButtonType?.Value)"
        >@Editable(Model, x => x.Label)</a>
    }
}
else if (IsInEditingMode)
{
    <div class="rc-bg-colour--brand3 rc-shadow rc-shadow-black--soft rc-padding--sm rc-padding--md--mobile rc-text--center">
        <p>Please select datasource for the component.</p>
    </div>
}