﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.PuppiesKittens.ContentBlockDetails>

@if (Model != null)
{
    <h1 class="rc-text-colour--brand1">@Editable(Model, x => x.Title)</h1>
    <p class="rc-margin-bottom--sm--mobile">@Editable(Model, x => x.Content)</p>
}
else if (IsInEditingMode)
{
    <div class="rc-bg-colour--brand3 rc-shadow rc-shadow-black--soft rc-padding--sm rc-padding--md--mobile rc-text--center">
        <p>Please select datasource for the component.</p>
    </div>
}