﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.PuppiesKittens.DownloadableContent>



@if (Model != null)
{
    <div class="rc-content-block">
        <div class="rc-content-block__wrapper">
            <div class="rc-layout-container @(Model.Image != null ? "rc-two-column" : "rc-column")">
                <div class="rc-column">
                    <div>
                        <h1 class="rc-alpha">@Editable(Model, x => x.Header)</h1>
                        <p>@Editable(Model, x => x.TextPreview)</p>
                        @if (@Model.FileToDownload != null)
                        {
                            <a href="@Model.FileToDownload.Url" download class="rc-btn rc-btn--one">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.genericcomponents.puppieskittens.download")</a>
                        }
                        else if (IsInEditingMode)
                        {
                            <p>Please choose file to download in datasource for the component</p>
                        }
                    </div>
                </div>
                @if (Model.Image != null)
                {
                    <div class="rc-column">
                        <picture class="rc-full-width">
                            <img class="lazyload"
                                 src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 9'%3E%3C/svg%3E")"
                                 data-srcset="@Html.GetResizedSrcSet(Model.Image)"
                                 data-sizes="auto"
                                 alt="@Model.Image.Alt">
                        </picture>
                    </div>
                }
            </div>
        </div>
    </div>

}
else if (IsInEditingMode)
{
        <div class="rc-content-block">
            <div class="rc-content-block__wrapper">
                <div class="rc-layout-container rc-column">
                    <div class="rc-column">
                        <div>
                            <p>Please select datasource for the component</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

