﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<Delete.Feature.GenericComponents.Models.PuppiesKittens.FAQ>>



@if (Model != null)
{
    if (Model.Any())
        {
        <dl data-toggle-group="" data-toggle-effect="rc-expand--vertical" class="">        
        @foreach (var FAQ in Model)
        {            
            <div class="rc-list__accordion-item">
                <dt>
                    <button class="rc-list__header" id="heading-@FAQ.Id" data-toggle="content-@FAQ.Id" data-js-open="false">@Editable(FAQ, x => x.Question)</button>
                </dt>
                <dd class="rc-list__content" id="content-@FAQ.Id" aria-labelledby="heading-@FAQ.Id">
                    @if (FAQ.AnswerHeader != null)
                    {<span class="rc-large-intro">@FAQ.AnswerHeader</span>}
                    <p>@Editable(FAQ, x => x.Answer)</p>
                </dd>
            </div>
        }
        </dl>
    }
    else if (IsInEditingMode)
    {
        <div class="rc-content-block">
            <div class="rc-content-block__wrapper">
                <div class="rc-layout-container rc-column">
                    <div class="rc-column">
                        <div>
                            <p>No matching items found. Please change settings in datasource</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }



}
else if (IsInEditingMode)
{
    <div class="rc-content-block">
        <div class="rc-content-block__wrapper">
            <div class="rc-layout-container rc-column">
                <div class="rc-column">
                    <div>
                        <p>Please select datasource for the component</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

