﻿@using Delete.Feature.GenericComponents.Models.PuppiesKittens
@using Glass.Mapper
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.PuppiesKittens.FeatureContentBlock>

@if (Model == null && IsInEditingMode)
{
    <p>Please select datasource for the component</p>
}
else
{
    <div class="feature-content-block-container rc-bg-colour--brand3">
        <div class="rc-featured-content-block">
            <div class="rc-featured-content-block__image" style="background-image:url('@(Model?.BackgroundImage?.Src)');"></div>
            <div class="rc-featured-content-block__content-container">
                <div class="rc-layout-container rc-max-width--lg @(Model.PositionRight ? "rc-content-v-right" : string.Empty)">
                    <div class="rc-featured-content-block__content rc-padding--md rc-padding--lg--mobile rc-margin-x--md--mobile">
                        <h1 class="rc-beta">@Editable(Model, x => x.Title)</h1>
                        @if (!IsInEditingMode)
                        {
                            <p class="rc-body">@Html.Raw(Model.Content)</p>
                        }
                        else
                        {
                            <br />
                            @Editable(Model, x => x.Content)
                            <br />
                        }

                        @if (Model.AdditionalButtons != null && Model.AdditionalButtons.Any())
                        {
                            foreach (ContentBlockButton button in Model.AdditionalButtons.Take(2))
                            {
                                //@Html.Partial("~/Views/Feature/GenericComponents/PuppiesKittens/ContentBlockButton.cshtml", button)

                                using (BeginEditFrame(button, null, x => x.ButtonLink, x => x.Label, x => x.ButtonType))
                                {
                                    <a href="@(button.ButtonLink?.Url)"
                                       target="@(button.ButtonLink?.Target)"
                                       class="@(button.ButtonType?.Value) rc-margin-top--md rc-margin-top--sm--desktop">@Editable(button, x => x.Label)</a>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}