﻿@using Delete.Feature.GenericComponents.Models.PuppiesKittens
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.PuppiesKittens.InteractiveChecklist>

@if (Model != null)
{
    <form class="rc-checklist" data-rc-checklist>
        <h2 class="rc-beta rc-margin-bottom--xl rc-margin-bottom--sm--desktop">@Editable(Model, x => x.Title)</h2>
        @if (Model.Children != null && Model.Children.Any())
        {
            var elements = Model.Children.Where(x => x is InteractiveChecklistElement)?.ToList();
            foreach (InteractiveChecklistElement el in elements)
            {
                <div class="rc-checklist-row rc-margin-bottom--xl rc-margin-bottom--md--desktop">
                    <label class="rc-checklist-row__label">
                        <input type="checkbox" class="rc-checklist-row__input form-checkbox">
                        <span class="rc-checklist-row__title-container">
                            <span class="rc-checklist-row__title rc-delta">@Editable(el, x => x.Title)</span>
                        </span>
                    </label>
                    <p class="rc-checklist-row__subtitle rc-body rc-margin-top--xs">
                        @Editable(el, x => x.Description)
                    </p>
                </div>
            }
        }
    </form>
}
else if (IsInEditingMode)
{
    <form class="rc-checklist rc-padding--lg" data-rc-checklist>
        <h2 class="rc-beta rc-margin-bottom--xl">Please select datasource for the component</h2>
    </form>
}