﻿@using System.Diagnostics.Eventing.Reader
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.PuppiesKittens.InteractiveImage>



@if (Model != null)
{
    if (Model.Image != null)
    {
        <div class="rc-layout-container @(Model.AnotherAspectRatio ? "rc-three-column" :"rc-two-column") rc-content-h-middle rc-interactive-image--toggle-content">
            <div class="rc-column @(Model.AnotherAspectRatio ? "rc-double-width" : String.Empty) rc-match-heights">
                <figure class="rc-bg-image rc-fixed-ratio @(Model.ImageRatio != null ? $"rc-fixed-ratio--{Model.ImageRatio.Value}" : "rc-fixed-ratio--16-9")" style="background-image: url('@Html.GetResizedMediaUrl(Model.Image, 1920)')">
                    <div class="rc-interactive-image">
                        @if (Model.InteractiveImageNotes.Any())
                        {
                            foreach (var note in Model.InteractiveImageNotes)
                            {
                                var cssString = Model.UseIcon ? $"rc-icon rc-brand3 {note.Icon?.Value}--xs" : "rc-interactive-image__button rc-ignore-aspect-ratio";
                                <button id="panel-@note.Id-button"
                                        class="rc-btn rc-btn--action @cssString rc-interactive-button"
                                        data-js-left="@note.LeftPosition%"
                                        data-js-bottom
                                        data-js-right
                                        data-js-top="@note.TopPosition%"
                                        data-js-icon-button
                                        aria-controls="panel-@note.Id"
                                        aria-label=@(Model.UseIcon ? string.Empty : note.Label)>
                                    <span class="rc-screen-reader-text">@note.Label</span>
                                    @if (!Model.UseIcon)
                                    {
                                        <span class="rc-interactive-image-number">@note.Label</span>
                                    }
                                </button>

                            }
                        }
                        else if (IsInEditingMode)
                        {
                            <div class="rc-content-block">
                                <div class="rc-content-block__wrapper">
                                    <div class="rc-layout-container rc-column">
                                        <div class="rc-column">
                                            <div>
                                                <p>Please create notes for interactive image</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <figcaption class="rc-screen-reader-text">@Editable(Model, x => x.Text)</figcaption>
                </figure>
            </div>

            @{
                var counter = 1;
            }
            @if (IsInEditingMode)
            {
                using (BeginEditFrame(Model, null, x => x.Image, x => x.UseIcon, x => x.Text, x=> x.AnotherAspectRatio, x => x.ImageRatio, x => x.MarginSize))
                {
                    <div class="rc-column">
                        <p>Change image settings</p>
                    </div>
                }
            }
            <div class="rc-column">
                @foreach (var note in Model.InteractiveImageNotes)
                {
                    using (BeginEditFrame(note, null, x => x.Label, x => x.LeftPosition, x => x.TopPosition, x => x.Header, x => x.Icon, x => x.Text))
                    {
                        <div id="panel-@note.Id" aria-labelledby="panel-@note.Id-button" class="rc-full-width rc-interactive-image--toggle-content__content rc-match-heights rc-margin-x--@(Model.MarginSize == null ? "lg" : Model.MarginSize.Value) @(counter == 1 || IsInEditingMode ? "" : "rc-hidden")" aria-selected=@(counter == 1 ? "true" : "false")>
                            <h3 class="rc-gamma">
                                @if (Model.UseIcon)
                                {
                                    <span class="rc-hanging-indent rc-icon rc-brand1 @(note.Icon?.Value)--xs"></span>
                                }
                                else
                                {
                                    <span class="rc-hanging-indent">@counter.</span>
                                }                                
                                @note.Header</h3>
                            <p class="rc-body">
                                @note.Text
                            </p>
                        </div>
                    }

                    counter++;
                }



            </div>
        </div>

    }
    else if (IsInEditingMode)
    {
        <div class="rc-content-block">
            <div class="rc-content-block__wrapper">
                <div class="rc-layout-container rc-column">
                    <div class="rc-column">
                        <div>
                            @using (BeginEditFrame(Model, null, x => x.Image, x => x.UseIcon, x => x.Text, x=> x.AnotherAspectRatio, x => x.ImageRatio, x => x.MarginSize))
                            {
                                <p>Please select interactive image in datasource for the component</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else if (IsInEditingMode)
{
    <div class="rc-content-block">
        <div class="rc-content-block__wrapper">
            <div class="rc-layout-container rc-column">
                <div class="rc-column">
                    <div>
                        <p>Please select datasource for the component</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

