﻿@using Delete.Feature.GenericComponents.Models.PuppiesKittens
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.PuppiesKittens.QuickTipsContainer>
@if (Model?.ContainerType != null && Model.TipsGrouper.Tips.Any())

{
    foreach (QuickTipsGrouper group in Model.TipsGrouper.Groups)
    {
        List<QuickTip> localTips = group.Tips;

        <div class="rc-layout-container rc-match-heights @(Model.MarginTop?.Value) @(Model.ContainerType.WrapperClass)">

            @foreach (QuickTip tip in localTips)
            {
                <div class="rc-column">
                    @Html.Partial("~/Views/Feature/GenericComponents/PuppiesKittens/QuickTip.cshtml", tip)
                </div>
            }

            <!-- This allows for an empty column on desktop, but hides it on desktop -->
            @for (int i = 0; i < Model.ContainerType.ColumnCount - localTips.Count; i++)
            {
                <div class="rc-column"></div>
            }
        </div>
    }
}
else if (IsInEditingMode)
{
    <h3 class="rc-delta rc-text-colour--brand1 rc-margin-bottom--none">
        Please, select the datasource and insert new tips for it
    </h3>
}
