﻿@using Glass.Mapper
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.PuppiesKittens.QuickTip>

@if (Model == null && IsInEditingMode)
{
    <div class="rc-bg-colour--brand3 rc-shadow rc-shadow-black--soft rc-padding--sm rc-padding--md--mobile rc-text--center">
        <p>Please select datasource for the component.</p>
    </div>
}
else
{
    using (BeginEditFrame(Model, null, x => x.CTALink, x => x.Icon, x => x.LinkDescription, x => x.TextContent, x => x.Title, x => x.UseIconAsTitle))
    {
        <div class="rc-quick-tip rc-bg-colour--brand3 rc-shadow rc-shadow-black--soft rc-padding--sm rc-padding--md--mobile rc-text--center">
            @if (Model.UseIconAsTitle && Model.Icon != null)
            {
                <span style="display: inline-block;" class="rc-icon @(Model.Icon.Value) rc-brand1 rc-margin-bottom--sm rc-margin-bottom--md--mobile">
                </span>
            }
            else
            {
                <h3 class="rc-delta rc-text-colour--brand1 rc-margin-bottom--none">
                    @Editable(Model, x => x.Title)
                </h3>
            }
            @if (!IsInEditingMode)
            {
                <p class="rc-body">@Html.Raw(Model.TextContent)</p>
            }
            else
            {
                <br />
                @Editable(Model, x => x.TextContent)
                <br />
            }
            <div class="rc-content-v-middle rc-margin-top--sm rc-margin-top--md--mobile">
                @if (Model.CTALink != null)
                {
                    <a class="rc-margin-y--none rc-styled-link rc-styled-link--cta" target="@(Model.CTALink?.Target)" href="@Model.CTALink.Url">@Model.LinkDescription</a>
                }
            </div>
        </div>
    }
}

