﻿@using Delete.Feature.GenericComponents.Models.PuppiesKittens
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DeleteFoundationCore.Models
@using Delete.Feature.Articles.Models
@using Sitecore.StringExtensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.PuppiesKittens.QuizSelector>

@if (Model != null)
{
    if (Model.QuizFolder != null && Model.QuizFolder.Questions.Any())
    {
        <form class="rc-quiz" id="puppyKittenQuiz">

            @foreach (QuizQuestion question in Model.QuizFolder.Questions)
            {
                int questionNum = Model.QuizFolder.Questions.IndexOf(question) + 1;
                string numOutOfNum = TranslateHelper.TextByDomainCached("Translations", "translations.feature.genericcomponents.quiz.numoutofnum");

                <div class="rc-quiz__slide rc-text--center rc-max-width--lg @(questionNum != 1 ? "rc-hidden" : string.Empty)"
                     data-rc-answer-id="@question.Question.Trim().ToLowerInvariant().Replace(' ', '-')">

                    <p class="rc-intro">@string.Format(numOutOfNum, questionNum, Model.QuizFolder.Questions.Count)</p>
                    <h2 class="rc-beta">@question.Question</h2>


                    <div class="rc-input rc-input--stacked rc-input--stacked--radio-box rc-text--center">
                        <input class="rc-input__radio rc-input__radio--box rc-quiz__answer" id="@string.Format("id-radio-q{0}a1", questionNum).Trim().ToLowerInvariant().Replace(' ', '-')" value="@question.FirstAnswer"
                               type="radio" name="@string.Format("radio-{0}-box", questionNum)" data-rc-quiz-answer="@(question.RightAnswerNumber == 1 ? "1" : "0")" />
                        <label class="rc-input__label--inline" for="@string.Format("id-radio-q{0}a1", questionNum).Trim().ToLowerInvariant().Replace(' ', '-')">@question.FirstAnswer</label>
                    </div>
                    <div class="rc-input rc-input--stacked rc-input--stacked--radio-box">
                        <input class="rc-input__radio rc-input__radio--box rc-quiz__answer" id="@string.Format("id-radio-q{0}a2", questionNum).Trim().ToLowerInvariant().Replace(' ', '-')" value="@question.SecondAnswer"
                               type="radio" name="@string.Format("radio-{0}-box", questionNum)" data-rc-quiz-answer="@(question.RightAnswerNumber == 2 ? "1" : "0")" />
                        <label class="rc-input__label--inline" for="@string.Format("id-radio-q{0}a2", questionNum).Trim().ToLowerInvariant().Replace(' ', '-')">@question.SecondAnswer</label>
                    </div>
                    @if (!question.ThirdAnswer.IsNullOrEmpty())
                    {
                        <div class="rc-input rc-input--stacked rc-input--stacked--radio-box">
                            <input class="rc-input__radio rc-input__radio--box rc-quiz__answer" id="@string.Format("id-radio-q{0}a3", questionNum).Trim().ToLowerInvariant().Replace(' ', '-')" value="@question.ThirdAnswer"
                                   type="radio" name="@string.Format("radio-{0}-box", questionNum)" data-rc-quiz-answer="@(question.RightAnswerNumber == 3 ? "1" : "0")" />
                            <label class="rc-input__label--inline" for="@string.Format("id-radio-q{0}a3", questionNum).Trim().ToLowerInvariant().Replace(' ', '-')">@question.ThirdAnswer</label>
                        </div>
                    }

                </div>
                <div class="rc-quiz__slide rc-max-width--lg rc-hidden rc-quiz__answer-slide">
                    <div class="rc-layout-container rc-two-column rc-content-v-middle" data-rc-quiz-response="1">
                        <div class="rc-column">
                            <div>
                                <h2 class="rc-beta rc-text--center--mobile">
                                    <span>@question.SuccessMessageTitle</span>
                                </h2>
                                <p class="rc-intro">
                                    @question.SuccessMessageText
                                </p>
                                <p class="rc-quiz__answer-buttons">
                                    <button class="rc-btn rc-btn--two rc-quiz__next">@question.CTAText</button>
                                    <span class="rc-md-up rc-quiz__or-divider">
                                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.genericcomponents.quiz.or")
                                    </span>
                                    <button class="rc-styled-link rc-quiz__back" aria-label="Go back to question">@question.GoBackText</button>
                                </p>
                            </div>
                        </div>
                        <div class="rc-column">
                            @if (question.SuccessImage != null)
                            {
                                <img class="rc-img-border" src="@question.SuccessImage.Src" alt="@question.SuccessImage.Alt" />
                            }
                        </div>
                    </div>
                    <div class="rc-layout-container rc-two-column rc-content-v-middle" data-rc-quiz-response="0">
                        <div class="rc-column">
                            <div>
                                <h2 class="rc-beta rc-text--center--mobile">
                                    <span>@question.WrongMessageTitle</span>
                                </h2>
                                <p class="rc-intro">
                                    @question.WrongMessageText
                                </p>
                                <p class="rc-quiz__answer-buttons">
                                    <button class="rc-btn rc-btn--two rc-quiz__next">@question.CTAText</button>
                                    <span class="rc-md-up rc-quiz__or-divider">
                                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.genericcomponents.quiz.or")
                                    </span>
                                    <button class="rc-styled-link rc-quiz__back" aria-label="Go back to question">@question.GoBackText</button>
                                </p>
                            </div>
                        </div>
                        <div class="rc-column">
                            @if (question.WrongImage != null)
                            {
                                <img class="rc-img-border" src="@question.WrongImage.Src" alt="@question.WrongImage.Alt" />
                            }
                        </div>
                    </div>
                </div>
            }

            <div class="rc-quiz__slide rc-quiz__final-slide rc-max-width--lg rc-hidden">
                <div class="rc-quiz__final-slide--copy">
                    <p class="rc-intro">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.genericcomponents.quiz.thankyouforaquiz")
                    </p>
                    <h2 class="rc-beta">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.genericcomponents.quiz.youscored")
                        <span class="rc-quiz__final-score">0/0</span>
                    </h2>

                    <button class="rc-btn rc-btn--two rc-quiz__start-over rc-margin-bottom--md">
                        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.genericcomponents.quiz.startover")
                    </button>

                    <p class="rc-intro rc-margin-bottom--md ">
                        @if (IsInEditingMode)
                        {
                            <br />
                            @Editable(Model, x => x.Summary)
                            <br />
                        }
                        else
                        {
                            @Model.Summary
                        }
                    </p>
                </div>

                @{
                    var articles = Model.Articles?.Where(x => x is Article)?.ToList();
                }

                @if (articles != null && articles.Any())
                {
                    <div class="rc-card-grid rc-match-heights">
                        @foreach (var article in Model.Articles)
                        {

                            <div class="rc-grid">
                                <a class="rc-card__link rc-full-width" href="@article.Url">
                                    <article class="rc-card rc-card--a">
                                        <picture class="rc-card__image">
                                            @if (article.HeroImage != null)
                                            {
                                                <img src="@article.HeroImage.Src" alt="@article.HeroImage.Alt" />
                                            }
                                        </picture>
                                        <div class="rc-card__body">
                                            <header>
                                                <h1 class="rc-card__title">@article.Heading</h1>
                                            </header>
                                        </div>
                                    </article>
                                </a>
                            </div>

                        }
                    </div>
                }
            </div>
        </form>
    }
    else if (IsInEditingMode)
    {
        <div class="rc-bg-colour--brand3 rc-shadow rc-shadow-black--soft rc-padding--sm rc-padding--md--mobile rc-text--center">
            <p>Please select quiz folder</p>
        </div>
    }
}
else if (IsInEditingMode)
{
    <div class="rc-bg-colour--brand3 rc-shadow rc-shadow-black--soft rc-padding--sm rc-padding--md--mobile rc-text--center">
        <p>Please select datasource for the component.</p>
    </div>
}

