﻿@using Sitecore.StringExtensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.GenericComponents.Models.PuppiesKittens.TimelineViewModel>

@if (Model != null)
{
    if (Model.Groups != null && Model.Groups.Any())
    {

        <div class="rc-timeline rc-bg-colour--brand3">

            <ul class="rc-timeline-nav">
                @*<li class="rc-timeline-nav-item rc-timeline-nav-item__active"><a href="#birth">Birth</a></li>*@
                @foreach (var group in Model.Groups)
                {
                    <li class="rc-timeline-nav-item"><a href="#@group.Title.Trim().Replace(' ', '-').ToLowerInvariant()" data-component="timeline-link">@group.Ages</a></li>
                }
            </ul>

            @foreach (var group in Model.Groups)
            {
                <div class="rc-timeline-text-block" id="@group.Title.Trim().Replace(' ', '-').ToLowerInvariant()">
                    <h2 class="rc-gamma">@group.Title</h2>
                    <p class="rc-text-colour--iconography">@group.Subtitle</p>
                </div>

                <div class="rc-layout-container">
                    <div class="rc-column">

                        @foreach (var card in group.Cards)
                        {
                            if (IsInEditingMode && card.Parent.Id == Model.DataSourceId)
                            {
                                using (BeginEditFrame(card, null, x => x.CTALink, x => x.Image, x => x.GroupFolder))
                                {
                                    <div class="rc-timeline-row-container rc-max-width--md">
                                        <div class="rc-timeline-content-block">
                                            <h3 class="rc-body rc-margin--none">@Editable(card, x => x.Title)</h3>
                                            <h4 class="rc-delta">@Editable(card, x => x.Subtitle)</h4>
                                            <div class="rc-text-colour--iconography rc-body">
                                                @Editable(card, x => x.Text)
                                            </div>
                                            @if (card.Image != null)
                                            {
                                                <img src="@card.Image.Src" alt="@card.Image.Alt" />
                                            }
                                            @if (card.CTALink != null)
                                            {
                                                <a class="rc-styled-link rc-styled-link--cta" 
                                                   target="@(card.CTALink?.Target)" 
                                                   href="@card.CTALink.Url">@Editable(card, x => x.LinkText)</a>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="rc-timeline-row-container rc-max-width--md">
                                    <div class="rc-timeline-content-block">
                                        <h3 class="rc-body rc-margin--none">@card.Title</h3>
                                        <h4 class="rc-delta">@card.Subtitle</h4>
                                        <p class="rc-text-colour--iconography rc-body">@Html.Raw(card.Text)</p>
                                        @if (card.Image != null)
                                        {
                                            <img src="@card.Image.Src" alt="@card.Image.Alt" />
                                        }
                                        @if (card.CTALink != null)
                                        {
                                            <a class="rc-styled-link rc-styled-link--cta" 
                                               target="@(card.CTALink?.Target)"
                                               href="@card.CTALink.Url">@card.LinkText</a>
                                        }
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            }

        </div>
    }
    else if (IsInEditingMode)
    {
        <div class="rc-checklist rc-padding--lg" data-rc-checklist>
            <h2 class="rc-beta rc-margin-bottom--xl">Please select timeline cards</h2>
        </div>
    }
}
else if (IsInEditingMode)
{
    <div class="rc-checklist rc-padding--lg" data-rc-checklist>
        <h2 class="rc-beta rc-margin-bottom--xl">Please select datasource for the component</h2>
    </div>
}