@import '~styleSettings';

.tip-page {

    &__wrapper {
        display: flex;
    }

   &__author-panel {
       display: flex;
   }

   &__social {
        display: flex;
        align-items: center;
        
        @media (--only-mobile) {
            flex-direction: column;
            align-items: flex-start;
        }
   }

   &__social-share {
       text-transform: uppercase;
       font-weight: 500;
       margin-right: 15px;
   }
}
