@import '~styleSettings';

/* critical:start */
.rc-input {
    $this: &;

    &--search {
        &.is-filled {
            #{$this}__label-text {
                font-size: 0.7rem;
                transform: translateY(-2.8em);
                padding-left: 0;
            }
        }

        &.is-focused {
            #{$this}__label {
                color: $color-text;

                &::after {
                    width: 100%;
                    background-color: $color-text;
                }
            }
        }

        #{$this}__control {
            padding-left: 2rem;
        }

        #{$this}__label {
            color: $color-interface;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                height: 2px;
                z-index: 1;
                transition: 0.2s ease;
            }

            &::before {
                background-color: $color-interface;
            }

            &::after {
                z-index: 2;
                width: 0;
            }
        }
    }
}
/* critical:end */
