@import '~styleSettings';

.filter-map-custom {
    height: 490px;

    @media (--medium) {
        height: 900px;
        margin: 0;
    }
}

.rc-filters {
    $this: &;

    &__header {
        &--border-none {
            text-align: left;
            border: none;

            @media (--medium) {
                border-bottom: 1px solid $color-interface;
            }
        }
    }

    .rc-input {
        &.is-disabled {
            opacity: 0.5;

            .rc-input__label--inline {
                cursor: initial;
            }
        }
    }
}
