﻿@using Delete.Feature.Forms.Models
@using Delete.Feature.Forms.Vital.Factories
@using Delete.Feature.Forms.Vital.Models
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Managers
@using Delete.Foundation.MultiSite.Extensions
@using Glass.Mapper.Sc
@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Mvc.Extensions
@model Delete.Feature.Forms.Models.DropDownListViewModel

@{
    var sitecoreContext = new SitecoreContext(Sitecore.Context.Database);
    var settings = sitecoreContext.GetItem<ProductSettings>(Model.DataSource.ToGuid());
    var localMarketSettings = sitecoreContext.GetLocalMarketSettings();

    var localService = LocalServiceFactory
        .GetLocalService()
        .SetMarket(localMarketSettings)
        .SetSpecie(settings.Specie);

    var cacheManager = new CacheManager();

    string culture = Sitecore.Context.ContentLanguage.Name;
    string type = "vital_products";

    string cacheKey = string.Format("vital_products_cache_key_{0}_{1}_{2}", culture, type, settings.Specie);
    var products = cacheManager.CacheResults(() => localService?.GetProducts()?.OrderBy(x => x.ProductName).ToList() ?? new List<VitalProductsViewModel>(), cacheKey);
}

<div class="rc-column" @Html.Raw(Model.WrapperCustomAttributes)>
    <div class="rc-select rc-input--full-width" data-form-control>
        <select data-js-select-no-sort
                id="@Html.IdFor(m => Model.Value)"
                name="@Html.NameFor(m => Model.Value)"
                class="@Model.CssClass"
                data-sc-tracking="@Model.IsTrackingEnabled"
                data-sc-field-name="@Model.Name"
                @Html.Raw(Model.InputCustomAttributes)
                @Html.GenerateUnobtrusiveValidationAttributes(m => m.Value)>
            <option @(Model.Value != null && Model.Value.Any() ? string.Empty : "selected") disabled value="" placeholder>@Html.DisplayTextFor(t => Model.Title)</option>
            @if (Model.ShowEmptyItem)
            {
                <option label=" "></option>
            }@foreach (var product in products)
            {
                var isSelected = Model.Value != null && Model.Value.FirstOrDefault() == product.MainItemId;
                <option value="@product.MainItemId" @(isSelected ? "selected" : string.Empty)>@product.ProductName</option>
            }
        </select>
    </div>
    @if (!Model.CodeError.IsNullOrEmpty())
    {
        string data_for = $"fxb.{Model.FieldTypeItemId}.Fields[{Model.ItemId}].Value";
        <span class="field-validation-error rc-text-colour--error" data-valmsg-for=@data_for data-valmsg-replace="true">@Model.CodeError</span>
    }
    @Html.ValidationMessageFor(m => Model.Value)
    <div class="rc-margin-bottom--md rc-md-down"></div>
    <div class="rc-margin-bottom--xs rc-md-up"></div>
</div>