﻿@using Delete.Feature.Forms.Models
@using Delete.Feature.Forms.Vital.Factories
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Managers
@using Sitecore.ExperienceForms.Mvc.Html
@model Delete.Feature.Forms.Models.DropDownListViewModel

@{
    var vitalService = VitalServiceFactory.GetVitalService();
    var cacheManager = new CacheManager();

    string culture = Sitecore.Context.ContentLanguage.Name;
    string type = "countries_list";

    string cacheKey = string.Format("countries_cache_key_{0}_{1}", culture, type);
    var countries = cacheManager.CacheResults(() => vitalService.GetCountries(Sitecore.Context.ContentLanguage.Name), cacheKey);

    var isNumSelected = int.TryParse(Model.Title, out int selectedNum);

    if (Model.Value != null)
    {
        var isLastValue = int.TryParse(Model.Value.FirstOrDefault(), out int lastChoise);
        selectedNum = isLastValue ? lastChoise : selectedNum;
    }
}

<div class="rc-column" @Html.Raw(Model.WrapperCustomAttributes)>
    <div class="rc-select rc-input--full-width" data-form-control>
        <select data-js-select-no-sort
                id="@Html.IdFor(m => Model.Value)"
                name="@Html.NameFor(m => Model.Value)"
                class="@Model.CssClass"
                data-sc-tracking="@Model.IsTrackingEnabled"
                data-sc-field-name="@Model.Name"
                @Html.Raw(Model.InputCustomAttributes)
                @Html.GenerateUnobtrusiveValidationAttributes(m => m.Value)>
            @if (!isNumSelected)
            {
                <option selected disabled value="" placeholder>@Html.DisplayTextFor(t => Model.Title)</option>
            }
            @if (Model.ShowEmptyItem)
            {
                <option label=" "></option>
            }
            @foreach (var item in countries)
            {
                <option value="@item.Code" @(item.Code == selectedNum ? "selected" : string.Empty)>@item.Name</option>
            }
        </select>
    </div>
    @if (!Model.CodeError.IsNullOrEmpty())
    {
        string data_for = $"fxb.{Model.FieldTypeItemId}.Fields[{Model.ItemId}].Value";
        <span class="field-validation-error rc-text-colour--error" data-valmsg-for=@data_for data-valmsg-replace="true">@Model.CodeError</span>
    }
    @Html.ValidationMessageFor(m => Model.Value)
    <div class="rc-margin-bottom--md rc-md-down"></div>
    <div class="rc-margin-bottom--xs rc-md-up"></div>
</div>