@import '~styleSettings';

.text-with-icon {
    position: relative;
    padding-left: 2.5rem;

    &::after {
        position: absolute;
        top: 0.75rem;
        left: 1.5rem;
        transform: translate(-50%, -50%);
    }
}
