@import '~styleSettings';

.blockquote {
    $this: &;

    display: flex;
    flex-wrap: wrap;

    &__image {
        width: 57px;
        order: 1;

        @media (--medium) {
            width: 109px;
        }

        .rc-img--round--md {
            width: 35px;
            height: 35px;
            position: relative;

            @media (--medium) {
                width: 75px;
                height: 75px;
            }

            &.rc-img--quote-no-image {
                &::after {
                    content: '\201c';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 2.5rem;
                    line-height: 1em;
                    width: 18px;
                    height: 18px;
                    color: $color-brand3;
                    font-family: georgia, sans-serif;

                    @media (--medium) {
                        font-size: 4rem;
                        width: 27px;
                        height: 27px;
                    }
                }
            }
        }

        &-border {
            border: 3px solid $color-interface;
            background-color: $color-interface;
            border-radius: 50%;
            width: 41px;
            height: 41px;

            @media (--medium) {
                border-width: 5px;
                width: 85px;
                height: 85px;
            }
        }
    }

    &__text {
        width: 100%;
        padding-bottom: 16px;

        @media (--medium) {
            text-indent: -0.75em;
            width: calc(100% - 130px);
            order: 2;
            font-size: 1.25rem;
            line-height: 1.75rem;
        }
    }

    &__author {
        order: 3;
        display: flex;
        align-items: center;
        font-size: 0.85rem;
        max-width: calc(100% - 80px);

        @media (--medium) {
            order: 3;
            width: 100%;
            padding-left: 109px;
            font-size: 1rem;
            max-width: calc(100% - 109px);
        }
    }

    &__quote {
        display: none;
        font-family: georgia, sans-serif;

        @media (--medium) {
            display: inline;
        }
    }
}
