﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.RoyalCaninCore.Extensions
@model object

@Html.RegisterStyleEntryPoint("productfinder.css")
@Html.RegisterScriptEntryPoints(new [] {"vendors.productfinder.js", "productfinder.js" })

<script>
    window.productFinderSettings = @Html.Raw(Model.ToLowerCaseJson());
</script>
<div class="product-finder rc-padding--md" data-component="product-finder">
</div>
