@import '~styleSettings';

.size-table {
    $this: &;

    @media (--medium) {
        max-width: 250px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0 5px 0;
        border-bottom-width: 1px;
        border-bottom-style: solid;

        @media (--medium) {
            justify-content: flex-start;
        }

        .rc-icon {
            padding-right: 10px;
        }
    }

    &__row {
        display: flex;
        align-content: stretch;
    }

    &__column {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0;

        @media (--medium) {
            align-items: flex-start;
        }

        + #{$this}__column {
            margin-left: 20px;
        }
    }

    &__espilon {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }
}
