﻿@using Delete.Foundation.DeleteFoundationCore.Helpers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<Delete.Foundation.DataTemplates.Models.Menu.MenuItem>>

@if (Model != null && Model.Any())
{
    <div class="rc-layout-container rc-three-column rc-md-up">
        <div class="rc-column rc-triple-width"
             data-component="nav-track"
             data-nav-name="Footer navigation">
            <nav class="rc-menubar">
                <ul class="rc-list rc-list--blank rc-list--inverse">
                    @if (Model.FirstOrDefault().RegionName != null)
                    {
                        <li class="rc-list__item">
                            <a class="rc-list__link rc-btn rc-btn--inverse rc-btn--icon-label rc-icon rc-location--xs rc-brand3"
                               href="#"
                               data-ref="nav-link"
                               role="menuitem"
                               title="@Model.FirstOrDefault().RegionName"
                               data-modal-trigger="modal-region-picker">@Model.FirstOrDefault().RegionName</a>
                        </li>
                    }
                    
                    @foreach (var item in Model.Take(3))
                    {
                        <li class="rc-list__item">
                            @RenderLink(item, x => x.LinkProperty, new {@class = $"rc-list__link rc-btn rc-btn--inverse rc-btn--icon-label rc-icon rc-{item.Icon?.Value}--xs rc-brand3", role = "menuitem", data_ref = "nav-link", title = LinkHelper.RenderLinkTitle(item.LinkProperty, item.Name)})
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="rc-column rc-text--right">
            <a class="rc-btn rc-btn--inverse rc-btn--icon-label rc-icon rc-up--xs rc-brand3" role="menuitem" href="#">
                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.footer.backtotop")
            </a>
        </div>
    </div>
}