﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<Delete.Foundation.DataTemplates.Models.Menu.MenuInfoItem>>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="rc-layout-container rc-two-column rc-padding-x--xs rc-padding-y--sm">
            <div class="rc-column">
                <span class="rc-espilon rc-text--inverse">@item.Title</span>
                <p class="rc-text--inverse">@item.Content</p>
            </div>
        </div>
    }
}