﻿@using Delete.Foundation.DataTemplates.Models.Menu
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.Footer.Models.FooterModel>

@if (Context.IsAmpRequest())
{
    <footer class="rc-footer rc-bg-colour--interface-dark">
        @Html.Partial("~/Views/Feature/Footer/FooterSecondaryNavigationAmp.cshtml", Model.Navigation?.MenuGroups)

        @Html.Partial("~/Views/Feature/Footer/FooterTopNavigationMobile.cshtml", Model.Navigation?.MenuItems)

        <div class="rc-divider"></div>

        @Html.Partial("~/Views/Feature/Footer/FooterInfoNavigation.cshtml", Model.Navigation?.MenuInfoItems)

        <div class="rc-layout-container rc-one-column">
            <div class="rc-column rc-padding--none">
                <div class="rc-padding-bottom--sm">
                    @if (!string.IsNullOrEmpty(Model?.LocalMarketSettings?.ContactPhone) || IsInEditingMode)
                    {
                        <a class="rc-btn rc-btn--inverse rc-btn--icon-label rc-icon rc-mobile--xs rc-brand3" role="menuitem" href="tel:@Model.LocalMarketSettings.ContactPhone">@Editable(x => x.LocalMarketSettings.ContactPhone)</a>
                    }
                    @if (null != Model?.LocalMarketSettings?.ContactUsUrl || IsInEditingMode)
                    {
                        @RenderLink(x => x.LocalMarketSettings.ContactUsUrl, new { @class = "rc-btn rc-btn--inverse rc-btn--icon-label rc-icon rc-email--xs rc-brand3", role = "menuitem", title = LinkHelper.RenderLinkTitle(Model?.LocalMarketSettings?.ContactUsUrl) }, isEditable: true)
                    }
                </div>
            </div>
        </div>
    </footer>
}
else
{
    <footer class="rc-bg-colour--interface-dark" id="footer">
        <div class="rc-max-width--xl rc-scroll--y">
            @Html.Partial("~/Views/Feature/Footer/FooterTopNavigation.cshtml", Model.Navigation?.MenuItems ?? Enumerable.Empty<MenuItem>())

            <div class="rc-divider rc-md-up"></div>

            @Html.Partial("~/Views/Feature/Footer/FooterSecondaryNavigation.cshtml", Model.Navigation?.MenuGroups ?? Enumerable.Empty<MenuGroup>())

            @Html.Partial("~/Views/Feature/Footer/FooterTopNavigationMobile.cshtml", Model.Navigation?.MenuItems ?? Enumerable.Empty<MenuItem>())

            <div class="rc-divider"></div>

            @Html.Partial("~/Views/Feature/Footer/FooterInfoNavigation.cshtml", Model.Navigation?.MenuInfoItems ?? Enumerable.Empty<MenuInfoItem>())

            <div class="rc-layout-container rc-two-column @(Model.LocalMarketSettings.EnableWeChat ? "rc-wechat-footer" : string.Empty)">

                <div class="rc-column rc-padding--none">

                    @if (Model.LocalMarketSettings.EnableWeChat && Model.LocalMarketSettings.WeChatQRCode != null)
                    {

                        <div class="rc-padding-x--xs--desktop rc-wechat-footer-container">
                            <a class="rc-btn rc-btn--inverse rc-btn--icon-label rc-icon rc-wechat--xs rc-brand3 rc-text-colour--brand3" role="menuitem"
                               href="#">WeChat</a>
                            <img src="@Html.GetResizedMediaUrl(Model.LocalMarketSettings.WeChatQRCode, 82)"
                                 alt="@(Model.LocalMarketSettings.WeChatQRCode.Alt)"
                                 class="rc-wechat-footer-img">
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(Model?.LocalMarketSettings?.ContactPhone) || IsInEditingMode)
                    {
                        <a class="rc-btn rc-btn--inverse rc-btn--icon-label rc-icon rc-mobile--xs rc-brand3" role="menuitem" href="tel:@Model.LocalMarketSettings.ContactPhone">@Editable(x => x.LocalMarketSettings.ContactPhone)</a>
                    }

                    @if (Model.LocalMarketSettings.EnableWeChat)
                    {
                        <div class="rc-wechat-footer-spacer"></div>
                    }

                    @if (null != Model?.LocalMarketSettings?.ContactUsUrl || IsInEditingMode)
                    {
                        @RenderLink(x => x.LocalMarketSettings.ContactUsUrl, new { @class = "rc-btn rc-btn--inverse rc-btn--icon-label rc-icon rc-email--xs rc-brand3", role = "menuitem", title = LinkHelper.RenderLinkTitle(Model?.LocalMarketSettings?.ContactUsUrl) }, isEditable: true)
                    }
                </div>
                <div class="rc-column rc-text--right rc-padding-x--none">
                    @Html.Sitecore().Placeholder("rc-footer-right-bottom-column")
                </div>
            </div>
        </div>
    </footer>
}

