﻿@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.StringExtensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<Delete.Foundation.DataTemplates.Models.Menu.MenuGroup>>


@helper RenderLinkText(Link link, string defaultLinkText)
{
    if (link != null)
    {
        if (!link.Title.IsNullOrEmpty())
        {
            <text>@link.Title</text>
        }
        else if (!link.Text.IsNullOrEmpty())
        {
            <text>@link.Text</text>
        }
        else
        {
            <text>@defaultLinkText</text>
        }
    }
}

@if (Model != null && Model.Any())
{
    <div class="rc-layout-container rc-three-column rc-padding-x--xs">
        <div class="rc-column rc-double-width rc-padding-x--xs">
            <nav class="rc-padding-x--xs"
                 data-toggle-group="mobile"
                 data-toggle-effect="rc-expand--vertical"
                 role="navigation"
                 data-component="nav-track"
                 data-nav-name="Footer navigation">
                <ul class="rc-list rc-list--three-column rc-list--blank rc-list--align rc-list--inverse" role="menubar">
                    @{
                        var columnNumber = 1;
                        foreach (var item in Model)
                        {
                            <li class="rc-list__item rc-list__item--group" role="none">
                                <button class="rc-list__header" id="nav-footer-top-@columnNumber" data-toggle="nav-footer-@columnNumber" role="menuitem">
                                    @RenderLinkText(item.LinkProperty, item.Name)
                                </button>
                                <ul class="rc-list rc-list--blank rc-list--align" id="nav-footer-@columnNumber" aria-labelledby="nav-footer-top-@columnNumber" role="menu">
                                    @foreach (var link in item.MenuItems)
                                    {
                                        <li class="rc-list__item">
                                            @RenderLink(link, x => x.LinkProperty, new { @class = "rc-list__link", role = "menuitem", data_ref = "nav-link", title = LinkHelper.RenderLinkTitle(link.LinkProperty, link.Name) })
                                        </li>
                                    }
                                </ul>
                            </li>
                            columnNumber++;
                        }
                    }
                </ul>
            </nav>
        </div>
        <div class="rc-column rc-md-up"></div>
    </div>
}