﻿@using Delete.Foundation.DeleteFoundationCore.Helpers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<Delete.Foundation.DataTemplates.Models.Menu.MenuItem>>

@if (Model != null && Model.Any())
{
    <div class="rc-layout-container rc-one-column rc-md-down">
        <div class="rc-column rc-padding-x--none">
            @if (Model.FirstOrDefault().RegionName != null)
            {
                <a class="rc-btn rc-btn--inverse rc-btn--icon-label rc-icon rc-location--xs rc-brand3"
                   href="#"
                   title="@Model.FirstOrDefault().RegionName"
                   role="menuitem"
                   data-modal-trigger="modal-region-picker">@Model.FirstOrDefault().RegionName</a>
            }
            

            @foreach (var item in Model.Take(3))
            {
                @RenderLink(item, x => x.LinkProperty, new {@class = $"rc-btn rc-btn--inverse rc-btn--icon-label rc-icon rc-{item.Icon?.Value}--xs rc-brand3", role = "menuitem", title = LinkHelper.RenderLinkTitle(item.LinkProperty, item.Name)})
            }
            <a class="rc-btn rc-btn--inverse rc-btn--icon-label rc-icon rc-up--xs rc-brand3" role="menuitem" href="#">
                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.footer.backtotop")
            </a>
        </div>
    </div>
}