﻿@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Glass.Mapper.Sc.Fields
@using Sitecore.StringExtensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<Delete.Foundation.DataTemplates.Models.Menu.MenuGroup>>


@helper RenderLinkText(Link link, string defaultLinkText)
    {
        if (link != null)
        {
            if (!link.Title.IsNullOrEmpty())
            {
                <text>@link.Title</text>
            }
            else if (!link.Text.IsNullOrEmpty())
            {
                <text>@link.Text</text>
            }
            else
            {
                <text>@defaultLinkText</text>
            }
        }
}

@if (Model != null && Model.Any())
{
    <div class="rc-layout-container rc-one-column rc-padding-x--xs">
        <div class="rc-column rc-padding-x--none">
            <nav data-toggle-group="mobile" data-toggle-effect="rc-expand--vertical" role="navigation">
                <amp-accordion class="rc-list rc-list--five-column rc-list--blank rc-list--align rc-list--inverse" role="menubar">
                    @{
                        var columnNumber = 1;
                        foreach (var item in Model)
                        {
                            <section class="rc-list__item rc-list__item--group">
                                <h4 class="rc-list__header" aria-haspopup="true" role="menuitem">
                                    @RenderLinkText(item.LinkProperty, item.Name)
                                </h4>
                                <ul class="rc-list rc-list--blank rc-list--align" id="nav-footer-@columnNumber" aria-labelledby="nav-header-@columnNumber" role="menu">
                                    @foreach (var link in item.MenuItems)
                                    {
                                        <li class="rc-list__item">
                                            @RenderLink(link, x => x.LinkProperty, new { @class = "rc-list__link", role = "menuitem", title = LinkHelper.RenderLinkTitle(item.LinkProperty, link.Name) })
                                        </li>
                                    }
                                </ul>
                            </section>
                            columnNumber++;
                        }
                    }
                </amp-accordion>
            </nav>
        </div>
    </div>
}