﻿@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Feature.Tips.Models
@model SearchResultsViewModel

<div class="rc-max-width--xl" data-ref="filter-listing">
    <div data-ref="data-container">
        @if (!Model.SearchResults.Any())
        {
            <div class="rc-padding-y--md">
                <div class="rc-layout-container">
                    <div class="rc-column">
                        <p class="rc-full-width">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.search.noresults")</p>
                    </div>
                </div>
            </div>
        }
        else
        {
            foreach (var groupedTipsByType in Model.SearchResults)
            {
                if (groupedTipsByType?.Key == null)
                {
                    continue;
                }

                <div class="rc-padding-y--sm">
                    <div class="rc-carousel__header">
                        @Html.Partial("~/Views/Feature/Tips/_TipsSearchResultsFilterGroupHeader.cshtml", groupedTipsByType.Key)
                    </div>
                    <div class="rc-layout-container rc-content-card rc-match-heights">
                        @foreach (var article in groupedTipsByType.Items)
                        {
                            <div class="rc-column">
                                @Html.Partial("~/Views/Feature/Tips/_TipsCard.cshtml", article)
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
    @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)
</div>