@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@model Delete.Feature.Tips.Models.Tip

@if (Model != null)
{
    <a class="rc-card__link" href="@(Model.Url)">
        <article class="rc-card rc-card--a rc-card--featured">
            <picture class="rc-card__image">
                <img class="lazyload"
                     src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E")"
                     data-srcset="@Html.GetCroppedByRatioSrcSet(Model.ThumbnailImage?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare), 16, 9)"
                     data-sizes="auto"
                     alt="@(Model.ThumbnailImage?.Alt ?? Model.Heading)">
                @Html.RenderJson(Model.ThumbnailImage.GetMicrodata(new DefaultOrganizationAuthorResolver()))
            </picture>
            <div class="rc-card__body">
                <header>                    
                    <h3 class="rc-card__title">@(Model.Heading)</h3>
                </header>
            </div>
            @Html.RenderJson(Model.GetMicrodata(new DefaultOrganizationAuthorResolver()))
        </article>
    </a>
}
