@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers
@model Delete.Feature.Tips.Models.Tip

@if (Model != null)
{
    <li>                    
        <a class="rc-styled-link rc-icon rc-right--xs rc-padding-right--md rc-iconography" href="@Model.Url"> @(Model.Heading)
        </a>
    </li>
}
