﻿@using Delete.Feature.Tips.Models
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@model SearchResultsViewModel

<div>
    @Html.RenderJson(Model.GetMicrodata(new DefaultOrganizationAuthorResolver()))

    @if (!Model.Tips.Any())
    {
        <div class="rc-padding-y--md">
            <div class="rc-layout-container">
                <div class="rc-column">
                    <p class="rc-full-width"><b>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.search.noresults")</b></p>
                </div>
            </div>
        </div>
    }
    else
    {
        <section class="rc-padding-y--sm">
            <ul class="rc-list rc-list--blank rc-list--large-icon rc-card__body tips-list">
                @foreach (var tip in Model.Tips)
                {
                    var url = Model.ChosenOption.Equals("all") ? tip.Url : string.Concat(tip.Url, "?topic=", Model.ChosenOption);
                    <li>
                        <a class="rc-styled-link rc-icon rc-right--xs rc-padding-right--md rc-iconography" href="@url"> @(tip.Heading)</a>
                    </li>
                }
            </ul>
            @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Pagination.cshtml", Model.Pagination)
        </section>
    }
</div>

@Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)


@*<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {
      "@type": "Question",
      "name": "<a href=\"@tip.Url\">@(tip.Heading)</a>",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "<a href=\"@tip.Url\">@(tip.Heading)</a>"
      }
    }
  ]
}
</script>*@