﻿@using Delete.Feature.Tips.Models
@using Delete.Foundation.DeleteFoundationCore.Helpers
@model SearchResultsViewModel

<div data-control="filter-listing">
    <div data-ref="data-container">
        @if (!Model.SearchResults.Any())
        {
            <div class="rc-padding-y--md">
                <div class="rc-layout-container">
                    <div class="rc-column">
                            <p class="rc-full-width"><b>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.search.noresults")</b></p>
                    </div>
                </div>
            </div>
        }
        else
        {
            foreach (var tipsByCategory in Model.SearchResults)
            {
                if (tipsByCategory?.Key == null || tipsByCategory.Items == null)
                {
                    continue;
                }

                <section class="rc-padding-y--sm">
                    <div class="rc-carousel__header">
                        @Html.Partial("~/Views/Feature/Tips/_TipsSearchResultsFilterGroupHeader.cshtml", tipsByCategory.Key)
                        @if (tipsByCategory.ItemsMaxCount > Model.PageSize)
                        {
                        <a class="rc-carousel__header-link rc-styled-link--cta rc-md-up" href="#"
                           data-control="filter-view-all-btn"
                           data-filter-category="@(Model.MainFilterGroup?.RequestParameterName)"
                           data-filter-value="@(tipsByCategory.Key?.Id)">
                            @TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.search.viewall")
                            @(tipsByCategory.ItemsMaxCount)
                        </a>
                        }
                    </div>

                    <div class="rc-carousel rc-carousel--cards rc-carousel--full-height rc-match-heights" data-carousel--card-count="4" data-js-carousel data-rc-cards="true">
                        <div class="rc-carousel__card-gal">
                            @foreach (var tip in tipsByCategory.Items)
                            {
                                Html.RenderPartial("~/Views/Feature/Tips/_TipsCard.cshtml", tip);
                            }
                        </div>
                    </div>
                    @if (tipsByCategory.ItemsMaxCount > Model.PageSize)
                    {
                        <div class="rc-text--center">
                            <a class="rc-carousel__header-link rc-styled-link--cta rc-md-down rc-inline" href="#"
                               data-control="filter-view-all-btn"
                               data-filter-category="@(Model.MainFilterGroup?.RequestParameterName)"
                               data-filter-value="@(tipsByCategory.Key?.Id)">
                                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.search.viewall")
                                @(tipsByCategory.ItemsMaxCount)
                            </a>
                        </div>
                    }
            </section>
            }
        }

    </div>
    @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)
</div>