﻿@using Delete.Foundation.DataTemplates.Extensions
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers

@model Delete.Feature.Tips.Models.SearchFilterViewModel

@{
    var itemName = Html.GetItemName();
}

<div class="rc-filters__main rc-column">
    <form action="">
        @{
            var i = 0;
        }
        @foreach (var filterGroup in Model.FilterGroups)
        {
            var items = filterGroup.GetItems(Model.Specie.Id).OnlyExistingInSearchResults(Model.FilterRelatedSearchResults);
            if (!items.Any())
            {
                continue;
            }

            if (Model.PreFiltering.ContainsKey(filterGroup.Id) && Model.PreFiltering[filterGroup.Id].Any())
            {
                items = items.Where(x => Model.PreFiltering[filterGroup.Id].Contains(x.Id));
            }

            var j = 0;
            
                <span class="rc-select" id="category-id-@i">
                    <label class="rc-select__label" for="id-single-select">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.search.iaminterestedin")</label>
                    <select data-js-select data-sc-tracking="True" data-sc-field-name="Dropdown rc-list" id="id-single-select" name="select" data-ref="filter-select">
                        <option value="" disabled="" @(Model.ChosenOption.Equals("all") ? "selected=\"\"" : string.Empty) placeholder>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.search.selectanoption")</option>
                        
                            @foreach (var filterItem in items)
                            {
                                <option value="@filterItem.Id"
                                        data-label="@filterItem.FilterLabel.OrDefault(filterItem.Text)"
                                        data-track-label="@filterItem.FilterLabel.OrDefault(filterItem.Text)"
                                    data-track-category="@(itemName) / Filter"
                                    @(Model.ChosenOption == filterItem.Id.ToString() ? "selected=\"\"" : string.Empty)>
                                    @filterItem.Text
                                    </option>
                                    j++;
                                }
                                <option value="all">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.search.showall")</option>
                    </select>
                </span>
        
            i++;
        }
    </form>
</div>
