﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@model Delete.Feature.Tips.Models.SearchViewModel

<div class="rc-layout-container rc-four-column" data-ref="data-container">
    <div class="rc-column">
        @Html.Partial("~/Views/Feature/Tips/_TipsListAndFilter.cshtml", Model.FilterModel)
    </div>
    <div class="rc-column rc-triple-width">
        @Html.Partial("~/Views/Feature/Tips/_TipsListResults.cshtml", Model.SearchResultsModel)
    </div>
</div>