@inherits GlassView<Delete.Feature.Tips.Models.FeaturedContentModel>

@if (Model?.HasContent == true || IsInEditingMode)
{

    <section class="rc-bg-colour--brand3 rc-padding--sm">
        <div class="rc-layout-container rc-three-column rc-max-width--xl">
            <div class="rc-column rc-double-width rc-padding--none">
                @Html.Partial("~/Views/Feature/Tips/_FeaturedCard.cshtml", Model.LeftItem)
            </div>
            <div class="rc-column rc-padding--none">
                @foreach (var card in Model.RightItems)
                {
                    @Html.Partial("~/Views/Feature/Tips/_FeaturedCard.cshtml", card)
                }
            </div>
        </div>
    </section>

}