﻿@model Delete.Feature.Tips.Models.ParentLink
    
<div class="rc-padding--sm rc-padding--md--mobile">
    <div class="rc-progress rc-progress--breadcrumbs-single">
        <a href="@(Model.Url)" class="rc-progress__breadcrumb rc-styled-link">@(Model.Title)</a>
    </div>
</div>