@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Sitecore.Globalization
@inherits GlassView<IEnumerable<Delete.Feature.Tips.Models.Tip>>



<div class="rc-max-width--xl tip-page__wrapper">
    <div class="rc-layout-container rc-five-column">
        <div class="rc-column left"></div>
        <div class="rc-column rc-quad-width right">
            <div class="rc-max-width--md rc-padding-x--md--mobile">
            
                @if (Model != null && Model.Any() || IsInEditingMode)
                {
                    <section class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3">
                        <div class="rc-padding-y--md rc-md-down"></div>
                        
                        <div class="rc-max-width--xl tips">
                                    <div class="rc-beta">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.relatedtips")</div>

                            <ul class="rc-list rc-list--blank rc-list--large-icon">

                                @foreach (var card in Model)
                                {
                                    @Html.Partial("~/Views/Feature/Tips/_TipsCard.cshtml", card)                                    
                                }

                            </ul>

                        </div>
                    </section>
                }
            </div>
        </div>
    </div>
</div>
