﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@model Delete.Feature.Tips.Models.SearchViewModel

<section class="rc-bg-colour--brand3 rc-padding--md"
     data-component="filter-and-listing"
     data-endpoint="@Url.ApiAction("SearchTips", "Tips")"
     data-request-filter="@Model.FilterModel.FilterId"
     data-track-category="Tips search"
>
    <div class="rc-max-width--xl">
        <div class="rc-full-width">
            @Html.Partial("~/Views/Feature/Tips/_TipsSearchAndFilter.cshtml", Model.FilterModel)
            @Html.Partial("~/Views/Feature/Tips/_TipsSearchResults.cshtml", Model.SearchResultsModel)
        </div>
    </div>
</section>