﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.MultiSite.Models
@using Glass.Mapper
@inherits GlassView<RoyalCanin.Project.Metadata.Models.SocialLinksModel>
@{
    var emailSubject = Html.AttributeEncode(Model.CurrentPageTitle);
    var emailBody = Model.CurrentPageAbsoluteUrl;

    var twitterHashTagsQuery = Model.TwitterHashTags.HasValue() ? $"&hashtags={Model.TwitterHashTags}" : string.Empty;
    var facebookHashTagsQuery = Model.FacebookHashTags.HasValue() ? $"&hashtag={Model.FacebookHashTags}" : string.Empty;

    var twitterText = $"text={Html.AttributeEncode(Model.CurrentPageTitle)}";
    var facebookText = $"quote={Html.AttributeEncode(Model.CurrentPageTitle)}";
}
<div class="rc-padding--sm rc-margin-bottom--xs rc-bg-colour--brand3 rc-text--left tip-page__social">
    <p class="tip-page__social-share">
        @TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.sharethis")
    </p>

    @if (Context.IsAmpRequest())
    {
        <amp-social-share class="rounded"
                          type="email"
                          data-param-subject="@emailSubject"
                          data-param-body="@emailBody"
                          width="36"
                          height="36">
        </amp-social-share>
        @*
            <amp-social-share class="rounded"
                              type="facebook"
                              data-param-app_id="254325784911610"
                              width="36"
                              height="36">
            </amp-social-share>
        *@
        <amp-social-share class="rounded"
                          type="gplus"
                          width="36"
                          height="36">
        </amp-social-share>
        <amp-social-share type="twitter"
                          class="rounded"
                          width="36"
                          height="36">
        </amp-social-share>
    }
    else
    {
        <div class="tip-page__social-icons">
            <a class="rc-btn rc-btn--action rc-btn--action--inverse rc-icon rc-email--xs rc-brand1"
            href="mailto:?subject=@Uri.EscapeDataString(emailSubject)&body=@Uri.EscapeDataString(emailBody)" aria-label="email"
            rel="nofollow"
            role="button">
                <span class="rc-screen-reader-text">email</span>
            </a>
            <a class="rc-btn rc-btn--action rc-btn--action--inverse rc-icon rc-facebook--xs"
            href="#/" aria-label="Facebook"
            role="button"
            rel="nofollow"
            onclick="window.open('http://www.facebook.com/sharer.php?u=@Model.CurrentPageAbsoluteUrl@facebookHashTagsQuery&@facebookText', 'Sharer', 'toolbar=0,status=0,top=' + ((screen.height / 2) - (200 / 2)) + ',left=' + ((screen.width / 2) - (520 / 2)) + ',width=520,height=200');return false;">
                <span class="rc-screen-reader-text">Facebook</span>
            </a>
            <a class="rc-btn rc-btn--action rc-btn--action--inverse rc-icon rc-twitter--xs"
            href="#/" aria-label="Twitter"
            rel="nofollow"
            role="button"
            onclick="window.open('http://twitter.com/intent/tweet?url=@Model.CurrentPageAbsoluteUrl@twitterHashTagsQuery&@twitterText', 'Sharer', 'toolbar=0,status=0,top=' + ((screen.height / 2) - (250 / 2)) + ',left=' + ((screen.width / 2) - (520 / 2)) + ',width=520,height=250');return false;">
                <span class="rc-screen-reader-text">Twitter</span>
            </a>
        </div>
    }
</div>