﻿<div class="rc-bg-colour--brand3 rc-margin-bottom--xs tip-page">
    <div class="rc-max-width--xl tip-page__wrapper">
        <div class="rc-layout-container rc-five-column">
            <div class="rc-column left">
                @Html.Sitecore().Placeholder("rc-tip-left")
            </div>
            <div class="rc-column rc-quad-width right">
                <div class="rc-max-width--md rc-padding-x--md--mobile">
                    @Html.Sitecore().Placeholder("rc-tip-right")
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="rc-bg-colour--brand3">
    <div>
        @Html.Sitecore().Placeholder("rc-tip-other")
    </div>
</div>