﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.Tips.Models.Tip>


@Html.RenderJson(Model.GetMicrodata(new DefaultOrganizationAuthorResolver()))

<div class="rc-padding--sm rc-margin-bottom--xs tip-page__content">
    <h1 class="rc-alpha">
        @Editable(Model, x => x.Heading)
    </h1>
    <div class="main_content">
        @Editable(Model, x => x.Content)
    </div>
</div>

<div class="rc-padding--sm rc-margin-bottom--xs tip-page__author-panel author-panel">
    <div class="author-panel__image">
        @if (Model.AuthorImage != null)
        {
            <figure class="rc-img--round rc-img--round--md lazyload" data-bgset="@Model.AuthorImage.Src">
                <figcaption class="rc-screen-reader-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.author")</figcaption>
            </figure>
        }
    </div>
    <div class="author-panel__details">
        <span class="author-panel__published">
            @Editable(Model, x => x.AuthorSubtitle)
        </span>
        <span class="author-panel__name">
            @Editable(Model, x => x.AuthorName)
        </span>
        <span class="author-panel__title">
            @Editable(Model, x => x.AuthorTitle)
        </span>
    </div>
</div>
