﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.Tips.Models.TipsCategoryListViewModel>

<section class="rc-bg-colour--brand3 rc-padding--md rc-margin-bottom--xs">
    <div class="rc-max-width--xl">
        <h2 class="rc-gamma">@Editable(Model.PageData, x => x.CategoriesTitle)</h2>

        <div class="rc-card-grid rc-match-heights rc-card-grid--fixed rc-three-column">

            @foreach (var category in Model.Categories)
            {
                <div class="rc-grid">
                    <article class="rc-card rc-card--a">
                        <a href="@category.Url" class="rc-card__link">
                            <div class="rc-card__body">
                                <header class="rc-padding-x--sm--mobile">
                                    <h3 class="rc-card__title rc-delta rc-margin--none">
                                        <span class="rc-icon @category.IconClass rc-brand1 rc-margin-right--sm--mobile"></span>
                                        @category.Title
                                    </h3>
                                    <p class="rc-card__meta">
                                        @category.Description
                                    </p>
                                </header>
                            </div>
                        </a>
                    </article>
                </div>
            }

        </div>

    </div>
</section>