@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.Tips.Models.Tip>

<section class="rc-bg-colour--brand3 rc-padding--sm rc-padding-x--none--mobile">
    @Html.RenderJson(Model.GetMicrodata(new DefaultOrganizationAuthorResolver()))
    <div class="rc-max-width--md rc-wysiwyg rc-padding-x--md--mobile">
        <strong class="bolder">@Editable(Model, x => x.Summary)</strong>
        @Editable(Model, x => x.Content)
    </div>
    @Html.Sitecore().Placeholder("rc-tips-body")
</section>

@*<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "QAPage",
        "mainEntity": {
            "@type": "Question",
            "name": "Lorem ipsum dolor sit amet?",
            "text": "Lorem ipsum dolor sit amet?",
            "answerCount": 1,
            "AcceptedAnswer": {
            "@type": "Answer",
            "text": "Lorem ipsum dolor sit amet."        
            } 
        }
    }
</script>*@