@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers

@inherits GlassView<Delete.Feature.Tips.Models.TipsCarouselViewModel>

@{
    var viewAllText = $"{TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.search.viewall")} {Model.Tips?.Count} {TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.tips")}";
}

@if (Model != null && Model.Tips.Any() || IsInEditingMode)
{
    if (Model?.GridView == false)
    {
        <section class="rc-bg-colour--brand3 rc-padding--md rc-margin-bottom--xs"
                 data-component="view-all-articles"
                 data-endpoint="@Url.ApiAction("ExpandCarousel", "Tips")"
                 data-request-filter="@(Model.FilterConfiguration)">
            <div class="rc-padding-y--sm rc-md-down"></div>
            <div class="rc-max-width--xl" data-ref="data-container">
                <div class="rc-carousel__header">
                    <div class="rc-carousel__header-title">
                        <h4 class="rc-gamma">@(Model.Header)</h4>
                    </div>
                    <a class="rc-carousel__header-link rc-styled-link--cta rc-md-up" data-ref="view-all-button" href="#">@(viewAllText)</a>
                </div>
                <div class="rc-carousel rc-carousel--cards rc-match-heights" data-carousel--card-count="4" data-js-carousel data-rc-cards="true">
                    <div class="rc-carousel__card-gal">
                        @foreach (var tip in Model.Tips)
                        {
                            Html.RenderPartial("~/Views/Feature/Tips/_TipsCard.cshtml", tip);
                        }

                        @if (IsInEditingMode && !Model.Tips.Any())
                        {
                        <p>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.search.noresults")</p>
                        }

                    </div>
                </div>
                <div class="rc-text--center">
                    <a class="rc-carousel__header-link rc-styled-link--cta rc-md-down rc-inline" data-ref="view-all-button" href="#">@(viewAllText)</a>
                </div>
            </div>
            <div class="rc-padding-y--sm rc-md-down"></div>
            @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)
        </section>
    }
    else
    {

        <div data-ref="data-container">
            <div class="rc-carousel__header">
                <div class="rc-carousel__header-title">
                    <h4 class="rc-gamma">@(Model.Header)</h4>
                </div>
            </div>
            <div class="rc-layout-container rc-content-card rc-match-heights">
                @foreach (var tip in Model.Tips)
                {
                    <div class="rc-column">
                        @Html.Partial("~/Views/Feature/Tips/_TipsCard.cshtml", tip)
                    </div>
                }
                @if (IsInEditingMode && !Model.Tips.Any())
                {
                    <p>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.search.noresults")</p>
                }
            </div>
        </div>
    }
}