﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@model Delete.Feature.Tips.Models.SearchViewModel

@* nav is important, don't remove it!!! *@
<nav hidden="" class="rc-pagination rc-padding-y--md"></nav>

<section class="rc-bg-colour--brand3 rc-padding--md tips"
         data-component="listing-with-pagination"
         data-endpoint="@Url.ApiAction("SearchTips", "Tips")"
         data-request-filter="@Model.FilterModel.FilterId"
         data-track-category="Tips search">

    <div class="rc-max-width--xl">
        <div class="rc-padding-left--xs ">
            <div class="rc-progress rc-progress--breadcrumbs-single">
                <a href="@Model.ParentItem.AbsoluteUrl" class="rc-progress__breadcrumb rc-styled-link">@TranslateHelper.TextByDomainCached("Translations",
                    "translations.feature.tips.search.backbutton")</a>
            </div>
        </div>
    </div>


    <h1 class="rc-alpha rc-padding-x--xs">@Model.SearchResultsModel.FullListTitle</h1>
    <div class="rc-max-width--xl">
        <div class="rc-layout-container rc-four-column" data-ref="data-container">
            <div class="rc-column">
                @Html.Partial("~/Views/Feature/Tips/_TipsListAndFilter.cshtml", Model.FilterModel)
            </div>
            <div class="rc-column rc-triple-width">
                @Html.Partial("~/Views/Feature/Tips/_TipsListResults.cshtml", Model.SearchResultsModel)
            </div>
        </div>
    </div>
</section>
