@using Delete.Foundation.DeleteFoundationCore.Helpers
@inherits GlassView<Delete.Feature.Tips.Models.TopQuestionsViewModel>

<section class="rc-bg-colour--brand3 rc-padding--sm rc-margin-bottom--xs">
    <div class="rc-max-width--lg">
        <div class="rc-layout-container">
            <div class="rc-column">
                <div class="tips">
                    <h3 class="rc-beta">@Editable(Model.PageData, x => x.Title)</h3>
                    @*<h3 class="rc-beta">@(!string.IsNullOrEmpty(Model.Title) ? Model.Title : TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.topquestions"))</h3>*@
                    <ul class="rc-list rc-list--blank rc-list--large-icon">
                        @foreach (var tip in Model.Tips)
                        {
                            <li>
                                <a class="rc-styled-link rc-icon rc-right--xs rc-padding-right--md rc-iconography" href="@tip.AbsoluteUrl">
                                    @tip.Heading
                                </a>
                            </li>
                        }
                        @if (!Model.Tips.Any() && IsInEditingMode)
                        {
                            <li>Please ensure you have selected the datasource for this rendeing and selected some Tips.</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>