@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.Tips.Models.Tip>
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.SchemaOrg.Extensions
@using Delete.Foundation.MultiSite.SchemaOrg.Resolvers
@using Delete.Foundation.RoyalCaninCore
@using Delete.Foundation.RoyalCaninCore.Helpers

<section class="rc-bg-colour--brand3 rc-padding--sm">
    <div class="rc-layout-container rc-one-column rc-max-width--md">
        <div class="rc-column">
            <div class="rc-text--center">
                <div class="rc-padding--md rc-md-down"></div>
                <h1 class="rc-alpha rc-text--center">@Editable(Model, x => x.Heading)</h1>
            </div>
        </div>
    </div>
</section>


@if (Context.IsAmpRequest())
{
    <amp-img srcset="@Html.GetResizedSrcSet(Model.HeroImage)"
             width="@(Model.HeroImage?.Width ?? 0)" height="@(Model.HeroImage?.Height ?? 0)"
             layout="responsive"
             alt="@(Model.HeroImage?.Alt ?? Model.Heading)">
    </amp-img>
}
else
{
    <div class="rc-bg-colour--brand3">
        <div class="rc-max-width--xl">
            @if (IsInEditingMode)
            {

                @RenderImage(Model, m => m.HeroImage, new { @class = "rc-full-width" }, true)

            }
            else
            {
                <picture class="rc-full-width">
                    <img class="lazyload"
                         src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 9'%3E%3C/svg%3E")"
                         data-srcset="@Html.GetResizedSrcSet(Model.HeroImage?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                         data-sizes="auto"
                         alt="@(Model.HeroImage?.Alt ?? Model.Heading)">
                </picture>
            }
        </div>
    </div>
}
@Html.RenderJson(Model.HeroImage.GetMicrodata(new DefaultOrganizationAuthorResolver()))
