﻿@using Delete.Feature.GenericComponents.Models
@using Sitecore.Collections
@using Delete.Foundation.DeleteFoundationCore.Helpers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.Tips.Models.TipsLandingSearchViewModel>

<div class="rc-layout-container rc-two-column rc-content-h-middle rc-max-width--lg">
    <div class="rc-column rc-single ">

        <div class="rc-padding--sm rc-margin-bottom--xs rc-full-width" data-component="content-animation">
            <div class="rc-padding-y--md rc-md-down"></div>
            <div class="rc-layout-container rc-two-column rc-max-width--xl rc-content-h-middle">
                <div class="rc-column   rc-text--left">
                    <div class="rc-full-width ">
                        <div>
                            <h3 class="rc-alpha">@Editable(Model.PageData, x => x.SearchTitle)</h3>
                            <p>@Editable(Model.PageData, x => x.Text)</p>

                            <form method="get" action="@Model.SearchResultsPage.BuildUrl(new SafeDictionary<string>())">
                                <input type="hidden" value="tips" name="category" />
                                <span class="rc-input rc-input--micro">
                                    <button class="rc-input__submit rc-input__submit--search" type="submit">
                                        <span class="rc-screen-reader-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.search.search")</span>
                                    </button>
                                    <input class="rc-input__control" type="text" name="searchQuery" />
                                    <label class="rc-input__label" for="content-search">
                                        <span class="rc-input__label-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.search.search")</span>
                                    </label>
                                    <button class="rc-input__submit rc-input__submit--micro rc-input__submit--micro--mobile-small" type="submit">
                                        <span class="rc-screen-reader-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.tips.search.search")</span>
                                    </button>
                                </span>

                            </form>

                        </div>
                    </div>
                </div>
                <div class="rc-column   rc-text--left">
                    <div class="rc-full-width ">
                        @if (IsInEditingMode)
                        {
                            @Editable(Model.PageData, x => x.Image)
                        }
                        else
                        {
                            @Html.Partial("~/Views/Feature/GenericComponents/InlineImage.cshtml", new InlineImage() { Image = Model.PageData.Image })
                        }
                    </div>
                </div>
            </div>
            <div class="rc-padding-y--md rc-md-down"></div>
        </div>
    </div>
</div>