@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.Tips.Models.Tip>

<section class="rc-bg-colour--brand3 rc-padding--sm">
    <div class="rc-layout-container rc-one-column rc-max-width--md">
        <div class="rc-column">
            <div class="rc-text--center">
                <div class="rc-padding--md rc-md-down"></div>
                <ul class="rc-list rc-list--blank rc-list--align rc-list--inline rc-margin-bottom--xs rc-content-v-middle">
                    @foreach (var tag in Model.TipsTopics)
                    {
                        <li class="rc-list__item rc-margin-right--lg--mobile">@(tag.Text)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
