@font-face {
    font-family: 'RC TYPE';
    font-style: normal;
    font-weight: 300;
    src:
        url('./fonts/dinpro-regular.woff2') format('woff2'),
        url('./fonts/dinpro-regular.woff') format('woff');
}

@font-face {
    font-family: 'RC TYPE';
    font-style: normal;
    font-weight: 500;
    src:
        url('./fonts/dinpro-medium.woff2') format('woff2'),
        url('./fonts/dinpro-medium.woff') format('woff');
}
