/* stylelint-disable */
.btn--icon-label.rc-icon:not(.btn--inverse):hover::after,
.btn--icon-label.rc-icon:not(.rc-btn--inverse):hover::after,
.rc-btn--icon-label.rc-icon:not(.btn--inverse):hover::after,
.rc-btn--icon-label.rc-icon:not(.rc-btn--inverse):hover::after,
.rc-icon.interactive:hover::after,
.rc-icon::after {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.rc-icon {
    vertical-align: middle;
}

.rc-icon::after {
    position: relative;
}

.rc-icon--rotate:not(.rc-btn--icon-label)::after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rc-icon[class*='--xs'].brand3::after,
.rc-icon[class*='--xs'].rc-brand3::after {
    background-image: url(https://d3moonnr9fkxfg.cloudfront.net/royal-canin.sprite--brand3--xs.svg?v=8-5-11);
}

.icon[class*='--xs'].rc-iconography::after,
.rc-icon[class*='--xs'].iconography::after,
.rc-icon[class*='--xs'].rc-iconography::after {
    background-image: url(https://d3moonnr9fkxfg.cloudfront.net/royal-canin.sprite--iconography--xs.svg?v=8-5-11);
}

.rc-icon.actions--xs::after,
.rc-icon.rc-actions--xs::after {
    background-position: 10% 0;
    width: 24px;
}

.rc-icon.address--xs::after,
.rc-icon.rc-address--xs::after {
    background-position: 10% 71.43%;
    width: 24px;
}

.rc-icon.advice--xs::after,
.rc-icon.rc-advice--xs::after {
    background-position: 20% 0;
    width: 24px;
}

.rc-icon.arrow--xs::after,
.rc-icon.rc-arrow--xs::after {
    background-position: 0 14.29%;
    width: 24px;
}

.rc-icon.attachment--xs::after,
.rc-icon.rc-attachment--xs::after {
    background-position: 10% 14.29%;
    width: 24px;
}

.rc-icon.back--xs::after,
.rc-icon.rc-back--xs::after {
    background-position: 20% 14.29%;
    width: 24px;
}

.rc-icon.bag--xs::after,
.rc-icon.rc-bag--xs::after {
    background-position: 30% 0;
    width: 24px;
}

.rc-icon.basket--xs::after,
.rc-icon.rc-basket--xs::after {
    background-position: 30% 14.29%;
    width: 24px;
}

.rc-icon.bookmark--xs::after,
.rc-icon.rc-bookmark--xs::after {
    background-position: 0 28.57%;
    width: 24px;
}

.rc-icon.calendar--xs::after,
.rc-icon.rc-calendar--xs::after {
    background-position: 10% 28.57%;
    width: 24px;
}

.rc-icon.clock--xs::after,
.rc-icon.rc-clock--xs::after {
    background-position: 20% 28.57%;
    width: 24px;
}

.rc-icon.close--xs::after,
.rc-icon.rc-close--xs::after {
    background-position: 30% 28.57%;
    width: 24px;
}

.rc-icon.collapse--xs::after,
.rc-icon.rc-collapse--xs::after {
    background-position: 40% 0;
    width: 24px;
}

.rc-icon.comment--xs::after,
.rc-icon.rc-comment--xs::after {
    background-position: 40% 14.29%;
    width: 24px;
}

.rc-icon.computer--xs::after,
.rc-icon.rc-computer--xs::after {
    background-position: 40% 28.57%;
    width: 24px;
}

.rc-icon.documents--xs::after,
.rc-icon.rc-documents--xs::after {
    background-position: 50% 0;
    width: 24px;
}

.rc-icon.down--xs::after,
.rc-icon.rc-down--xs::after {
    background-position: 50% 14.29%;
    width: 24px;
}

.rc-icon.edit--xs::after,
.rc-icon.rc-edit--xs::after {
    background-position: 50% 28.57%;
    width: 24px;
}

.rc-icon.email--xs::after,
.rc-icon.rc-email--xs::after {
    background-position: 0 42.86%;
    width: 24px;
}

.rc-icon.expand--xs::after,
.rc-icon.rc-expand--xs::after {
    background-position: 10% 42.86%;
    width: 24px;
}

.rc-icon.external--xs::after,
.rc-icon.rc-external--xs::after {
    background-position: 20% 42.86%;
    width: 24px;
}

.rc-icon.fast-forward--xs::after,
.rc-icon.rc-fast-forward--xs::after {
    background-position: 30% 42.86%;
    width: 24px;
}

.rc-icon.female--xs::after,
.rc-icon.rc-female--xs::after {
    background-position: 40% 42.86%;
    width: 24px;
}

.rc-icon.filter--xs::after,
.rc-icon.rc-filter--xs::after {
    background-position: 50% 42.86%;
    width: 24px;
}

.rc-icon.food--xs::after,
.rc-icon.rc-food--xs::after {
    background-position: 60% 0;
    width: 24px;
}

.rc-icon.food2--xs::after,
.rc-icon.rc-food2--xs::after {
    background-position: 60% 14.29%;
    width: 24px;
}

.rc-icon.forward--xs::after,
.rc-icon.rc-forward--xs::after {
    background-position: 60% 28.57%;
    width: 24px;
}

.rc-icon.groomer--xs::after,
.rc-icon.rc-groomer--xs::after {
    background-position: 60% 42.86%;
    width: 24px;
}

.rc-icon.health--xs::after,
.rc-icon.rc-health--xs::after {
    background-position: 0 57.14%;
    width: 24px;
}

.rc-icon.help--xs::after,
.rc-icon.rc-help--xs::after {
    background-position: 10% 57.14%;
    width: 24px;
}

.rc-icon.hide--xs::after,
.rc-icon.rc-hide--xs::after {
    background-position: 20% 57.14%;
    width: 24px;
}

.rc-icon.home--xs::after,
.rc-icon.rc-home--xs::after {
    background-position: 30% 57.14%;
    width: 24px;
}

.rc-icon.image--xs::after,
.rc-icon.rc-image--xs::after {
    background-position: 40% 57.14%;
    width: 24px;
}

.rc-icon.info--xs::after,
.rc-icon.rc-info--xs::after {
    background-position: 50% 57.14%;
    width: 24px;
}

.rc-icon.knowledge--xs::after,
.rc-icon.rc-knowledge--xs::after {
    background-position: 60% 57.14%;
    width: 24px;
}

.rc-icon.left--xs::after,
.rc-icon.rc-left--xs::after {
    background-position: 70% 0;
    width: 24px;
}

.rc-icon.like--xs::after,
.rc-icon.rc-like--xs::after {
    background-position: 70% 14.29%;
    width: 24px;
}

.rc-icon.loading--xs::after,
.rc-icon.rc-loading--xs::after {
    background-position: 70% 28.57%;
    width: 24px;
}

.rc-icon.location--xs::after,
.rc-icon.rc-location--xs::after {
    background-position: 70% 42.86%;
    width: 24px;
}

.rc-icon.location2--xs::after,
.rc-icon.rc-location2--xs::after {
    background-position: 70% 57.14%;
    width: 24px;
}

.rc-icon.lock--xs::after,
.rc-icon.rc-lock--xs::after {
    background-position: 0 71.43%;
    width: 24px;
}

.rc-icon.male--xs::after,
.rc-icon.rc-male--xs::after {
    background-position: 0 0;
    width: 24px;
}

.rc-icon.menu--xs::after,
.rc-icon.rc-menu--xs::after {
    background-position: 20% 71.43%;
    width: 24px;
}

.rc-icon.minus--xs::after,
.rc-icon.rc-minus--xs::after {
    background-position: 30% 71.43%;
    width: 24px;
}

.rc-icon.mobile--xs::after,
.rc-icon.rc-mobile--xs::after {
    background-position: 40% 71.43%;
    width: 24px;
}

.rc-icon.mouse--xs::after,
.rc-icon.rc-mouse--xs::after {
    background-position: 50% 71.43%;
    width: 24px;
}

.rc-icon.news--xs::after,
.rc-icon.rc-news--xs::after {
    background-position: 60% 71.43%;
    width: 24px;
}

.rc-icon.nutritional--xs::after,
.rc-icon.rc-nutritional--xs::after {
    background-position: 70% 71.43%;
    width: 24px;
}

.rc-icon.pause--xs::after,
.rc-icon.rc-pause--xs::after {
    background-position: 80% 0;
    width: 24px;
}

.rc-icon.pdf--xs::after,
.rc-icon.rc-pdf--xs::after {
    background-position: 80% 14.29%;
    width: 24px;
}

.rc-icon.pharmacy--xs::after,
.rc-icon.rc-pharmacy--xs::after {
    background-position: 80% 28.57%;
    width: 24px;
}

.rc-icon.pin--xs::after,
.rc-icon.rc-pin--xs::after {
    background-position: 80% 42.86%;
    width: 24px;
}

.rc-icon.play--xs::after,
.rc-icon.rc-play--xs::after {
    background-position: 80% 57.14%;
    width: 24px;
}

.rc-icon.plus--xs::after,
.rc-icon.rc-plus--xs::after {
    background-position: 80% 71.43%;
    width: 24px;
}

.rc-icon.print--xs::after,
.rc-icon.rc-print--xs::after {
    background-position: 90% 0;
    width: 24px;
}

.rc-icon.quality--xs::after,
.rc-icon.rc-quality--xs::after {
    background-position: 90% 14.29%;
    width: 24px;
}

.rc-icon.rate--xs::after,
.rc-icon.rc-rate--xs::after {
    background-position: 90% 28.57%;
    width: 24px;
}

.rc-icon.rate-fill--xs::after,
.rc-icon.rc-rate-fill--xs::after {
    background-position: 90% 42.86%;
    width: 24px;
}

.rc-icon.rc-refresh--xs::after,
.rc-icon.refresh--xs::after {
    background-position: 90% 57.14%;
    width: 24px;
}

.rc-icon.rc-rewind--xs::after,
.rc-icon.rewind--xs::after {
    background-position: 90% 71.43%;
    width: 24px;
}

.rc-icon.rc-right--xs::after,
.rc-icon.right--xs::after {
    background-position: 0 85.71%;
    width: 24px;
}

.rc-icon.rc-rss--xs::after,
.rc-icon.rss--xs::after {
    background-position: 10% 85.71%;
    width: 24px;
}

.rc-icon.rc-search--xs::after,
.rc-icon.search--xs::after {
    background-position: 20% 85.71%;
    width: 24px;
}

.rc-icon.rc-settings--xs::after,
.rc-icon.settings--xs::after {
    background-position: 30% 85.71%;
    width: 24px;
}

.rc-icon.rc-share--xs::after,
.rc-icon.share--xs::after {
    background-position: 40% 85.71%;
    width: 24px;
}

.rc-icon.rc-shelter--xs::after,
.rc-icon.shelter--xs::after {
    background-position: 50% 85.71%;
    width: 24px;
}

.rc-icon.rc-shop--xs::after,
.rc-icon.shop--xs::after {
    background-position: 60% 85.71%;
    width: 24px;
}

.rc-icon.rc-show--xs::after,
.rc-icon.show--xs::after {
    background-position: 70% 85.71%;
    width: 24px;
}

.rc-icon.rc-skip--xs::after,
.rc-icon.skip--xs::after {
    background-position: 80% 85.71%;
    width: 24px;
}

.rc-icon.rc-stop--xs::after,
.rc-icon.stop--xs::after {
    background-position: 90% 85.71%;
    width: 24px;
}

.rc-icon.rc-sustainable--xs::after,
.rc-icon.sustainable--xs::after {
    background-position: 100% 0;
    width: 24px;
}

.rc-icon.rc-tablet--xs::after,
.rc-icon.tablet--xs::after {
    background-position: 100% 14.29%;
    width: 24px;
}

.rc-icon.rc-text-decrease--xs::after,
.rc-icon.text-decrease--xs::after {
    background-position: 100% 28.57%;
    width: 24px;
}

.rc-icon.rc-text-increase--xs::after,
.rc-icon.text-increase--xs::after {
    background-position: 100% 42.86%;
    width: 24px;
}

.rc-icon.rc-tick--xs::after,
.rc-icon.tick--xs::after {
    background-position: 100% 57.14%;
    width: 24px;
}

.rc-icon.rc-unlock--xs::after,
.rc-icon.unlock--xs::after {
    background-position: 100% 71.43%;
    width: 24px;
}

.rc-icon.rc-up--xs::after,
.rc-icon.up--xs::after {
    background-position: 100% 85.71%;
    width: 24px;
}

.rc-icon.rc-user--xs::after,
.rc-icon.user--xs::after {
    background-position: 0 100%;
    width: 24px;
}

.rc-icon.rc-user-add--xs::after,
.rc-icon.user-add--xs::after {
    background-position: 10% 100%;
    width: 24px;
}

.rc-icon.rc-vet--xs::after,
.rc-icon.vet--xs::after {
    background-position: 20% 100%;
    width: 24px;
}

.rc-icon.rc-video--xs::after,
.rc-icon.video--xs::after {
    background-position: 30% 100%;
    width: 24px;
}

.rc-icon.rc-volume-off--xs::after,
.rc-icon.volume-off--xs::after {
    background-position: 40% 100%;
    width: 24px;
}

.rc-icon.rc-weight--xs::after,
.rc-icon.weight--xs::after {
    background-position: 50% 100%;
    width: 24px;
}

.rc-icon.actions::after,
.rc-icon.rc-actions::after {
    background-position: 11.11% 0;
}

.rc-icon.address::after,
.rc-icon.rc-address::after {
    background-position: 33.33% 75%;
}

.rc-icon.advice::after,
.rc-icon.rc-advice::after {
    background-position: 0 12.5%;
}

.rc-icon.advice--sm::after,
.rc-icon.rc-advice--sm::after {
    background-position: 11.11% 12.5%;
}

.rc-icon.arrow::after,
.rc-icon.rc-arrow::after {
    background-position: 22.22% 0;
}

.rc-icon.attachment::after,
.rc-icon.rc-attachment::after {
    background-position: 22.22% 12.5%;
}

.rc-icon.back::after,
.rc-icon.rc-back::after {
    background-position: 0 25%;
}

.rc-icon.bag::after,
.rc-icon.rc-bag::after {
    background-position: 11.11% 25%;
}

.rc-icon.basket::after,
.rc-icon.rc-basket::after {
    background-position: 22.22% 25%;
}

.rc-icon.basket--sm::after,
.rc-icon.rc-basket--sm::after {
    background-position: 33.33% 0;
}

.rc-icon.bookmark::after,
.rc-icon.rc-bookmark::after {
    background-position: 33.33% 12.5%;
}

.rc-icon.calendar::after,
.rc-icon.rc-calendar::after {
    background-position: 33.33% 25%;
}

.rc-icon.clock::after,
.rc-icon.rc-clock::after {
    background-position: 0 37.5%;
}

.rc-icon.close::after,
.rc-icon.rc-close::after {
    background-position: 11.11% 37.5%;
}

.rc-icon.close--sm::after,
.rc-icon.rc-close--sm::after {
    background-position: 22.22% 37.5%;
}

.rc-icon.collapse::after,
.rc-icon.rc-collapse::after {
    background-position: 33.33% 37.5%;
}

.rc-icon.comment::after,
.rc-icon.rc-comment::after {
    background-position: 44.44% 0;
}

.rc-icon.computer::after,
.rc-icon.rc-computer::after {
    background-position: 44.44% 12.5%;
}

.rc-icon.documents::after,
.rc-icon.rc-documents::after {
    background-position: 44.44% 25%;
}

.rc-icon.down::after,
.rc-icon.rc-down::after {
    background-position: 44.44% 37.5%;
}

.rc-icon.edit::after,
.rc-icon.rc-edit::after {
    background-position: 0 50%;
}

.rc-icon.email::after,
.rc-icon.rc-email::after {
    background-position: 11.11% 50%;
}

.rc-icon.email--sm::after,
.rc-icon.rc-email--sm::after {
    background-position: 22.22% 50%;
}

.rc-icon.expand::after,
.rc-icon.rc-expand::after {
    background-position: 33.33% 50%;
}

.rc-icon.external::after,
.rc-icon.rc-external::after {
    background-position: 44.44% 50%;
}

.rc-icon.fast-forward::after,
.rc-icon.rc-fast-forward::after {
    background-position: 55.56% 0;
}

.rc-icon.female::after,
.rc-icon.rc-female::after {
    background-position: 55.56% 12.5%;
}

.rc-icon.filter::after,
.rc-icon.rc-filter::after {
    background-position: 55.56% 25%;
}

.rc-icon.food::after,
.rc-icon.rc-food::after {
    background-position: 55.56% 37.5%;
}

.rc-icon.food2::after,
.rc-icon.rc-food2::after {
    background-position: 55.56% 50%;
}

.rc-icon.forward::after,
.rc-icon.rc-forward::after {
    background-position: 0 62.5%;
}

.rc-icon.groomer::after,
.rc-icon.rc-groomer::after {
    background-position: 11.11% 62.5%;
}

.rc-icon.health::after,
.rc-icon.rc-health::after {
    background-position: 22.22% 62.5%;
}

.rc-icon.help::after,
.rc-icon.rc-help::after {
    background-position: 33.33% 62.5%;
}

.rc-icon.hide::after,
.rc-icon.rc-hide::after {
    background-position: 44.44% 62.5%;
}

.rc-icon.home::after,
.rc-icon.rc-home::after {
    background-position: 55.56% 62.5%;
}

.rc-icon.image::after,
.rc-icon.rc-image::after {
    background-position: 66.67% 0;
}

.rc-icon.info::after,
.rc-icon.rc-info::after {
    background-position: 66.67% 12.5%;
}

.rc-icon.knowledge::after,
.rc-icon.rc-knowledge::after {
    background-position: 66.67% 25%;
}

.rc-icon.left::after,
.rc-icon.rc-left::after {
    background-position: 66.67% 37.5%;
}

.rc-icon.like::after,
.rc-icon.rc-like::after {
    background-position: 66.67% 50%;
}

.rc-icon.loading::after,
.rc-icon.rc-loading::after {
    background-position: 66.67% 62.5%;
}

.rc-icon.location::after,
.rc-icon.rc-location::after {
    background-position: 0 75%;
}

.rc-icon.location2::after,
.rc-icon.rc-location2::after {
    background-position: 11.11% 75%;
}

.rc-icon.lock::after,
.rc-icon.rc-lock::after {
    background-position: 22.22% 75%;
}

.rc-icon.male::after,
.rc-icon.rc-male::after {
    background-position: 0 0;
}

.rc-icon.menu::after,
.rc-icon.rc-menu::after {
    background-position: 44.44% 75%;
}

.rc-icon.menu--sm::after,
.rc-icon.rc-menu--sm::after {
    background-position: 55.56% 75%;
}

.rc-icon.minus::after,
.rc-icon.rc-minus::after {
    background-position: 66.67% 75%;
}

.rc-icon.mobile::after,
.rc-icon.rc-mobile::after {
    background-position: 77.78% 0;
}

.rc-icon.mouse::after,
.rc-icon.rc-mouse::after {
    background-position: 77.78% 12.5%;
}

.rc-icon.news::after,
.rc-icon.rc-news::after {
    background-position: 77.78% 25%;
}

.rc-icon.nutritional::after,
.rc-icon.rc-nutritional::after {
    background-position: 77.78% 37.5%;
}

.rc-icon.pause::after,
.rc-icon.rc-pause::after {
    background-position: 77.78% 50%;
}

.rc-icon.pdf::after,
.rc-icon.rc-pdf::after {
    background-position: 77.78% 62.5%;
}

.rc-icon.pharmacy::after,
.rc-icon.rc-pharmacy::after {
    background-position: 77.78% 75%;
}

.rc-icon.pin::after,
.rc-icon.rc-pin::after {
    background-position: 0 87.5%;
}

.rc-icon.play::after,
.rc-icon.rc-play::after {
    background-position: 11.11% 87.5%;
}

.rc-icon.plus::after,
.rc-icon.rc-plus::after {
    background-position: 22.22% 87.5%;
}

.rc-icon.print::after,
.rc-icon.rc-print::after {
    background-position: 33.33% 87.5%;
}

.rc-icon.quality::after,
.rc-icon.rc-quality::after {
    background-position: 44.44% 87.5%;
}

.rc-icon.rate::after,
.rc-icon.rc-rate::after {
    background-position: 55.56% 87.5%;
}

.rc-icon.rate-fill::after,
.rc-icon.rc-rate-fill::after {
    background-position: 66.65% 87.5%;
}

.rc-icon.rc-refresh::after,
.rc-icon.refresh::after {
    background-position: 77.76% 87.5%;
}

.rc-icon.rc-rewind::after,
.rc-icon.rewind::after {
    background-position: 88.89% 0;
}

.rc-icon.rc-right::after,
.rc-icon.right::after {
    background-position: 88.89% 12.5%;
}

.rc-icon.rc-rss::after,
.rc-icon.rss::after {
    background-position: 88.89% 25%;
}

.rc-icon.rc-search::after,
.rc-icon.search::after {
    background-position: 88.89% 37.5%;
}

.rc-icon.rc-search--sm::after,
.rc-icon.search--sm::after {
    background-position: 88.89% 50%;
}

.rc-icon.rc-settings::after,
.rc-icon.settings::after {
    background-position: 88.89% 62.5%;
}

.rc-icon.rc-share::after,
.rc-icon.share::after {
    background-position: 88.89% 75%;
}

.rc-icon.rc-shelter::after,
.rc-icon.shelter::after {
    background-position: 88.89% 87.5%;
}

.rc-icon.rc-shop::after,
.rc-icon.shop::after {
    background-position: 0 100%;
}

.rc-icon.rc-show::after,
.rc-icon.show::after {
    background-position: 11.11% 100%;
}

.rc-icon.rc-skip::after,
.rc-icon.skip::after {
    background-position: 22.22% 100%;
}

.rc-icon.rc-stop::after,
.rc-icon.stop::after {
    background-position: 33.33% 100%;
}

.rc-icon.rc-sustainable::after,
.rc-icon.sustainable::after {
    background-position: 44.44% 100%;
}

.rc-icon.rc-tablet::after,
.rc-icon.tablet::after {
    background-position: 55.56% 100%;
}

.rc-icon.rc-text-decrease::after,
.rc-icon.text-decrease::after {
    background-position: 66.67% 100%;
}

.rc-icon.rc-text-increase::after,
.rc-icon.text-increase::after {
    background-position: 77.78% 100%;
}

.rc-icon.rc-unlock::after,
.rc-icon.unlock::after {
    background-position: 88.89% 100%;
}

.rc-icon.rc-up::after,
.rc-icon.up::after {
    background-position: 100% 0;
}

.rc-icon.rc-user::after,
.rc-icon.user::after {
    background-position: 100% 12.5%;
}

.rc-icon.rc-user--sm::after,
.rc-icon.user--sm::after {
    background-position: 100% 25%;
}

.rc-icon.rc-user-add::after,
.rc-icon.user-add::after {
    background-position: 100% 37.5%;
}

.rc-icon.rc-vet::after,
.rc-icon.vet::after {
    background-position: 100% 50%;
}

.rc-icon.rc-video::after,
.rc-icon.video::after {
    background-position: 100% 62.5%;
}

.rc-icon.rc-volume-off::after,
.rc-icon.volume-off::after {
    background-position: 100% 75%;
}

.rc-icon.rc-volume-on::after,
.rc-icon.volume-on::after {
    background-position: 100% 87.5%;
}

.rc-icon.rc-weight::after,
.rc-icon.weight::after {
    background-position: 100% 100%;
}

.rc-icon.iconography--xs::after,
.rc-icon.rc-iconography--xs::after {
    background-image: url(https://d3moonnr9fkxfg.cloudfront.net/royal-canin.sprite--iconography--xs.svg?v=8-5-11);
    width: 24px;
}
