*,
*::before,
*::after {
    box-sizing: border-box;
}


.rc-content--fixed-header {
    padding-top: 4.167rem;
}

.rc-showhide[aria-expanded='false'],
.rc-hidden:not(html) {
    display: none;
}

.rc-layout-container {
    display: inline-block;
    width: 100%;
}

.rc-column {
    position: relative;
    padding: 0 1rem;
    z-index: 1;

    &.rc-padding-x--none {
        padding-left: 0;
        padding-right: 0;
    }

    &:last-child {
        padding-bottom: 1rem;
    }
}

.rc-progress {
    &--scroll {
        display: none;
    }
}

.rc-tab--centered > li:first-child {
    margin-left: auto;
}

.rc-tab--centered > li:last-child {
    margin-right: auto;
}

.rc-scroll--x {
    overflow-y: hidden;
    overflow-x: auto;
}

.rc-baseline {
    line-height: 1.5;
    color: #666;
}

.rc-baseline button {
    font-size: 14px;
}

.rc--font, .rc-baseline button {
    font-family: "RC TYPE",Roboto,Avenir,Helvetica,Arial,sans-serif
}

.rc-baseline {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* min-height:100vh; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rc-baseline *,.rc-baseline ::after,.rc-baseline ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

.rc-baseline>body {
    overflow-x: hidden;
    width: 100%;
    margin: 0
}

body {
    font-family: RC TYPE,Roboto,Avenir,Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #666;
}

.rc-clearfix::after,.rc-clearfix::before {
    content: '';
    display: table
}

.rc-clearfix::after {
    clear: both
}
