.rc-padding-x--sm {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.rc-padding-left--sm {
    padding-left: 0.5rem;
}

.rc-padding-right--sm {
    padding-right: 0.5rem;
}

.rc-padding-y--sm {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.rc-padding-top--sm {
    padding-top: 0.5rem;
}

.rc-padding-bottom--sm {
    padding-bottom: 0.5rem;
}

.rc-padding--sm {
    padding: 0.5rem;
}

.rc-padding--none {
    padding: 0;
}

.rc-padding-x--none {
    padding-left: 0;
    padding-right: 0;
}

.rc-padding-x--none--mobile {
    padding-left: 0;
    padding-right: 0;
}

.rc-padding-left--none {
    padding-left: 0;
}

.rc-padding-right--none {
    padding-right: 0;
}

.rc-padding-y--none {
    padding-top: 0;
    padding-bottom: 0;
}

.rc-padding-top--none {
    padding-top: 0;
}

.rc-padding-bottom--none {
    padding-bottom: 0;
}

.rc-padding-x--md {
    padding-left: 1rem;
    padding-right: 1rem;
}

.rc-padding--md--mobile {
    padding: 1rem;
}

.rc-padding-x--md--mobile {
    padding-left: 1rem;
    padding-right: 1rem;
}

.rc-padding-left--md {
    padding-left: 1rem;
}

.rc-padding-right--md {
    padding-right: 1rem;
}

.rc-padding-y--md {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.rc-padding-top--md {
    padding-top: 1rem;
}

.rc-padding-bottom--md {
    padding-bottom: 1rem;
}

.rc-padding--md {
    padding: 1rem;
}

.rc-padding-x--lg {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.rc-padding-left--lg {
    padding-left: 1.5rem;
}

.rc-padding-right--lg {
    padding-right: 1.5rem;
}

.rc-padding-y--lg {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.rc-padding-top--lg {
    padding-top: 1.5rem;
}

.rc-padding-bottom--lg {
    padding-bottom: 1.5rem;
}

.rc-padding--lg {
    padding: 1.5rem;
}

//margins

.rc-margin-x--sm {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.rc-margin-left--sm {
    margin-left: 0.5rem;
}

.rc-margin-right--sm {
    margin-right: 0.5rem;
}

.rc-margin-y--sm {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.rc-margin-top--sm {
    margin-top: 0.5rem;
}

.rc-margin-bottom--sm {
    margin-bottom: 0.5rem;
}

.rc-margin-bottom--xs {
    margin-bottom: 0.5rem;
}

.rc-margin--sm {
    margin: 0.5rem;
}

.rc-margin--none {
    margin: 0;
}

.rc-margin-x--none {
    margin-left: 0;
    margin-right: 0;
}

.rc-margin-left--none {
    margin-left: 0;
}

.rc-margin-right--none {
    margin-right: 0;
}

.rc-margin-y--none {
    margin-top: 0;
    margin-bottom: 0;
}

.rc-margin-top--none {
    margin-top: 0;
}

.rc-margin-bottom--none {
    margin-bottom: 0;
}

.rc-margin-x--md {
    margin-left: 1rem;
    margin-right: 1rem;
}

.rc-margin-left--md {
    margin-left: 1rem;
}

.rc-margin-right--md {
    margin-right: 1rem;
}

.rc-margin-y--md {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.rc-margin-top--md {
    margin-top: 1rem;
}

.rc-margin-bottom--md {
    margin-bottom: 1rem;
}

.rc-margin--md {
    margin: 1rem;
}

.rc-margin-x--lg {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.rc-margin-left--lg {
    margin-left: 1.5rem;
}

.rc-margin-right--lg {
    margin-right: 1.5rem;
}

.rc-margin-y--lg {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.rc-margin-top--lg {
    margin-top: 1.5rem;
}

.rc-margin-bottom--lg {
    margin-bottom: 1.5rem;
}

.rc-margin--lg {
    margin: 1.5rem;
}
