h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: 500;
}

.rc-alpha {
    color: $color-brand1;
    font-size: 1.875rem;
    line-height: 2.125rem;
    font-weight: 300;
    margin-bottom: 0.5em;
}

.rc-beta {
    color: $color-brand1;
    font-size: 1.625rem;
    line-height: 2rem;
    font-weight: 300;
    margin-bottom: 0.5em;
}

.rc-gamma {
    color: $color-brand1;
    font-size: 1.625rem;
    font-weight: 300;
    margin-bottom: 0.5em;
    line-height: 1rem;
    height: 100%;
}

.rc-delta {
    color: $color-brand1;
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0.5em;
    line-height: 1.5rem;
}

.rc-espilon {
    color: $color-brand1;
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 0.5em;
    line-height: 1.625rem;
}

.rc-zeta {
    color: $color-brand1;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.5em;
    line-height: 1.5rem;
}

.rc-intro {
    color: $color-brand1;
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 0.5em;
    line-height: 1.625rem;
}

.rc-body {
    color: $color-brand1;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.5em;
    line-height: 1.5rem;
}

.iframe-wrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.rc-text--inverse {
    color: $color-brand4;
}

q {
    font-size: 1.25em;
    font-style: italic;
    quotes: '\201C' '\201D' '\2018' '\2019';
}

blockquote,
q {
    border-left: 3px solid $color-brand1;
    margin: auto 0;
    padding: 1em;
    padding-left: 2em;
    display: block;

    & > p {
        color: $color-text;
    }
}
.richtext-editor h1,.richtext-editor h2,.richtext-editor h3,.richtext-editor h4,.richtext-editor h5,.richtext-editor h6,.richtext-editor iframe,.richtext-editor ol,.richtext-editor p,.richtext-editor table,.richtext-editor ul {
    font-style: normal;
    padding: 0;
    margin: 1rem 0
}

.richtext-editor h1:first-child,.richtext-editor h2:first-child,.richtext-editor h3:first-child,.richtext-editor h4:first-child,.richtext-editor h5:first-child,.richtext-editor h6:first-child,.richtext-editor iframe:first-child,.richtext-editor ol:first-child,.richtext-editor p:first-child,.richtext-editor table:first-child,.richtext-editor ul:first-child {
    margin-top: 0
}

.richtext-editor h1:last-child,.richtext-editor h2:last-child,.richtext-editor h3:last-child,.richtext-editor h4:last-child,.richtext-editor h5:last-child,.richtext-editor h6:last-child,.richtext-editor iframe:last-child,.richtext-editor ol:last-child,.richtext-editor p:last-child,.richtext-editor table:last-child,.richtext-editor ul:last-child {
    margin-bottom: 0
}

.richtext-editor p {
    word-break: break-word
}

.richtext-editor img {
    max-width: 100%;
    height: auto
}

.richtext-editor .iframe-wrapper,.richtext-editor .table-wrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.richtext-editor iframe {
    width: 100%
}

.richtext-editor table {
    display: table;
    width: 100%;
    height: auto;
    border: 1px solid #d7d7d7
}

.rc-table,.rc-wysiwyg table {
  width: 100%;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  position: relative
}

.rc-table__table,.rc-wysiwyg table {
  width: 100%;
  border-spacing: 0
}

.rc-table__th,.rc-wysiwyg th {
  position: relative;
  text-align: left;
  padding: 18px 5px 18px 24px;
  background: #f6f6f6;
  border-bottom: 1px solid #d7d7d7;
  font-weight: 500;
  color: #666
}

.rc-table__th--active,.rc-wysiwyg th--active {
  color: #e2001a
}

.rc-table__th--active::after,.rc-wysiwyg th--active::after {
  border-color: #e2001a transparent
}

.rc-table__th[role=columnheader],.rc-wysiwyg th[role=columnheader] {
  cursor: pointer
}

.rc-table__th[role=columnheader]::after,.rc-wysiwyg th[role=columnheader]::after {
  content: '';
  position: absolute;
  margin: 17px 0 0 17px;
  border-width: 0 5px 5px;
  border-style: solid;
  border-color: #767676 transparent;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.rc-table__th[aria-sort=ascending]::after,.rc-wysiwyg th[aria-sort=ascending]::after {
  border-bottom: none;
  border-width: 5px 5px 0
}

.rc-table__row-selected,.rc-table__row:hover,.rc-wysiwyg tr-selected,.rc-wysiwyg tr:hover {
  background: #f6f6f6
}

.rc-table__td,.rc-wysiwyg td {
  padding: 14px 0 14px 24px;
  border-bottom: 1px solid #d7d7d7;
  color: #666
}

.rc-table__row:last-child .rc-table__td,.rc-table__row:last-child .rc-wysiwyg td {
  border-bottom: none
}


.rc-text--center {
    text-align: center;
}

b,
strong {
    font-weight: bolder;
}
