@import '~styleSettings';

.product-finder {
    $block: &;

    background-color: $color-brand3;
    position: relative;
    overflow: hidden;
    min-height: 250px;

    .noUi-tooltip {
        border: 0;
        min-width: 100px;
    }

    .rc-select--search {
        .choices {
            border: 0;

            &::after {
                content: normal;
            }
        }
    }

    .rc-column {
        overflow: visible;

        &--two {
            flex: 0 0 50%;

            @media (--medium) {
                padding-right: 0;
            }
        }
    }

    &__container {
        transition: height 0.5s ease;
    }

    .rc-content-block__wrapper > .rc-layout-container {
        padding: 2em 0;
        overflow: visible;
    }

    .highlighted {
        font-weight: bold;
    }

    .rc-padding-y--xs {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .rc-scroll--x {
        overflow-x: auto;
        justify-content: center;
    }
}
