﻿@using Delete.Foundation.DeleteFoundationCore.Helpers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.NotFound.Models.NotFoundContentItem>


<div class="rc-padding--md rc-padding-bottom--lg rc-text--center rc-bg-gradient--vertical">
    <object data-js-import-interactive-svg id="404-image" data="https://d1a19ys8w1wkc1.cloudfront.net/kennel.svg?v=8-8-1" type="image/svg+xml" class="rc-svg--animated">
        <img src="https://d1a19ys8w1wkc1.cloudfront.net/1x1.gif?v==8-8-1" style="background-image: url(https://d1a19ys8w1wkc1.cloudfront.net/kennel.png?v=8-8-1)" alt="kennel image" />
    </object>
    <h1 class="rc-alpha">@Editable(x => x.Title)</h1>
    <p>@Editable(x => x.Content)</p>
    @RenderLink(x => x.Link, new { @class = "rc-btn rc-btn--one", title = LinkHelper.RenderLinkTitle(Model.Link, Model.Name) }, true)
</div>

