@import '~styleSettings';

.rc-modal__container.rc-modal__container--restricted-height {
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    @media (--medium) {
     max-height: 90%;
    } 
}
.rc-modal__content.rc-modal__content--location {
   padding: 3.5rem 1.5rem 1.5rem;   
   @media (--medium) {
    padding: 2rem;    
   }
}

.rc-modal__header.rc-modal__header--nobg {
    background-color: transparent;
}

.rc-list {
    &.rc-list--split-desktop3 { 
        @media (--medium) {   
            column-count: 3;
            column-gap: 20px;
        }
    }
    [data-ref="city"] {
        cursor: pointer;
        text-decoration: none;
        &:hover{
            color: $color-brand1;
        }
    }
}

.rc-border-line {
    @media (--medium){
        border-top-width: 1px;
        border-top-style: solid;
        border-color: $color-brand4;
    }    
}

.rc-manual-region-link {
    display: inline-flex;
    text-decoration: none;
    margin-right: .5rem;    
    align-items: center;    
}
 
.rc-region-resticted {
    text-overflow: ellipsis;    
    overflow: hidden;
    white-space: nowrap;
    max-width: none;
    display: inline-block;
    @media (--medium) {
        max-width: 70px;
    }
    @media (--large) {
        max-width: 140px;
    }
    @media (--x-large) {
        max-width: 200px;
    }
    @media (--xx-large) {
        max-width: none;
    }
}

.rc-inline-flex,
.rc-list-item.rc-inline-flex,
.rc-list--inline .rc-list__item.rc-inline-flex {
    display: inline-flex;
}
.rc-change-location-link {
    display: block;
    text-decoration: none;    
    border-top: 1px solid $color-interface;
    cursor: pointer;
    font-weight: 600;
}