@import '~styleSettings';

/* critical:start */
.read-more {
    overflow: hidden;

    &__wrapper {
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

    &__button {
        margin: 16px 0;
    }
}
/* critical:end */
