@import '~styleSettings';

/* critical:start */
.autocomplete {
    $this: &;

    display: inline-block;
    width: 100%;

    &[hidden] {
        display: none;
    }

    &__list {
        position: absolute;
        left: 0;
        min-width: 100%;
        padding: 0;
        margin: -4px 0 0 0;
        max-height: 300px;
        border-radius: 3px;
        border: 1px solid $color-interface;
        background: $color-brand3;
        overflow: auto;
        list-style: none;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        z-index: 40;

        &:empty {
            display: none;
        }

        > li {
            position: relative;
            padding: 10px;
            font-size: 0.875rem;
            cursor: pointer;

            &:hover {
                background-color: $color-brand4;
            }

            &[aria-selected='true'] {
                background-color: $color-interface;
            }

            mark {
                font-weight: 500;
                color: inherit;
                background-color: transparent;
            }
        }
    }

    &--search-site {
        height: 100%;

        #{$this}__list {
            background-color: $color-brand4;

            li {
                padding: 10px 3rem 10px 3rem;

                &:hover {
                    color: $color-brand1;
                }
            }

            &--featured {
                li {
                    &:last-child {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
/* critical:end */
