@import '~styleSettings';

.rc-content-block {
    $this: &;

    &--initial-overflow {
        z-index: 2;

        .rc-layout-container {
            overflow: visible;
        }

        .rc-column {
            overflow: visible;

            &:first-child {
                z-index: 2;

                @media (--medium) {
                    z-index: 1;
                }
            }
        }
    }
}
