﻿@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Sitecore.Data.Items
@using Sitecore.StringExtensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Foundation.DataTemplates.Models.Menu.MenuFolder>

@if (Model != null)
{
    <amp-sidebar class="rc-nav"
                 id="sidebar"
                 layout="nodisplay"
                 side="left">
        <button class="rc-nav__close-btn rc-btn rc-btn--icon rc-icon rc-close--xs rc-iconography" on="tap:sidebar.toggle">
            <span class="rc-screen-reader-text">Close</span>
        </button>
        @if (Model.MenuGroups != null || Model.MenuItems != null)
        {
            <nav role="navigation">
                <ul class="rc-list rc-list--blank rc-list--align rc-list--three-column" role="menubar">
                    @if (Model.MenuGroups != null)
                    {
                        var columnNumber = 1;
                        foreach (var item in Model.MenuGroups)
                        {

                            <li class="rc-list__item rc-list__item--group">
                                <ul class="rc-list rc-list--blank rc-list--align" id="nav-list-@columnNumber" aria-labelledby="nav-header-@columnNumber" role="menu">
                                    <li class="rc-list__item rc-md-down">
                                        @RenderLink(item, x => x.LinkProperty, new { @class = "rc-list__header", role = "menuitem", title = LinkHelper.RenderLinkTitle(item.LinkProperty, item.Name) })
                                    </li>
                                    @foreach (var subItem in item.MenuItems)
                                    {
                                        <li class="rc-list__item">
                                            @RenderLink(subItem, x => x.LinkProperty, new { @class = "rc-list__link", role = "menuitem", title = LinkHelper.RenderLinkTitle(subItem.LinkProperty, subItem.Name) })
                                        </li>
                                    }
                                </ul>
                            </li>
                            columnNumber++;
                        }
                    }

                    @if (Model.MenuItems != null && Model.MenuItems.Any())
                    {
                        <li class="rc-list__item rc-list__item--group">
                            <ul class="rc-list rc-list--blank rc-list--align" role="menu">
                                @foreach (var item in Model.MenuItems)
                                {
                                    <li class="rc-list__item">
                                        @RenderLink(item, x => x.LinkProperty, new { @class = $"rc-list__link rc-icon rc-{item.Icon?.Value}--xs rc-iconography", role = "menuitem", title = LinkHelper.RenderLinkTitle(item.LinkProperty, item.Name) })
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </nav>
        }
    </amp-sidebar>
}


