﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Models
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.MultiSite.Extensions
@using Glass.Mapper.Sc.Fields
@using Sitecore.Collections
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Foundation.DataTemplates.Models.Menu.MenuFolder>

@{
    var localMarketSettings = SitecoreContext.GetLocalMarketSettings();
}
<nav class="rc-header__nav rc-header__nav--primary">
    <ul class="rc-list rc-list--blank rc-list--inline rc-list--align" role="menubar">
        <li class="rc-list__item">
            <button class="rc-btn rc-btn--icon-label rc-icon menu--xs rc-iconography rc-md-up" data-modal-trigger="main-nav-modal" aria-label="Menu">
                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.headerbar.menu")
            </button>
            <button class="rc-btn rc-btn--icon rc-icon menu--xs rc-iconography rc-md-down" data-js-trigger="mobile-push-nav" aria-label="Menu">
                <span class="rc-screen-reader-text">
                    @TranslateHelper.TextByDomainCached("Translations", "translations.feature.headerbar.menu")
                </span>
            </button>
        </li>
    </ul>
    <a href="@(SitecoreContext.GetHomeItem<GlassBase>().Url)" class="rc-header__brand">
        @if (@Html.IsHomePage())
        {
            <h1>
                <span class="rc-screen-reader-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.headerbar.alternatelogotext")</span>
                <object id="rc-header__logo" class="rc-header__logo" type="image/svg+xml" data="https://d1a19ys8w1wkc1.cloudfront.net/logo--animated.svg?v=8-8-1"
                        data-js-import-interactive-svg>
                    <img alt="Royal Canin logo" height="100" src="https://d1a19ys8w1wkc1.cloudfront.net/1x1.gif?v=8-8-1" width="135">
                </object>
            </h1>
        }
        else
        {
            <span class="rc-screen-reader-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.headerbar.alternatelogotext")</span>
            <object id="rc-header__logo" class="rc-header__logo" type="image/svg+xml" data="https://d1a19ys8w1wkc1.cloudfront.net/logo--animated.svg?v=8-8-1"
                    data-js-import-interactive-svg>
                <img alt="Royal Canin logo" height="100" src="https://d1a19ys8w1wkc1.cloudfront.net/1x1.gif?v=8-8-1" width="135">
            </object>
        }
    </a>

    @if (Model != null)
    {
        <ul class="rc-list rc-list--blank rc-list--inline rc-list--align rc-header__right" role="menubar">
            <li class="rc-list__item rc-inline-flex">
                @if (Model.RegionName != null)
                {
                    <a class="rc-md-up rc-manual-region-link"
                       href="#"
                       aria-label="pin"
                       data-tooltip="region-tooltip"
                       data-tooltip-placement="bottom"
                       data-tooltip-trigger="mouseenter">
                        <span class="rc-icon rc-location--xs rc-iconography"></span>
                        <span data-ref="region-picker-name" class="rc-region-resticted rc-text-colour--text">@Model.RegionName</span>
                    </a>
                    <div id="region-tooltip" class="rc-tooltip rc-md-up">
                        <div>@TranslateHelper.TextByDomainCached("Translations", "translations.feature.regionpicker.yourcurrentlocation")</div>
                        <div data-ref="region-picker-name" class="rc-padding-y--xs rc-text-colour--brand1">@Model.RegionName</div>
                        <span class="rc-change-location-link rc-padding-top--xs rc-text-colour--text"
                              data-modal-trigger="modal-region-picker"
                              data-ref="mrp-static-name">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.regionpicker.changelocation")</span>
                        </div>
                    }                    
                @if (localMarketSettings.EnableWeChat && localMarketSettings.WeChatQRCode != null)
                {
                    <button href="#"
                            class="rc-md-up rc-btn rc-btn--icon rc-icon rc-wechat--xs rc-iconography rc-interactive"
                            aria-label="wechat"
                            data-tooltip="qrcode-tooltip"
                            data-tooltip-placement="bottom"
                            data-tooltip-trigger="mouseenter">
                        <span class="rc-screen-reader-text">WeChat</span>
                    </button>
                    <div id="qrcode-tooltip" class="rc-tooltip rc-md-up rc-wechat-tooltip">
                        <div class="rc-wechat-tooltip-content">
                            <span>@localMarketSettings.TextForQR</span>                            
                            <img src="@Html.GetResizedMediaUrl(localMarketSettings.WeChatQRCode, 95)"
                                 alt="@localMarketSettings.WeChatQRCode.Alt"
                                 class="rc-wechat-tooltip-image">
                        </div>
                    </div>
                }
                
                @foreach (var item in Model.MenuItems)
                {
                    using (BeginRenderLink(item, x => x.LinkProperty, new { @class = $"rc-md-up rc-btn rc-btn--icon rc-icon rc-{item.Icon?.Value}--xs rc-iconography rc-interactive", aria_label = item.Icon.Value }, true))
                    {
                        <span class="rc-screen-reader-text">
                            @TranslateHelper.TextByDomainCached("Translations", $"translations.feature.headerbar.{item.Icon?.Value}")
                        </span>
                    }
                }

                @foreach (var group in Model.MenuGroups)
                {
                    <button href="#" class="rc-md-up rc-btn rc-btn--icon rc-icon rc-user--xs rc-iconography rc-interactive" aria-label="user" data-tooltip="bottom-tooltip" data-tooltip-placement="bottom"
                            data-tooltip-trigger="mouseenter">
                        <span class="rc-screen-reader-text">@(group.DisplayName.OrDefault(group.Name))</span>
                    </button>
                    <div id="bottom-tooltip" class="rc-tooltip rc-md-up">
                        <ul class="rc-list rc-list--blank rc-list--align">
                            @foreach (var item in group.MenuItems)
                            {
                                <li class="rc-list__item rc-padding--xs">
                                    @RenderLink(item, x => x.LinkProperty, new { @class = "rc-styled-link", title = LinkHelper.RenderLinkTitle(item.LinkProperty, item.Name) })
                                </li>
                            }
                        </ul>
                    </div>

                }

                @{
                    if (!localMarketSettings.HideSiteSearch)
                    {
                        <button data-js-trigger="search-bar" class="rc-btn rc-btn--icon rc-icon rc-search--xs rc-iconography rc-interactive" aria-label="Search">
                            <span class="rc-screen-reader-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.headerbar.search")</span>
                        </button>

                    }
                }
            </li>
        </ul>
    }

    @{
        if (!localMarketSettings.HideSiteSearch)
        {
            <div data-component="search-track"
                 data-track-category="Search / Search">
                <form method="GET" action="@(localMarketSettings?.SearchResultsPage?.BuildUrl(new SafeDictionary<string>()))" class="rc-header__search-bar rc-hidden" data-js-target="search-bar" data-component="autocomplete" data-endpoint="@Url.ApiAction("Predictive", "RoyalCanin")" data-main-class="autocomplete autocomplete--search-site">
                    <button class="rc-btn rc-btn--icon rc-icon rc-search--xs rc-iconography rc-stick-left rc-vertical-align rc-interactive" type="submit" aria-label="Search">
                        <span class="rc-screen-reader-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.headerbar.search")</span>
                    </button>
                    <input class="rc-header__input" name="searchQuery" data-ref="input" placeholder="@TranslateHelper.TextByDomainCached("Translations", "translations.feature.headerbar.startsearch")" type="search" value="" />
                    <label for="search">
                        <span class="rc-screen-reader-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.headerbar.startsearch")</span>
                    </label>
                    <button data-js-trigger="search-bar" class="rc-btn rc-btn--icon rc-icon rc-close--xs rc-iconography rc-stick-right rc-vertical-align rc-interactive" type="button"
                            aria-label="Close">
                        <span class="rc-screen-reader-text">@TranslateHelper.TextByDomainCached("Translations", "translations.feature.headerbar.close")</span>
                    </button>
                </form>
            </div>
        }
    }
</nav>
