﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.DeleteFoundationCore.Models
@using Sitecore.Data.Items
@using Sitecore.StringExtensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Foundation.DataTemplates.Models.Menu.MenuFolder>

<nav class="rc-header__nav rc-header__nav--primary">
    <ul class="rc-list rc-list--blank rc-list--inline rc-list--align" role="menubar">
        <li class="rc-list__item">
            <button class="rc-btn rc-btn--icon rc-icon rc-menu--xs rc-iconography rc-md-down" data-js-trigger="mobile-push-nav" aria-label="Menu" on="tap:sidebar.toggle" >
                <span class="rc-screen-reader-text">
                    @TranslateHelper.TextByDomainCached("Translations", "translations.feature.headerbar.menu")
                </span>
            </button>
        </li>
    </ul>

    <a href="@(SitecoreContext.GetHomeItem<GlassBase>().Url)" class="rc-header__brand">
        <span class="rc-screen-reader-text">Royal Canin Logo</span>
        <amp-img class="rc-header__logo"
            src="https://d1a19ys8w1wkc1.cloudfront.net/logo--animated.svg?v=8-8-1"
            width="100"
            height="46"
            layout="responsive"
            alt="Royal Canin Logo">
        </amp-img>
    </a>
    <ul class="rc-list rc-list--blank rc-list--inline rc-list--align rc-header__right" role="menubar"></ul>
</nav>