﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Delete.Foundation.RoyalCaninCore.Helpers
@using Sitecore.Collections
@using Sitecore.Data.Items
@using Constants = Delete.Foundation.RoyalCaninCore.Constants
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Foundation.DataTemplates.Models.Menu.MenuFolder>

@if (Model != null)
{
    <section class="rc-max-width--xl rc-scroll--y">    
        <span class="rc-modal__tablet-fix"></span>
        @foreach (var menuInfoItem in Model.MenuInfoItems)
        {
            <div class="rc-column rc-lg-up">
                @if (!menuInfoItem.Title.IsNullOrEmpty())
                {
                    <div class="rc-gamma rc-padding-x--md">@menuInfoItem.Title</div>
                }
                @Html.Raw(menuInfoItem.Content)
                @if (menuInfoItem.Image != null)
                {
                    <img class="lazyload"
                         data-srcset="@Html.GetResizedSrcSet(menuInfoItem.Image?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                         data-sizes="auto"
                         alt="@(menuInfoItem.Image?.Alt)" />
                }
            </div>
        }
        @if (Model.MenuGroups != null || Model.MenuItems != null)
        {
            <nav class="rc-nav rc-hidden" data-toggle-group="mobile" data-toggle-effect="rc-expand--horizontal" data-js-target="mobile-push-nav"
                 role="navigation">
                <div class="rc-layout-container rc-three-column rc-feedback-padding">
                    <div class="rc-column rc-double-width rc-padding-x--none--mobile rc-padding-right--none">
                        <ul class="rc-list rc-list--blank rc-list--align rc-list--two-column"
                            role="menubar"
                            data-component="nav-track"
                            data-nav-name="Header navigation">
                            @if (Model.MenuGroups != null)
                            {
                                var columnNumber = 1;
                                foreach (var item in Model.MenuGroups)
                                {

                                    <li class="rc-list__item rc-list__item--group">
                                        <a class="rc-list__header" id="nav-header-@columnNumber" data-toggle="nav-list-@columnNumber" href="@(item.LinkProperty?.BuildUrl(new SafeDictionary<string>()))" role="menuitem">@(item.LinkProperty?.Text)</a>
                                        <ul class="rc-list rc-list--blank rc-list--align" id="nav-list-@columnNumber" aria-labelledby="nav-header-@columnNumber" role="menu">
                                            <li class="rc-list__item rc-md-down">
                                                <button class="rc-list__link rc-icon rc-left--xs rc-iconography" data-toggle="nav-list-@columnNumber" role="button" href="#/">
                                                    @TranslateHelper.TextByDomainCached("Translations", "translations.feature.headerbar.back")
                                                </button>
                                            </li>
                                            <li class="rc-list__item rc-md-down">
                                                @RenderLink(item, x => x.LinkProperty, new { @class = "rc-list__header", role = "menuitem", title = LinkHelper.RenderLinkTitle(item.LinkProperty, item.Name) })
                                            </li>
                                            @foreach (var subItem in item.MenuItems)
                                            {
                                                <li class="rc-list__item">
                                                    @RenderLink(subItem, x => x.LinkProperty, new { @class = "rc-list__link", role = "menuitem", data_ref = "nav-link", title = LinkHelper.RenderLinkTitle(subItem.LinkProperty, subItem.Name)})
                                                </li>
                                            }

                                        </ul>
                                    </li>
                                    columnNumber++;
                                }
                            }
                        </ul>
                    </div>
                    @if (Model.MenuItems != null && Model.MenuItems.Any())
                    {
                        <div class="rc-column rc-padding-x--none">
                            <ul class="rc-list rc-list--blank rc-list--align rc-btn-offset--top"
                                role="menu"
                                data-component="nav-track"
                                data-nav-name="Header navigation">

                                @foreach (var item in Model.MenuItems)
                                {
                                    if (item.Regions.Any())
                                    {
                                        <li class="rc-list__item">
                                            @RenderLink(item, x => x.LinkProperty, new { @class = $"rc-list__link rc-icon rc-{item.Icon?.Value}--xs rc-iconography rc-hidden", data_component = "region-link", 
                                            data_region_name = string.Join(", ",  @item.Regions.Select(x => x.RegionNameYandex)), role = "menuitem", 
                                            data_ref = "nav-link", 
                                            title = LinkHelper.RenderLinkTitle(item.LinkProperty, item.Name),
                                                data_track_custom= item.DataTrackCustomEnable ? "true" : "false",
                                                data_track_custom_event= item.DataTrackCustomEnable ? item.DataTrackCustomEvent : string.Empty,
                                                data_track_custom_category= item.DataTrackCustomEnable ? item.DataTrackCustomCategory : string.Empty,
                                                data_track_custom_action= item.DataTrackCustomEnable ? item.DataTrackCustomAction : string.Empty,
                                                data_track_custom_label= item.DataTrackCustomEnable ? item.DataTrackCustomLabel : string.Empty, })
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="rc-list__item">
                                            @RenderLink(item, x => x.LinkProperty, new { @class = $"rc-list__link rc-icon rc-{item.Icon?.Value}--xs rc-iconography", 
                                            role = "menuitem", 
                                            data_ref = "nav-link",
                                            title = LinkHelper.RenderLinkTitle(item.LinkProperty, item.Name),                                            
                                                data_track_custom= item.DataTrackCustomEnable ? "true" : "false",
                                                data_track_custom_event= item.DataTrackCustomEnable ? item.DataTrackCustomEvent : string.Empty,
                                                data_track_custom_category= item.DataTrackCustomEnable ? item.DataTrackCustomCategory : string.Empty,
                                                data_track_custom_action= item.DataTrackCustomEnable ? item.DataTrackCustomAction : string.Empty,
                                                data_track_custom_label= item.DataTrackCustomEnable ? item.DataTrackCustomLabel : string.Empty,})
                                        </li>
                                    }
                                    
                                }
                                @if (@Model.RegionName != null)
                                {   
                                    <li class="rc-list__item">
                                        <a class="rc-list__link rc-icon rc-location--xs rc-iconography"
                                        href="#"
                                        data-ref="nav-link"
                                        role="menuitem"
                                        title="My location"
                                        data-modal-trigger="modal-region-picker">@Model.RegionName</a>
                                    </li>
                                }                            

                            </ul>
                        </div>
                    }
                </div>

            </nav>
        }
        
    </section>
}
