﻿@using Delete.Foundation.DataTemplates.Models.Menu
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Feature.HeaderBar.Models.HeaderBarModel>

@if (Context.IsAmpRequest())
{
    <header class="rc-header rc-shadow--none" data-js-header-scroll>
        @Html.Partial("~/Views/Feature/HeaderBar/HeaderBarPrimaryAmp.cshtml", Model.Navigation.Primary)
    </header>

    <!-- Main Menu -->

    @Html.Partial("~/Views/Feature/HeaderBar/HeaderBarModalAmp.cshtml", Model.Navigation.Modal)
}
else
{
    <header class="rc-header" data-js-header-scroll>
        @if (Model?.Navigation?.Primary != null)
        {
            Html.RenderPartial("~/Views/Feature/HeaderBar/HeaderBarPrimary.cshtml", Model.Navigation.Primary);
        }
        
        @if (Model?.Navigation?.Secondary != null)
        {
            Html.RenderPartial("~/Views/Feature/HeaderBar/HeaderBarSecondary.cshtml", Model.Navigation.Secondary);
        }
    </header>

    <!-- Main Menu -->
    <div data-js-modal-menu>
        <header class="rc-modal__header rc-md-up">
            <button class="rc-modal__close rc-btn rc-btn--icon-label rc-icon rc-close--xs rc-iconography" data-modal-trigger="main-nav-modal">
                @TranslateHelper.TextByDomainCached("Translations", "translations.feature.headerbar.close")
            </button>
           
            <object data-js-import-interactive-svg id="main-logo" data="https://d1a19ys8w1wkc1.cloudfront.net/logo--crown.svg?v=8-8-1" type="image/svg+xml" class="rc-modal__logo">
                <img src="https://d1a19ys8w1wkc1.cloudfront.net/1x1.gif?v=8-8-1" width="150" height="100" alt="Royal Canin, Nutritional food for Cats and Dogs" />
            </object>
        </header>

        @if (Model?.Navigation?.Modal != null)
        {
            Html.RenderPartial("~/Views/Feature/HeaderBar/HeaderBarModal.cshtml", Model.Navigation.Modal);
        }

        <footer class="rc-modal__footer rc-align-children--space-between rc-md-up">
            @Html.Sitecore().Placeholder("rc-header-modal-footer")
        </footer>
    </div>
}
