﻿@using Delete.Foundation.DeleteFoundationCore.Helpers
@using Sitecore.Data.Items
@using Sitecore.StringExtensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Delete.Foundation.DataTemplates.Models.Menu.MenuFolder>

@if (Model != null)
{
    <nav 
    class="rc-header__nav rc-header__nav--secondary rc-md-up"
    data-component="nav-track"
    data-nav-name="Header navigation">
        <ul class="rc-list rc-list--blank rc-list--inline rc-list--align rc-header__center">
            @foreach (var item in Model.MenuItems)
            {
                <li class="rc-list__item">
                    @RenderLink(item, x => x.LinkProperty, new {@class="rc-list__header", role = "menuitem", data_ref="nav-link", title = LinkHelper.RenderLinkTitle(item.LinkProperty, item.Name) })
                </li>
            }
        </ul>
    </nav>
}