﻿@using Glass.Mapper
@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@model RoyalCanin.Project.RoyalCanin.Models.SearchAllResultsViewModel
<section class="rc-padding-top--sm"
         data-component="listing-with-pagination"
         data-endpoint="@Url.ApiAction("Find", "RoyalCanin")"
         data-request-filter="@Model.Filter"
         data-request-category="all">
    <div data-ref="data-container">
        @if (Model.ProductResults.TotalResults > 0)
        {
            <a class="rc-styled-link rc-styled-link--cta rc-stick-right rc-stick-top rc-md-up" href="#" data-ref="view-all-btn" data-category="products">
                @TranslateHelper.TextByDomainCached("Translations", "translations.project.royalcanin.viewall", Model.ProductResults.TotalResults)
            </a>

            <div class="rc-layout-container rc-event-card rc-match-heights"  data-component="product-list-track">
                @{
                    var position = 0;
                }
                @foreach (var item in Model.ProductResults.SearchResults.Results.Take(Model.ProductsMobilePageSize))
                {
                    Html.RenderPartial("~/Views/Feature/Products/_ProductCardWithLike.cshtml", item, new ViewDataDictionary {{"productPosition", position++}});
                }
                @foreach (var item in Model.ProductResults.SearchResults.Results.Skip(Model.ProductsMobilePageSize))
                {
                    Html.RenderPartial("~/Views/Feature/Products/_ProductCardWithLike.cshtml", item, new ViewDataDictionary {{"hideOnMobile", true}, {"productPosition", position++}});
                }
            </div>

            <div class="rc-text--center rc-md-down">
                <a class="rc-styled-link rc-styled-link--cta rc-inline" href="#" data-ref="view-all-btn" data-category="products">
                    @TranslateHelper.TextByDomainCached("Translations", "translations.project.royalcanin.viewall", Model.ProductResults.TotalResults)
                </a>
            </div>
        }

        <div class="rc-padding-y--md rc-border-colour--interface rc-border-bottom">

            @foreach (var item in Model.Results)
            {
                <div class="rc-padding-bottom--xs">
                    <h3>
                        <a class="rc-styled-link" href="@item.Url">
                            @(item.DisplayName.HasValue() ? item.DisplayName : item.Name)
                        </a>
                    </h3>

                    @if (item.Highlights != null && item.Highlights.Any())
                    {
                        <p>
                            @foreach (var highlight in item.Highlights)
                            {
                                <text>@Html.Raw(highlight.WrapToEllipsis())</text>
                            }
                        </p>
                    }

                    <nav class="rc-progress rc-progress--breadcrumbs-stepped">
                        <ul>
                            @{
                                var parents = item.Parents.ToList();
                                parents.Reverse();
                            }
                            @foreach (var parent in parents)
                            {
                                <li>
                                    <a class="rc-progress__breadcrumb rc-styled-link" href="@parent.Url">
                                        @(parent.DisplayName.HasValue() ? parent.DisplayName : parent.Name)
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            }

        </div>
        @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Pagination.cshtml", Model)
    </div>
    @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)
</section>