﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.RoyalCaninCore.Helpers
@using Glass.Mapper
@using Constants = Delete.Foundation.RoyalCaninCore.Constants
@model RoyalCanin.Project.RoyalCanin.Models.BreedsSearchResultsViewModel

<section class="rc-padding-top--sm"
         data-component="listing-with-pagination"
         data-endpoint="@Url.ApiAction("Find", "RoyalCanin")"
         data-request-filter="@Model.Filter"
         data-request-category="breed">
    <div data-ref="data-container">
        @if (Model.TotalResults > 0)
        {
                <div class="rc-layout-container rc-event-card rc-match-heights">
                    @foreach (var item in Model.Results)
                    {
                        <div class="rc-column">
                            <a class="rc-card__link rc-full-width" href="@item.Url">
                                <article class="rc-card rc-card--b">
                                    @if (item.GlobalBreed?.Thumbnail != null)
                                    {
                                        <picture class="rc-card__image">
                                            <img class="lazyload"
                                                 src="@($"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 3'%3E%3C/svg%3E")"
                                                 data-srcset="@Html.GetResizedSrcSet(item.GlobalBreed.Thumbnail?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                                                 data-sizes="auto"
                                                 alt="@(item.GlobalBreed?.Thumbnail?.Alt ?? item.LocalBreedName ?? item.GlobalBreed?.BreedName)">
                                        </picture>
                                    }
                                    <div class="rc-card__body ">
                                        <header class="rc-text--center">
                                            @*<p class="rc-card__meta">Scent hounds</p>*@
                                            <h1 class="rc-card__title">@(item.DisplayName.HasValue() ? item.DisplayName : item.Name)</h1>
                                            @*<p class="rc-card__meta">The original flavor</p>*@
                                        </header>
                                    </div>
                                </article>
                            </a>
                        </div>
                    }

                </div>
            @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Pagination.cshtml", Model)
        }

    </div>
    @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)
</section>