﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.RoyalCaninCore.Helpers
@using Glass.Mapper
@using Constants = Delete.Foundation.RoyalCaninCore.Constants
@model RoyalCanin.Project.RoyalCanin.Models.ContentSearchResultsViewModel
<section class="rc-padding-top--sm" 
         data-component="listing-with-pagination"
         data-endpoint="@Url.ApiAction("Find", "RoyalCanin")"
         data-request-filter="@Model.Filter"
         data-request-category="content">

        @if (Model.TotalResults > 0)
        {
            <div data-ref="data-container">
                    <div class="rc-layout-container rc-event-card rc-match-heights">
                        @foreach (var item in Model.Results)
                        {
                            <div class="rc-column">
                                <a class="rc-card__link rc-full-width" href="@item.Url">
                                    <article class="rc-card rc-card--a">
                                        @if (item.Image?.Src.HasValue() == true)
                                        {
                                            <picture class="rc-card__image">
                                                <img class="lazyload"
                                                     data-srcset="@Html.GetResizedSrcSet(item.Image?.GetExtendedImageWithGlobalSettings(Constants.FilterByPlatform.WeShare))"
                                                     data-sizes="auto"
                                                     alt="@item.Title">
                                            </picture>
                                        }
                                        <div class="rc-card__body">
                                            <header>
                                                <h1 class="rc-card__title">@item.Title</h1>
                                            </header>
                                        </div>
                                    </article>
                                </a>
                            </div>
                        }
                    </div>
         
                @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Pagination.cshtml", Model)
            </div>
        }
        @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)
    </section>