﻿
@model Delete.Foundation.MultiSite.Models.ILocalMarketSettings

@if (Model.UsePriceSpider)
{
    <meta name="ps-account" content="@(Model.PriceSpiderAccount)"/>
    <meta name="ps-config" content="@(Model.PriceSpiderConfigId)"/>
    <meta name="ps-country" content="@(Model.PriceSpiderCountry)"/>
    <meta name="ps-language" content="@(Model.PriceSpiderLanguage)"/>
    <meta name="ps-local" content="@(Model.PriceSpiderLocal)"/>

    <script src="@(Model.PriceSpiderScriptSource)"></script>
}
