﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@model Delete.Feature.Products.Models.SearchResultsViewModel
<section class="rc-padding-top--sm"
         data-component="listing-with-pagination"
         data-endpoint="@Url.ApiAction("Find", "RoyalCanin")"
         data-request-filter="@Model.Filter"
         data-request-category="products">
    @if (Model.TotalResults > 0)
    {
       <div data-ref="data-container">
           <div class="rc-layout-container rc-event-card rc-match-heights">
               @{
                   var position = Model.GetSkippedItemsCountToCurrentPage();
               }
               @foreach (var item in Model.SearchResults.Results)
               {
                   Html.RenderPartial("~/Views/Feature/Products/_ProductCardWithLike.cshtml", item, new ViewDataDictionary {{"productPosition", position++}});
               }
           </div>
            @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Pagination.cshtml", Model)
        </div>
    }
    @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", string.Empty)
</section>