﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.MultiSite.Models
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    Layout = "RoyalCaninOuterLayout.cshtml";
    var marketSettings = Html.Glass().SitecoreContext.GetRootItemRelative<LocalMarketSettings>();
}

@Html.Action("RegisterPageValues", "Metadata")
@Html.Action("SetupHomePageFlag", "Metadata")

@Html.RegisterStyles("app.css", true)

@Html.RegisterScripts("runtime.js")
@Html.RegisterScripts("commons.js")
@Html.RegisterScripts("vendors.app.js")
@Html.RegisterScripts("app.js")

<header class="rc-header" data-js-header-scroll>
    <nav class="rc-header__nav rc-header__nav--primary rc-header__nav--lp">
        <div class="rc-header__brand">
            <span class="rc-screen-reader-text">Royal Canin, Health Nutrition for Cats and Dogs</span>
            <object id="rc-header__logo" class="rc-header__logo" type="image/svg+xml" data="https://d1a19ys8w1wkc1.cloudfront.net/logo--animated.svg?v=8-8-1"
                    data-js-import-interactive-svg>
                <img alt="Royal Canin logo" height="100" src="https://d1a19ys8w1wkc1.cloudfront.net/1x1.gif?v=8-8-1"
                     width="135">
            </object>
        </div>
    </nav>
</header>

<main class="rc-main rc-content--fixed-header-sm" data-component="content-tracker">
    @Html.Sitecore().Placeholder("rc-main")
</main>

<script src="@(marketSettings?.GlobalFooterScriptUrl)"></script>


