﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.MultiSite.Models
@using Sitecore.Mvc.Analytics.Extensions

@{
    Layout = null;

    var styles = Html.GetRegisteredStyles();
    var scripts = Html.GetRegisteredScripts();
    var marketSettings = Html.Glass().SitecoreContext.GetRootItemRelative<LocalMarketSettings>();
}

<!DOCTYPE html>

<html lang="@Sitecore.Context.Language.CultureInfo.Name">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compa1tible" content="IE=edge">
    <meta name="format-detection" content="telephone=no" />

    @Html.Sitecore().Placeholder("rc-meta")

    <link rel="dns-prefetch" href="https://d1a19ys8w1wkc1.cloudfront.net">
    <link rel="dns-prefetch" href="//c.evidon.com">
    <link rel="preconnect" href="https://d1a19ys8w1wkc1.cloudfront.net">
    <link rel="preconnect" href="//c.evidon.com">

    @foreach (var script in scripts)
    {
        <link rel="preload" href="@script.Path" as="script">
    }

    <link rel="stylesheet" href="https://d1a19ys8w1wkc1.cloudfront.net/royal-canin.styles.prefix.min.css?v=8-8-1">
    <script src="https://d1a19ys8w1wkc1.cloudfront.net/royal-canin.min.bundle.js?v=8-8-1"></script>

    @Html.Sitecore().Placeholder("rc-analytics")

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NCWZQ3');
    </script>

    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-59DMSTR');
    </script>
    <!-- End Google Tag Manager -->

    <style>
        @foreach (var style in styles)
        {
            @Html.Raw(Html.GetContent(style.Path, "critical."))
        }
    </style>

    @foreach (var style in styles)
    {
        if (!style.IsDeferred)
        {
            <link rel="stylesheet" href="@style.Path">
        }
    }

    <link rel="mask-icon" href="/dist/favicon/safari-pinned-tab.svg" color="white">
    <link rel="icon" type="image/png" sizes="32x32" href="/dist/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dist/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/dist/favicon/android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/dist/favicon/android-crome-192x192.png">
    <link rel="icon" type="image/x-icon" href="/dist/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/dist/favicon/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    @Html.Sitecore().VisitorIdentification()
</head>
<body class="rc-bg-colour--brand4 @(Sitecore.Context.PageMode.IsExperienceEditor ? "experience-editor" : string.Empty)" data-site-id="@(marketSettings?.WebsiteId)">
    <!-- Experience Editor scripts -->
    @if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        <script src="/sitecore/shell/Controls/Lib/jQuery/jquery-1.10.2.min.js"></script>
        <script src="/src/simple-gallery/jQuery.simpleGallery.js"></script>
        @Html.ReadFromManifestJson(isLink: false, isScript: true, keys: "admin.js");
        @Html.ReadFromManifestJson(isLink: true, isScript: false, keys: "admin.css");
    }
    <!-- End Experience Editor scripts-->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCWZQ3"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59DMSTR"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    @RenderBody()

    <noscript id="deferred-styles">
        @foreach (var style in styles)
        {
            if (style.IsDeferred)
            {
                <link rel="stylesheet" href="@style.Path">
            }
        }
    </noscript>

    @foreach (var script in scripts)
    {
        <script defer src="@script.Path"></script>
    }
</body>
</html>
