﻿
@using Delete.Foundation.DeleteFoundationCore.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

<!doctype html>
<html amp lang="en">

<head>

    @Html.Action("SetupHomePageFlag", "Metadata")
    @Html.Sitecore().Placeholder("rc-meta")

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/dist/favicon/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="apple-touch-icon" sizes="180x180" href="https://d1a19ys8w1wkc1.cloudfront.net/apple-touch-icon.png?v=8-8-1">
    <link rel="icon" type="image/png" sizes="32x32" href="https://d1a19ys8w1wkc1.cloudfront.net/favicon-32x32.png?v=8-8-1">
    <link rel="icon" type="image/png" sizes="16x16" href="https://d1a19ys8w1wkc1.cloudfront.net/favicon-16x16.png?v=8-8-1">
    <link rel="manifest" href="https://d1a19ys8w1wkc1.cloudfront.net/site.webmanifest?v=8-5-13">
    <link rel="mask-icon" href="https://d1a19ys8w1wkc1.cloudfront.net/safari-pinned-tab.svg?v=8-5-13" color="#e2001a">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    @*AMP scripts section*@
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>

    @Html.RenderCriticalCss("amp.*.css", "amp-custom")
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
            animation: -amp-start 8s steps(1,end) 0s 1 normal both
        }

        @@-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@-o-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @@keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }
    </style>
    <noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>
</head>

<body class="rc-bg-colour--brand4 rc-baseline">
    @Html.Sitecore().Placeholder("rc-header")
    <main class="rc-main rc-content--fixed-header">
        @Html.Sitecore().Placeholder("rc-main")
        @Html.Sitecore().Placeholder("rc-partial")
        @Html.Sitecore().Placeholder("rc-main-local")
    </main>
    @Html.Sitecore().Placeholder("rc-footer")
</body>
</html>

