﻿@using Delete.Foundation.DeleteFoundationCore.Extensions
@using Delete.Foundation.DeleteFoundationCore.Helpers
@model RoyalCanin.Project.RoyalCanin.Models.SearchViewModel

<section class="rc-bg-colour--brand3"
         data-component="search-results"
         data-endpoint="@Url.ApiAction("Search", "RoyalCanin")"
         data-request-filter="@Model.Filter">
    <div class="rc-padding--sm">
        <div class="rc-padding-y--md rc-md-down"></div>
        <div class="rc-layout-container rc-one-column rc-max-width--md">
            <div class="rc-column">
                <div class="rc-full-width rc-padding-x--sm">
                    <span class="rc-input rc-input--full-width rc-margin--none">
                        <button class="rc-input__submit rc-input__submit--search" data-ref="search-button" type="button">
                            <span class="rc-screen-reader-text">
                                @TranslateHelper.TextByDomainCached("Translations", "translations.project.royalcanin.searchby")
                            </span>
                        </button>
                        <input class="rc-input__control" id="id-submit" type="text" name="searchQuery" data-ref="sr-search-field" value="@Model.SearchQuery" />
                        <label class="rc-input__label" for="id-submit">
                            <span class="rc-input__label-text">
                                @TranslateHelper.TextByDomainCached("Translations", "translations.project.royalcanin.starttyping")
                            </span>
                        </label>
                    </span>
                </div>
            </div>
        </div>
        <div class="rc-layout-container rc-max-width--xl">
            <div class="rc-column">
                <div class="rc-full-width">
                    <div data-ref="sr-listing-container">
                        <div>
                            @if (Model.TotalCount == 0)
                            {
                                <p><b>@TranslateHelper.TextByDomainCached("Translations", "translations.project.royalcanin.noresults")</b></p>
                            }
                            else
                            {
                                <nav class="rc-tabs__controller  rc-fade--x" data-toggle-group="">
                                    <ul class="rc-scroll--x rc-list rc-list--inline rc-list--align rc-list--blank rc-tab--centered" role="tablist">
                                        @if ((Model.AllResults.TotalResults + Model.Products.TotalResults) > 0)
                                        {
                                            <li>
                                                <button class="rc-tab rc-btn" data-toggle="tab-search-results-unique-id-1" role="tab" data-ref="tab-btn" data-category="all">
                                                    @TranslateHelper.TextByDomainCached("Translations", "translations.project.royalcanin.allresults")
                                                    <span>(@(Model.AllResults.TotalResults + Model.Products.TotalResults))</span>
                                                </button>
                                            </li>
                                        }
                                        @if (Model.Products.TotalResults > 0)
                                        {
                                            <li>
                                                <button class="rc-tab rc-btn" data-toggle="tab-search-results-unique-id-2" role="tab" data-ref="tab-btn" data-category="products">
                                                    @TranslateHelper.TextByDomainCached("Translations", "translations.project.royalcanin.products")
                                                    <span>(@Model.Products.TotalResults)</span>
                                                </button>
                                            </li>
                                        }
                                        @if (Model.ContentItems.TotalResults > 0)
                                        {
                                            <li>
                                                <button class="rc-tab rc-btn" data-toggle="tab-search-results-unique-id-3" role="tab" data-ref="tab-btn" data-category="content">
                                                    @TranslateHelper.TextByDomainCached("Translations", "translations.project.royalcanin.articles")
                                                    <span>(@Model.ContentItems.TotalResults)</span>
                                                </button>
                                            </li>
                                        }
                                        @if (Model.Breeds.TotalResults > 0)
                                        {
                                            <li>
                                                <button class="rc-tab rc-btn" data-toggle="tab-search-results-unique-id-4" role="tab" data-ref="tab-btn" data-category="breeds">
                                                    @TranslateHelper.TextByDomainCached("Translations", "translations.project.royalcanin.breeds")
                                                    <span>(@Model.Breeds.TotalResults)</span>
                                                </button>
                                            </li>
                                        }
                                        @if (Model.Tips.TotalResults > 0)
                                        {
                                            <li>
                                                <button class="rc-tab rc-btn" data-toggle="tab-search-results-unique-id-5" role="tab" data-ref="tab-btn" data-category="tips">
                                                    @TranslateHelper.TextByDomainCached("Translations", "translations.project.royalcanin.tips")
                                                    <span>(@Model.Tips.TotalResults)</span>
                                                </button>
                                            </li>
                                        }

                                    </ul>
                                </nav>
                            }
                        </div>
                        @if ((Model.AllResults.TotalResults + Model.Products.TotalResults) > 0)
                        {
                            <div id="tab-search-results-unique-id-1">
                                @Html.Partial("~/Views/Project/RoyalCanin/_AllSearchResults.cshtml", Model.AllResults)
                            </div>
                        }
                        @if (Model.Products.TotalResults > 0)
                        {
                            <div id="tab-search-results-unique-id-2">
                                @Html.Partial("~/Views/Project/RoyalCanin/_ProductsSearchResults.cshtml", Model.Products)
                            </div>
                        }
                        @if (Model.ContentItems.TotalResults > 0)
                        {
                            <div id="tab-search-results-unique-id-3">
                                @Html.Partial("~/Views/Project/RoyalCanin/_ContentItemsResults.cshtml", Model.ContentItems)
                            </div>
                        }
                        @if (Model.Breeds.TotalResults > 0)
                        {
                            <div id="tab-search-results-unique-id-4">
                                @Html.Partial("~/Views/Project/RoyalCanin/_BreedsResults.cshtml", Model.Breeds)
                            </div>
                        }
                        @if (Model.Tips.TotalResults > 0)
                        {
                            <div id="tab-search-results-unique-id-5">
                                @Html.Partial("~/Views/Project/RoyalCanin/_TipsItemsResults.cshtml", Model.Tips)
                            </div>
                        }
                    </div>
                    @Html.Partial("~/Views/Foundation/RoyalCaninCore/_Preloader.cshtml", "sr-preloader")
                </div>
            </div>
        </div>
    </div>
</section>