<#@ template language="C#" debug="True" #>
<#@ output extension="gen.txt" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="$(SolutionDir)src/Foundation/DeleteFoundationCore/code/CodeGeneration/GlassGenerator.tt" #>
<#
	GlassGenerator generator = new GlassGenerator(
			"master",							// DB
			"src/Foundation/DataTemplates/serialization/Foundation.DataTemplates.Templates",	// Serialized items path relative to solution folder
			"Delete.Foundation.DataTemplates",	// Base Namespace
			new string[][] { 
				new [] {"/sitecore/templates/Foundation/DataTemplates","Models"}
			},
			(template, gen, typeOptions) => {
				var fullName = gen.GlassTemplate.FullyQualifiedName;
				if ("{_some_guid_}".Equals(template.Id)) { typeOptions.Searchable = false; }
				if (fullName.EndsWith("_some_class_name_")) { typeOptions.Searchable = false; }

				if (fullName.Contains("Menu")) { typeOptions.EnforceTemplate = true; }

				if (fullName.Contains("Folder")) { typeOptions.EnforceTemplate = true; }

				if (fullName.EndsWith("FilterItem")) { typeOptions.EnforceTemplate = true; }

				if (fullName.EndsWith("Taxonomy.CoatLength")
					|| fullName.EndsWith("Taxonomy.Characteristic")
					|| fullName.EndsWith("Taxonomy.DogGroup")
					|| fullName.EndsWith("Taxonomy.EnergyLevel")
					|| fullName.EndsWith("Taxonomy.Habitat")
					|| fullName.EndsWith("Taxonomy.Size")
					|| fullName.EndsWith("Taxonomy.Specie")
					|| fullName.EndsWith("Taxonomy.Lifestages")
				)
				{ 
					typeOptions.EnforceTemplateAndBase = true;
				}
			},
			(field, gen, fieldOptions) => {
				var fullName = gen.GlassTemplate.GetFullyQualifiedPropertyName(field);
				if ("{_some_guid_}".Equals(field.Id)) { fieldOptions.GlassFieldTypeName = "_some_class_"; }
				if (fullName.EndsWith("_class_name.field_name_")) { fieldOptions.GlassFieldTypeName = "_some_class_"; }

			    if (fullName.EndsWith("GlobalBreed"))
			    {
			        fieldOptions.InferType = true;
			        fieldOptions.GlassFieldTypeName = "Delete.Foundation.DataTemplates.Models.Interfaces.I_GlobalBreed";
			        fieldOptions.NameOverride = "GlobalBreedInterface";
			    }

			    if (fullName.EndsWith("FilterControlType")) { fieldOptions.GlassFieldTypeName = "Delete.Foundation.DataTemplates.Models.Dictionary.DictionaryEntry";}
				if (fullName.EndsWith("FilterStrategy")) { fieldOptions.GlassFieldTypeName = "Delete.Foundation.DataTemplates.Models.Dictionary.DictionaryEntry";}
				if (fullName.EndsWith("Icon")) { fieldOptions.GlassFieldTypeName = "Delete.Foundation.DataTemplates.Models.Dictionary.DictionaryEntry";}
				if (fullName.EndsWith("Taxonomy.Species")) { fieldOptions.GlassFieldTypeName = "IEnumerable<Delete.Foundation.DataTemplates.Models.Dictionary.DictionaryEntry>"; }
				if (fullName.EndsWith("Taxonomy.Breeds")) { fieldOptions.GlassFieldTypeName = "IEnumerable<Delete.Foundation.DataTemplates.Models.Dictionary.DictionaryEntry>"; }
				if (fullName.EndsWith("Taxonomy.Lifestages")) { fieldOptions.GlassFieldTypeName = "IEnumerable<Delete.Foundation.DataTemplates.Models.Dictionary.DictionaryEntry>"; }
				if (fullName.EndsWith("Taxonomy.Sizes")) { fieldOptions.GlassFieldTypeName = "IEnumerable<Delete.Foundation.DataTemplates.Models.Dictionary.DictionaryEntry>"; }
				if (fullName.EndsWith("Taxonomy.ContentTags")) { fieldOptions.GlassFieldTypeName = "IEnumerable<Delete.Foundation.DataTemplates.Models.Dictionary.DictionaryEntry>"; }
				
				if (fullName.EndsWith("KibbleNote.Icon")) { fieldOptions.GlassFieldTypeName = "Delete.Foundation.DataTemplates.Models.Dictionary.DictionaryEntry"; }
				
			    if (fullName.EndsWith(".Width")) { fieldOptions.GlassFieldTypeName = "Delete.Foundation.DataTemplates.Models.Dictionary.DictionaryEntry"; }
			    if (fullName.EndsWith(".Spacers")) { fieldOptions.GlassFieldTypeName = "Delete.Foundation.DataTemplates.Models.Dictionary.DictionaryEntry"; }
				
			    if (fullName.EndsWith("Stockist.ContactTypes")) { fieldOptions.GlassFieldTypeName = "IEnumerable<Delete.Foundation.DataTemplates.Models.Taxonomy.ContactType>";}
			    if (fullName.EndsWith("Stockist.ProfileType")) { fieldOptions.GlassFieldTypeName = "Delete.Foundation.DataTemplates.Models.Taxonomy.ProfileType";}
			    
				if (fullName.EndsWith("MenuItem.Region")) { fieldOptions.GlassFieldTypeName = "IEnumerable<Delete.Foundation.DataTemplates.Models.Region>";}
				if (fullName.EndsWith("Taxonomy.Category")) { fieldOptions.GlassFieldTypeName = "IEnumerable<Delete.Foundation.DataTemplates.Models.Dictionary.DictionaryEntry>"; }
			});
	generator.AdditionalPaths = new string[]
	{
		"src/Foundation/DataTemplates/serialization/Templates.System.Geospatial"
	};

	generator.AdditionalTemplates = new string[][] {
		new string[] {
			"/sitecore/templates/system/Geospatial",
			"Delete.Foundation.DataTemplates.Models.Geospatial"
		}
	};
    generator.Run();
#>
