@import '~styleSettings';

.tabbed-nav {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 22;
    border-bottom: 1px solid $color-interface;

    &__wrapper {
        overflow: hidden;
    }

    &__list {
        transition: 0.2s ease;
        align-items: flex-start;
    }
}

strong.bolder {
    font-weight: 500;
}
