@import '~styleSettings';

.info-window {
    $this: &;

    padding: 0 5px;
    font-size: 14px;
    max-width: 280px;
    margin: 0 auto;

    @media (--medium) {
        max-width: 300px;
    }

    &__header {
        padding: 10px 0 14px;
    }

    &__title {
        margin: 8px 0 0;
    }

    &__info-item {
        + #{$this}__info-item {
            margin-top: 8px;
        }
    }

    &__phone-wrap {
        margin-top: 25px;
    }

    &__phone {
        color: $color-hyperlink;
    }

    &__links {
        margin-top: 15px;

        .rc-btn {
            width: auto;
            margin-bottom: 0;
        }
    }

    &__link-wrapper {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    &__list {
        margin-bottom: 8px;
    }
}
